<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header text-center">
    <img src="./assets/img/svg/certificate.svg" class="img-fluid" alt="">
    <h4 class="gotham-medium color-lightblue text-center m-0 my-4 ft-30 line-height">Constancia</h4>
  </div>
  <div class="content-body text-center">
    <div class="box">
      <div class="mb-3">
        <p class="gotham-book color-lightblue mb-0">Constancia de trabajo híbrido para:</p>
        <p class="gotham-book ft-20 color-blue mb-0 line-height">{{user?.name + ' ' + user?.last_name}} <span class="d-block line-height">({{user?.document?.document}})</span></p>
      </div>
      <div class="mb-3">
        <p class="gotham-book color-lightblue mb-0">para el día</p>
        <p class="gotham-book ft-20 color-blue mb-0 line-height">{{data[ 0 ]?.date | formatDate:'year'}}</p>
      </div>
      <div class="mb-3">
        <p class="gotham-book color-lightblue mb-0">a la sede</p>
        <p class="gotham-book ft-20 color-blue mb-0 line-height">{{data[ 0 ]?.office}}</p>
      </div>
      <p class="gotham-book color-blue-opacity mb-0">ID: {{data[ 0 ]?.id}}</p>
    </div>

  </div>
</div>
