@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";
::ng-deep {
  .ModalConstancy {
    .modal-content {
      zoom: 0.98;
      width: 506px;
      max-height: 544px;
      overflow: hidden;
      display: flex;
      @include max-width-576 {

      }
    }
  }
}

.content {
  max-height: 544px;
  padding: 40px 0;
}
.btn-close{
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 2;
}

.box {
  max-width: 350px;
  min-height: 285px;
  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
