<div class="content position-relative">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <carousel [indicatorsByChunk]="false" [interval]="0">
    <ng-container *ngFor="let item of images">
      <slide class="cursor-pointer">
        <div class="box-slide mb-3 mb-md-0 mx-auto">
          <!--<div class="img d-none d-md-block" [style.background-image]="'url(' + item.image + ')'"></div>-->
          <img [src]="item.image" class="img-fluid">
        </div>
      </slide>
    </ng-container>
    <ng-container *ngFor="let item of videos">
      <slide class="cursor-pointer">
        <div class="box-slide mx-auto">
          <video class="width-video video" controls>
            <source [src]="item.video" type="video/mp4">
            <source [src]="item.video" type="video/ogg">
          </video>
        </div>
      </slide>
    </ng-container>
  </carousel>
</div>
