@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
.content{
  padding: 20px 20px 50px;
}
.btn-close {
  position: absolute;
  top: 22px;
  right: 10px;
  z-index: 9;
  cursor: pointer;
  @include min-width-768 {
    top: 22px;
    right: 10px;
  }
}


.box-slide {
  width: 450px;
  height: 100%;
 /* height: 250px;*/
  @include max-width-576 {
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
  }
  .img {
    width: 450px;
    height: 100%;
   /* height: 250px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include max-width-576 {
      width: 100%;
      height: 100%;
    }
  }
  img {
    @include max-width-576 {
      width: 100%;
      height: 100%;
    }
  }
  .video {
    width: 450px;
    height: 100%;
   /* height: 250px;*/
    @include max-width-576 {
      width: 100%;
      height: 100%;
    }
  }
}
