@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

::ng-deep {
  .ModalConfirmMentor {
    .modal-content {
      zoom: 0.98;
      width: 796px;
      height: 468px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  }
}

.content{
  padding: 50px;
  .btn-close{
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 2;
  }
  .content-body {
    .content-img{
      width: 121px;
      height: 121px;
      // padding: 18px;
      background-color: rgba(0, 38, 85, 0.1);
      border-radius: 50%;
      position: relative;
      img {
        width: 121px;
        height: 121px;
        border-radius: 50%;
        &.is_mentor {
          width: 36px;
          height: 36px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 2;
        }
      }
    }
  }
  .content-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      line-height: 1.08;
    }
    p.message {
      margin-top: 30px;
      margin-bottom: 58px;
      width: 368px;
      line-height: 1.26;
    }
    button {
      width: 178.1px;
      height: 44.8px;
    }
  }
}

