<div class="content">
  <a class="cursor-pointer btn-close" (click)="onCloseModal()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-body">
    <div class="content-img align-items-center mt-4 mb-4 ml-auto mr-auto">
      <img [src]="mentor.photo ? mentor.photo : (mentor.gender === 'F') ? './assets/img/svg/user-avatar1.svg' : './assets/img/svg/user-avatar2.svg'" class="img-fluid" alt="">
      <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid is_mentor" alt="">
    </div>
  </div>
  <div class="content-footer d-flex flex-wrap">
    <h4 class="gotham-bold color-blue text-center m-0 ft-25">{{mentor.name}}<br/>{{mentor.last_name}}</h4>
    <div class="item-footer text-center">
      <p class="message gotham-book color-blue text-center ft-19" *ngIf="!occupied">Espere su confirmación, se le notificará una vez el mentor acepte la solicitud</p>
      <p class="message gotham-book color-blue text-center ft-19" *ngIf="occupied">El asesor ya no tiene más cupos. La fecha más próxima a liberarse es el {{mentor.vacate_date}}</p>
    </div>
    <button *ngIf="!occupied" class="btn btn-navyblue gotham-medium d-block m-auto" (click)="onClickChat()">Ir al chat</button>
  </div>
</div>
