@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";

.content-notifications{
  //max-width: 865px;
  @include min-width-768 {
    max-width: 865px;
  }
  margin-top: 20px;
}
.content-notif-width {
  width: 100%;
  max-width: 280px;
  @include min-width-768 {
    max-width: 100%;
  }
}
.box{
  width: 100%;
  height: 100%;
  @include min-width-768 {
    width: 790.9px;
    height: 101.7px;
  }
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
  background-color: $white;
  padding: 15px 20px;
  text-decoration: none;
  h5{
    font-size: 17px;
  }
  p{
    font-size: 16px;
  }
  span{
    color: #c2cdd6;
    font-size: 13px;
  }
}

.bg-lines{
  position: absolute;
  //top: 138px;
  //top: 105px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

