<div class="content-notifications pl-sm-4">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <ng-container *ngIf="notificationsResponse && notifications.length">
    <h2 class="color-blue gotham-bold text-title mb-3 pl-3 pr-3 pl-sm-0 pr-sm-0">Notificaciones</h2>
  </ng-container>
  <ng-container *ngIf="notificationsResponse && !notifications.length">
    <h2 class="color-blue gotham-bold text-title mb-3 pl-3 pr-3 pl-sm-0 pr-sm-0 text-center">Notificaciones</h2>
  </ng-container>
  <ng-container *ngIf="notificationsResponse && !notifications.length">
    <h5 class="color-blue gotham-medium text-center">No se encontraron notificaciones</h5>
  </ng-container>
  <perfect-scrollbar class="scrollbar-special scrollbar-notifications" [config]="{suppressScrollX: true}">
    <div class="pl-0 pr-3 pr-sm-0" *ngIf="notificationsResponse">
      <h4 class="gotham-medium ft-20 color-lightblue">Nuevo</h4>
      <ng-container *ngFor="let item of notifications, let i = index; trackBy:trackByFn">
        <ng-container *ngIf="!item.read_at">
          <a class="box mb-4 cursor-pointer d-block position-relative">
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start content-notif-width" (click)="onClickNotification(item)">
                <div class="pr-2" style="line-height: 1.2;">
                  <i class="fas fa-circle" [ngClass]="item.read_at !== null ? 'color-transparent' : 'color-lightolivegreen'" style="font-size: 12px"></i>
                </div>
                <div class="">
                  <h5 class="m-0 color-blue gotham-bold">{{item.data.title}}</h5>
                  <p class="m-0 gotham-book color-blue">{{item.data.message}}</p>
                  <span class="d-block gotham-medium color-lightolivegreen">{{item.updated_at | formatDate}} - {{item.updated_at | formatHour}}</span>
                </div>
              </div>
              <div class="">
                <a class="cursor-pointer" (click)="onClickDelete(item.id)">
                  <img src="./assets/img/svg/icon-delete.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </a>
        </ng-container>
      </ng-container>
      <h4 class="gotham-medium ft-20 color-lightblueopacity">Anteriores</h4>
      <ng-container *ngFor="let item of notifications, let i = index; trackBy:trackByFn">
        <ng-container *ngIf="item.read_at">
          <a class="box mb-4 cursor-pointer d-block position-relative">
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start content-notif-width" (click)="onClickNotification(item)">
                <div class="pr-2" style="line-height: 1.2;">
                  <i class="fas fa-circle" [ngClass]="item.read_at !== null ? 'color-transparent' : 'color-lightolivegreen'" style="font-size: 12px"></i>
                </div>
                <div class="">
                  <h5 class="m-0 color-blue gotham-bold">{{item.data.title}}</h5>
                  <p class="m-0 gotham-book color-blue">{{item.data.message}}</p>
                  <span class="d-block gotham-medium color-lightolivegreen">{{item.updated_at | formatDate}} - {{item.updated_at | formatHour}}</span>
                </div>
              </div>
              <div class="">
                <a class="cursor-pointer" (click)="onClickDelete(item.id)">
                  <img src="./assets/img/svg/icon-delete.svg" class="img-fluid" alt="">
                </a>
              </div>
            </div>
          </a>
        </ng-container>
      </ng-container>
    </div>
  </perfect-scrollbar>
  <div class="d-flex justify-content-end align-items-center pr-3 mt-3">
    <pagination *ngIf="notificationsResponse" [totalItems]="notificationsResponse.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true" [itemsPerPage]="notificationsResponse.per_page"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
<!--<div class="bg-lines">-->
<!--  <img src="./assets/img/svg/bg-lineas.svg" class="img-fluid" alt="">-->
<!--</div>-->
