@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.content-discussion-detail {

  .content-media {
    width: 100%;
    height: 100%;
    @include min-width-768 {
    min-width: 500px;
      min-height: 273.4px;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      border-radius: 7px;
    }
    .img {
      min-width: 500px;
      min-height: 273.4px;
    }

    .video {
      width: 500px;
      // height: 250px;
      height: 273.4px;
      @include max-width-576 {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-actions {
    width: 100%;
    @include min-width-768 {
      width: 500px;
    }
    height: 45px;
    box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
    border-radius: 0 0 7px 7px;
  }

  .img-content {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 25px;
  }

  .write-message {
    min-width: 275px;
    @include min-width-768 {
      width: 470px;
    }
    height: 40px;
    border-radius: 15px;
    border: solid 1.5px #00265580;
    color: $blue;

    &::placeholder {
      color: $bluegray;
    }
  }

  .btn-send {
    position: absolute;
    top: 12px;
    right: 10px;
  }

  .content-trivia {
    height: calc(100vh - 200px);
  }
}
.btn-blue {
  min-width: 169.1px;
  min-height: 38.8px;
}
.btn-check {
  width: 261.8px;
  height: 45px;
  /*border-radius: 10px;
  background-color: #f7f8f9;*/
}
.btn-green {
  background: $green;
  border-color: $green;
  &:hover {
    background: #fff;
    color: $green;
  }
}
.btn-red {
  background: $red;
  border-color: $red;
  &:hover {
    background: #fff;
    color: $red;
  }
}

.content-questions {
  h5 {
    max-width: 401px;
  }
}
