<div class="content-width content-challenges content-discussion-detail" *ngIf="detailDiscussion">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="display-response" [ngClass]="{'d-none d-md-block' : start}">
    <a (click)="onClickBack()" class="cursor-pointer d-block icon-back-responsive"><i class="fas fa-arrow-left color-lightblue"></i></a>
    <div class="">
      <h2 class="color-blue gotham-bold ft-22 mb-0">
        {{detailDiscussion.title}}</h2>
    </div>
  </div>
  <perfect-scrollbar class="scrollbar-challenge-videos" [config]="{suppressScrollX: true}">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6" [ngClass]="{'d-none d-md-block' : start}">
          <div class="box mb-3">
            <div class="content-media">
              <ng-container *ngIf="discussionTypeId === 2">
                <video class="width-video video" controls>
                  <source [src]="detailDiscussion.video  | safe: 'url'" type="video/mp4">
                  <source [src]="detailDiscussion.video | safe: 'url'" type="video/ogg">
                </video>
                <!-- <div class="img" [style.background-image]="'url(' + detailDiscussion.img + ')'"></div>-->
                <!--<img [src]="detailDiscussion.img" class="img-fluid">-->
                <div class="content-actions d-flex align-items-center py-1 px-2">
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12 mr-3" (click)="onClickLiked(detailDiscussion, $event)" [ngClass]="detailDiscussion.like >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                    <img [src]="detailDiscussion.is_like ? './assets/img/svg/icon-heart2.svg' : './assets/img/svg/icon-heartw2.svg'" class="img-fluid" alt="">  {{detailDiscussion.like}} {{detailDiscussion.like === 1 ? 'like' : 'likes'}}</a>
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12" [ngClass]="detailDiscussion.comment >= 1? 'color-lightblue' : 'color-blue-opacity'">
                    <img src="./assets/img/svg/icon-comment.svg" class="img-fluid" alt=""> {{detailDiscussion.comment}} {{detailDiscussion.comment === 1 ? 'comentario' : 'comentarios'}}</a>
                </div>
              </ng-container>
              <ng-container *ngIf="discussionTypeId === 3 || discussionTypeId === 4">
                <img [src]="detailDiscussion.img" class="img-fluid">
                <p class="gotham-book ft-14 color-blue my-3">{{detailDiscussion.detail}}</p>
                <hr>
              </ng-container>
              <ng-container *ngIf="detailDiscussion.status !== 1">
                <div class="text-center d-flex d-md-none justify-content-center align-items-center mt-4 mb-3" *ngIf="!start">
                  <div class="">
                    <button class="btn btn-blue gotham-medium ft-16" (click)="onClickStart()">¡Responde las preguntas!</button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="" [formGroup]="form">
            <h5 class="color-blue ft-14 gotham-medium">Comentarios ({{detailDiscussion.comments ? detailDiscussion.comments?.length : 0}})</h5>
            <div class="d-flex align-items-center mt-3 mb-3">
              <div class="img-content mr-2">
                <img [src]="user.photo ? user.photo : (user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
              </div>
              <div class="position-relative">
                <div class="form-group mb-0">
                  <input type="text" class="form-control write-message" formControlName="comments" placeholder="Escribe un mensaje…" (keyup.enter)="sendMessage()">
                </div>
                <img src="./assets/img/svg/icon-send.svg" class="img-fluid cursor-pointer btn-send" alt="" (click)="sendMessage()">
              </div>
            </div>
            <ng-container *ngFor="let item of detailDiscussion.comments">
              <app-comments [item]="item"></app-comments>
            </ng-container>
          </div>
        </div>
        <div class="col-md-6">
          <ng-container *ngIf="detailDiscussion.status !== 1">
            <div class="content-trivia text-center d-none d-md-flex justify-content-center align-items-center" *ngIf="!start">
              <div class="">
                <h4 class="gotham-bold ft-20 color-blue">¡Responde  {{discussionTypeId === 3 ? 'las preguntas' : 'la trivia'}}!</h4>
                <p class="gotham-book ft-14 color-blue">{{discussionTypeId === 3 ? 'Lee y responde las preguntas para ganar puntos' : 'Marca las opciones correctas para ganar puntos'}}</p>
                <button class="btn btn-blue gotham-medium ft-16" (click)="onClickStart()">Comenzar</button>
              </div>
            </div>
          </ng-container>
          <div class="content-questions" *ngIf="start">
            <ng-container *ngFor="let item of questions, let i = index">
              <ng-container *ngIf="i === stepquestion">
                <ng-container *ngIf="item && !item.reply.is_correct && item.intent !== 3" [ngSwitch]="item.type">
                  <app-simple [questions]="item" [index]="i" [totalQuestions]="questions.length" [discussionTypeId]="discussionTypeId" [urlPage]="urlPage" (back)="onEventBack($event)" *ngSwitchCase="1"></app-simple>
                  <app-multiple [questions]="item" [index]="i" [totalQuestions]="questions.length" [discussionTypeId]="discussionTypeId" [urlPage]="urlPage" (back)="onEventBack($event)" *ngSwitchCase="2"></app-multiple>
                  <app-open [questions]="item" [index]="i" [totalQuestions]="questions.length" [discussionTypeId]="discussionTypeId" [urlPage]="urlPage" (back)="onEventBack($event)" *ngSwitchCase="3"></app-open>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
