@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/carousel.scss";
@import "~assets/scss/shine.scss";

.content-newness-detail {
  .responsive-heading {
    display: none;

    .icon-back-responsive {
      position: absolute;
      left: 20px;
      top: 30px;
      font-size: $ft-24;
    }

    @include max-width-576 {
      display: block;
      .back-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        width: 100%;
        height: 250px;
      }
    }
  }

  .detail {
    @include max-width-576 {
      border-radius: 45px !important;
      margin-top: -25px !important;
    }
  }

  .detail-heading {
    .icon-back {
      font-size: $ft-24;
    }

    .detail-title {
      margin-left: 5px;
      @include max-width-576 {
        display: none;
      }

      .detail-date {
        gap: 20px;
      }
    }
  }

  .detail-body {
    margin-left: 30px;
    gap: 40px;
    justify-content: space-between;
    @include max-width-576 {
      gap: 0;
      margin-left: 0;
    }

    .body-left {
      @include max-width-576 {
        width: 100%;
      }

      .box-slide {
        width: 450px;
        height: 250px;
        @include max-width-576 {
          width: 100%;
          height: 100%;
          margin-bottom: 0 !important;
        }

        .img {
          width: 450px;
          height: 250px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          @include max-width-576 {
            width: 100%;
            height: 100%;
          }
        }

        img {
          @include max-width-576 {
            width: 100%;
            height: 100%;
          }
        }

        .video {
          width: 450px;
          height: 250px;
          @include max-width-576 {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .body-right {
      max-width: 550px;
      @include max-width-576 {
        width: 100%;
        max-width: 100%;
        // border-radius: 45px !important;
        // margin-top: -25px !important;
        background: #fff;
        z-index: 1;
      }

      .detail-title {
        display: none;
        @include max-width-576 {
          // margin-left: 24px;
          //padding-top: 30px;
          display: block;
        }
      }

      .input-group-prepend2 {
        width: 25px;
        height: 25px;
      }

      .input-group {
        p {
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.41;
          letter-spacing: normal;
        }
      }

      .btn-schedule {
        width: 148.1px;
        height: 38.8px;
        font-size: 18px;
        background-color: $navyblue;
        color: #fff;

        &:hover {
          background-color: transparent;
          color: $navyblue;
          border-color: $navyblue;
        }
      }

      .scrollbar-news-detail {
        height: calc(100vh - 310px);
        padding-right: 30px;
        padding-bottom: 30px;
        @include max-width-576 {
          padding-right: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .text-title {
    font-size: $ft-20;
    @include min-width-768 {
      font-size: $ft-30;
    }
  }

  .col-box {
    background: #fff;
    border-radius: 12px;
    margin-top: -10px;
    padding: 15px;
    @include min-width-768 {
      background: transparent;
      border-radius: 0;
      margin-top: 0;
      padding: 0;
    }
  }

  p.tax-message {
    opacity: 0.5;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: $navyblue;
  }
}

.scrollbar-detail-content {
  overflow: hidden;
  height: auto;
  @include max-width-576 {
    height: 100%;
  }
}

.responsive-heading {
  display: none;

  .icon-back-responsive {
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: $ft-24;
  }

  @include max-width-576 {
    display: block;
    position: absolute;
    z-index: 2;
    .back-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
      width: 100%;
      height: 250px;
    }
  }
}


/**********************/


//.box-details {
//  width: 560px;
//}


.text-blue-common {
  font-size: 16px;
}

.text-date {
  font-size: 13px;
}

.text-likes {
  font-size: 15px;
  opacity: 0.5;
}

.icon-heart {
  width: 15px;
}

.content-description {
  font-size: 15px;
  line-height: 1.47;
}

.content-img {
  width: 47px;
  height: 47px;
  overflow: hidden;
  border-radius: 44px;

  img {
    width: 47px;
    height: 47px;
    border-radius: 25px;
  }
}

.user-comment {
  width: 47px;
  height: 47px;
  border-radius: 25px;
}

.border-input {
  height: 47px;
  border-radius: 7px;
  border: solid 1px $lightblue;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(100% - 60px);

  .form-control {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.content-1 {
  width: 100%;
  max-width: 100%;
  @include max-width-576 {
    max-width: 100%;
  }
}

.text-view-comments {
  font-size: 12px;
}

.content-comments {
  h5 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    opacity: 0.5;
  }

  .comment {
    font-size: 13px;
    @include min-width-576 {
      width: 535px;
    }
    margin-left: 56px;
  }
}

.content-2 {
  padding-bottom: 30px;
}
