<div class="content-width content-newness-detail">
  <perfect-scrollbar class="scrollbar-detail-content" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 responsive-heading">
        <div class="position-relative">
          <a (click)="getBackLocation()" class="d-block icon-back-responsive cursor-pointer"><i class="fas fa-arrow-left color-white"></i></a>
        </div>
      </div>
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-3">
        <div class="col-box detail" *ngIf="detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-none d-md-block"><a (click)="getBackLocation()" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">{{detail.title}}</h2>
              <div class="d-flex align-items-center flex-wrap flex-md-nowrap detail-date">
                <span class="color-lightblue gotham-medium ft-16 line-height mr-1" *ngIf="detailType">{{ detailType.name }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-md-nowrap mt-3 detail-body" *ngIf="detail">
            <div class="body-left w-100">
              <carousel [indicatorsByChunk]="false" [interval]="0">
                <ng-container *ngFor="let item of detailImage">
                  <slide class="cursor-pointer" (click)="onClickDetailPictures(detailImage, detailVideos)">
                    <div class="box-slide mb-3 mb-md-0">
                      <div class="img d-none d-md-block" [style.background-image]="'url(' + item.image + ')'"></div>
                      <img [src]="item.image" class="img-fluid d-block d-md-none">
                    </div>
                  </slide>
                </ng-container>
                <ng-container *ngFor="let item of detailVideos">
                  <slide class="cursor-pointer" (click)="onClickDetailPictures(detailImage, detailVideos)">
                    <div class="box-slide">
                      <video class="width-video video" controls>
                        <source [src]="item.video" type="video/mp4">
                        <source [src]="item.video" type="video/ogg">
                      </video>
                    </div>
                  </slide>
                </ng-container>
              </carousel>
            </div>
            <div class="body-right w-100">
              <div class="detail-title mt-3 mb-4">
                <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">{{detail.title}}</h2>
                <div class="d-flex align-items-center flex-wrap flex-md-nowrap detail-date">
                  <span class="color-lightblue gotham-medium ft-16 line-height mr-1" *ngIf="detailType">{{ detailType.name }}</span>
                </div>
              </div>

              <ng-container *ngIf="type === 'actividades'">
                <ng-container *ngFor="let item of detailDate">
                  <div class="input-group d-flex align-items-center mb-1">
                    <div class="input-group-prepend input-group-prepend2 mr-2">
                      <img src="./assets/img/svg/icon-calendar.svg" class="img-fluid" alt="">
                    </div>
                    <p class="m-0 gotham-book color-blue">{{item.date + ' | ' + ( item.start + '-' + item.end )}}</p>
                  </div>
                </ng-container>

                <div class="input-group d-flex align-items-center">
                  <div class="input-group-prepend input-group-prepend2 mr-2" *ngIf="detail.address">
                    <img src="./assets/img/svg/icon-marker.svg" class="img-fluid" alt="">
                  </div>
                  <p class="m-0 mt-2 gotham-book color-blue">{{detail.address}}</p>
                </div>
                <div class="mt-2 mb-2" *ngIf="detailDate && detailDate.length">
                  <button *ngIf="!disagree" type="button" class="btn btn-blue btn-schedule gotham-medium" (click)="onClickSchedule(detailDate)">Agendar</button>
                  <div class="d-flex align-items-center" *ngIf="disagree"> <!--  -->
                    <button type="button" class="btn btn-blue btn-schedule gotham-medium" (click)="onClickDisagree()">Desagendar</button>
                    <p class="mb-0 ml-2 gotham-book color-blue ft-17" [@fadeIn] *ngIf="disagree2">Tu actividad ha sido agendada <img src="./assets/img/svg/icon-check.svg" class="img-fluid" alt=""></p>
                  </div>
                </div>
              </ng-container>
              <perfect-scrollbar class="scrollbar-news-detail" [config]="{suppressScrollX: true}">
                <div class="content-1">
                  <hr>
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class=""><h5 class="m-0 color-blue gotham-bold text-blue-common">Descripción</h5></div>
                    <div class=""><p class="text-date color-blue gotham-light mb-0">Publicado {{detail.created_at | formatDate}}</p></div>
                  </div>
                  <div class="content-description gotham-light color-blue mb-3" [innerHTML]="detail.description"></div>
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="" *ngIf="detail.is_comentable"><h5 class="m-0 color-blue gotham-bold text-blue-common">Comentarios {{'(' + ( detailComments ? detailComments.length : 0 ) + ')'}}</h5></div>
                    <div class="" *ngIf="detail.is_reaccionable">
                      <p class="color-blue gotham-medium mb-0">
                        <img src="./assets/img/svg/icon-heart.svg" class="img-fluid icon-heart mr-1" alt="">
                        <span class="d-inline-block text-likes"> {{detail.reactions + ' ' + ( detail.reactions === 1 ? 'like' : 'likes' )}}</span>
                      </p>
                    </div>
                  </div>
                  <div *ngIf="detail.is_comentable" class="input-group mb-4 flex-nowrap flex-md-wrap justify-content-between" [formGroup]="form">
                    <div class="input-group-prepend ml-0 mr-2">
                      <div class="content-img">
                        <img [src]="userProfile && userProfile.photo" onError="this.src='./assets/img/svg/image-default.svg';" class="img-fluid" alt="">
                      </div>
                    </div>
                    <div class="border-input">
                      <input type="text" class="form-control" placeholder="Escribe tu comentario...." formControlName="comment" appTrimCaja="comment" (keyup.enter)="sendMessage()">
                      <div class="input-group-append mr-3">
                        <a class="cursor-pointer" (click)="sendMessage()"> <img src="./assets/img/svg/icon-send.svg" class="img-fluid" alt=""></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="content-2" *ngIf="detail.is_comentable">
                  <div class="content-comments">
                    <ng-container *ngFor="let item of detailComments">
                      <hr>
                      <div class="d-flex justify-content-between align-items-start">
                        <div class="d-flex align-items-center">
                          <img *ngIf="item.user && item.user.gender === 'F'" src="{{item.user.photo}}" onError="this.src='./assets/img/svg/user-avatar1.svg';" class="img-fluid mr-2 user-comment" alt="">
                          <img *ngIf="item.user && item.user.gender === 'M'" src="{{item.user.photo}}" onError="this.src='./assets/img/svg/user-avatar2.svg';" class="img-fluid mr-2 user-comment" alt="">
                          <div>
                            <h5 class="m-0 gotham-medium color-blue">{{item.user.name + ' ' + item.user.last_name}}</h5>
                            <p class="m-0 gotham-medium color-blue">{{item.created_at | timeAgo}}</p>
                          </div>
                        </div>
                        <div class="">
                          <a *ngIf="userProfile && (userProfile.id === item.user.id)" class="cursor-pointer" (click)="onClickDelete(item.id)">
                            <img src="./assets/img/svg/icon-delete.svg" class="img-fluid" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="comment gotham-book color-blue">
                        {{item.comment}}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
