<div class="content-width content-contract">
  <http-error [code]="403" *ngIf="forbidden"></http-error>
  <perfect-scrollbar class="scrollbar-special scrollbar-content" [config]="{suppressScrollX: true}" *ngIf="!forbidden">
    <div class="contract-header mb-4">
      <h2 class="color-blue gotham-bold text-title ft-30">Contratos</h2>
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar colaborador" [formControl]="queryField" (ngModelChange)="onSearchContracts($event)">
          <div class="input-group-append">
            <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
    </div>
    <tabset class="tabs-news tabs-contracts">
      <tab heading="Contratos nuevos" (selectTab)="onSelectType(tabOne)">
        <ng-container>
          <div class="preload mt-4" *ngIf="tabOne.preload">
            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              <div class="shine s-item-content w-100 h-100"></div>
            </div>
          </div>
        </ng-container>
        <empty-data class="empty-data" *ngIf="tabOne.listContracts && !tabOne.listContracts.length"></empty-data>
        <div class="list-contracts" *ngIf="!tabOne.preload && tabOne.listContracts && tabOne.listContracts.length">
          <perfect-scrollbar class="scrollbar-special scrollbar-contracts mt-3" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd(tabOne)">
            <ng-container *ngFor="let item of tabOne.listContracts let i = index">
              <div class="box d-flex">
                <div class="content-img">
                  <img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                </div>
                <div class="content-body">
                  <div class="left">
                    <h5 class="name gotham-bold color-blue ft-13 mb-0">{{item.user.name}}<br/>{{item.user.last_name}}</h5>
                    <span class="occupation gotham-bold color-blue-opacity ft-11">{{item.user.occupation && item.user.occupation.title}} | {{item.user.area && item.user.area.title}}</span>
                    <div class="list-dates d-flex">
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Inicio</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_start ? item.contract.date_start : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end ? item.contract.date_end : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin de prueba</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end_test ? item.contract.date_end_test : '---'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <a class="btn-test gotham-medium ft-13" *ngIf="item.contract.is_test">Prueba</a>
                    <div class="btn-options">
                      <a *ngIf="item.contract.file" [href]="item.contract.file" target="_blnak" title="descargar archivo" download><img src="./assets/img/svg/icon-bg-download.svg" class="img-fluid" alt=""></a>
                      <a class="cursor-pointer" *ngIf="!item.contract.file_signature" title="nuevo contrato" (click)="onClickNewContract(item.contract, tabOne, 'Nuevo')"><img src="./assets/img/svg/icon-bg-upload.svg" class="img-fluid" alt=""></a>
                      <div class="cursor-pointer icon-trash" *ngIf="item.contract.file_signature" title="eliminar contrato" (click)="onClickDeleteContract(item.contract, tabOne)"><img src="./assets/img/svg/icon-trash.svg" class="img-fluid" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="box shine" *ngIf="tabOne.preloadPage"></div>
          </perfect-scrollbar>
        </div>
      </tab>
      <tab heading="Evaluación de periodo de prueba" (selectTab)="onSelectType(tabTwo)">
        <ng-container>
          <div class="preload mt-4 mb-4" *ngIf="tabTwo.preload">
            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              <div class="shine s-item-content w-100 h-100"></div>
            </div>
          </div>
        </ng-container>
        <empty-data class="empty-data" *ngIf="tabTwo.listContracts && !tabTwo.listContracts.length"></empty-data>
        <div class="list-contracts" *ngIf="!tabTwo.preload && tabTwo.listContracts && tabTwo.listContracts.length">
          <perfect-scrollbar class="scrollbar-special scrollbar-contracts mt-3" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd(tabTwo)">
            <ng-container *ngFor="let item of tabTwo.listContracts let i = index">
              <div class="box d-flex">
                <div class="content-img">
                  <img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                </div>
                <div class="content-body">
                  <div class="left">
                    <h5 class="name gotham-bold color-blue ft-13 mb-0">{{item.user.name}}<br/>{{item.user.last_name}}</h5>
                    <span class="occupation gotham-bold color-blue-opacity ft-11">{{item.user.occupation && item.user.occupation.title}} | {{item.user.area && item.user.area.title}}</span>
                    <div class="list-dates d-flex">
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Inicio</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_start ? item.contract.date_start : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end ? item.contract.date_end : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin de prueba</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end_test ? item.contract.date_end_test : '---'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <a class="btn-test gotham-medium ft-13" *ngIf="item.contract.is_test">Prueba</a>
                    <div class="btn-options">
                      <div class="cursor-pointer icon-approve" title="aprobar contrato" (click)="onClickApproveContract(item.contract, tabTwo)"><img src="./assets/img/svg/icon-check-wg2.svg" class="img-fluid" alt=""></div>
                      <div class="cursor-pointer icon-not-approve" title="rechazar contrato" (click)="onClickNotApproveContract(item.contract, tabTwo)"><img src="./assets/img/svg/icon-delete-wr2.svg" class="img-fluid" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="box shine" *ngIf="tabTwo.preloadPage"></div>
          </perfect-scrollbar>
        </div>
      </tab>
      <tab heading="Evaluación de renovación" (selectTab)="onSelectType(tabThree)">
        <ng-container>
          <div class="preload mt-4 mb-4" *ngIf="tabThree.preload">
            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              <div class="shine s-item-content w-100 h-100"></div>
            </div>
          </div>
        </ng-container>
        <empty-data class="empty-data" *ngIf="tabThree.listContracts && !tabThree.listContracts.length"></empty-data>
        <div class="list-contracts" *ngIf="!tabThree.preload && tabThree.listContracts && tabThree.listContracts.length">
          <perfect-scrollbar class="scrollbar-special scrollbar-contracts mt-3" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd(tabThree)">
            <ng-container *ngFor="let item of tabThree.listContracts let i = index">
              <div class="box d-flex">
                <div class="content-img">
                  <img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                </div>
                <div class="content-body">
                  <div class="left">
                    <h5 class="name gotham-bold color-blue ft-13 mb-0">{{item.user.name}}<br/>{{item.user.last_name}}</h5>
                    <span class="occupation gotham-bold color-blue-opacity ft-11">{{item.user.occupation && item.user.occupation.title}} | {{item.user.area && item.user.area.title}}</span>
                    <div class="list-dates d-flex">
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Inicio</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_start ? item.contract.date_start : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end ? item.contract.date_end : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin de prueba</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end_test ? item.contract.date_end_test : '---'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <a class="btn-test gotham-medium ft-13" *ngIf="item.contract.is_test">Prueba</a>
                    <div class="btn-options">
                      <div class="cursor-pointer icon-approve" title="aprobar renovación" (click)="onClickApproveContract(item.contract, tabThree)"><img src="./assets/img/svg/icon-check-wg2.svg" class="img-fluid" alt=""></div>
                      <div class="cursor-pointer icon-not-approve" title="rechazar renovación" (click)="onClickNotApproveContract(item.contract, tabThree)"><img src="./assets/img/svg/icon-delete-wr2.svg" class="img-fluid" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="box shine" *ngIf="tabThree.preloadPage"></div>
          </perfect-scrollbar>
        </div>
      </tab>
      <tab heading="Renovación de contratos" (selectTab)="onSelectType(tabFour)">
        <ng-container>
          <div class="preload mt-4 mb-4" *ngIf="tabFour.preload">
            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
              <div class="shine s-item-content w-100 h-100"></div>
            </div>
          </div>
        </ng-container>
        <empty-data class="empty-data" *ngIf="tabFour.listContracts && !tabFour.listContracts.length"></empty-data>
        <div class="list-contracts" *ngIf="!tabFour.preload && tabFour.listContracts && tabFour.listContracts.length">
          <perfect-scrollbar class="scrollbar-special scrollbar-contracts mt-3" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd(tabFour)">
            <ng-container *ngFor="let item of tabFour.listContracts let i = index">
              <div class="box d-flex">
                <div class="content-img">
                  <img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                </div>
                <div class="content-body">
                  <div class="left">
                    <h5 class="name gotham-bold color-blue ft-13 mb-0">{{item.user.name}}<br/>{{item.user.last_name}}</h5>
                    <span class="occupation gotham-bold color-blue-opacity ft-11">{{item.user.occupation && item.user.occupation.title}} | {{item.user.area && item.user.area.title}}</span>
                    <div class="list-dates d-flex">
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Inicio</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_start ? item.contract.date_start : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end ? item.contract.date_end : '---'}}</p>
                      </div>
                      <div class="item-date">
                        <span class="gotham-medium color-blue-opacity ft-11">Fin de prueba</span>
                        <p class="gotham-medium color-blue mb-0 ft-11">{{item.contract.date_end_test ? item.contract.date_end_test : '---'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="right">
                    <a class="btn-test gotham-medium ft-13" *ngIf="item.contract.is_test">Prueba</a>
                    <div class="btn-options">
                      <a *ngIf="item.contract.file" [href]="item.contract.file" target="_blnak" title="descargar archivo" download><img src="./assets/img/svg/icon-bg-download.svg" class="img-fluid" alt=""></a>
                      <a class="cursor-pointer" *ngIf="!item.contract.file_signature" title="renovar contrato" (click)="onClickNewContract(item.contract, tabFour, 'Renovar')"><img src="./assets/img/svg/icon-bg-upload.svg" class="img-fluid" alt=""></a>
                      <div class="cursor-pointer icon-trash" *ngIf="item.contract.file_signature" title="eliminar contrato" (click)="onClickDeleteContract(item.contract, tabFour)"><img src="./assets/img/svg/icon-trash.svg" class="img-fluid" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="box shine" *ngIf="tabFour.preloadPage"></div>
          </perfect-scrollbar>
        </div>
      </tab>
    </tabset>
  </perfect-scrollbar>
</div>
