@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";

.content-contract {

  .scrollbar-contracts {
    height: calc(100vh - 275px);
  }
  ::ng-deep .scrollbar-special .ps .ps-content .tabs-contracts {
    position: relative;
    .tab-content {
      position: relative;
    }
    .nav-tabs {
      border-bottom: 0;
      .nav-item {
        width: 50%;
        padding-right: 20px;
        width: initial;
        text-align: left;
        @include max-width-576 {
          width: 100%;
          padding-right: 0;
        }
        span {
          font-family: 'Gotham-Medium', sans-serif;
          font-size: $ft-17;
          font-weight: 500;
          text-align: center;
          line-height: 1.4;
          color: $blue;
          @include min-width-768 {
            text-align: left;
          }
        }
        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem 0;
          opacity: 0.3;
          &:hover {
            border-color: transparent;
          }
          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }
  }
  ::ng-deep empty-data #empty-data {
    height: calc(100vh - 240px);
    @include max-width-576 {
      height: 350px;
    }
  }
  .contract-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-width-576 {
      flex-direction: column;
      align-items: self-start;
      gap: 15px;
    }
  }
  .list-contracts {
    display: flex;
    flex-wrap: wrap;
    ::ng-deep .scrollbar-contracts  {
      padding-right: 15px;
      @include max-width-576 {
        padding-right: 0;
      }
      .ps .ps-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 2) - 15px), 2fr));
        gap: 0 15px;
        padding: 0 5px;
        @include max-width-576 {
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
          padding: 0;
        }
      }
    }
    .box {
      margin-bottom: 15px;
      border-radius: 7px;
      background-color: #fff;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      padding: 18px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      &.shine {
        border-radius: 7px;
        height: 122px;
        background-color: #f6f7f8;
      }
      .content-img {
        img {
          width: 83px;
          height: 83px;
          @include max-width-576 {
            width: 51px;
            height: 51px;
          }
        }
      }
      .content-body {
        width: calc(100% - 90px);
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        @include max-width-576 {
          width: calc(100% - 60px);
          flex-direction: column;
        }
        .left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .name {
            line-height: 1.15;
          }
          .occupation {
            line-height: 1.45;
          }
          .list-dates {
            gap: 22px;
            @include max-width-576 {
              flex-direction: column;
              gap: 4px;
            }
            .item-date {
              line-height: 1.4;
              margin: 0;
              padding: 0;
              @include max-width-576 {
                flex-direction: row;
                display: flex;
                gap: 20px;
              }
              span {
                line-height: 1;
                margin: 0;
                padding: 0;
              }
              p {
                line-height: 1;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
        .right {
          width: 86px;
          display: flex;
          flex-direction: column;
          gap: 7px;
          @include max-width-576 {
            width: 100%;
            margin-top: 7px;
            flex-direction: row;
            align-items: center;
          }
          .btn-test {
            width: 86px;
            height: 23px;
            padding: 6px 18px;
            border-radius: 5px;
            background-color: #fcedee;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            color: $red;
            text-decoration: none;
            cursor: pointer;
          }
          .btn-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            img {
              width: 41px;
              height: 41px;
            }
            .icon-approve,
            .icon-not-approve,
            .icon-trash {
              width: 41px;
              height: 41px;
              border-radius: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .icon-trash {
              background-color: #fcedee;
              img {
                width: 23px;
                height: 23px;
              }
            }
          }
        }
      }
    }
  }
  .preload {
    height: 660px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 2) - 15px), 2fr));
    gap: 0 15px;
    padding: 0;
    @include max-width-576 {
      grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 1)), 1fr));
    }
    .s-item {
      border-radius: 7px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      margin-bottom: 15px;
      height: 119px;
      .shine {
        border-radius: 7px;
      }
      @include max-width-576 {
        width: 100%;
      }
    }
  }
}

.search {
  width: 100%;
  @include min-width-992 {
    width: 305px;
    position: absolute;
    right: 0;
  }
  @include min-width-1200 {
    right: 20px;
  }
  .input-group {
    margin: auto;
    border-radius: 7px;
    border: solid 1.5px #e9edf1;
    @include min-width-768 {
      width: 240px;
      height: 39.6px;
      margin: 0;
    }
    @include min-width-992 {
      width: 305px;
      margin: 0;
    }
  }
  .form-control {
    background: transparent;
    box-shadow: none;
    border: none;
    height: calc(1.5em + .65rem + 2px);
  }
  input::placeholder {
    opacity: 0.5;
    font-family: 'Gotham-Book', sans-serif;
    font-size: 15px;
  }
  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
  .input-group-text {
    background: transparent;
    border: 0 solid transparent;
  }
}
