@import "~assets/scss/variables.scss";

.soon {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: calc(100vh - 250px);
    text-align: center;
    line-height: normal;
    display:flex;
    align-items:center;
    justify-content:center;
    p {
        margin: 7px auto;
        color: $navyblue;
        font-size: 24px;
    }
}