<div class="content-width">
  <perfect-scrollbar class="scrollbar-special" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-4 responsive-heading">
        <div class="col-box detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-md-block"><a routerLink="/comunidad" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0">Completados</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 detail-body">
        <div class="content-left border-right">
          <ng-container>
            <div class="preload-competences" *ngIf="tabCompetenceComplete.preload">
              <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <div class="shine s-item-content w-100 h-100"></div>
              </div>
            </div>
          </ng-container>
          <ng-container>
            <div class="list-competences" *ngIf="!tabCompetenceComplete.preload && tabCompetenceComplete.items && tabCompetenceComplete.items.length">
              <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}">
                <ng-container *ngFor="let item of tabCompetenceComplete.items, let i = index">
                  <div class="box cursor-pointer" [ngClass]="{'border-box' : item.id === (detail && detail.id)}" (click)="onClickDetail(item)">
                    <div class="box__top d-flex">
                      <div class="box-arrow gotham-bold ft-20 {{item.category[0]}}">
                        {{item.category[ 0 ]}}
                      </div>
                      <div class="box-detail d-flex">
                        <span class="number gotham-bold color-blue ft-14 is-zero">{{item.total_evaluated}}/{{item.total_evaluations}}</span>
                        <span class="label gotham-book ft-14">{{item.status}}</span>
                      </div>
                    </div>
                    <div class="box__bottom">
                      <h3 class="gotham-book color-blue ft-16">{{item.name}}</h3>
                    </div>
                    <div class="box__footer">
                      <h4 class="gotham-book ft-12">Categoría</h4>
                      <h3 class="gotham-book color-blue ft-14">{{item.category}}</h3>
                    </div>
                  </div>
                </ng-container>
                <div class="box p-0" *ngIf="tabCompetenceComplete.preloadPage">
                  <div class="shine w-100 h-100"></div>
                </div>
              </perfect-scrollbar>
            </div>
          </ng-container>
        </div>
        <div class="content-right">
          <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
          <ng-container *ngIf="detail">
            <h3 class="detail-title gotham-bold color-blue ft-21 m-0">{{detail.name}}</h3>
            <h4 class="detail-subtitle gotham-bold color-blue ft-16 m-0 mb-4">{{detail.category}}</h4>
            <div class="content-filer d-flex align-items-center mt-4 mb-5">
              <div class="d-flex requirements">
                <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
                <div class="text-filer">
                  <h6 class="mb-0 gotham-medium color-blue line-height">Requisitos</h6>
                  <span class="gotham-book color-gray">{{detail.requirement.size/ 1000}} KB</span>
                </div>
              </div>
              <div class="download-filer d-flex">
                <a [href]="detail.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
              </div>
            </div>
            <div class="content-mentor mb-5">
              <div class="mentor-heading mb-4">
                <h4 class="title gotham-book color-blue ft-19 m-0">Mentor</h4>
              </div>
              <div class="mentor-body mb-5">
                <div class="avatar">
                  <img [src]="detail.mentor_requests[0].mentor ? (detail.mentor_requests[0].mentor.photo ? detail.mentor_requests[0].mentor.photo : (detail.mentor_requests[0].mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" class="img-fluid m-auto" alt="">
                  <img src="./assets/img/svg/icon-iso2.svg" *ngIf="detail.mentor_requests[0].mentor.is_mentor" class="img-fluid icon-iso2" alt="">
                </div>
                <div class="body">
                  <h3 class="name gotham-book color-blue ft-19 m-0 mb-1">{{detail.mentor_requests[0].mentor.name}}<br/>{{detail.mentor_requests[0].mentor.last_name}}</h3>
                  <h4 class="ocupation gotham-book color-blue ft-16 m-0">{{detail.mentor_requests[0].mentor.occupation}} | {{detail.mentor_requests[0].mentor.area}}</h4>
                  <div class="headquarter">
                    <img class="mr-1" src="../assets/img/svg/icon-marker.svg" alt="">
                    <span class="gotham-ligth color-blue ft-16">Sede {{detail.mentor_requests[0].mentor.headquarter}}</span>
                  </div>
                </div>
              </div>
              <div class="mentor-evaluation d-flex justify-content-between align-items-center">
                <div class="result">
                  <span class="gotham-book color-blue ft-16">Resultados:</span>
                  <span class="gotham-book ft-14" [ngClass]="detail.status === 'Bueno' ? 'color-green' : 'color-red'">{{detail.status}}</span>
                </div>
                <span class="number gotham-book ft-30" [ngClass]="detail.status === 'Bueno' ? 'color-green' : 'color-red'">{{detail.total_evaluated}}/{{detail.total_evaluations}}</span>
              </div>
              <div class="mentor-footer d-flex justify-content-between align-items-center mt-4">
                <span class="gotham-book color-blue ft-18">Ver evaluaciones</span>
                <img class="cursor-pointer" (click)="onClickDetailCompetence(detail.id)" src="../assets/img/svg/icon-arrow-left.svg" alt="">
              </div>
              <div class="mentor-button d-flex mt-5">
                <button class="btn-navyblue m-auto" (click)="openSchedule()">Volver a evaluar</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
