@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";


.responsive-heading {
  @include max-width-576 {
    left: 20px;
    top: 30px;
  }
}

.detail-heading {
  .icon-back {
    font-size: $ft-24;
  }

  .detail-title {
    margin-left: 5px;

    h4 {
      font-weight: 600;
    }
  }
}

.detail-body {
  padding-left: 65px;
  width: 100%;
  display: flex;
  @include max-width-576 {
    padding-left: 15px;
    flex-direction: column;
  }

  .content-left {
    width: 53%;
    padding-right: 40px;
    @include max-width-576 {
      width: 100%;
      border-right: 0 !important;
      padding-right: 0 !important;
    }

    .list-competences {
      display: flex;
      flex-wrap: wrap;
      height: calc(100vh - 215px);

      ::ng-deep .scrollbar-tab {
        padding-right: 15px;

        .ps .ps-content {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
          gap: 0;
          @include max-width-576 {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
          }
        }
      }

      .box {
        width: 158px;
        height: 158px;
        padding: 13px 13px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        background-color: #fff;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 13px;

        &.border-box {
          border: solid 1.5px $greenyblue;
        }

        .box__top {
          gap: 8px;
          justify-content: start;

          .box-arrow {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            color: #fff;
            display: flex;
            line-height: 0.8;
            justify-content: center;
            align-items: center;

            &.O {
              background: $lightolivegreen;
            }

            &.G {
              background: $greenyblue;
            }

            &.M {
              background: $lightred;
            }

            &.C {
              background: $orange;
            }
          }

          .box-detail {
            flex-direction: column;
            gap: 2px;
            justify-content: center;

            .number {
              line-height: 1.36;
            }

            .label {
              font-weight: 500;
              line-height: 1.36;
              color: #8f99aa;
            }
          }
        }

        .box__bottom {
          h3 {
            font-weight: 600;
            line-height: 1;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 30px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }

        .box__footer {
          h4 {
            font-weight: 500;
            line-height: 1.33;
            color: #8f99aa;
            margin: 0;
          }

          h3 {
            font-weight: normal;
            line-height: 1.36;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .shine {
          border-radius: 10px;
        }
      }
    }

    .preload-competences {
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
      gap: 0;
      height: 730px;
      @include max-width-576 {
        margin-top: 40px;
        height: 510px;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 2) - 15px), 2fr));
        gap: 15px;
      }

      .s-item {
        width: 158px;
        height: 158px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        margin-bottom: 15px;

        .shine {
          border-radius: 10px;
        }

        @include max-width-576 {
          width: calc(100%);
        }
      }
    }
  }

  .content-right {
    width: 47%;
    padding: 0 40px;
    @include max-width-576 {
      width: 100%;
      padding: 0;
      margin-top: 40px;
    }

    .detail-title {
      line-height: 1.24;
    }

    .detail-subtitle {
      opacity: 0.5;
      font-weight: 500;
      line-height: 1.25;
    }

    .content-filer {
      width: 100%;
      justify-content: space-between;
      gap: 36px;
      padding-right: 20px;
      @include max-width-576 {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
      }

      .requirements {
        flex-wrap: nowrap;
        gap: 20px;

        .icon-filer {
          width: 48px;
          height: 48px;
        }

        .text-filer {
          display: grid;
          gap: 3px;
          line-height: 1;
          padding: 5px 0;

          h6 {
            font-size: 17px;
            font-weight: 500;
          }

          span {
            font-size: 17px;
            font-weight: 500;
          }
        }
      }

      .download-filer {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background-color: #eaf7f8;

        a {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
    }

    .content-mentor {
      .mentor-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-weight: 600;
        }

        .apply-mentor {
          border-radius: 5px;
          border: solid 2px #fff;
          background-color: #fff;
          line-height: 2;
          padding: 0 20px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
        }
      }

      .mentor-body {
        display: flex;
        width: 100%;
        height: 141px;
        margin: 17px 0 0;
        padding: 21px 43px 15.9px 21px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        background-color: #fff;

        .avatar {
          position: relative;

          img {
            width: 95px;
            height: 95px;

            &.icon-iso2 {
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: -8px;
              z-index: 2;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }

        .body {
          display: grid;
          padding: 0px 15px 0 25px;
          gap: 0px;
          width: calc(100% - 100px);

          .name {
            line-height: 1.11;
            font-weight: 600;
          }

          .ocupation {
            opacity: 0.5;
            font-weight: 600;
          }

          .headquarter {
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 2px;

            img {
              width: 12px;
            }
          }
        }
      }

      .mentor-evaluation {
        .result {
          display: flex;
          flex-direction: column;

          span:first-child {
            line-height: 1.25;
            font-weight: 600;
          }

          span:last-child {
            line-height: 1.43;
            font-weight: 600;
          }
        }

        .number {
          line-height: 1.4;
          font-weight: 600;
        }
      }

      .mentor-footer {
        span {
          line-height: 1.11;
          font-weight: 600;
        }

        img {
          width: 42px;
          height: 42px;
        }
      }
    }
  }
}
