<div class="content">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="d-flex align-items-center justify-content-between">
    <h5 class="gotham-bold ft-20 color-blue">Crear publicación</h5>
    <a class="cursor-pointer" (click)="bsModalRef.hide()"><img src="./assets/img/svg/close-opacity.svg" class="img-fluid" alt=""></a>
  </div>
  <div class="d-flex align-items-center">
    <div class="img-content mr-2"><img [src]="user.photo ? user.photo : (user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
    <div class="">
      <h5 class="color-blue gotham-medium ft-12 mb-0">{{user.name + ' ' + user.last_name}}</h5>
      <p class="color-blue-opacity gotham-medium mb-0 ft-12">{{date | formatDate: 'year'}}</p>
    </div>
  </div>
  <div class="" [formGroup]="form">
    <div class="form-group mb-0">
      <label for="title" class="d-none">Escribe un título</label>
      <input type="text" class="form-control gotham-medium ft-16 color-blue" formControlName="title" id="title" placeholder="Escribe un título">
    </div>
    <div class="form-group">
      <label for="experience" class="d-none">Compártenos tu experiencia…</label>
      <textarea class="form-control gotham-book ft-14 color-blue" id="experience" formControlName="detail" placeholder="Compártenos tu experiencia…" rows="3"></textarea>
    </div>
    <button class="btn btn-blue gotham-medium ft-16 text-center" [disabled]="form.invalid" (click)="onClickSave()">{{loading ? 'Publicando' : 'Publicar'}}</button>
  </div>
</div>
