@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeCreatePublication {
    .modal-content {
      zoom: 0.98;
      width: 479px;
      min-height: 438px;
      overflow: hidden;
      display: flex;
      @include max-width-576 {
        background-size: 70%;
      }
    }
  }
}

.content{
  padding: 20px 32px;
  .img-content {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 25px;
  }
  p {
    line-height: 1.4;
  }
  input {
    height: 36px;
    border: none;
    padding-left: 0;
    padding-bottom: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &::placeholder {
      color: $blue;
      opacity: 0.5;
    }
  }
  textarea {
    height: 240px;
    border: none;
    padding-top: 0;
    padding-left: 0;
    resize: none;
    &::placeholder {
      color: $blue;
      opacity: 0.5;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .btn-blue {
    width: 100%;
    height: 40px;
  }
}
