@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

::ng-deep {
  .ModalApplyMentor {
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    .modal-content {
      zoom: 0.98;
      width: 967px;
      height: 628px;
      overflow: hidden;
      display: flex;
    }
  }
  .control-message-error .invalid-feedback {
    display: block !important;
  }
}
.content{
  padding: 50px;
  &.hide-modal {
    display: none;
  }
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 2;
  }
  .content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    height: calc(628px - 100px);
    .category {
      width: 61px;
      height: 61px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      line-height: 0.8;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      &.O {
        background: $lightolivegreen;
      }
      &.G {
        background: $greenyblue;
      }
      &.M {
        background: $lightred;
      }
      &.C {
        background: $orange;
      }
    }
    h4 {
      font-weight: 600;
    }
    .content-filer {
      width: 100%;
      justify-content: space-between;
      gap: 36px;
      padding-right: 20px;
      margin-top: 40px;
      @include max-width-576 {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
      }
      .requirements {
        flex-wrap: nowrap;
        gap: 20px;
        .icon-filer {
          width: 48px;
          height: 48px;
        }
        .text-filer {
          display: grid;
          gap: 3px;
          line-height: 1;
          padding: 5px 0;
          h6 {
            font-size: 17px;
            font-weight: 500;
          }
          span {
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
      .download-filer {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background-color: #eaf7f8;
        a {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .content-right {
    padding: 0 40px;
    height: calc(628px - 100px);
    .scrollbar-new-mentor {
      height: calc(628px - 280px);
      margin-bottom: 15px;
      .occupied {
        opacity: 0.3;
      }
    }
    .form-group{
      height: 65px;
      border-radius: 8px;
      padding-left: 9px;
      .form-control {
        margin-top: 5px;
        background: transparent;
        box-shadow: none;
        border: none;
        color: $navyblue;
      }
      label{
        font-size: $ft-14;
        left: 30px;
        font-weight: 500;
        text-align: left;
        color: $greenyblue;
        .content-img {
          position: relative;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 50%;
        }
        .is_mentor {
          width: 24px;
          height: 24px;
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 2;
        }
        .is_occupied {
          position: absolute;
          right: 22px;
        }
      }
      input:placeholder-shown + label {
        top: 33px !important;
      }
      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: 20px !important;
      }
    }
    .search {
      width: 100%;
      padding-right: 30px;
      .ng-select-search {
        border: solid 1.5px #e9edf1;
        border-radius: 8px;
        height: 39.6px;
        width: 100%;
      }
      input::placeholder {
        opacity: 0.5;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 15px;
      }
      .input-group-text {
        background: transparent;
        border: 0 solid transparent;
      }
    }
  }
}


.ng-select-search ::ng-deep {
  .ng-select-container {
    border: none;
    height: 100%;
    padding: 0px 17px;
    .ng-placeholder {
      top: 9px !important;
    }
    .ng-clear-wrapper,
    .ng-value-container .ng-value {
      display: none !important;
    }
    .ng-input > input {
      width: calc(100% - 25px) !important;
    }
    .ng-arrow  {
      background: url("~assets/img/svg/icon-lupa.svg") center no-repeat;
      width: 16px !important;
      height: 16px !important;
      background-size: cover;
      border-color: transparent !important;
      border-width: 0 !important;
      top: 2px !important;
    }
  }
  .ng-dropdown-panel {
    border: solid 1.5px #e9edf1;
  }
}
.ng-select-search.ng-select-opened ::ng-deep .ng-arrow {
  top: 2px !important;
}
