<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <form class="" [formGroup]="formGroup" autocomplete="off"><!-- (submit)="onSubmit()" -->
    <div class="position-relative">
      <div class="row">
        <div class="col-md-6 content-left border-right">
          <div class="category gotham-bold ft-32 {{competence.category[0]}}">
            {{competence.category[ 0 ]}}
          </div>
          <h4 class="gotham-book color-navyblue text-left m-0 ft-23">{{competence.name}}</h4>
          <h4 class="gotham-book color-lightblue text-left m-0 ft-20">{{competence.category}}</h4>
          <div class="content-filer d-flex align-items-center" *ngIf="competence.requirement">
            <div class="d-flex requirements">
              <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
              <div class="text-filer">
                <h6 class="mb-0 gotham-medium color-blue line-height">Requisitos</h6>
                <span class="gotham-book color-gray">{{competence.requirement.size / 1000}} KB</span>
              </div>
            </div>
            <div class="download-filer d-flex">
              <a [href]="competence.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 content-right">
          <div class="mt-3 mb-5">
            <h3 class="gotham-bold color-navyblue text-left m-0 mt-4 mb-2 ft-23">Mentor</h3>
            <div class="search mt-3">
              <app-control-messages [control]="formGroup.controls.mentor_id" class="d-block mb-3"> <!-- [multiple]="true" -->
                <ng-select class="ng-select-search" placeholder="Participantes"
                           [clearable]="true" [clearSearchOnAdd]="true" [closeOnSelect]="true" [items]="listUsers" (open)="clearListUsers()"
                           (add)="addListUsers($event)" (close)="onClickClose()" [minTermLength]=3 [typeahead]="typeAheadListUsers" formControlName="mentor_id"
                           [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom" [placeholder]="'Buscar colaborador'"
                           bindLabel="name" bindValue="id" [compareWith]="compareFn" typeToSearchText="Escribe para buscar">
                </ng-select>
              </app-control-messages>
            </div>
            <div class="mt-4">
              <perfect-scrollbar class="scrollbar-special scrollbar-new-mentor" [config]="{suppressScrollX: true}">
                <div class="form-group form-check form-check-newgroup d-flex align-items-center mb-2 cursor-pointer" *ngFor="let item of listSetUsers">
                  <input *ngIf="!item.is_occupied" type="checkbox" name="exampleRadios" class="form-check-input" [id]="item.id" [checked]="item.checked" (change)="removeListUsers(item)">
                  <label class="form-check-label font-style d-flex align-items-center justify-content-between w-100 cursor-pointer" [for]="item.id">
                    <div class="d-flex justify-content-start align-items-center" [ngClass]="{'occupied': item.is_occupied}">
                      <div class="position-relative">
                        <div class="content-img mr-2">
                          <img [src]="item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                        </div>
                        <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid is_mentor" alt="">
                      </div>
                      <div class="">
                        <p class="m-0 mb-1 gotham-medium color-blue ft-15">{{ item.name }}<br/>{{ item.last_name }}</p>
                      </div>
                    </div>
                    <span class="mr-2" *ngIf="!item.is_occupied"></span>
                    <img (click)="onShowOCupied(item)" *ngIf="item.is_occupied" src="./assets/img/svg/icon-mentor-info.svg" class="img-fluid is_occupied" alt="">
                  </label>
                </div>
              </perfect-scrollbar>
              <div class="mentor-schedule d-flex">
                <button type="submit" class="btn-navyblue m-auto" (click)="onSubmit()" [disabled]="selectUser && selectUser.length === 0">Solicitar Mentor</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
