<div class="">
  <div class="detail-heading d-flex">
    <div class="pt-1 pr-2 d-nones d-md-block"><a routerLink="/sistema-de-reconocimientos" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
    <div class="d-flex justify-content-between align-items-start w-100">
      <div class="">
        <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Bazar</h2>
        <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
          <span class="color-blue gotham-medium ft-16 line-height mr-1">Visualiza los puntos acumulados y los obsequios que puedes canjear.</span>
        </div>
      </div>
      <div class="">
        <a routerLink="/sistema-de-reconocimientos/resumen" class="btn btn-lightblue btn-show-cart gotham-book ft-16 line-height">Ver Bolsa <img src="./assets/img/svg/icon-productos.svg" class="img-fluid ml-2" alt=""></a>
      </div>
    </div>
  </div>
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="pt-4 px-4 px-2">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <a href="#" class="color-blue gotham-book d-flex align-items-center"> <img src="./assets/img/svg/icon-puntos.svg" class="img-fluid mr-2" alt="">Puntos acumulados: <span class="gotham-bold ml-1"> {{points}}</span></a>
      <p class="color-blue gotham-book d-flex align-items-center mb-0"><img src="./assets/img/svg/icon-productos.svg" class="img-fluid mr-2" alt="">Productos a canjear: <span class="gotham-bold ml-1">{{increment}}</span></p>
    </div>

    <perfect-scrollbar class="scrollbar-bazar pb-4" [config]="{suppressScrollX: true}">
      <div class="content-gift px-2">
        <div class="box-gift box-gift1" *ngFor="let item of gifts, let i = index">
          <div class="">
            <div class="image image1" [style.background-image]="'url(' + item.image + ')'"></div>
            <!--  [defaultImage]="defaultImage" [lazyLoad]="item.image" -->
          </div>
          <div class="content">
            <h5 class="color-blue gotham-medium ft-18 mb-0 py-4">{{item.title}}</h5>
            <p class="color-lightblue gotham-medium mb-2 line-height ft-14">Puntos necesarios:
              <span class="color-blue"> {{item.points}} puntos</span></p>
            <p class="color-lightblue gotham-medium mb-2 line-height ft-14">Artículos disponibles: <span class="color-blue">{{item.quantity}} unidades</span></p>
            <button class="btn btn-blue gotham-medium mt-4" (click)="onClickAdd(item, i)">Agregar a la bolsa</button>
            <!-- <button class="btn btn-blue gotham-medium mt-4" [disabled]="productsIndex.includes(i)" *ngIf="productsIndex.includes(i)"> Agregado a la bolsa</button>-->
          </div>
        </div>
      </div>
    </perfect-scrollbar>

  </div>
</div>
