@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeMessage {
    .modal-content {
      zoom: 0.98;
      width: 371px;
      min-height: 494px;
      overflow: hidden;
      display: flex;
      background: #02215b url('~assets/img/svg/bg-lines-bottom.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }
    }
  }
  .progress {
    background-color: #1c386c;
    height: 8px;
    border-radius: 20px;
  }
  .progress-bar {
    background: $lightblue;
  }
}

.content{
  padding: 20px 32px;
  .btn-lightblue {
    min-width: 169.1px;
    height: 36px;
    line-height: 1;
    border-radius: 7px;
    background: $lightblue;
    color: #fff;
  }
  h3 {
    font-size: 80px;
  }
  h3, h5 {
    line-height: 1;
  }
  .text {
    width: 230px;
  }
  .text2 {
    width: 280px;
  }
}
