<div class="content">
  <ng-container *ngIf="data">
    <div class="mb-2">
      <progressbar [value]="points" [max]="total"></progressbar>
      <p class="gotham-medium color-white ft-12 mt-1">{{points}}/{{total}} pts</p>
    </div>
    <ng-container *ngIf="points === total">
      <div class="">
        <img src="./assets/img/svg/felicitaciones.svg" class="img-fluid d-block mx-auto mb-3" alt="">
        <h4 class="gotham-bold color-lightblue ft-25 text-center">¡Felicitaciones!</h4>
        <p class="gotham-medium ft-16 color-white text-center text d-block mx-auto">¡Ya tienes {{points}} puntos!
          <ng-container *ngIf="data.progress.current_certificate && data.progress.current_certificate.title">
            Ganaste la certificación
            “{{data.progress.current_certificate.title}}”
          </ng-container>
         </p>
        <button class="btn btn-lightblue d-block mx-auto gotham-medium ft-16 mt-4" (click)="onClickProgress()">Ver progreso</button>
        <a (click)="onClickClose()" class="cursor-pointer d-block mx-auto text-center mt-3 pt-3"><img src="./assets/img/svg/close-opacity.svg" class="img-fluid" alt=""></a>
      </div>
    </ng-container>

    <ng-container *ngIf="points < total">
      <div class="">
        <img src="./assets/img/svg/reto-cumplido.svg" class="img-fluid d-block mx-auto mb-3" alt="">
        <h4 class="gotham-bold color-lightblue ft-25 text-center">¡Reto cumplido!</h4>
        <p class="gotham-medium ft-16 color-white text-center text2 d-block mx-auto">Felicidades {{user.name}}, ganaste</p>
        <div class="text-center">
          <h3 class="gotham-bold ft-35 color-lightblue mb-0">{{score}}</h3>
          <h5 class="gotham-medium color-white ft-20">Puntos</h5>
        </div>
        <a (click)="onClickClose()" class="cursor-pointer d-block mx-auto text-center mt-3 pt-2"><img src="./assets/img/svg/close-opacity.svg" class="img-fluid" alt=""></a>
      </div><!--onClickCloseOpacity-->
    </ng-container>
  </ng-container>

  <ng-container *ngIf="notification && typeNtf">
    <div class="mb-2">
      <progressbar [value]="points" [max]="total"></progressbar>
      <p class="gotham-medium color-white ft-12 mt-1">{{points}}/{{total}} pts</p>
    </div>

    <div class="">
      <img src="./assets/img/svg/reto-cumplido.svg" class="img-fluid d-block mx-auto mb-3" alt="">
      <h4 class="gotham-bold color-lightblue ft-25 text-center">{{notification.data.title}}</h4>
      <ng-container *ngIf="typeNtf === 'attended_caja_with_sense' || typeNtf === 'attended_forum'">
        <p class="gotham-medium ft-16 color-white text-center text2 d-block mx-auto">{{notification.data.message}}</p>
      </ng-container>
      <div class="text-center">
        <h3 class="gotham-bold ft-35 color-lightblue mb-0">{{score}}</h3>
        <h5 class="gotham-medium color-white ft-20">Puntos</h5>
      </div>
      <button class="btn btn-lightblue d-block mx-auto gotham-medium ft-16 mt-4" (click)="onClickRouter()" *ngIf="typeNtf === 'attended_caja_with_sense'">Ir a Caja con sentido</button>
      <button class="btn btn-lightblue d-block mx-auto gotham-medium ft-16 mt-4" (click)="onClickRouter()" *ngIf="typeNtf === 'attended_forum'">Ir a Foros, charlas y conferencias</button>
      <button class="btn btn-lightblue d-block mx-auto gotham-medium ft-16 mt-4" (click)="onClickRouter()" *ngIf="typeNtf === 'recognition_received'">Ir a reconocimientos</button>
      <a (click)="onClickClose()" class="cursor-pointer d-block mx-auto text-center mt-3 pt-2"><img src="./assets/img/svg/close-opacity.svg" class="img-fluid" alt=""></a>
    </div>
  </ng-container>

</div>
