<div class="content-send">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="detail-heading d-flex">
    <div class="pt-1 pr-2 d-nones d-md-block"><a routerLink="/sistema-de-reconocimientos" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
    <div class="">
      <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Enviar Reconocimientos</h2>
    </div>
  </div>

  <perfect-scrollbar class="scrollbar-type" [config]="{suppressScrollX: true}">
    <div class="ml-4 pl-1">
      <div>
        <tabset>
          <tab heading="Nuevo Reconocimiento" id="tab1">
            <div class="mt-4">
              <div class="row" [formGroup]="form">
                <div class="col-md-8">
                  <h4 class="color-blue gotham-bold ft-18">Colaborador a reconocer</h4>

                  <div class="d-flex align-items-center flex-wrap mt-3 mb-2">
                    <div class="form-group form-check form-check-common pl-0">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (change)="onClickChangeOption($event)" value="person" checked>
                      <label class="form-check-label gotham-book color-blue" for="exampleRadios1">
                        <span></span> Persona
                      </label>
                    </div>
                    <div class="form-group form-check form-check-common ml-0 ml-md-5 pl-0 pl-md-2">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (change)="onClickChangeOption($event)" value="group">
                      <label class="form-check-label gotham-book color-blue" for="exampleRadios2">
                        <span></span> Grupo de colaboradores
                      </label>
                    </div>
                  </div>

                  <div class="d-flex align-items-start flex-wrap">
                    <app-control-messages [control]="option === 'person' ? form.controls.received : form.controls.received_group" class="d-block mb-3">
                      <div class="box-new-recog cursor-pointer px-2 d-flex align-items-center justify-content-between mr-3" (click)="onSelect('direct')">
                        <div class="">
                          <h5 class="gotham-medium color-lightblue ft-16 mb-0">{{renderText( 'title' )}}</h5>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height" *ngIf="!direct">{{renderText( 'description' )}}</p>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height d-none d-md-block" *ngIf="direct">{{renderText( 'direct' ) | truncate: '27'}}</p>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height d-block d-md-none" *ngIf="direct">{{renderText( 'direct' ) | truncate: '24'}}</p>
                        </div>
                        <div class=""><img src="./assets/img/svg/icon-combo.svg" class="img-fluid" alt="ico"></div>
                      </div>
                    </app-control-messages>
                    <app-control-messages [control]="option === 'person' ? form.controls.received_copy : form.controls.received_group_copy" class="d-block mb-3">
                      <div class="box-new-recog cursor-pointer px-2 d-flex align-items-center justify-content-between" (click)="onSelect('copy')">
                        <div class="">
                          <h5 class="gotham-medium color-lightblue ft-16 mb-0">Con copia a...</h5>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height" *ngIf="!copy">{{renderText( 'description' )}}</p>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height d-none d-md-block" *ngIf="copy">{{renderText( 'copy' ) | truncate: '27'}}</p>
                          <p class="gotham-book color-blue ft-18 mb-0 line-height d-block d-md-none" *ngIf="copy">{{renderText( 'copy' ) | truncate: '24'}}</p>
                        </div>
                        <div class=""><img src="./assets/img/svg/icon-combo.svg" class="img-fluid" alt="ico"></div>
                      </div>
                    </app-control-messages>
                  </div>

                  <div class="my-5">
                    <h5 class="color-blue gotham-bold ft-18">Información del reconocimiento</h5>
                    <label class="gotham-book color-blue ft-18">Nombre de la persona</label>
                    <app-control-messages [control]="form.controls.name" class="d-block mb-3">
                      <div class="form-group mb-4">
                        <input type="text" class="form-control" formControlName="name" placeholder="">
                      </div>
                    </app-control-messages>


                    <app-control-messages [control]="form.controls.category_id" class="d-block mb-3">
                      <div class="form-group mb-4">
                        <div class="position-relative">
                          <label class="m-0 color-lightblue gotham-medium text-type">Categoría del evento</label>
                          <ng-select class="custom ng-select select-classic-border" [formControlName]="'category_id'" [placeholder]="'Seleccionar una'"
                                     [multiple]="false" [clearable]="false" [searchable]="false" [dropdownPosition]="'bottom'" [closeOnSelect]="true"
                                     [notFoundText]="'No se encontraron resultados'" [items]="categories" [bindLabel]="'name'" (change)="onSelectCategory($event)" [bindValue]="'id'">
                          </ng-select>
                        </div>
                      </div>
                    </app-control-messages>

                    <app-control-messages [control]="form.controls.event_id" class="d-block mb-3">
                      <div class="form-group">
                        <div class="position-relative">
                          <label class="m-0 color-lightblue gotham-medium text-type">Evento</label>
                          <ng-select class="custom ng-select select-classic-border" [formControlName]="'event_id'" [placeholder]="eventsLoading ? 'Cargando ...' : 'Seleccionar una'"
                                     [multiple]="false" [clearable]="false" [searchable]="false" [dropdownPosition]="'bottom'" [closeOnSelect]="true"
                                     [notFoundText]="'No se encontraron resultados'" [items]="events" [bindLabel]="'name'"
                                     (change)="onSelectEvent($event)" [bindValue]="'id'">
                          </ng-select>
                          <div class="overlay" *ngIf="eventsLoading"></div>
                        </div>
                      </div>
                    </app-control-messages>

                    <app-control-messages [control]="form.controls.message" class="d-block mb-3">
                      <div class="form-group">
                        <label class="color-blue gotham-book">Mensaje</label>
                        <textarea class="form-control gotham-book ft-14 color-blue" [formControlName]="'message'" id="experience" rows="3"></textarea>
                      </div>
                    </app-control-messages>

                    <app-control-messages [control]="form.controls.template_id" class="d-block mb-3">
                      <div class="form-group content-filer">
                        <label class="color-blue gotham-book">Selecciona una plantilla</label>
                        <button class="btn upload-file gotham-medium px-0" (click)="openDefaultImages()" *ngIf="!template">
                          + Agregar
                        </button>

                        <p class="loading-file gotham-book color-blue-opacity d-flex justify-content-between align-items-center" *ngIf="template">
                          Plantilla-{{template.id}}
                          <a class="cursor-pointer" (click)="delete('template')"><img src="./assets/img/svg/delete-equis.svg"  class="img-fluid" alt=""></a>
                        </p>
                      </div>
                    </app-control-messages>

                    <div class="row">
                      <div class="form-group col-12 col-md-6">
                        <div class="content-filer position-relative">
                          <p class="position-relative mb-0" style="z-index: 9"><span class="ft-16 color-blue gotham-book">Adjuntar foto de perfil</span>
                            <span class="ft-16 color-blue-opacity ml-1 gotham-book">(opcional)</span></p>

                          <button class="btn upload-file gotham-medium px-0" *ngIf="!photo">
                            <input class="input" type="file" #fileInputImage accept="image/x-png, image/jpeg, image/jpg" (change)="onFileUpload($event, 'image')"> <!-- (change)="onChangeFiles($event)" -->
                            <input type="hidden" name="file" id="uploadFile"/><!-- formControlName="images" -->
                            + Agregar
                          </button>

                          <p class="loading-file gotham-book color-blue-opacity d-flex justify-content-between align-items-center" *ngIf="photo">
                            {{photo.name}}
                            <a class="cursor-pointer" (click)="delete('image')"><img src="./assets/img/svg/delete-equis.svg" class="img-fluid" alt=""></a>
                          </p>
                        </div>
                      </div>

                      <div class="form-group col-12 col-md-6">
                        <div class="content-filer position-relative">
                          <p class="position-relative mb-0" style="z-index: 9"><span class="ft-16 color-blue gotham-book">Audio</span>
                            <span class="ft-16 color-blue-opacity ml-1 gotham-book">(opcional)</span></p>
                          <button class="btn upload-file gotham-medium px-0" *ngIf="!audio">
                            <input class="input" type="file" #fileInputAudio accept="video/mp4,audio/mp3,audio/*" (change)="onFileUpload($event,'audio')"> <!--  (change)="onChangeFiles($event)" -->
                            <input type="hidden" name="file" id="uploadFile2"/><!-- formControlName="images" -->
                            + Agregar
                          </button>

                          <p class="loading-file gotham-book color-blue-opacity d-flex justify-content-between align-items-center" *ngIf="audio">
                            {{audio.name}}
                            <a class="cursor-pointer" (click)="delete('audio')"><img src="./assets/img/svg/delete-equis.svg" class="img-fluid" alt=""></a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-end">
                    <a class="color-lightblue gotham-medium text-underline cursor-pointer" (click)="onClearData()">Borrar datos</a>
                    <button class="btn btn-lightblue gotham-medium mx-4 my-4 my-md-0" (click)="onPreview()">Previsualizar</button>
                    <button class="btn btn-blue gotham-medium" (click)="onClickSave()">Enviar</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Reconocimientos Enviados">
            <div class="mt-4 pt-1">
              <p class="gotham-book color-blue ft-18 mb-0">Visualización de reconocimientos enviados</p>
              <app-my-acknowledgments [head]="false" [data]="acknowlegments"></app-my-acknowledgments>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </perfect-scrollbar>
</div>
