.content-detail {
  .card {
    border: none;
    background: transparent;
  }
  .card-header {
    padding: .50rem 1rem;
    background: transparent;
    border: none;
  }
  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .btn {
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  .btn {
    &:focus {
      box-shadow: none
    }
  }
}

::ng-deep {
  accordion-group {
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    padding: 5px 0;
    margin-bottom: 15px;

    .card {
      border: none !important;
      border-radius: 15px;
      box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07) !important;
      background-color: #fff !important;
      border: none !important;
    }
    .panel-heading {
      border-radius: 15px !important;
      box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07) !important;
      background-color: #fff !important;
      border: none !important;
      .panel-title {
        .btn-block {
          display: flex;
          justify-content: space-between;
          div {
            flex: 1;
            h6 {
              text-align: left;
              width: calc(100%-40px);
            }
          }
          span {
            width: 65px;
            text-align: right;
          }
        }
      }
    }
    .btn:focus {
      box-shadow: none !important;
    }
    &.panel-open {
      .panel-heading {
        box-shadow: none !important;
      }
    }
  }
}
