@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
button {
  outline: none !important;
}
.btn-reset {
  box-shadow: none;
  background: transparent;
  border: none;
  outline: unset;

  &:hover,
  &:active {
    outline: unset;
  }

  &:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  }
}
.btn-blue{
  border-radius: 7px;
  border-color: $blue;
  background: transparent;
  color: $blue;
  line-height: 1;
  font-weight: 500;
  &:hover{
    color: $white;
    border-color: $blue;
    background-color: $blue;
  }
}

.btn-navyblue{
  min-width: 150px;
  height: 38.8px;
  border-radius: 7px;
  font-size: $ft-18;
  border: 1px solid $blue;
  background: $blue;
  color: $white;
  line-height: 2;
  padding: 0 20px;
  &:hover{
    color: $white;
    border-color: $blue;
    background-color: $blue;
  }
}
