::ng-deep button.mat-focus-indicator.mat-calendar-period-button.mat-button.mat-button-base {
  width: 60%;
}

::ng-deep .mat-calendar-period-button.mat-button .mat-button-wrapper {
  z-index: 3;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

::ng-deep .mat-button,
::ng-deep .mat-icon-button {
  color: $lightblue;
  outline: none !important;
}

::ng-deep .mat-calendar-previous-button {
  content: url("~assets/img/svg/arrow-left-calendar.svg");

  > span {
    display: none !important;
  }
}

::ng-deep .mat-button-wrapper {
  font-size: $ft-17;
  font-family: 'Gotham-Book', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.22;
  letter-spacing: normal;
  text-align: left;
  color: $blue
}

::ng-deep .mat-calendar-content {
  @include max-width-576 {
    padding: 0px !important;
  }

}

::ng-deep .mat-calendar-table-header th {
  font-family: 'Gotham-Book', sans-serif;
  font-size: $ft-15;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $lightblue;
}

::ng-deep .mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  opacity: 0.5;
  font-family: 'Gotham-Book', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.18;
  letter-spacing: normal;
  text-align: center;
  color: $gray;
}

::ng-deep .mat-calendar-body {
  tr:not([role=row]) {
    display: none;
  }
}

::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator {
  font-family: 'Gotham-Book', sans-serif;;
  font-size: $ft-17;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.19;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

::ng-deep .mat-calendar-body-selected {
  object-fit: contain;
  border-radius: 5px !important;
  background-color: $lightblue;
  font-size: $ft-16;
  font-weight: 500;
  color: $white !important;

  &:after {
    content: '';
    border-bottom: 3px solid $bluebold;
    width: 35%;
    margin: auto;
    position: absolute;
    top: 70%;
  }
}

.content-hybrid-work {
  ::ng-deep .mat-calendar-body-selected {
    object-fit: contain;
    border-radius: 5px !important;
    // background-color: #F9F9FA;
    font-size: $ft-16;
    font-weight: 500;
    // color: $blue !important;

    &:after {
      content: '';
      border-bottom: 0;
      width: 35%;
      margin: auto;
      position: absolute;
      top: 70%;
    }
  }

  ::ng-deep .mat-calendar-body-cell-content.mat-focus-indicator {
    //color: $blue !important;
  }

  ::ng-deep .special-date .mat-calendar-body-cell-content.mat-focus-indicator:after {
    border-bottom: 3px solid $lightblue!important;
  }
}

::ng-deep .future-date {
  .mat-calendar-body-cell-content {
    border: none;
    // background-color: transparent;
    border-radius: none;
  }
}

::ng-deep .pass-date .mat-calendar-body-cell-content.mat-focus-indicator {
  opacity: 0.5;
  font-family: 'Gotham-Book', sans-serif;;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #8f99aa;

  .mat-calendar-body-cell-content {
    border: none !important;
    border-radius: 0 !important;
  }
}

::ng-deep .special-date .mat-calendar-body-cell-content.mat-focus-indicator {
  &:after {
    content: '';
    border-bottom: 3px solid $bluebold;
    width: 35%;
    margin: auto;
    position: absolute;
    top: 70%;
  }
}

::ng-deep .pivot-date .mat-calendar-body-cell-content.mat-focus-indicator {
  font-family: 'Gotham-Book', sans-serif;;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.35;
  text-align: center;
  color: #fff;
}

::ng-deep .pivot-date.pending .mat-calendar-body-cell-content.mat-focus-indicator {
  border: solid 2px $greenyblue !important;
  background-color: $greenyblue !important;
  border-radius: 5px !important;
}

::ng-deep .pivot-date.not_approve .mat-calendar-body-cell-content.mat-focus-indicator {
  border: solid 2px #d12228 !important;
  background-color: #d12228 !important;
  border-radius: 5px !important;
}

::ng-deep .pivot-date.approve .mat-calendar-body-cell-content.mat-focus-indicator {
  border: solid 2px #8dc646 !important;
  background-color: #8dc646 !important;
  border-radius: 5px !important;
}

::ng-deep .internal-date .mat-calendar-body-cell-content.mat-focus-indicator {
  font-family: 'Gotham-Book', sans-serif;;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.35;
  text-align: center;
}

::ng-deep .internal-date.pending .mat-calendar-body-cell-content.mat-focus-indicator {
  color: $greenyblue;
  background-color: #c1e7e9;
}

::ng-deep .internal-date.not_approve .mat-calendar-body-cell-content.mat-focus-indicator {
  color: #d12228;
  background-color: #fbe8e9;
}

::ng-deep .internal-date.approve .mat-calendar-body-cell-content.mat-focus-indicator {
  color: #8dc646;
  background-color: #fbfdf9;
}

::ng-deep .outroCalendar .mat-calendar-body-selected,
::ng-deep .outroCalendar .mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: none;

  &:after {
    display: none;
  }
}

::ng-deep .mat-calendar-body-cell {
  .mat-calendar-body-cell-content {
    border: none !important;
    border-radius: 0 !important;
  }
}

::ng-deep .mat-calendar-body-cell.mat-calendar-body-active:not(.pass-date):not(.approve):not(.not_approve):not(.pending):not(.future-date) {
  .mat-calendar-body-cell-content {
   /* border-radius: 5px !important;
    border: solid 2px $greenyblue !important;*/
  }
}

::ng-deep {
  .theme-green .bs-datepicker-head {
    background-color: $blue !important;
  }
  .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color:$blue !important;
  }

  .theme-green .bs-datepicker-body table td.week span {
    color: $blue !important;
  }
}
