@import "~assets/scss/variables.scss";

::ng-deep {
  .carousel {
    width: 100%;
    &:focus {
      outline: -webkit-focus-ring-color auto 0 !important;
    }
  }
  .carousel-indicators {
    width: 70%;
    bottom: -50px;
    @include max-width-576 {
      bottom: -20px;
    }
  }
  .ModalDetailCarousel {
    .carousel-indicators {
      width: 70%;
      bottom: -50px!important;
    }
  }
  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-right: 6px;
    margin-left: 6px;
    background: transparent;
    border: 2px solid $blue;
    opacity: 1;
    &.active {
      background: $blue;
    }
  }

  .carousel-control-next,
  .carousel-control-prev,
  .right.carousel-control,
  .left.carousel-control {
    visibility: hidden;
  }

  .content-tickets{

    .left.carousel-control {
      visibility: hidden;
    }
    .carousel-control-next-icon {
      background-image: url('~assets/img/svg/carousel-right.svg')!important;
    }
    .carousel-control-next{
      justify-content: center;
      width: 8%;
      opacity: 1;
    }
  }
}
