@import "~assets/scss/variables.scss";

::ng-deep {


//RADIO
.form-check input[type="radio"] {
  display: none;
}

.form-check-common input[type="radio"] + label span {
  //background: url("~assets/img/svg/icon-check-lb.svg") left top no-repeat;
}

.form-check input[type="radio"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
  border: 1px solid #8f99aa;
  border-radius: 25px;
}

.form-check-common input[type="radio"]:checked + label span {
  background: url("~assets/img/svg/icon-check-lb.svg") center no-repeat;
  border: none;
  border-radius: 0;
}

.form-check-common input[type="radio"]:checked {
  label {
    background: red !important;
  }
}


//CHECKBOX
.form-check input[type="checkbox"] {
  display: none;
}

.form-check-common input[type="checkbox"] + label span {
  //background: url("~assets/img/svg/icon-check-lb.svg") left top no-repeat;
}

.form-check input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  text-align: left;
}

.form-check-common input[type="checkbox"]:checked + label span {
  background: url("~assets/img/svg/icon-check-lb.svg") center no-repeat;
}

.form-check-common input[type="checkbox"]:checked {
  label {
    background: red !important;
  }
}



//CHECKBOK
.form-check input[type="checkbox"] {
  display: none;
}

.form-check-green input[type="checkbox"] + label span {
  //background: url("~assets/img/svg/checkgreen2.svg") left top no-repeat;
}

.form-check-white input[type="checkbox"] + label span {
  //background: url("~assets/img/checkwhite.png") left top no-repeat;
}

.form-check input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  //   background    : url('~assets/img/checkgreen.png') left top no-repeat;
  //   border-radius: 25px;
  //   border: 1px solid $kelleygreencolor;
  cursor: pointer;
  text-align: left;
}

.form-check-green input[type="checkbox"]:checked + label span {
  background: url("~assets/img/svg/icon-check-lb.svg") center no-repeat;
}

// .form-check-white input[type="checkbox"]:checked + label span {
//     background: url("~assets/img/checkedtikwhite.png") center no-repeat;
// }

.form-check-subscription input[type="radio"] + label span {
  margin: 0 4px 0 0;
}

//CHECKBOK NEW-GROUP
.form-check-newgroup input[type="checkbox"] {
  display: none;
}

.form-check-newgroup input[type="checkbox"] + label span {
  background: url("~assets/img/svg/icon-check-white.svg") left top no-repeat;
}

.form-check-newgroup input[type="checkbox"] + label span {
  display: inline-block;
  width: 55px;
  height: 50px;
  padding: 10px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  background: url("~assets/img/svg/icon-check-white.svg") left top no-repeat;
  //   border-radius: 25px;
  //   border: 1px solid $kelleygreencolor;
  cursor: pointer;
  text-align: left;
}

.form-check-newgroup input[type="checkbox"]:checked + label span {
  background: url("~assets/img/svg/icon-check-green.svg") left top no-repeat;
}

// CHECK CONTRACT

.form-check-contract {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label span {
    background: url("~assets/img/svg/check-lightblue.svg") left top no-repeat;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin: 0 4px 0 0;
    vertical-align: middle;
    background: url("~assets/img/svg/check-lightblue.svg") left top no-repeat;
    //   border-radius: 25px;
    //   border: 1px solid $kelleygreencolor;
    cursor: pointer;
    text-align: left;
  }
  input[type="checkbox"]:checked + label span {
    background: url("~assets/img/svg/checked-lightblue.svg") left top no-repeat;
  }
}
}
