@import "~assets/scss/variables.scss";

::ng-deep {
  .cursor-pointer {
    cursor: pointer;
  }

  .container-class {
    .swal2-icon.swal2-success {
      border-color: transparent;
      color: transparent;
    }
  }

  .pagination {
    flex-wrap: wrap !important;

    .page-item.active .page-link {
      /* background-color: $lightblue;
       border-color: $lightblue;*/
      background-color: transparent;
      border-color: transparent;
      color: $lightblue;
      font-family: "Gotham-Bold", sans-serif;

      &:focus {
        outline: none;
        box-shadow: none;
        background: none;
      }
    }

    .page-link {
      color: $lightblue;
      border-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }

    .page-item.disabled .page-link {
      color: $blue;
      border-color: transparent;
    }
  }

  .line-height {
    line-height: 1.1;
  }

  .opacity-O5 {
    opacity: 0.5;
  }

  .input-reset {
    height: auto;
    padding: 0;
    border: none;
    background: transparent;
    line-height: 1;

    &:focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .btn-reset {
    box-shadow: none;
    background: transparent;
    border: none;
    outline: unset;

    &:hover,
    &:active {
      outline: unset;
    }

    &:focus {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
      outline: 0 auto -webkit-focus-ring-color;
    }
  }

  .text-title {
    font-size: 2rem;
  }

  .content-width {
    width: 100%;
    height: 100%;
    padding: 0 0 0 5px;
    // background-color: blueviolet;
    @include max-width-576 {
      padding: 10px;
    }
  }

  .arrow {
    border-bottom: 20px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    height: 0;
    width: 0;
    -moz-filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
    -o-filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
    -ms-filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.2));
    position: absolute;
    right: 212px; // 162px;
    top: 60px;
  }

  .btn-group, .btn-group-vertical {
    flex-wrap: wrap;
    @include min-width-768 {
      flex-wrap: nowrap;
    }
  }

  .text-description {
    font-size: 11px;
    height: 32px;
    overflow: hidden;

    p {
      margin-bottom: 0;
    }
  }

  .text-no-result {
    opacity: 0.3;
    font-family: "Gotham-Book", sans-serif;
    font-size: $ft-18;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: $navyblue;
  }
}
