@font-face {
  font-family: "Gotham-Black";
  src: url("~assets/fonts/Gotham-Black.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-Black.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-Black.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-Black.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-Black.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-black{
  font-family: "Gotham-Black", sans-serif;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("~assets/fonts/Gotham-Bold.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-Bold.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-Bold.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-Bold.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-bold{
  font-family: "Gotham-Bold", sans-serif;
}

@font-face {
  font-family: "Gotham-BoldItalic";
  src: url("~assets/fonts/GothamBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamBoldItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamBoldItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamBoldItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-boldItalic{
  font-family: "Gotham-BoldItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("~assets/fonts/GothamBook.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamBook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamBook.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamBook.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamBook.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamBook.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamBook.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-book{
  font-family: "Gotham-Book", sans-serif;
}

@font-face {
  font-family: "Gotham-BookItalic";
  src: url("~assets/fonts/GothamBookItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamBookItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamBookItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamBookItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamBookItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamBookItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamBookItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-bookItalic{
  font-family: "Gotham-BookItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("~assets/fonts/Gotham-Light.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-Light.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-Light.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-Light.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-Light.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-light{
  font-family: "Gotham-Light", sans-serif;
}

@font-face {
  font-family: "Gotham-LightItalic";
  src: url("~assets/fonts/GothamLightItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamLightItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamLightItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamLightItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-lightItalic{
  font-family: "Gotham-LightItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("~assets/fonts/GothamMedium.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamMedium.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamMedium.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamMedium.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-medium{
  font-family: "Gotham-Medium", sans-serif;
}

@font-face {
  font-family: "Gotham-MediumItalic";
  src: url("~assets/fonts/GothamMediumItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/GothamMediumItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/GothamMediumItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/GothamMediumItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/GothamMediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/GothamMediumItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/GothamMediumItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-mediumItalic{
  font-family: "Gotham-MediumItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-Thin";
  src: url("~assets/fonts/Gotham-Thin.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-Thin.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-Thin.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-Thin.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-thin{
  font-family: "Gotham-Thin", sans-serif;
}

@font-face {
  font-family: "Gotham-ThinItalic";
  src: url("~assets/fonts/Gotham-ThinItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-ThinItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-ThinItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-ThinItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-ThinItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-ThinItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-thinItalic{
  font-family: "Gotham-ThinItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-UltraItalic";
  src: url("~assets/fonts/Gotham-UltraItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-UltraItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-UltraItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-UltraItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-UltraItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-UltraItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-UltraItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-ultraItalic{
  font-family: "Gotham-UltraItalic", sans-serif;
}

@font-face {
  font-family: "Gotham-XLight";
  src: url("~assets/fonts/Gotham-XLight.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-XLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-XLight.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-XLight.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-XLight.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-XLight.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-XLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-xLight{
  font-family: "Gotham-XLight", sans-serif;
}

@font-face {
  font-family: "Gotham-XLightItalic";
  src: url("~assets/fonts/Gotham-XLightItalic.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/Gotham-XLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("~assets/fonts/Gotham-XLightItalic.otf") format("opentype"), /* Open Type Font */
  url("~assets/fonts/Gotham-XLightItalic.svg") format("svg"), /* Legacy iOS */
  url("~assets/fonts/Gotham-XLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
  url("~assets/fonts/Gotham-XLightItalic.woff") format("woff"), /* Modern Browsers */
  url("~assets/fonts/Gotham-XLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.gotham-xLightItalic{
  font-family: "Gotham-XLightItalic", sans-serif;
}

.ft-10 { font-size: 0.625rem; }
.ft-11 { font-size: 0.6875rem; }
.ft-12 { font-size: 0.75rem; }
.ft-13 { font-size: 0.8125rem; }
.ft-14 { font-size: 0.875rem; }
.ft-15 { font-size: 0.9375rem; }
.ft-16 { font-size: 1rem; }
.ft-17 { font-size: 1.0625rem; }
.ft-18 { font-size: 1.125rem; }
.ft-19 { font-size: 1.1875rem; }
.ft-20 { font-size: 1.25rem; }
.ft-21 { font-size: 1.3125rem; }
.ft-22 { font-size: 1.375rem; }
.ft-23 { font-size: 1.4375rem; }
.ft-24 { font-size: 1.5rem; }
.ft-25 { font-size: 1.5625rem; }
.ft-26 { font-size: 1.625rem; }
.ft-27 { font-size: 1.6875rem; }
.ft-28 { font-size: 1.75rem; }
.ft-29 { font-size: 1.8125rem; }
.ft-30 { font-size: 1.875rem; }
.ft-31 { font-size: 1.9375rem; }
.ft-32 { font-size: 2rem; }
.ft-33 { font-size: 33px; }
.ft-34 { font-size: 34px; }
.ft-35 { font-size: 35px; }

$ft-8:  0.5rem;
$ft-9:  0.5625rem;
$ft-10: 0.625rem;
$ft-11: 0.6875rem;
$ft-12: 0.75rem;
$ft-13: 0.8125rem;
$ft-14: 0.875rem;
$ft-15: 0.9375rem;
$ft-16: 1rem;
$ft-17: 1.0625rem;
$ft-18: 1.125rem;
$ft-19: 1.1875rem;
$ft-20: 1.25rem;
$ft-21: 1.3125rem;
$ft-22: 1.375rem;
$ft-23: 1.4375rem;
$ft-24: 1.5rem;
$ft-25: 1.5625rem;
$ft-26: 1.625rem;
$ft-27: 1.6875rem;
$ft-28: 1.75rem;
$ft-29: 1.8125rem;
$ft-30: 1.875rem;
$ft-31: 1.9375rem;
$ft-32: 2rem;
