::ng-deep .scrollbar-hybrid-work {
  height: 100%;
  padding-right: 15px;
  @include max-width-576 {
    height: calc(100vh - 215px);
    padding-right: 0;
  }
}
.content-hybrid-work {
  .content-left {
    .calendar-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 38px;
      }
    }

    .calendar-select {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .box-select {
        width: 210px;
        @include max-width-576 {
          width: 100%;
        }

        .ng-select-custom {
          width: 100%;
        }
      }
    }

    .calendar-wrapper {
      width: calc(230px * 2);
      position: relative;
      @include max-width-576 {
        width: 100%;
      }

      .mat-title {
        position: absolute;
        left: 30px;
        top: 34px;
        z-index: 1;
        width: 60%;
        height: 30px;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 23px;
        font-weight: 600;
        line-height: 1.43;
        text-align: left;
        color: $navyblue;
        text-transform: capitalize;
        @include max-width-576 {
          font-size: 20px;
          left: 15px;
        }
      }
    }

    .calendar-footer {
      @include max-width-576 {
        display: flex;
        justify-content: center;
        margin: 30px 0;
      }
    }

    .btn-navyblue {
      width: 350px;
      height: 56px;
      margin: auto;
      display: block;
      font-size: $ft-16;
      @include min-width-768 {
        font-size: $ft-18;
      }
    }
  }

  .content-right {
    .calendar-activities {
      padding-left: 40px;
      padding-right: 40px;
      @include max-width-576 {
        padding: 0;
      }

      .current-date {
        font-family: 'Gotham-Book', sans-serif;
        font-weight: 600;
        line-height: 0.21;
        text-align: left;
        color: $lightblue;
      }

      ::ng-deep .scrollbar-calendar {
        height: calc(100vh - 260px);
        padding-right: 15px;
        @include max-width-576 {
          height: 500px;
          padding-right: 0;
        }

        .ps .ps-content {
          padding: 2px;
        }
      }

      .results {
        .item {
          width: 100%;
          height: 111px;
          border-radius: 10px;
          box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
          background-color: $white;
          margin-bottom: 15px;

          a {
            position: relative;
            display: flex;
            width: 100%;
            padding: 16px 20px;

            &:hover {
              cursor: pointer;
            }
          }

          .item-photo {
            width: 70px;
            height: 70px;

            img {
              border-radius: 50%;
            }
          }

          .item-body {
            width: calc(100% - 80px);
            flex-direction: column;

            .item-activity {
              font-family: 'Gotham-Book', sans-serif;
              font-size: $ft-12;
              font-weight: 600;
              line-height: 1.5;
              text-align: left;
              color: $lightblue;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .item-title {
              font-family: 'Gotham-Book', sans-serif;
              font-size: $ft-16;
              font-weight: 600;
              line-height: 1.25;
              text-align: left;
              color: $blue;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .item-description {
              font-family: 'Gotham-Book', sans-serif;
              font-size: $ft-14;
              font-weight: normal;
              line-height: 1.07;
              text-align: left;
              color: $gray;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .item-footer {
              width: 100%;
              display: flex;
              align-items: center;

              img {
                width: 11px;
                height: 13px;
                margin-right: 3px;
              }

              span {
                font-family: 'Gotham-Book', sans-serif;
                font-size: $ft-14;
                font-weight: normal;
                line-height: 1.43;
                text-align: left;
                color: $navyblue;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }

      .preload {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 245px);

        .s-item {
          width: 100%;
          height: 110px;
          border-radius: 10px;
          box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
          margin-bottom: 15px;
        }
      }
    }

    .box-classic {
      .box-calendar {
        background: $white;
      }
      input {
        background: transparent;
        box-shadow: 0 3px 11px 0 rgba(11, 28, 88, 0.1);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-family: 'Gotham-Book', sans-serif;
        color: $blue;
        position: relative;
        z-index: 9;
      }

      input::placeholder {
        font-family: 'Gotham-Book', sans-serif;
        color: $gray;
        font-size: 14px;
      }

      .icon-calendar {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 0;
      }
    }

    .btn-lightblue {
      color: $lightblue;
      border: 1.5px solid $lightblue;

      &:hover {
        background: $lightblue;
        color: $white;
      }
    }

    .btn-blue {
      color: $white;
      background: $blue;
      border: 1.5px solid $blue;

      &:hover {
        background: $white;
        color: $blue;
      }
    }

    .btn-lightblue, .btn-blue {
      width: 120px;
      @include min-width-768 {
        width: 150px;
      }
      min-height: 50px;
      border-radius: 10px;
    }

    .box-delete {
      max-width: 471px;
      height: 78px;

      background: #FFFFFF;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }

    .text-question {
      max-width: 278px;
    }

    .content-center {
      min-height: auto;
      @include min-width-768 {
        min-height: 370px;
      }
    }

    .content-delete {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: auto;
      margin-bottom: 30px;
      @include min-width-768 {
        height: 600px;
        margin-bottom: 0;
      }
    }
  }
}
