input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-background-clip: text;
}

app-control-messages ::ng-deep {
   .control-message-error {
    .form-group {
      border: 1px solid #dc3545;
    }
    .form-group + .invalid-feedback{
      display: none;
    }
    ngx-recaptcha2 + .invalid-feedback {
      display: block;
    }
  }
}

::ng-deep .form-group.md-input {
  position: relative;
  height: 55px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #fff;

  .input-group-append {
    .input-group-text {
      background-color: transparent;
      border: 0;
    }
  }

  .form-control {
    font-family: 'Gotham-Book', sans-serif;
    border: 0;
    border-radius: 5px;
    color: $navyblue;
    background-color: transparent !important;
    font-size: $ft-16 !important;
    padding: 35px 25px 10px 25px;
    display: block;
    height: 55px;
    &::placeholder{
      font-weight: 100 !important;
      letter-spacing: normal;
    }
  }

  tag-input.input-tag {
    tag {
      display: none !important;
    }
    .ng2-tag-input__text-input {
      background: transparent;
      border: none;
      padding: 0 2px !important;
      height: auto !important;
      line-height: 1 !important;
      color: #002655;
      font-family: "Gotham-Book", sans-serif;
    }
    .ng2-tag-input.ng2-tag-input--focused {
      border-bottom: 0 solid transparent !important;
    }
    .ng2-tag-input {
      padding: 26px 25px 0px 25px !important;
      height: auto !important;
      border-bottom: 0 solid transparent !important;
    }
  }

  input:placeholder-shown + label {
    top: 22px;
    font-size: $ft-16 !important;
  }

  input:focus + label,
  input:not(:placeholder-shown):focus + label {
    top: 12px;
    font-size: $ft-14 !important;
  }
  .input-achie:focus + label,
  .input-achie:not(:placeholder-shown):focus + label {
    top: 12px;
    font-size: $ft-12 !important;
  }

  input[type="time"] + label,
  input[type="time"].ng-pristine:not(:placeholder-shown) + label {
    top: 12px !important;
    font-size: $ft-14 !important;
  }

  .input-time {
    &:after{
      content: url("~assets/img/svg/arrow-btm.svg");
      width: 25px !important;
      height: 25px !important;
      outline: none !important;
      position: absolute;
      z-index: 2;
      opacity: 1;
      right: 15px;
      top: 20px;
      cursor: pointer;
    }
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    width: 25px !important;
    height: 25px !important;
    outline: none !important;
    position: absolute;
    z-index: 3;
    opacity: 0;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }

  label {
    color: $lightblue;
    font-size: $ft-14;
    font-family: 'Gotham-Medium', sans-serif;
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 25px;
    line-height: 1;
    margin: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
}

// app-control-messages.recaptcha {
//   .invalid-feedback {
//     display: block;
//   }
// }

/************************************************************/
.content-new-contract {
  label {
    top: 20px;
  }
  input.ng-pristine:not(:placeholder-shown) + label {
    left: 30px;
    top: 25px;
    font-size: 0.9375rem !important;
    color: $lightblue;
    font-family: 'Gotham-Medium', sans-serif;
    opacity: 1 !important;
  }

  input:not(:placeholder-shown):focus + label {
    top: 15px;
    left: 15px;
    font-size: 0.875rem !important;
    color: $lightblue;
    font-family: 'Gotham-Medium', sans-serif;
    opacity: 1 !important;
  }

}
// .content-login {
//   .control-message-error{
//     .form-group {
//       //width: 324px;
//       height: 57px;
//       border: 1px solid #dc3545!important;
//       border-radius: 7px;
//     }
//     .invalid-feedback {
//       display: none;
//     }
//   }
//   .content-captcha {
//     .control-message-error{
//       .invalid-feedback {
//         display: block!important;
//       }
//     }
//   }
// }

// .cont-inputs {
//   .md-input {
//     input {
//       padding: 35px 10px 20px 15px;
//     }

//     input:not(:placeholder-shown) + label,
//       //input:valid ~ label,
//     input:focus + label {
//       // top: 13px;
//       // font-size: 16px !important;
//     }

//     label {
//       // top: 20px;
//     }
//   }
// }

// .content-physicaldata {
//   .form-control {
//     background: $colorf8;
//   }
//   input:not(:placeholder-shown) + label,
//     //input:valid ~ label,
//   input:focus + label {
//     top: 11px!important;
//     font-size: 15px!important;
//     span{
//       display: block!important;
//       position: absolute;
//       top: 17px;
//       left: 50px;
//       color: $blue;
//       font-family: 'Gotham-Book', sans-serif;
//     }
//   }
// }

// .content-academic, .cont-inputs-personal{
//   .md-input {
//     label{
//       font-size: 16px!important;
//     }
//   }
//   input:not(:placeholder-shown) + label,
//     //input:valid ~ label,
//   input:focus + label {
//     top: 11px!important;
//     font-size: 16px!important;
//     span{
//       display: block!important;
//       position: absolute;
//       top: 17px;
//       left: 50px;
//       color: $blue;
//       font-family: 'Gotham-Book', sans-serif;
//     }
//   }
// }
// .cont-inputs-personal{
//   .md-input {
//     input {
//       padding: 35px 10px 20px 0;
//     }
//     label{
//       left: 0;
//     }
//     input:not(:placeholder-shown) + label,
//       //input:valid ~ label,
//     input:focus + label {
//       left: 0;}
//   }
// }

// .form-name{
//   .md-input {
//     input {
//       padding: 35px 10px 20px 30px;
//       color: $blue;
//     }
//     input::placeholder {
//       color: #002655;
//     }
//     label{
//       left: 0;
//       top: 20px;
//       font-size: 17px!important;
//     }
//     input:not(:placeholder-shown) + label,
//       //input:valid ~ label,
//     input:focus + label {
//       left: 0;
//     }
//   }
//   .md-input input:not(:placeholder-shown) + label, .md-input input:focus + label {
//     top: 11px;
//     font-size: 17px !important;
//   }
//   .form-control {
//     background: #f8f8f8;
//   }
// }



