@mixin min-width-414 {
  @media (min-width: 414px) {
    @content;
  }
}

@mixin min-width-576 {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin max-width-576 {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin min-width-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin min-width-992 {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin max-width-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin min-width-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin min-width-1300 {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin min-width-1367 {
  @media (min-width: 1367px) {
    @content;
  }
}


@mixin for-min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}


// media query for IE10+
@mixin for-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

