@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";

::ng-deep {
  .modal-backdrop {
    background-color: #002655;
  }

  .modal {
    z-index: 1050;

    .modal-dialog {
      max-width: none;

      .modal-content {
        border-radius: 31px;
        margin: auto;
        border: none;

        app-spinner .app-spinner-opacity {
          height: 100%;
          min-height: 100%;
          border-radius: 31px;
        }
      }
    }
  }

  .ModalEditSchedule {
    .modal-content {
      width: 503px;
      height: 414px;
      border-radius: 31px;
      overflow: hidden;
      zoom: 0.9;
      @include max-width-576 {
        height: 100%;
        width: 95%;
        margin: auto;
      }

      app-spinner .app-spinner-opacity {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  .ModalDeleteComment {
    .modal-content {
      width: 503px;
      @include min-width-768 {
        height: 253px;
      }
      overflow: hidden;
    }
  }

  .ModalSos {
    .modal-content {
      width: 503px;
      @include min-width-768 {
        min-height: 253px;
      }
      overflow: hidden;
    }
  }


  .ModalHappyBirthday {
    .modal-content {
      zoom: 0.98;
      width: 508px;
      @include min-width-768 {
        height: 581px;
      }
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  }

  .ModalMeeting {
    .modal-content {
      width: 406px;
      height: 538px;
      overflow: hidden;
      display: flex;
      justify-content: left;
    }
  }

  .ModalSchedule {
    .modal-content {
      zoom: 0.98;
      width: 944px !important;
      min-height: 516px;
      overflow: visible;
      display: flex;
      justify-content: left;
    }
  }

  .VtDeleteRequests {
    .modal-content {
      width: 498px;
      @include min-width-768 {
      }
      height: 227px;
    }
  }


  .ModalQr {
    .modal-content {
      width: 508px;
      @include min-width-768 {
        min-height: 500px;
      }
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  }

  .ModalLeaveGroup, .ModalDeleteGroup, .ModalDeleteChat {
    .modal-content {
      width: 503px;
      border-radius: 31px;
      overflow: hidden;
      zoom: 0.9;
      @include max-width-576 {
        height: 100%;
        width: 95%;
        margin: auto;
      }

      app-spinner .app-spinner-opacity {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  .ModalNewGroup {
    .modal-content {
      width: 423px;
      border-radius: 44px;
      overflow: hidden;
      zoom: 0.9;
      @include max-width-576 {
        height: 100%;
        width: 95%;
        margin: auto;
      }

      app-spinner .app-spinner-opacity {
        height: 100%;
        min-height: 100%;
      }
    }
  }

  .ModalEditGroup {
    width: 785px;
    height: 646px;
    overflow: hidden;
    border-radius: 31px;
    @include max-width-576 {
      height: 100%;
      width: 95%;
      margin: auto;
    }
  }

  .ModalSharedFiles {
    @include min-width-768 {
      max-width: 475px;
      width: 475px;
      margin: auto;
      height: 530px;
    }

    .modal-content {
      width: 475px;
      border-radius: 31px;
      @include min-width-768 {
        height: 530px;
      }
    }
  }

  .ModalDeleteContract {
    @include min-width-768 {
      max-width: 503px;
      width: 503px;
      margin: auto;
      height: 100%;
      min-height: 339px;
    }

    .modal-content {
      border-radius: 31px;
      @include min-width-768 {
        width: 503px;
      }
      @include min-width-768 {
        min-height: 339px;
      }
    }
  }

  .ModalPreview {
    .modal-content {
      width: 615px; //530px;
      min-height: 100%; // 700px;
      overflow: hidden;
      display: flex;
    }
  }

  .ModalPersonGroup {
    .modal-content {
      width: 650px;
      min-height: 400px;
      overflow: hidden;
      display: flex;
    }
  }

  .ModalDefaultImages {
    .modal-content {
      width: 844px;
      min-height: 480px;
      overflow: hidden;
      display: flex;
    }
  }
}
