@import "~assets/scss/variables.scss";

::ng-deep {
  app-control-messages {
    .control-message-error {
      .ng-select-search {
        border: 1px solid #dc3545 !important;
        border-radius: 4px !important;
      }

      .box-select {
        border: 1px solid #dc3545 !important;

        .form-group {
          border: transparent !important;
        }
      }
    }
  }

  .box-select {
    border-radius: 8px;
    border: 1px solid transparent;
    align-items: center;

    &.box-select-border {
      border: 1px solid #3bb1b8;
    }

    &.box-select-gray {
      background-color: #f8f8f8 !important;
      border: 1px solid transparent !important;

      .form-group {
        background: transparent !important;
      }
    }

    &.box-select-textarea {
      border-radius: 7px;
      border: solid 1.5px #d6d6d6;

      .form-group {
        min-height: 145px;

        .form-control {
          height: auto;
          margin-top: 25px;
          padding-top: 0;
        }
      }
    }

    &.box-select-dropdown {
      background-color: #fff;
      height: 55px;
      border-radius: 7px;
      border: 1px solid $lightblue;
      display: block;
      justify-content: center;
      padding: 28px 10px 8px 25px;

      &.multiple {
        min-height: 55px;
        height: auto;
        padding-bottom: 5px;
      }

      .ng-select {
        &.ng-select-with-option,
        &.ng-select-searchable {
          .ng-select-container {
            position: unset;
          }

          .ng-arrow-wrapper {
            position: absolute;
            z-index: 2;
            right: 0;
            top: -8px;

            .ng-arrow {
              opacity: 0;
            }

            &:after {
              content: url("~assets/img/svg/arrow-btm.svg");
              width: 25px !important;
              height: 25px !important;
              outline: none !important;
              position: absolute;
              z-index: 2;
              opacity: 1;
              right: 8px;
              top: 0;
              cursor: pointer;
            }
          }
        }

        &.ng-select-searchable.ng-select-opened {
          .ng-select-container .ng-value-container .ng-input {
            display: block !important;
          }
        }

        text-transform: lowercase;

        .ng-select-container {
          .ng-value-container {
            margin: 0;
            height: 17px;
            padding: 0;

            .ng-value {
              margin: 0;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              height: 17px;
            }

            .ng-placeholder {
              top: 0;
              padding: 0;
            }

            .ng-input {
              padding: 0 !important;
            }
          }
        }

        &.ng-select-multiple {
          .ng-select-container {
            .ng-value-container {
              height: auto;

              .ng-value {
                margin: 0;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                height: auto;
                min-height: 17px;
                display: flex;
                align-items: center;
                width: 100%;
                border: none;
              }

              .ng-value ~ .ng-value {
                margin-top: 5px;
              }

              .ng-input {
                display: none;
              }
            }
          }
        }
      }

      .ng-select .ng-arrow-wrapper {
        height: 20px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
      }

      .text-type {
        font-size: $ft-14;
        position: absolute;
        pointer-events: none;
        top: 12px;
        left: 25px;
        line-height: 1;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
    }

    &.box-select-form {
      background-color: #fff;
    }

    &.box-select-shadow {
      box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
    }

    &.box-select-normal {
      .custom-ng-select.ng-select .ng-select-container {
        height: auto !important;
        align-items: baseline;
        min-height: 17px;
      }
    }

    .form-group {
      border: transparent !important;
      width: 100%;

      .form-control {
        height: 55px;
        outline: none;

        &:focus {
          outline: none;
          border-color: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }

      &.form-file {
        position: relative;
        background-color: #fff;
        display: flex;
        border: none;
        outline: none;

        input {
          z-index: 2;
          position: absolute;
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter: "alpha(opacity=0)";
          cursor: pointer;
          _cursor: hand;
          padding: 0;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }

        label {
          width: 250px;

          &.color-blue-opacity {
            opacity: 0.5;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.25;
            color: $navyblue;
            top: 22px
          }
        }
      }
    }

    .cont-config {
      width: 55px;

      .input-group-append {
        .input-group-text {
          border: none;
          background-color: transparent;
        }
      }

      .custom-ng-select {
        &.ng-select .ng-select-container {
          border-radius: 8px;
          height: 55px;
          width: 55px;
          font-size: 16px;
          font-weight: bold;
          border: none;
          cursor: pointer;
        }

        &.multi.ng-select .ng-select-container {
          min-height: 45px;
          height: auto;
        }

        &.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
          border-color: transparent transparent $lightblue;
          border-width: 0 6px 9px;
        }

        &.ng-select .ng-arrow-wrapper .ng-arrow {
          border-color: $lightblue transparent transparent;
          border-width: 9px 6px 0;
        }

        &.tipo-estudio {
          font-size: 0.9rem;

          &.ng-select.ng-select-single .ng-select-container {
            height: 38px;

            &.ng-has-value {
              height: 55px;
            }

            .ng-value {
              width: 100%;
            }
          }
        }

        .ng-select .ng-select-container .ng-value-container .ng-input > input {
          padding: 0 !important;
        }

        &.filter {
          &.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
            border-width: 0 5px 5px;
          }

          &.ng-select .ng-arrow-wrapper .ng-arrow {
            border-width: 5px 5px 0.5px;
          }
        }
      }

      .ng-select .ng-select-container {
        max-width: 60px;
        background-color: transparent;
        border: 1px solid transparent;
        box-shadow: none;
      }

      .ng-dropdown-panel {
        left: auto;
        right: 0;
      }

      .ng-dropdown-panel.ng-select-bottom {
        background-color: saddlebrown;
        text-align: center;
        width: 146px;
        box-shadow: 0 3px 10px 0 rgba(8, 26, 52, 0.2);
        background-color: $white;
        border: none;
        border-radius: 5px;
        font-family: "Gotham-Book", sans-serif;
        font-weight: 100;
        overflow: hidden;
      }

      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
        color: #333;
        background-color: rgba(0, 38, 85, 0.1);
      }

      .ng-option-marked {
        background-color: rgba(0, 38, 85, 0.1) !important;
      }

      .ng-option-label {
        font-weight: 100 !important;
      }
    }
  }


  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: transparent;
    box-shadow: none;
  }

  .ng-select {
    &.select-classic {
      box-shadow: 0 3px 11px 0 rgba(11, 28, 88, 0.1);
      border-radius: 8px;
      width: 100%;
      /*@include min-width-992 {
        max-width: 299px;
      }*/

      &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        box-shadow: none !important;
      }

      /*.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
      .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
        background-color: rgb(228 10 23 / 10%);
        color: $red !important;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
      }*/

      .ng-select-container {
        border-radius: 8px;
        border: none;
        height: 50px;

        &:hover {
          box-shadow: none;
        }

        .ng-value {
          line-height: 1;
        }

        &.ng-has-value {
          padding-top: 5px;

          .ng-value-container {
            .ng-placeholder {
              color: $black;
              font-family: 'Gotham-Medium', sans-serif;
              font-size: 14px;
            }
          }
        }

        .ng-value-container {
          .ng-placeholder {
            font-family: 'Gotham-Book', sans-serif;
            color: $gray;
            line-height: 1;
          }

          .ng-value-label {
            color: $blue;
            font-family: 'Gotham-Book', sans-serif;
            font-size: $ft-15;
          }
        }
      }

      /*.ng-has-value .ng-placeholder {
        display: block !important;
        transition: 0.5s ease;
      }*/

      &.ng-select-opened {
        .ng-dropdown-panel {
          border-top: 1px solid rgb(179 179 186 / 30%);
        }
      }

      .ng-dropdown-panel {
        border: none;
      }

      .ng-dropdown-panel.ng-select-bottom, .ng-dropdown-panel.ng-select-top {
        .ng-dropdown-panel-items {
          min-height: 100% !important;
          max-height: 100% !important;
          box-shadow: 0 3px 11px 0 rgba(11, 28, 88, 0.1);

          .ng-option-marked {
            font-family: 'Gotham-Medium', sans-serif;
          }

          .ng-option {
            font-family: 'Gotham-Book', sans-serif;
            color: $blue;
            font-size: 16px;
            margin-left: 10px;
            margin-right: 10px;

            .ng-option-label {
              font-weight: normal;
            }

            /* &.ng-option-marked {
               background-color: rgb(196 151 40 / 20%);
               color: #a77819 !important;
               margin-right: 10px;
               margin-left: 10px;
               border-radius: 10px;
             }

             &.ng-option-selected {
               background-color: rgb(228 10 23 / 10%);
               color: $red !important;
               margin-right: 10px;
               margin-left: 10px;
               border-radius: 10px;
             }*/
          }
        }
      }

      &.ng-select-single .ng-select-container .ng-value-container,
      &.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block !important;
      }
    }
    &.select-classic-border {
      .ng-dropdown-panel {
        border: 2px solid $lightblue;
      }
      &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
        border-color: $lightblue;
        box-shadow: none;
      }
      .ng-select-container {
        border-radius: 8px;
        border: solid 2px $lightblue;
        height: 55px;

        &.ng-has-value {
          padding-top: 5px;
          .ng-value-container, .ng-value {
            padding-top: 8px;
          }
          .ng-value-container {
            padding-top: 7px;
            .ng-placeholder {
              color: $blue;
              font-family: 'Gotham-Book', sans-serif;
              font-size: 14px;
              display: none !important;
              transition: 0.5s ease;
            }
          }

          .item-amount {
            position: absolute;
            right: 40px;
            top: 20px;
          }
        }

        .ng-value-container {
          .ng-placeholder {
            color: $blue;
            font-family: 'Gotham-Book', sans-serif;
            font-size: $ft-15;
            line-height: 1;
          }

          .ng-value-label {
            color: $blue;
            font-size: $ft-15;
            font-family: 'Gotham-Book', sans-serif;
          }
        }

        .ng-value-container, .ng-value {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block !important;
          line-height: 1;
          padding-top: 22px;
        }
      }

      .ng-dropdown-panel {
        &.ng-select-bottom, &.ng-select-top {
          z-index: 99999;
          .ng-dropdown-panel-items {
            .ng-option, .ng-option-marked {
              margin-right: 10px;
              margin-left: 10px;
              border-radius: 10px;
              font-size: $ft-16;
            }

            .ng-option-marked {
              background-color: transparent;
              font-family: 'Gotham-Bold', sans-serif;
              color: $blue !important;
            }

            .ng-option-selected {
              background-color: transparent;
              font-family: 'Gotham-Bold', sans-serif;
              color: $blue !important;
            }

            .ng-option {
              font-family: 'Gotham-Book', sans-serif;
              color: $blue;

              .ng-option-label {
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    &.select-classic-border-modal {
      .ng-select-container {
        &.ng-has-value {
          .ng-value-container {display: inline-flex!important;}
          .ng-value-container .ng-value {
            display: inline-flex!important;
          }
        }
        .ng-value-container {
          display: inline-flex!important;
          .ng-input{
            input {
              color: $blue;
              font-family: "Gotham-Book", sans-serif;
            }
          }
        }
      }


      .ng-dropdown-panel {
        &.ng-select-bottom, &.ng-select-top {
          z-index: 99999;
          .ng-dropdown-panel-items {
            .ng-option, .ng-option-marked {
              margin-right: 0;
              margin-left: 0;
              border-radius: 10px;
              font-size: $ft-16;
            }

            .ng-option-selected {
              background-color: #ebf5ff;
              margin-right: 0;
              margin-left: 0;
              border-radius: 0!important;
            }
          }
        }
      }
    }
  }


  .box-select-privacy {
    .custom-ng-select.ng-select .ng-select-container {
      border-radius: 15px;
      min-height: 32px;
      //min-height: auto;
      //border: 1px solid;
    }
  }

  .ng-select-academic.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    // top: 25px;
    // padding-bottom: 5px;
    // padding-left: 9px;
  }

  .ng-select-academic {
    line-height: 1;

    span.ng-option-label {
      text-transform: capitalize;
    }

    .ng-select.ng-select-single .ng-select-container .ng-value-container {
      margin: 0;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      height: 17px;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      word-break: break-word;
      white-space: break-spaces;
    }

    .ng-select-container {
      background: transparent !important;
      border: none;

      &:hover {
        box-shadow: none;
      }

      .ng-value-container .ng-placeholder {
        color: $blue;
        font-weight: 100;
        font-family: "Gotham-Book", sans-serif;
        font-size: 17px;
        padding-left: 0;
      }

      .ng-value-container {
        margin-top: 20px;
        padding: 0;
      }
    }

    .ng-dropdown-panel {
      left: -2px;
    }

    .ng-select.ng-select-opened > .ng-select-container {
      background: transparent;
      border-color: transparent;
    }

    .ng-dropdown-panel {
      .ng-dropdown-panel-items {
        .ng-option {
          padding: 8px 15px;
          font-family: "Gotham-Book", sans-serif;
        }

        .ng-option.ng-option-marked, .ng-option.ng-option-selected {
          background-color: #d6eff1;
        }
      }
    }

    .ng-dropdown-panel.ng-select-bottom {
      margin-top: -2px;
      border: 1px solid #35b1b8;
      border-radius: 8px;
      border-top: 0;
      width: calc(100% + 35px);
      left: -25px;
      right: -10px;
      padding-bottom: 5px;
    }

    .ng-input {
      padding-left: 15px !important;
      top: 0 !important;

      input, input::placeholder {
        font-family: "Gotham-Book", sans-serif;
      }
    }

    .ng-value {
      background: transparent !important;
      font-family: "Gotham-Book", sans-serif;

      .ng-value-label {
        font-family: "Gotham-Book", sans-serif;
        font-size: 17px;
        color: $blue;
        font-weight: 100;
        white-space: pre-wrap;
        word-break: break-word;
        text-transform: capitalize;
      }
    }

  }

  // .ng-select-academic,
  // .ng-select-ubigeo {
  //   .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  //     //max-width: 170px;
  //     word-break: break-word;
  //     white-space: break-spaces;
  //   }

  //   .ng-select-container .ng-value-container .ng-input {
  //     top: 25px !important;
  //   }

  //   .ng-dropdown-panel.ng-select-bottom {
  //     top: 100%;
  //     border-bottom-right-radius: 4px;
  //     border-bottom-left-radius: 4px;
  //     border-top-color: $lightblue;
  //     margin-top: -4px;
  //     border: 3px solid $lightblue;
  //     border-top: 0;
  //     min-width: 101.5%;
  //     width: 101.5%;
  //     border-right: 2px solid $lightblue;
  //     border-left: 2px solid $lightblue;
  //   }

  //   .ng-value-container .ng-input > input {
  //     cursor: pointer !important;
  //   }
  // }

  .ng-select-disabled {
    border-color: #f8f8f8;
    overflow: hidden;
    border-radius: 15px !important;
    /*.ng-select-container {
      background: #f8f8f8!important;
      width: 184px!important;
      margin:auto;
    }*/
  }

  .ng-select-tickets {
    .ng-select-container {
      .ng-value-container .ng-placeholder {
        font-size: 15px;
      }
    }

    .ng-dropdown-panel.ng-select-bottom {
      min-width: 135px !important;
    }
  }

  .content-tickets {
    .box-select-width2 {
      .ng-select-tickets {
        .ng-dropdown-panel.ng-select-bottom {
          min-width: 140px !important;
        }
      }
    }
  }

  .ng-select-community {
    line-height: 1;
    //margin-top: -1px;
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      //max-width: 170px;
      word-break: break-word;
      white-space: break-spaces;
    }

    .ng-select-container {
      background: transparent !important;
      border: none;

      &:hover {
        box-shadow: none;
      }

      .ng-value-container .ng-placeholder {
        color: $blue;
        font-weight: 100;
        font-family: "Gotham-Book", sans-serif;
        font-size: 17px;
        padding-left: 6px;
        //margin-top: 20px;
      }

      .ng-value-container {
        margin-top: 20px;
      }
    }

    .ng-dropdown-panel {
      left: -2px;
    }

    .ng-select.ng-select-opened > .ng-select-container {
      background: transparent;
      border-color: transparent;
    }

    .ng-dropdown-panel {
      .ng-dropdown-panel-items {
        .ng-option {
          padding: 8px 15px;
          font-family: "Gotham-Book", sans-serif;
        }

        .ng-option.ng-option-marked, .ng-option.ng-option-selected {
          background-color: #d6eff1;
        }
      }
    }

    .ng-dropdown-panel.ng-select-bottom {
      top: 100%;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-color: $lightblue;
      //margin-top: -5px;
      margin-top: -4px;
      border: 3px solid $lightblue;
      border-top: 0;
      //width: 100%;
      width: 325px;

      @include min-width-414 {
        width: 101%;
      }
      @include min-width-768 {
        width: auto;
        min-width: 203.1px;
      }
      border-right: 2px solid $lightblue;
      border-left: 2px solid $lightblue;
    }

    .ng-input {
      padding-left: 15px !important;
      top: 0 !important;

      input, input::placeholder {
        font-family: "Gotham-Book", sans-serif;
      }
    }

    .ng-value {
      background: transparent !important;
      font-family: "Gotham-Book", sans-serif;

      .ng-value-label {
        font-family: "Gotham-Book", sans-serif;
        font-size: 17px;
        color: $blue;
        font-weight: 100;
        padding-left: 7px;
        white-space: pre-wrap;
        word-break: break-all;
      }
    }

  }

  .ng-select-community2 {
    .ng-dropdown-panel.ng-select-bottom {
      top: 100%;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-color: $lightblue;
      //margin-top: -5px;
      margin-top: -4px;
      border: 3px solid $lightblue;
      border-top: 0;
      //width: 100%;
      width: 325px;

      @include min-width-414 {
        width: 101%;
      }
      @include min-width-768 {
        width: auto;
        min-width: 235.1px;
      }
      border-right: 2px solid $lightblue;
      border-left: 2px solid $lightblue;
    }

  }

  /*.ng-select-custom {
    !*width: 322.1px;
    height: 51.8px;
    border-radius: 7px;
    border: 0 solid #35b1b8;*!

    .ng-select-container {
      width: 322.1px !important;
      height: 51.8px !important;
      border-radius: 7px;
      border: 2px solid #35b1b8;
    }
  }*/

  .ng-select-custom {
    width: 322.1px;
    height: 51.8px;
    @include min-width-414 {
      width: 322.1px;
      height: 51.8px;
    }
    border-radius: 7px;
    border: solid 2px #35b1b8;
    // background-color: #ffffff;

    .ng-select-container {
      border: 1px solid transparent !important;
      overflow: auto !important;
      position: initial !important;
      padding-top: 0;
      min-height: 48px;

      &:hover {
        box-shadow: none;
      }

      .ng-value {
        font-family: "Gotham-Book", sans-serif;
        padding-top: 1rem;
      }

      .ng-value-container .ng-placeholder {
        color: $lightblue;
        background: #fff;
        padding: 0 1px;
        font-size: 1rem;
        font-family: "Gotham-Medium", sans-serif;
      }
    }

    .ng-dropdown-panel-items {
      // border-top: 1px solid #e1e9f0 !important;
      padding: 0 !important;
      width: 100%;
      margin: auto;
    }

    .ng-dropdown-panel {
      width: 101.3% !important;
      border: 2px solid $lightblue !important;
      left: -2px;
      border-top: 0 !important;
      top: 46px;

      @include min-width-992 {
        font-size: 1rem;
      }

      .ng-option {
        font-family: "Gotham-Book", sans-serif;
      }

      .ng-dropdown-panel-items .ng-option {
        padding-left: 12px !important;
      }
    }

    .ng-select.ng-select-opened > .ng-select-container .ng-arrow, .ng-arrow-wrapper .ng-arrow {
      background: url("~assets/img/svg/arrow-btm.svg") center no-repeat;
      width: 17px !important;
      height: 11px !important;
      background-size: cover;
      border-color: transparent !important;
      border-width: 0 !important;
    }

    .ng-select div, .ng-select input, .ng-select span {
      font-size: 1rem;
    }

    .ng-has-value .ng-placeholder {
      font-size: 15px !important;
      display: block !important;
      position: absolute;
      top: 2px;
      color: $lightblue !important;
      z-index: 9 !important;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .ng-select-focused:not(.ng-select-opened) > .ng-select-container {
      border-color: transparent;
      box-shadow: none;
    }
  }

}
