@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";

::ng-deep perfect-scrollbar {
  overflow-y: hidden;
  @include max-width-576 {
    overflow-y: hidden;
  }

  > .ps.ps--active-y > .ps__rail-y,
  > .ps.ps--active-x > .ps__rail-x {
    visibility: hidden;
  }

  > .ps.ps--active-y > .ps__rail-y:hover,
  > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 10px;
    border-radius: 0 25px 25px 0 !important;
    right: 0 !important;
  }

  > .ps.ps--active-x > .ps__rail-x:hover,
  > .ps.ps--active-x > .ps__rail-x.ps--clicking {
    border-radius: 0 25px 25px 0 !important;
  }

  &:hover > .ps.ps--active-y > .ps__rail-y,
  &:hover > .ps.ps--active-x > .ps__rail-x {
    visibility: visible;
    @include max-width-576 {
      visibility: hidden;
    }
  }

  > .ps .ps-content {
    padding-top: 10px;
    padding-bottom: 10px;
    @include max-width-576 {

    }
  }

  .ps__rail-y,
  .ps__rail-x {
    opacity: 1 !important;
  }

  .ps__thumb-y {
    background-color: $lightblue !important;
    right: 0 !important;
  }

  .ps__thumb-x {
    background-color: $lightblue !important;
  }

  .ps.ps--active-y > .ps__rail-y {
    width: 6px !important;
  }

  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: $lightblue !important;
    width: 5px;
  }

  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    background-color: transparent;
    opacity: 0.9;
  }

  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    width: 6px !important;
  }

  > .ps.ps--active-y > .ps__rail-y,
  > .ps.ps--active-x > .ps__rail-x {
    background: rgba(53, 177, 184, 0.4) !important;
  }

  .ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top,
  .ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
    opacity: 0 !important;
  }
}

::ng-deep {
  .scrollbar-content {
    height: calc(100vh - 130px);
    // background-color: rgb(253, 239, 239);
    @include max-width-576 {
      height: calc(100vh - 100px);
    }
  }

  .scrollbar-sidebar {
    height: 100%;
    overflow: hidden !important;

    > .ps.ps--active-y > .ps__rail-y,
    > .ps.ps--active-x > .ps__rail-x {
      visibility: hidden !important;
    }
  }

  .scrollbar-special {
    max-width: 100%;
    max-height: 100%;
    padding-right: 0;
    @include min-width-576 {
      padding-right: 0;
    }
    @include min-width-768 {
      max-height: calc(100vh);
      padding-right: 15px;
    }
  }

  .scrollbar-chat-sidebar {
    height: 100%;
    padding-right: 0;
    height: calc(100vh - 270px);
  }

  .scrollbar-chat {
    height: 100%;
    padding-right: 60px;
    height: calc(100vh - 290px);
    @include max-width-576 {
      padding-right: 0;
    }

    > .ps .ps-content {
      display: flex;
      flex-direction: column;
    }
  }

  .scrollbar-new-group {
    height: 100%;
    padding-right: 30px;
    height: 220px;
  }

  .scrollbar-files {
    height: calc(100vh - 350px);
    // height: calc(100vh - 620px);
    padding-right: 20px;

    .ps-content {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &.show-info {
      .ps-content {
        @include max-width-576 {
          display: inline-flex;
          flex-wrap: unset;
        }
      }
    }
  }

  .scrollbar-chat-box {
    height: 100%;
    padding-right: 10px;
  }

  .scrollbar-tab {
    height: 100%;
    padding-right: 20px;

    > .ps .ps-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .scrollbar-editdate {
    height: 260px;
    padding: 0;

    > .ps .ps-content {
      padding: 10px 2px;
    }
  }


  /*****************************/
  .scrollbar-special-sidebar {
    width: 100%;
    //min-height: 100vh;
    height: calc(100vh - 110px);
    padding-right: 15px;
    @include min-width-576 {
      padding-right: 0;
    }
    // max-height: 445px;
  }


  .scrollbar-tab-community {
    height: 100%;
    padding-right: 0;
    display: initial !important;
    @include min-width-768 {
      display: block !important;
      overflow-y: hidden;
    }

    .ps {
      overflow: initial !important;
      overflow-anchor: initial !important;
      -ms-overflow-style: initial !important;
      touch-action: initial !important;
      -ms-touch-action: initial !important;
      @include min-width-768 {
        overflow: hidden !important;
        overflow-anchor: none !important;
        -ms-overflow-style: none !important;
        touch-action: auto !important;
        -ms-touch-action: auto !important;
      }
    }

    @include min-width-992 {
      //height:calc(100vh - 230px);
      height: calc(100vh - 260px);
    }
    @include min-width-1200 {
      //height:calc(100vh - 230px);
      // height: calc(100vh - 200px);
      height: calc(100vh - 290px);
    }
    @include min-width-1367 {
      //height:calc(100vh - 230px);
      height: calc(100vh - 290px);
    }

    .ps-content {
      zoom: 0.9;
    }
  }

  .scrollbar-notifications {
    //height: calc(100vh - 145px);
    //height: calc(100vh - 131px);
    height: 100%;
    padding-right: 0;
    @include min-width-768 {
      height: calc(100vh - 190px);
      padding-right: 30px;
    }
    @include min-width-992 {
      height: calc(100vh - 230px);
      padding-right: 30px;
    }
  }


  .scrollbar-personal-data {
    height: 100%;
    max-height: 100%;
    padding-right: 0;
    @include min-width-768 {
      height: calc(100vh - 245px);
    }
  }

  .scrollbar-news,
  .scrollbar-benefits {
    height: 100%;
    padding-right: 0;
  }

  .scrollbar-members {
    height: 100%;
    padding-right: 0;
    max-height: calc(100vh - 350px);
    //height: calc(100vh - 590px);

    .ps-content {
      .content-file {
        display: inline-block;
      }

      .content-file:nth-child(n+1) {
        margin-right: 7px;
      }
    }
  }

  .scrollbar-challenge-videos {
    padding-right: 0;
    height: calc(100vh - 200px); //260px

    .ps-content {
      @include min-width-992 {
        padding-top: 0 !important;
        //padding-bottom: 0!important;
        padding-right: 25px;
        padding-left: 0;
      }
    }
  }
  .scrollbar-challenge-choose {
    padding-right: 0;
    height: calc(100vh - 300px);

    .ps-content {
      @include min-width-992 {
        padding-top: 0 !important;
        //padding-bottom: 0!important;
        padding-right: 25px;
        padding-left: 10px;
      }
    }
  }
  .scrollbar-challenges {
    padding-right: 0;
    height: calc(100vh - 100px); // 200px

    .ps-content {
      @include min-width-992 {
        padding-top: 0 !important;
        //padding-bottom: 0!important;
        padding-right: 25px;
        padding-left: 10px;
      }
    }
  }

  .scrollbar-challenge {
    padding-right: 0;
    height: calc(100vh - 280px);

    &.scrollbar-challenge2 {
      height: 100%;
    }

    .ps-content {
      @include min-width-992 {
        padding-top: 0 !important;
        //padding-bottom: 0!important;
        padding-right: 25px;
        padding-left: 10px;
      }
    }
  }
  .scrollbar-challenge-knowledge {
    padding-right: 0;
    height: calc(100vh - 200px);

    &.scrollbar-challenge2 {
      height: 100%;
    }

    .ps-content {
      @include min-width-992 {
        padding-top: 0 !important;
        //padding-bottom: 0!important;
        padding-right: 25px;
        padding-left: 10px;
      }
    }
  }
}
