::ng-deep {
  .scrollbar-recognition-system {
    height: 100%;
    padding-right: 15px;
    @include max-width-576 {
      height: calc(100vh - 215px);
      padding-right: 0;
    }

    typeahead-container {
      z-index: 1040 !important;
    }
  }

  app-control-messages {
    .control-message-error .form-group {
      border: 1px solid transparent !important;

      input, textarea, .ng-select.select-classic-border .ng-select-container {
        border-color: #dc3545;
      }
    }

    .control-message-error .box-new-recog {
      border-color: #dc3545 !important;
    }
  }
}

.overlay {
  background: transparent;
  width: 100%;
  height: 55px;
  position: absolute;
  top: 0;
  z-index: 1035;
}

.scrollbar-type {
  height: calc(100vh - 215px);
  @include min-width-768 {
  height: 100%;
  }
  padding-right: 15px;

  @include min-width-576 {
    height: calc(100vh - 190px);
    padding-right: 0;
  }
}

.scrollbar-bazar {
  height: 100%;
  padding-right: 15px;

  @include min-width-576 {
    height: calc(100vh - 215px);
    padding-right: 0;
  }
}

.description {
  max-width: 721px;
  font-size: $ft-15;
  @include min-width-768 {
    font-size: $ft-18;
  }
}

.box-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  max-width: 665px;

  .item {
    width: 98%;
    @include min-width-768 {
      width: 326px;
    }
    height: 115px;

    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &:hover {
      cursor: pointer;
    }

    h5 {
      font-size: $ft-13;
      @include min-width-768 {
        font-size: $ft-16;
      }
    }
  }
}

.detail-heading {
  .icon-back {
    font-size: $ft-24;
  }

  .detail-title {
    margin-left: 5px;

    .detail-date {
      gap: 20px;
    }
  }
}

.content-send {
  ::ng-deep {
    .nav-tabs {
      border-bottom: none;

      .nav-item {
        &:first-child {
          margin-right: 20px;
        }

        .nav-link {
          border: none;
          font-family: 'Gotham-Medium', sans-serif;
          color: #B3BECD;
          padding: .1rem 0;
          font-size: $ft-22;

          &.active {
            border-bottom: 2px solid $lightblue;
            color: $blue;
          }
        }
      }
    }
  }

  .box-new-recog {
    min-width: 100%;
    min-height: 53px;
    @include min-width-768 {
      min-width: 350px;
      min-height: 53px;
    }
    left: 239px;

    background: #FFFFFF;
    border: 2px solid $lightblue;
    border-radius: 8px;
  }

  .form-control {
    border-radius: 8px;
  }

  .text-type {
    position: absolute;
    z-index: 1035;
    top: 6px;
    left: 10px;
  }

  .text-underline {
    text-decoration: underline;
  }

  .btn-lightblue {
    color: $lightblue;
    width: 100%;
    @include min-width-768 {
      width: 180px;
    }
    height: 56px;
    border: 2px solid $lightblue;
    border-radius: 10px;

    &:hover {
      color: $white;
      background: $lightblue;
    }

  }

  .btn-blue {
    color: $white;
    width: 100%;
    @include min-width-768 {
      width: 180px;
    }
    height: 56px;
    border: 2px solid $blue;
    border-radius: 10px;
    background: $blue;

    &:hover {
      background: $white;
      color: $blue;

    }

  }
}


.content-gift {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 15px;
  @include min-width-992 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 10px;
  }


  .btn-blue {
    min-width: 300px;
    min-height: 56px;

    color: $white;
    background: $blue;
    border-radius: 10px;

    &:hover {
      color: $blue;
      border: 1px solid $blue;
      background: $white;
    }
  }
}

.btn-lightblue {
  width: 148px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  border: 2px solid $lightblue;
  border-radius: 8px;
  color: $lightblue;
}

.box-gift {
  &.box-gift1 {
    width: 340px;
    min-height: 430px;
    padding: 20px;
  }

  &.box-gift2 {
    max-width: 670px;
    min-height: 168px;
    padding: 17px;
    display: flex;
  }

  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  .image {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    &.image1 {
      width: 300px;
      height: 200px;
    }

    &.image2 {
      width: 200px;
      height: 133px;
    }

    background: #F0F0F0;
  }
}

.box-summary {
  max-width: 340px;
  min-height: 356px;

  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 10px;

  .btn-blue {
    min-width: 300px;
    min-height: 56px;

    color: $white;
    background: #002655;
    border-radius: 10px;
  }
}

.content-filer {
  width: 100%;
  justify-content: flex-start;
  gap: 36px;
  @include max-width-576 {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
  }

  .loading-file {
    min-width: 100%;
    min-height: 53px;

    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px 15px;
  }

  .dropdown-menu {
    width: 100%;
    min-width: 100%;
    padding: 0;
    box-shadow: 2px 2px 8px rgb(5 7 13 / 30%);
    border-radius: 10px;
    border: none;
    margin: 0.5rem 0 0;

    .dropdown-item {
      padding: 0.55rem 1.5rem;
    }

    .dropdown-item:focus, .dropdown-item:hover {
      background-color: #eff9f9;
    }
  }

  .upload-file {
    min-width: 100%;
    min-height: 53px;
    background: #FFFFFF;
    border: 2px solid #35b1b8;
    border-radius: 8px;
    text-align: center;
    color: #35b1b8;

    &:focus {
      box-shadow: none;
    }
  }

  .upload-filer {
    @include max-width-576 {
      width: 100%;
      clear: both;
      margin-top: 15px;
      button {
        width: 100% !important;
      }
    }

    button {
      width: 225.2px;
      height: 50.8px;
      border-radius: 10px;
      box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
      background-color: #fff;
      display: flex;
      gap: 10px;
      border: none;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }

    .upload-file {
      border: solid 1.5px #35b1b8;
      font-size: 14px;
      font-weight: 500;
      line-height: 0.94;
      text-align: center;
      color: #35b1b8;
      margin: auto;
      overflow: hidden;
      position: relative;
      border: 1px solid #ced4da;
      background-color: #fff;
      display: flex;
      border: none;

      input {
        z-index: 2;
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
        _cursor: hand;
        padding: 0;
        width: 100%;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .uploaded-file {
      border: solid 1.5px #fff;
      text-align: center;
      justify-content: space-around;

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #899baf;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }

  input[type=file], /* FF, IE7+, chrome (except button) */
  input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer;
  }

  input {
    z-index: 2;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    padding: 0;
    width: 100%;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.width-video {
  &.video {
    width: 100%;
    min-height: auto;
    margin: 15px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    @include min-width-768 {
      width: 480px;
      height: 273.4px;
     /* min-height: 273.4px;*/
    }
  }
}
