::ng-deep {
  .swal2-container {
    z-index: 1200px;
  }

  .swal-modal {
    font-family: "Gotham-Medium", sans-serif;

    .swal-footer {
      text-align: center;
    }

    .swal-button--danger {
      background-color: $lightblue;

      &:hover, &:focus, &.active {
        background-color: $lightblue;
      }
    }
  }

  .swal2-icon.swal2-success:not(.swal2-hybrid .swal2-icon.swal2-success, .swal2-recognition .swal2-icon.swal2-success) {
    border-color: #eaf7f8;
    color: #eaf7f8;
    content: url('~/assets/img/svg/icon-success.svg');
  }

  .swal2-icon.swal2-error:not(.swal2-hybrid .swal2-icon.swal2-error, .swal2-recognition .swal2-icon.swal2-error) {
    border-color: #fbe8e9;
    color: #fbe8e9;
    content: url('~/assets/img/svg/icon-error.svg');
  }

  .swal-modal,
  .swal2-popup {
    border-radius: 31px !important;
  }

  .swal2-content,
  .swal-text {
    text-align: center;
    color: $blue !important;
  }

  .swal-overlay {
    background-color: rgba(0, 38, 85, 0.5);
    z-index: 1070
  }

  .swal2-icon-question {
    .swal-title,
    .swal2-title {
      color: #d12228 !important;

      span.positive {
        color: $blue !important;
      }
    }
  }

  .swal-title,
  .swal2-title {
    color: $blue !important;
  }

  .swal-button {
    background: $blue !important;
    border-left-color: $blue !important;
    border-right-color: $blue !important;
    border-radius: 7px !important;
  }

  .swal2-styled.swal2-cancel,
  .swal2-styled.swal2-confirm {
    border-radius: 7px !important;
  }

  .swal2-styled.swal2-confirm {
    background: $blue !important;
    border-left-color: $blue !important;
    border-right-color: $blue !important;
    border-radius: 7px !important;
  }

  .swal2-actions,
  .swal-footer {
    margin-bottom: 12px !important;
  }


  .swal2-hybrid {
    .swal2-styled:focus {
      outline: 0;
      box-shadow: none;
    }
    &.swal2-hybrid-error {
      .swal-title, .swal2-title {
        color: $red !important;
      }

      .swal2-styled.swal2-confirm {
        background: $red !important;
        border-left-color: $red !important;
        border-right-color: $red !important;
        border-radius: 7px !important;
      }
    }

    .swal-title, .swal2-title {
      color: $lightblue !important;
      font-family: 'Gotham-Book', sans-serif;
    }

    .swal2-styled.swal2-confirm {
      background: $lightblue !important;
      border-left-color: $lightblue !important;
      border-right-color: $lightblue !important;
      border-radius: 7px !important;
    }

    .swal2-html-container {
      font-family: 'Gotham-Book', sans-serif;
      margin: auto;
    }

    .swal2-icon {
      width: 5em;
      height: 3em;
      border: none;
    }

    .swal2-icon.swal2-success {
      border-color: #eaf7f8;
      color: #eaf7f8;
    }

    .swal2-icon.swal2-error {
      border-color: #fbe8e9;
      color: #fbe8e9;
    }
  }

  .swal2-recognition {
    z-index: 9999;
    .swal2-styled:focus {
      outline: 0;
      box-shadow: none;
    }

    &.swal2-recognition-error {
      .swal-title, .swal2-title {
        color: $red !important;
      }

      .swal2-styled.swal2-confirm {
        background: $red !important;
        border-left-color: $red !important;
        border-right-color: $red !important;
        border-radius: 7px !important;
      }
    }


    &.swal2-recognition-bazar {
      .swal2-confirm {
        border-radius: 7px !important;
        color: $lightblue !important;
        border: 2px solid $lightblue !important;
        background: transparent !important;
        font-family: "Gotham-Medium", sans-serif;
        min-width: 180px;
        min-height: 56px;
        font-size: $ft-16;
      }
      .swal2-cancel {
        min-width: 180px;
        min-height: 56px;
        font-family: "Gotham-Medium", sans-serif;
        background: $blue;
        border-radius: 10px;
        color: $white;
      }
    }

    &.swal2-recognition-summary {
      .swal2-title {
        max-width: 270px;
      }
      .swal2-html-container {
        font-family: 'Gotham-Book', sans-serif;
        margin: 15px auto;
        max-width: 100%;
        font-size: $ft-16;
        span {
          font-family: 'Gotham-Medium', sans-serif;
        }
      }
    }

    .swal-title, .swal2-title {
      color: $lightblue !important;
      font-family: 'Gotham-Book', sans-serif;
    }

    .swal2-styled.swal2-confirm:not(.swal2-recognition-bazar .swal2-confirm) {
      background: $lightblue !important;
      border-left-color: $lightblue !important;
      border-right-color: $lightblue !important;
      border-radius: 7px !important;
    }

    .swal2-html-container {
      font-family: 'Gotham-Book', sans-serif;
      margin: auto;
      max-width: 300px;
    }

    .swal2-icon {
      width: 5em;
      height: 3em;
      border: none;
    }

    .swal2-icon.swal2-success {
      border-color: #eaf7f8;
      color: #eaf7f8;
    }

    .swal2-icon.swal2-error {
      border-color: #fbe8e9;
      color: #fbe8e9;
    }
  }

}
