::ng-deep {

  .tabs-contracts {
    .nav-tabs {
      border-bottom: 0;
      display: flex;
      justify-content: space-between;

      .nav-item {
        width: 100%;
        text-align: center;
        @include min-width-768 {
          padding-right: 20px;
          width: initial;
          text-align: left;
        }
        @include min-width-1200 {
          width: 45%;
          padding-right: 15px;
          text-align: center;
        }
        @include min-width-1300 {
          width: initial;
          padding-right: 20px;
          text-align: left;
        }

        span {
          font-family: 'Gotham-Medium', sans-serif;
          font-size: $ft-18;
          text-align: center;
          @include min-width-768 {
            font-size: $ft-22;
            text-align: left;
          }
          @include min-width-1200 {
            font-size: $ft-17;
            text-align: left;
          }
          line-height: 0.18;
          color: $blue;
        }

        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem 0;
          opacity: 0.3;

          &:hover {
            border-color: transparent;
          }

          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }

      .nav-item:last-child {
        padding-right: 0;
      }
    }

    .tab-content {
      .tab-pane {
        .text-know-the-latest {
          font-size: 1rem;
          line-height: 1;
        }
      }
    }
  }

  .tabs-benefits {
    // .pagination {
    //   margin-bottom: 0 !important;
    // }

    .nav-tabs {
      border-bottom: 0;

      .nav-item {
        /*padding-right: 20px;*/
        width: 50%;

        span {
          //width: 131px;
          //height: 17px;
          font-family: 'Gotham-Medium', sans-serif;
          font-size: 1.25rem;
          line-height: 0.18;
          text-align: left;
          color: $blue;
        }

        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem 0;
          opacity: 0.3;
          text-align: center;

          &:hover {
            border-color: transparent;
          }

          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        .text-know-the-latest {
          font-size: 1rem;
          line-height: 1;
        }
      }
    }
  }

  .tabs-calculator {
    .nav-tabs {
      border-bottom: 0;

      .nav-item {
        padding-right: 35px;
        height: 50.8px;
        display: flex;
        align-items: center;

        span {
          //width: 131px;
          //height: 17px;
          font-family: 'Gotham-Medium', sans-serif;
          font-size: 1rem;
          line-height: 0.18;
          text-align: left;
          color: $blue;
        }

        .nav-link {
          border: 0;
          padding: 0.5rem 0 0 0;
          opacity: 0.43;

          &:hover {
            border-color: transparent;
          }

          &.active {
            color: #495057;
            background-color: transparent;
            opacity: 1;
            border-color: transparent;
            border-bottom: 5px solid $lightblue;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        .text-know-the-latest {
          font-size: 1rem;
        }
      }
    }
  }

  .tabs-requests {
    .nav-tabs {
      border-bottom: 0;

      .nav-item {
        padding-right: 15px;
        display: flex;
        align-items: center;

        .nav-link {
          border: 0;
          padding: 0.5rem 0 0 0;

          img, p {
            opacity: 0.43;
          }

          &:hover,
          &.active {
            background-color: transparent;
            opacity: 1;
            border-color: transparent;

            .button-request {
              border: solid 1px $lightblue;

              img, p {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .tab-content {
      margin-top: 15px;
    }
  }

  .tabs-challenge {
    // .pagination {
    //   margin-bottom: 0 !important;
    // }

    .nav-tabs {
      border-bottom: 0;

      .nav-item {
        /*padding-right: 20px;*/
        //width: 50%;

        span {
          //width: 131px;
          //height: 17px;
          font-family: 'Gotham-Medium', sans-serif;
          font-size: $ft-16;
          line-height: 0.18;
          text-align: left;
          color: $blue;
        }

        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem;
          opacity: 0.3;
          margin-right: 10px;
          text-align: center;

          &:hover {
            border-color: transparent;
          }

          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        .text-know-the-latest {
          font-size: 1rem;
          line-height: 1;
        }
      }
    }
  }
}
