$lightgray: #f1f1f3;
$blue: #002655;
$bluebold: #0e2655;
$white: #fff;
$black: #000;
$lightblue: #35b1b8;
$lightblue2: #a8dde0;
$lightblueopacity: #e9edf1;
$brownish-grey: #727272;
$lightolivegreen: #a1d049;
$colorf8: #f8f8f8;
$red: #d12228;
$lightred: #de6b5f;
$orange: #f2aa3e;
$gray: #8f99aa;
$greenyblue: #35b1b8;
$navyblue: #002655;
$gray2: #c2cdd6;
$grayDate: #9f9f9f;
$bluegray: #00265580;
$green: #8dc646;
$bluemetalic: #1049B2;
$grayscale: #52575C;
//$lightgrenblue: #35b1b8;

.background-f8{ background: $colorf8; }
.background-white{ background: $white; }
.background-lightolivegreen{ background: $lightolivegreen; }
.background-lightgray{ background: $lightgray; }
.color-f8{ color: $colorf8; }
.color-grayscale{ color: $grayscale; }
.color-blue{ color: $blue; }
.color-bluemetalic{ color: $bluemetalic; }
.color-white{ color: $white; }
.color-lightgray{ color: $lightgray; }
.color-black{ color: $black; }
.color-gray{ color: $gray; }
.color-gray2{ color: $gray2; }
.color-gray-date{ color: $grayDate; }
.color-lightblue{ color: $lightblue; }
.color-navyblue{ color: $navyblue; }
.color-lightblue2{ color: $lightblue2; }
.color-brownish-grey{ color: $brownish-grey; }
.color-lightblueopacity{ color: $lightblueopacity; }
.color-lightolivegreen{ color: $lightolivegreen; }
.color-red{ color: $red;}
.color-green{ color: $green;}
.color-transparent{ color: transparent;}
.color-blue-opacity { color: rgb(0 38 85 / 0.5)}

.back-green {background:#a1d049}
.back-lighblue {background:#35b1b8}
.back-pink {background:#de6b5f}
.back-orange {background:#f2aa3e}
