<app-spinner [start]="loading" *ngIf="loading"></app-spinner>
<div class="content-profile" *ngIf="userProfile">
  <perfect-scrollbar class="scrollbar-content" [config]="{suppressScrollX: true}">
    <div class="container">
      <div class="row">
        <div class="mb-3 mb-sm-0" [ngClass]="width ? 'col-xl-4 col-md-5 col-xs-12' : 'col-md-12'">
          <div class="" [ngClass]="width ? 'text-center' : 'row align-items-center text-left'">
            <div class="" [ngClass]="width ? '' : 'col-xl-3 col-md-4 col-xs-12'">
              <div class="bg-lines-profile-0 d-flex justify-content-center align-items-center position-relative m-auto" [ngClass]="userProfile && userProfile.is_mentor ? 'bg-lines-profile' : 'bg-lines-profile'">
                <div class="position-relative">
                  <div class="content-img d-flex justify-content-center align-items-center">
                    <img [src]="userProfile.photo ? userProfile.photo : './assets/img/svg/image-default.svg'" class="img-fluid" alt="">
                  </div>
                  <a class="cursor-pointer icon-edit position-absolute">
                    <!-- (click)="inputperfilphoto.click()" -->
                    <img src="./assets/img/svg/icon-edit.svg" class="img-fluid" alt="">
                    <input type="file" #fileInputBenefit accept="image/x-png, image/jpeg, image/jpg" (change)="onChangeFile($event)">
                  </a>
                </div>
              </div>
            </div>
            <div [ngClass]="width ? '' : 'col-xl-3 col-md-4 col-xs-12'" class="mb-3">
              <h5 class="m-0 gotham-medium color-lightblue text-name text-center ft-20" [ngClass]="width ? 'text-sm-center' : 'text-sm-left'" *ngIf="userProfile">{{userProfile.name + ' ' + userProfile.last_name}}</h5>
              <p class="m-0 gotham-medium color-blue text-cargo text-center text-sm-left ft-16" [ngClass]="width ? 'text-sm-center' : 'text-sm-left'" *ngIf="userProfile && userProfile.occupation">{{userProfile.occupation.title}}</p>
              <span class="text-sede gotham-book color-blue text-center text-sm-left d-block ft-14 mt-2"  [ngClass]="width ? 'text-sm-center' : 'text-sm-left'" *ngIf="userProfile && userProfile.headquarter"><img src="./assets/img/svg/icon-marker.svg" class="img-fluid mr-1" alt="">Sede {{userProfile.headquarter.title}}</span>
            </div>
            <div [ngClass]="width ? 'mt-5' : 'col-xl-3 col-md-4 col-xs-12'" class="">
              <button class="btn btn-reset btn-border-blue gotham-medium color-blue d-block ml-auto mr-auto" [ngClass]="width ? 'mb-2' : 'mb-2'" type="button" (click)="onClickBusinessCard()">Tarjeta de presentación</button>
            </div>
          </div>
        </div>
        <div class="" [ngClass]="width ? 'col-xl-8 col-md-7 col-xs-12 p-0' : 'col-md-12'">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
