@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";

.content-profile {
  .bg-lines-profile-0 {
    width: 176px;
    height: 176px;
    .content-img {
      width: 109px;
      height: 106px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .icon-edit {
      top: 0;
      right: -4px;
      cursor: pointer;
      img {
        width: 44px;
        height: 44px;
        cursor: pointer;
      }
      input[type=file], /* FF, IE7+, chrome (except button) */
      input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
          cursor: pointer;
      }
      input {
        z-index: 2;
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
        padding: 0;
        width: 100%;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .text-sede {
    img {
      width: 12px;
    }
  }
  .text-cargo {
    opacity: 0.5;
  }

  .btn-border-blue {
    width: 252.1px;
    height: 38.8px;
    border-radius: 7px;
    border: solid 1px $blue;
    &:hover{
      background: $blue;
      color: $white;
    }
  }
}



