<div class="content">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h5 class="gotham-medium text-center text-md-left">
        <span class="d-block gotham-book">¿Estás seguro de</span> Eliminar el comentario?
      </h5>
    </div>
    <div class="">
      <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
        <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
      </a>
    </div>
  </div>
  <div class="w-100 text-center">
    <button type="button" class="btn btn-blue gotham-medium" (click)="onClickDelete()">{{loading ? 'Eliminando' : 'Aceptar'}}</button>
  </div>
</div>
