@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";

.content{
  padding: 50px;
}
h5{
  font-size: 27px;
  span{
    font-size: 23px;
    line-height: 1;
  }
}
.form-group{
  width: 396.2px;
  height: 50.8px;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 78, 175, 0.17);
  background-color: $white;
}
.btn-blue{
  width: 152.1px;
  height: 44.8px;
  font-size: 18px;
}
.select-text{
  font-size: 22px;
}
.btn-blue{
  margin-top: 30px;
}
.btn-close {
  position: absolute;
  top: 22px;
  @include min-width-768 {
    position: relative;
    top: auto;
  }
}
