<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="false">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit && benefit.data['información personal']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Información personal</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Código</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['información personal']['código'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Apellidos y nombres</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['información personal']['apellidos_nombres'] | titlecase }}</p>
        </div>
        <div class="col-md-12">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Fecha de ingreso</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['información personal']['fecha de ingreso'] }}</p>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen2" (isOpenChange)="log($event, 2)" *ngIf="benefit && benefit.data['deducciones']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Deducciones</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen2 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <ng-container *ngFor="let item of benefit.data['deducciones']">
        <div class="row mt-3 mb-3">
          <div class="col-7 col-md-9"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">{{item.title}}</p></div>
          <div class="col-5 col-md-3 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{item.value}}</p></div>
        </div>
      </ng-container>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen3" (isOpenChange)="log($event, 3)" *ngIf="benefit && benefit.data['ingresos']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Ingresos</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen3 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <ng-container *ngFor="let item of benefit.data['ingresos']">
        <div class="row mt-3 mb-3">
          <div class="col-7 col-md-9"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">{{item.title}}</p></div>
          <div class="col-5 col-md-3 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{item.value}}</p></div>
        </div>
      </ng-container>
    </accordion-group>

    <accordion-group class="box" [isOpen]="false" *ngIf="benefit && benefit.data['total ingresos']" isDisabled="true">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Total Ingresos</h6></div>
        <span class="float-right pull-right">{{benefit.data['total ingresos']}}</span>
      </button>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen4" (isOpenChange)="log($event, 4)" *ngIf="benefit && benefit.data['tiempo computable']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Tiempo computable</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen4 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <ng-container>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-6"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Mes</p></div>
          <div class="col-6 col-md-6 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['mes']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{benefit.data['tiempo computable']['total mes']}}</p></div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-6"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Día</p></div>
          <div class="col-6 col-md-6 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['día']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{benefit.data['tiempo computable']['total dia']}}</p></div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-8"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Neto a pagar</p></div>
          <div class="col-4 col-md-4 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['neto a pagar']}}</p></div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-8"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Días de falta</p></div>
          <div class="col-4 col-md-4 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['días de falta']}}</p></div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-8"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Días de suspensión</p></div>
          <div class="col-4 col-md-4 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['días de suspensión']}}</p></div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-6 col-md-8"><p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Días descontados</p></div>
          <div class="col-4 col-md-4 text-right"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['tiempo computable']['días descontados']}}</p></div>
        </div>
      </ng-container>
    </accordion-group>
  </accordion>
</div>
