<div class="content-width content-challenges content-discussion">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <ng-container *ngIf="forums && forums[ 0 ]">
    <div class="display-response">
      <a routerLink="/cultura-caja-con-sentido" class="d-block icon-back-responsive"><i class="fas fa-arrow-left color-lightblue"></i></a>
      <div class="">
        <h2 class="color-blue gotham-bold ft-25 mb-0">
          {{forums[ 0 ]?.title}}</h2>
        <p class="color-lightblue gotham-bold ft-18">{{forums[ 0 ]?.score_total}} pts
          <img src="./assets/img/svg/icon-information.svg" class="img-fluid icon-information cursor-pointer ml-2"
               (click)="openChallengeValues()" alt=""></p>
      </div>
    </div>
  </ng-container>
  <perfect-scrollbar class="scrollbar-challenge-videos" [config]="{suppressScrollX: true}">
    <div class="text-center mt-5 pt-5" *ngIf="listForumsResponse && listForumsResponse.data.total === 0">
      <div class="icon-sorry d-flex align-items-center justify-content-center mx-auto">
        <img src="./assets/img/svg/lo-sentimos.svg" class="img-fluid" alt="">
      </div>
      <h5 class="gotham-bold ft-20 color-blue mt-3">Lo sentimos</h5>
      <p class="gotham-book ft-14 color-blue">No cuentas con puntaje en esta actividad</p>
    </div>
    <div class="container px-md-0">
      <div class="row" *ngIf="listForumsResponse && listForumsResponse.data.total !== 0">
        <div class="col-md-4 mb-3" *ngFor="let item of listForums">
          <div class="box">
            <div class="content-image position-relative">
              <div class="challenge-complete gotham-medium color-white ft-14 text-center">Reto cumplido</div>
              <img [src]="item.img" class="img-fluid" alt="">
            </div>
            <div class="py-2 px-2 position-relative content-text">
              <div class="points gotham-medium color-lightblue ft-14 text-center" *ngIf="item.score">{{item.score}} ptos</div>
              <h5 class="color-blue gotham-medium ft-15 mb-0">{{item.title | truncate:'20'}}</h5>
              <a class="text-decoration-none cursor-pointer gotham-medium ft-12 color-blue-opacity">Fecha: {{item.date | date: 'dd/MM/yyyy'}} {{item.time}}h</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex justify-content-end align-items-center" *ngIf="listForumsResponse && listForumsResponse.data.total !== 0">
            <pagination [totalItems]="listForumsResponse.data.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true"
                        [itemsPerPage]="listForumsResponse.data.per_page"
                        (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
