@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.content-discussion {
  .box {
    width: 100%; //290px;
    max-width: 100%;
    @include min-width-768 {
      max-width: 290px;
    }
    min-height: 218px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
    background: #fff;
    border-radius: 7px;
    overflow: hidden;

    .content-image {
      max-width: 100%; //290px;
      max-height: 158px;
      // min-height: 158px;
      overflow: hidden;
    }
    .content-text{
      min-height: 60px;
    }

    h5 {
      // min-height: 35px;
    }
  }

  .points {
    min-width: 64px;
    height: 30px;
    background-color: #35b1b81a;
    line-height: 2;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .challenge-complete {
    min-width: 125px;
    height: 30px;
    background-color: $lightblue;
    line-height: 2;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
    top: 15px;
  }
}
