<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit.data['participación de utilidades']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Liquidación de la participación</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Total días efectivos trabajados</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['total días efectivos trabajados']}}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Total remuneraciones</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['total remuneraciones']}}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Total utilidades</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['total utilidades']}}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Quinta categoría</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['quinta categoría']}}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Otros descuentos</p>
          <p class="gotham-book color-blue ft-15 mb-0"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['otros descuentos']}}</p>
        </div>
        <div class="col-md-6">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Total a pagar</p>
          <p class="gotham-book color-blue ft-15 mb-0"><p class="gotham-book color-blue ft-15 mb-0">{{benefit.data['participación de utilidades']['total a pagar']}}</p>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
