<div class="content-width content-questions">
  <perfect-scrollbar class="scrollbar-special scrollbar-content" [config]="{suppressScrollX: true}">
    <div class="content-questions__header mb-3">
      <h2 class="color-blue gotham-book mb-0 ft-30">COVID-19</h2>
    </div>
    <div class="row d-none d-lg-flex">
      <div class="col-md-6 content-left border-right">
        <perfect-scrollbar class="scrollbar-questions" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
          <a class="box-question cursor-pointer d-flex justify-content-between align-items-center" *ngFor="let item of frequentsQuestions" (click)="onClickDetail(item)">
            <p class="m-0 gotham-book color-blue">{{item.question | truncate :'40'}}</p>
            <img src="./assets/img/svg/carousel-right.svg" class="img-fluid" alt="">
          </a>
        </perfect-scrollbar>
      </div>
      <div class="col-md-6 content-right">
        <perfect-scrollbar #questionPS class="scrollbar-special scrollbar-questions" [config]="{suppressScrollX: true}">
          <div class="box-detail-question" *ngIf="answer" [ngClass]="answer ? 'animasted fadesIn' : ''">
            <h5 class="gotham-medium color-blue" *ngIf="question" [ngClass]="question ? 'animasted fadesIn' : ''">
              {{question}}
            </h5>
            <div class="content-answer">  {{answer}}</div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="d-block d-lg-none accordion-questions">
      <accordion [closeOthers]="true">
        <perfect-scrollbar class="scrollbar-questions" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
          <accordion-group *ngFor="let item of frequentsQuestions">
            <button class="btn btn-link btn-block clearfix d-flex justify-content-between align-items-center" accordion-heading type="button">
              <div class="w-100">{{item.question | truncate :'40'}}</div>
              <span class="float-right pull-right"><img [src]="'./assets/img/svg/arrow_top.svg'" class="img-fluid" alt=""></span>
              <span class="is_open float-right pull-right"><img [src]="'./assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
            </button>
            <h5 class="gotham-book color-blue">
              {{item.question}}
            </h5>
            <div class="content-answer">
              {{item.answer}}
            </div>
          </accordion-group>
        </perfect-scrollbar>
      </accordion>
    </div>
  </perfect-scrollbar>
</div>
