@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/calendar.scss";
@import "~assets/scss/shine.scss";

.content-questions {
  ::ng-deep .scrollbar-questions {
    height: calc(100vh - 215px);
    padding-right: 15px;
    @include max-width-576 {
      // height: 500px;
      padding-right: 0;
    }
    .ps .ps-content {
      padding: 2px;
    }
  }
  .box-question {
    width: 100%;
    max-width: 437px;
    height: 49px;
    padding: 0 25px;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
    background-color: var(--white);
    margin-bottom: 20px;
    text-decoration: none;
    @include min-width-1367 {
      min-width: 480px;
    }
    img {
      max-width: 20px;
      height: 15px;
    }
  }
  ::ng-deep {
    accordion {
      padding: 0 1px;
      accordion-group {
        &.panel.panel-open {
          .btn-link span.is_open {
            display: none;
          }
          .btn-link span {
            display: block;
          }
        }
        &.panel {
          .btn-link span.is_open {
            display: block;
          }
          .btn-link span {
            display: none;
          }
        }
        .card-header {
          width: 100%;
          padding: 0 5px;
          border-radius: 6px;
          box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
          background-color: var(--white);
          border: none;
        }
        .btn-link {
          text-align: left!important;
          font-family: "Gotham-Book", sans-serif;
          color: $blue;
          font-size: 1rem;
          box-shadow: none;
          text-decoration: none;
        }
        .content-answer{
          font-family: "Gotham-Book", sans-serif;
          color: #515669;
          text-align: justify;
        }
      }
    }
  }
}
// .content-news {
//   //max-width: 1060px;
//   max-width: 100%;
//   @include min-width-576 {
//     max-width: calc(100% - 20px);
//   }
//   margin-top: 20px;
// }

// .box-detail-question {
//   width: 100%;
//   max-width: 405px;
//   margin-left: auto;
//   margin-right: auto;
// }
// .content-answer{
//   font-family: "Gotham-Book", sans-serif;
//   color: #515669;
//   text-align: justify;
// }
