@import "~assets/scss/mixins.scss";

.container {
  background-color: #fff;
  padding: 0 5px !important;
  max-width: 1366px;
}

.content-page {
  width: calc(100% - 192px);
  height: calc(100vh - 68px);
  margin-top: 68px;
  padding: 30px 0px 30px 40px;
  background: url('~/assets/img/svg/bg-lineas.svg') no-repeat bottom right;
  position: relative;
  @include max-width-576 {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  .chat {
    position: absolute;
    right: 10px;
    z-index: 8;
    bottom: 15px;
    button img {
      width: 54px;
      height: 54px;
    }
    @include max-width-576 {
      right: 0;
      bottom: 80px;
      img {
        width: 70%;
      }
    }
  }
}


