<app-spinner [start]="globals.loadingVisible" *ngIf="globals.loadingVisible"></app-spinner>
<div class="container p-0 position-relative">
  <div class="d-block d-md-flex">
    <app-sidebar class="d-none d-md-block" *ngIf="showTridentData | async"></app-sidebar>
    <app-nav (logout)="showEventLogout($event)" *ngIf="showTridentData | async"></app-nav>
    <div class="content-page" *ngIf="showTridentData | async">
      <router-outlet></router-outlet>
      <div class="chat" *ngIf="globals.chatAdviserVisible">
        <button class="btn btn-reset" (click)="onClickChatBox()"><img src="./assets/img/svg/icon-chatbox.svg" class="img-fluid" alt=""></button>
      </div>
      <app-chat-box *ngIf="showChatBox && globals.chatAdviserVisible" (closeChat)="showEventCloseChat($event)"></app-chat-box>
    </div>
  </div>
</div>
