<div class="content-nav navbar d-none d-md-flex align-items-center justify-content-end">
  <div class="">
    <p class="m-0 gotham-medium color-blue name text-right" *ngIf="userProfile">{{userProfile.name + ' ' + userProfile.last_name}}</p>
    <span class="d-block gotham-medium color-lightblue job text-right" *ngIf="userProfile">{{(userProfile.occupation ? userProfile.occupation.title : '')}}</span>
  </div>
  <div class="">
    <a (click)="onClickSos()" class="cursor-pointer btn-sos gotham-medium d-flex align-items-center justify-content-center">S.O.S</a>
  </div>
  <div>
     <button type="button" class="btn-reset position-relative" (click)="onClickNotif()">
      <img src="./assets/img/svg/icon-campana.svg" *ngIf="iconColor" class="img-fluid" alt="" width="25" height="31">
      <img src="./assets/img/svg/icon-campana-lightblue.svg" *ngIf="!iconColor" class="img-fluid" alt="" width="25" height="31">
      <i class="fas fa-circle icon-active-notification color-lightolivegreen" *ngIf="pending"></i>
    </button>
    <div *ngIf="shownotifications">
      <app-popup-notificaciones (closePopupNotif)="showEventClose($event)"></app-popup-notificaciones>
    </div>
  </div>
  <div>
    <a routerLink="/chat" class="btn-reset"><img src="./assets/img/svg/icon-chat.svg" class="img-fluid" alt="" width="25" height="31"></a>
  </div>
  <div *ngIf="false">
    <button type="button" class="btn-reset"><img src="./assets/img/svg/icon-logro.svg" class="img-fluid" alt="" width="25" height="31"></button>
  </div>
  <div class="">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-reset"
         aria-controls="dropdown-basic">
        <div class="d-flex align-items-center">
          <div class="content-img">
            <img [src]="userProfile ? userProfile.photo : './assets/img/svg/image-default.svg'" onError="this.src='./assets/img/svg/image-default.svg';" class="img-fluid" alt="" width="47" height="47">
          </div>
          <img src="./assets/img/svg/arrow-btm.svg" class="img-fluid ml-2" alt="" width="17" height="12">
        </div>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu2" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a routerLink="/perfil" routerLinkActive="active" class="dropdown-item font-style cursor-pointer">Ver perfil</a></li>
        <li role="menuitem"><a class="dropdown-item font-style cursor-pointer" (click)="onClickLogout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container d-block d-md-none">
  <nav class="navbar navbar-responsive sticky-top navbar-expand-lg navbar-light d-block p-0 w-100">
    <div class="menu-responsive d-flex justify-content-between align-items-center">
      <div class="w-100 d-flex align-items-center p-2">
        <a class="navbar-brand" routerLink="/"><img src="./assets/img/svg/logo.svg" class="img-fluid img-logo" alt="logo"></a>
      </div>
      <div class="">
        <a class="p-2 pr-3 pl-3 cursor-pointer nav-bars text-green" (click)="openNav()"><i class="fas fa-bars color-lightblue"></i></a>
      </div>
    </div>
    <div class="menu-nav">
      <div id="mySidenav" class="sidenav d-flex justify-content-center pt-5">
        <div class="content-sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          <div>
            <div class="">
              <ul class="nav flex-column" style="flex-wrap:nowrap!important;">
                <li class="nav-item w-100">
                  <a class="nav-link img-fluid d-flex align-items-center" (click)="onClickRouter('/perfil')" routerLink="/perfil" routerLinkActive="active-link"> <!--   -->
                    <div class="d-flex align-items-center">
                     <div class="icon">
                       <div class="content-img">
                         <img [src]="userProfile ? userProfile.photo : './assets/img/svg/image-default.svg'" onError="this.src='./assets/img/svg/image-default.svg';" class="img-fluid" alt=""></div>
                     </div>
                      <span class="name gotham-medium color-lightblue">Perfil</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item w-100 chat">
                  <a class="nav-link img-fluid d-flex align-items-center" (click)="onClickRouter('/chat')" routerLinkActive="active-link">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <div class="icon icon-res-c" *ngIf="router.url !== '/chat'">
                          <img class="img-fluid" src="./assets/img/svg/icon-chat-res1.svg" title="chat" alt="chat">
                        </div>
                        <div class="icon icon-res-cw" *ngIf="router.url === '/chat'">
                          <img class="img-fluid" src="./assets/img/svg/icon-chat-res2.svg" title="chat" alt="chat">
                        </div>
                      </div>
                      <span class="name gotham-medium color-lightblue">Chat</span>
                    </div>
                  </a>
                </li>
                <li *ngFor="let item of menu" class="nav-item w-100">
                  <a class="testtesttest nav-link img-fluid d-flex align-items-center" (click)="onClickRouter(item.link)" routerLinkActive="active-link">
                    <div class="d-flex align-items-center">
                      <div class="icon">
                        <img class="img-fluid icon-c" [src]="item.icon" [title]="item.name" [alt]="item.name" width="54" height="53">
                        <img class="img-fluid icon-cw" [src]="item.icon2" [title]="item.name" [alt]="item.name" width="54" height="53">
                      </div>
                      <span class="name gotham-medium color-lightblue">{{item.name}}</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item w-100">
                  <a class="nav-link img-fluid d-flex align-items-center" (click)="onClickLogout()">
                    <div class="d-flex align-items-center">
                      <div class="">
                        <div class="icon icon-res-c">
                          <i class="fas fa-sign-out-alt color-lightblue2"></i>
                        </div>
                      </div>
                      <span class="name gotham-medium color-lightblue">Cerrar sesión</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
