@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.content-nav{
  padding: 5px 0;
  position: absolute;
  right: 5px;
  left: 5px;
  > div {
    margin: auto 10px;
  }
}
.btn-sos {
  background:  #D12228;
  color: #fff;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
}
.icon-active-notification{
  font-size: 9px;
  position: absolute;
  right: 7px;
  top: 4px;
}
.content-img {
  width: 52px;
  height: 51px;
  @include min-width-576 {
    width: 47px;
    height: 46px;
  }
  overflow: hidden;
  display: block;
  margin: auto;
  border-radius: 25px;
}
.name{
  font-size: 17px;
}
.job{
  font-size: 14px;
  line-height: 1;
}
.dropdown-menu2.show {
  display: block;
  left: -102px!important;
  text-align: center;
  font-family: "Gotham-Book", sans-serif;
  box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
  background-color: #fff;
  border: none;
  color: $blue;
  font-size: 14px;
  padding: 0 22px;
  .dropdown-item{
    margin: 10px 0;
    border: 1px solid transparent;
  }
  .dropdown-item.active,
  .dropdown-item:active, .dropdown-item:hover {
    color: $lightblue;
    text-decoration: none;
    background: transparent;
    border: 1px solid $lightblue;
    border-radius: 10px;
  }
}


.navbar-responsive {
  background:transparent;
  z-index: 1000 !important;

  .icon-res-c {
    //background: #a8dde0;
    background: rgba(168, 221, 224, 0.1);
    height: 53px;
    border-radius: 25px;
  }.icon-res-cw {
    //background: #a8dde0;
    background: #35b1b8;
    height: 53px;
    border-radius: 25px;
  }
  .img-logo {
    width: 150px;
  }

  .icon-lupa {
    width: 30px;
  }

  // z-index: 99999;
  .dropdown-menu.show {
    display: block;
    left: auto !important;
    right: 0 !important;
  }

  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  }

  a.dropdown-item {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 16px;
    color: $lightolivegreen;
    text-align: left;

    &.active, &:active {
      background-color: transparent;
    }
  }

  a.item-menu.font-style.link-active {
    color: #019147;
    font-family: "Raleway-Bold", sans-serif;
  }

  .menu-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include min-width-992 {
      display: block !important;
    }
  }


  .nav-bars {
    font-size: 24px;
  }
.content-sidenav {
  width: 100%;
  max-width: 300px;
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    padding-top: 70px !important;
    @include min-width-768 {
      padding-top: 3rem !important;
    }

    a {
      padding: 6px 15px;
      text-decoration: none;
      height: auto;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    a:hover {
      color: #f1f1f1;
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
}


.nav {
  max-width: 285px;
  width: 100%;
  height: 100%;
  @include min-width-768{
  height: 100vh; // 100%;
  }
  min-height: calc(100vh - 110px);
  //opacity: 0.04;
  //box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
  &:not(focus) {
    transition: 0.5s ease;
    border-radius: 0 30px 30px 0
  }

  .nav-link {
    padding: 5px 15px;
    .icon {
      //min-width: 70px;
      //min-height: 70px;
      //min-width: 25px;
      //min-height: 25px;
      margin-right: 5px;
      width: 54px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        //width: 25px;
        //height: 35px
      }
    }
    &:hover{
      .icon-c{
        display: none;
      }
      .icon-cw{
        display: block;
        transition: 1s ease;
      }
      .name{
        opacity: 1;
      }
    }

    &.active-link{
      .icon-c{
        display: none;
      }
      .icon-cw{
        display: block;
        transition: 1s ease;
      }
      .name{
        opacity: 1;
      }
    }

    .name {
      font-size: 13px;
      //width: 85px;
      margin-left: 5px;
      opacity: 0.4;
      text-align: left;
    }

  }
}
.icon-cw{
  display: none;
}
