@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.content-info-contact {
  padding: 0 30px;
  .icon-back {
    width: 37px;
    margin-left: -10px;
  }
  h3 {
    line-height: 16px;
  }
  .btn-save {
    width: 150.1px;
    height: 44.8px;
    @include max-width-1200 {
      display: none !important;
    }
  }
  .btn-save-footer {
    @include max-width-1200 {
      display: inline-block !important;
      .btn-save {
        display: inline-block !important;
      }
    }
  }
  .box-contact {
    width: 326px;
    .form-group {
      width: 100%;
      .form-control {
        width: 100%;
        height: 52px;
        font-family: 'Gotham-Book', sans-serif;
        padding-top: 35px;
        color: $navyblue;
      }
      input:placeholder-shown + label {
        font-size: 15px !important;
        left: 15px !important;
      }
      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: 9px !important;
        left: 15px !important;
        font-size: 15px !important;
      }
    }
  }
  .add-familiar{
    &:hover, &:focus, &.focus, &.active, &:active{
      color: $lightblue;
    }
  }
}




