<app-infor-general [userProfileUpdate]="userProfile">
  <div class="content-info-contact">
    <div class="d-flex justify-content-between pt-3 mb-4">
      <div class="d-flex">
        <div class=""><a routerLink="/perfil" class="d-block icon-back"><img src="./assets/img/svg/icon-back.svg" class="img-fluid" alt=""></a></div>
        <div class="">
          <h4 class="gotham-book color-blue m-0 ft-30">Agregar datos de</h4>
          <h3 class="gotham-bold color-blue m-0 ft-35">Contacto</h3>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <button type="button" class="btn btn-blue btn-save gotham-medium ft-18" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
      </div>
    </div>

    <perfect-scrollbar class="scrollbar-special scrollbar-personal-data" [config]="{suppressScrollX: true}">
      <div class="row justify-content-center mt-3 pb-2 pl-1 pl-sm-0 pr-1 pr-sm-0" [formGroup]="formGroup">
        <div class="col-md-11">
          <div class="box-contact">
            <p class="gotham-book color-blue mb-2">Completa estos datos para poder contactarlos en caso de emergencia</p>
            <ng-container *ngFor="let item of getArrayFamiliar(); let i = index;">
              <ng-container formArrayName="contacts">
                <ng-container [formGroup]="item">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="gotham-medium color-lightblue">Familiar {{i + 1}}</div>
                    <div class="gotham-medium color-lightblue"><a class="cursor-pointer" (click)="onClickFamiliarRemove(i)"><img src="./assets/img/svg/icon-delete.svg" width="15" class="img-fluid" alt=""></a></div>
                  </div>
                  <app-control-messages [control]="item.get('names')">
                    <div class="form-group d-flex md-input">
                      <input type="text" class="form-control background-f8 shadow-none" formControlName="names" placeholder=" " required>
                      <label>Nombres</label>
                    </div>
                  </app-control-messages>
                  <app-control-messages [control]="item.get('surname')">
                    <div class="form-group d-flex md-input">
                      <input type="text" class="form-control background-f8 shadow-none" formControlName="surname" placeholder=" " required>
                      <label>Apellidos</label>
                    </div>
                  </app-control-messages>
                  <app-control-messages [control]="item.get('phone')">
                    <div class="form-group d-flex md-input">
                      <input type="text" class="form-control background-f8 shadow-none" formControlName="phone" minlength="1" maxlength="10" placeholder=" " onlyNumbers required>
                      <label>Número de teléfono</label>
                    </div>
                  </app-control-messages>
                </ng-container>
              </ng-container>
            </ng-container>
            <p class="gotham-book color-blue mb-2">Los campos son privados y no son visibles para los colaboradores</p>
            <a class="color-lightblue cursor-pointer gotham-medium d-block text-right add-familiar" *ngIf="addMore <= 2" (click)="onClickFamiliareAdd()"><img src="./assets/img/svg/icon-agregar-trans.svg" class="img-fluid mr-2" alt="">Agregar familiar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn-save-footer col-md-12 mt-4 d-block d-sm-none text-center">
          <div class="">
            <ng-container *ngIf="contacts && contacts.length">
              <button type="textn" class="btn btn-blue btn-save gotham-medium" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</app-infor-general>

