<div [ngClass]="'app-spinner-opacity'" class="app-spinner animated fadeIn" *ngIf="isView()">
  <div class="d-flex justify-content-center align-items-center">
    <i class="fas fa-circle-notch fa-spin"></i>
  </div>
</div>
