.app-spinner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 1);
  z-index: 99;

  div {
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: #35b1b8 !important;
  }
}
.app-spinner-opacity {
  background: rgba(255, 255, 255, 0.7) !important;
  z-index: 99;
  height: 100vh;
}
