<div class="content-width content-detail pl-4 pr-4 pl-sm-5 pr-sm-0">
    <app-spinner [start]="loading" *ngIf="loading">
    </app-spinner>
    <div class="row" *ngIf="detail">
      <div class="col-md-12 mb-3">
        <div class="d-flex">
          <div class=""><a routerLink="/mi-agenda" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
          <div class="">
            <p class="text-title gotham-bold color-blue m-0">{{detail.title ? detail.title : ''}}</p>
            <span class="color-blue gotham-medium type-activity">{{detailType?.name}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <carousel [indicatorsByChunk]="false" [interval]="0">
          <ng-container *ngFor="let item of detailImage">
            <slide>
              <div class="box-slide">
                <div class="img" [style.background-image]="'url(' + item.image + ')'"></div>
                <img [src]="item.image" class="img-fluid">
              </div>
            </slide>
          </ng-container>
          <ng-container *ngFor="let item of detailVideos">
            <slide>
              <div class="box-slide">
                <video class="width-video video" controls>
                  <source [src]="item.video" type="video/mp4">
                  <source [src]="item.video" type="video/ogg">
                </video>
              </div>
            </slide>
          </ng-container>
        </carousel>
      </div>

      <div class="col-md-7">
        <div class="box-details mt-4 mt-sm-0">
          <ng-container>
            <ng-container *ngFor="let item of detailDate">
              <div class="input-group d-flex align-items-center mb-1">
                <div class="input-group-prepend input-group-prepend2 mr-2">
                  <img src="./assets/img/svg/icon-calendar.svg" class="img-fluid" alt="">
                </div>
                <p class="m-0 gotham-book color-blue">{{item.date + ' | ' + ( item.start + '-' + item.end )}}</p>
              </div>
            </ng-container>

            <div class="input-group d-flex align-items-center">
              <div class="input-group-prepend input-group-prepend2 mr-2" *ngIf="detail.address">
                <img src="./assets/img/svg/icon-marker.svg" class="img-fluid" alt="">
              </div>
              <p class="m-0 gotham-book color-blue">{{detail.address ? detail.address : ''}}</p>
            </div>
          </ng-container>


          <perfect-scrollbar class="scrollbar-special scrollbar-news-detail" [config]="{suppressScrollX: true}">
            <div class="content-1">
              <hr>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div class=""><h5 class="m-0 color-blue gotham-bold text-blue-common">Descripción</h5></div>
                <div class=""><p class="text-date color-blue gotham-light mb-0">Publicado {{detail.created_at | formatDate}}</p></div>
              </div>
              <div class="content-description gotham-light color-blue mb-3" [innerHTML]="detail.description"></div>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
