@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/sweet-alert.scss";

::ng-deep .carousel {
  width: 85% !important;
}

.icon-back {
  margin-top: 6px;
  margin-right: 20px;
  font-size: 22px;
}

.text-title {
  line-height: 1;
}

.type-activity {
  opacity: 0.5;
}

.box-slide {
  width: 100%;
  // width: 362px;
  height: 553px;

  .img {
    width: 100%;
    // width: 362px;
    height: 553px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .video {
    width: 100%;
    // width: 362px;
    height: 553px;
  }

  /*@include min-width-1367 {
    width: 458px;
    height: 680px;
    border-radius: 34px;
    position: relative;
    display: block;
  }*/
}

//.box-details {
//  width: 560px;
//}
.input-group-prepend2 {
  width: 25px;
  height: 25px;
}

.input-group {
  p {
    font-size: 17px;
  }
}

.btn-schedule {
  width: 148.1px;
  height: 38.8px;
  font-size: 18px;
}

.text-blue-common {
  font-size: 16px;
}

.text-date {
  font-size: 13px;
}

.text-likes {
  font-size: 15px;
  opacity: 0.5;
}

.icon-heart {
  width: 15px;
}

.content-description {
  font-size: 15px;
  line-height: 1.47;
}

.content-img {
  width: 47px;
  height: 47px;
  overflow: hidden;
  border-radius: 44px
}

.border-input {
  min-width: 270px;
  height: 47px;
  @include min-width-576 {
    min-width: 440px;
  }
  border-radius: 7px;
  border: solid 1px $lightblue;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-control {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.content-1 {
  width: 100%;
  max-width: 505px;
}

.text-view-comments {
  font-size: 12px;
}

.content-comments {
  h5 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    opacity: 0.5;
  }

  .comment {
    font-size: 13px;
    @include min-width-576 {
      width: 535px;
    }
    margin-left: 56px;
    //margin-left: auto;
  }
}
