<div class="box cursor-pointer d-flex align-items-center justify-content-start position-relative p-2" (click)="onClickDetail()"  [ngClass]="(active?.value && (item.id === active?.id) ? 'active': '')">
  <div class="points gotham-medium ft-14" *ngIf="item.score">{{item.score}} pts</div>
  <div class="">
    <div class="img-content mr-2"><img [src]="item.user && item.user.photo ? item.user.photo : (item.user?.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
  </div>
  <div class="ml-2">
    <h5 class="color-lightblue gotham-medium ft-12 mb-0">Reconocimiento de:</h5>
    <p class="name color-blue gotham-medium ft-14 mb-0">{{item.user?.name + ' ' + item.user?.last_name}}</p>
  </div>
</div>
