@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/tabs.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.box {
  width: 327px;
  min-height: 80px;
  /* border-radius: 10px;
   box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);*/
  background-color: #fff;
  overflow: hidden;
  border-bottom: solid 1px #0227541a;
  margin-top: 13px !important;
  margin-bottom: 12px;
  border-radius: 10px !important;
  box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.15);
  @include min-width-768 {
    margin-bottom: 0;
    border-radius: none !important;
    box-shadow: none;
  }

  &.active {
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px !important;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.15);

    .points {
      border-radius: 5px 0 0 5px;
    }
  }

  p.name {
    line-height: 1.2;
    max-width: 164px;
    min-height: 30px;
  }
}

.img-content {
  width: 55px;
  height: 55px;
  overflow: hidden;

  img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
}

.points {
  min-width: 65px;
  height: 30px;
  background-color: #35b1b81a;
  text-align: center;
  line-height: 2;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  color: $lightblue;
}
