<div class="content-width content-hybrid-work">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <perfect-scrollbar class="scrollbar-hybrid-work" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-md-6 content-left border-right">
        <div class="calendar-header">
          <h2 class="color-blue gotham-book ft-30 mb-4 mb-sm-4">Gestiona <span class="gotham-bold">tu turno presencial</span></h2>
        </div>
        <div class="calendar-wrapper mt-4 mb-4">
          <label class="mat-title">{{ selectedDateView }}</label>
          <mat-calendar #calendar
                        [selected]="selectedDate"
                        [dateFilter]="myFilter"
                        [dateClass]="listItems ? dateClass() : null"
                        (selectedChange)="onSelectedChange($event)"
                        (selectstart)="showDay = !showDay"
                        (monthSelected)="onMonthSelected($event)">
          </mat-calendar>
        </div>
        <div class="calendar-footer">
          <button class="btn-navyblue gotham-book" *ngIf="!(selectedDate2 < currentDate) && (selectedDate2 !== currentDate || selectedDate2 === currentDate) && (listItems && listItems.length === 0)" (click)="onClickShow()">Solicitar turno</button>
          <button class="btn-navyblue gotham-book" *ngIf="selectedDate2 === currentDate && (listItems && listItems.length >= 1)" (click)="onClickViewConstancy()">Ver constancia</button>
        </div>
      </div>
      <div class="col-md-6 content-right">
        <div class="px-2 px-md-5" *ngIf="showRequest">
          <h2 class="color-blue gotham-book ft-30 mb-4 mb-sm-5 text-md-right">Solicitar turno</h2>
          <div class="row" [formGroup]="form">
            <div class="col-md-12">
              <div class="d-flex align-items-center">
                <div class="form-group form-check form-check-common pl-0">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (change)="onClickChangeOption($event)" value="current" checked>
                  <label class="form-check-label gotham-book color-blue" for="exampleRadios1">
                    <span></span> {{selectedDate | formatDate}} <!--Hoy-->
                  </label>
                </div>
                <div class="form-group form-check form-check-common ml-4">
                  <input class="form-check-input" type="radio" name="exampleRadios" (change)="onClickChangeOption($event)" id="exampleRadios2" value="ranges">
                  <label class="form-check-label gotham-book color-blue" for="exampleRadios2">
                    <span></span> Elegir rango
                  </label>
                </div>
              </div>
            </div>
            <ng-container *ngIf="form.controls.type_request.value === 'ranges'">
              <div class="col-md-12">
                <label class="gotham-bold color-lightblue">Rango</label>
                <app-control-messages class="d-block mb-3" [control]="form.controls.day_ranges">
                  <div class="form-group">
                    <ng-select class="custom select-classic" placeholder="Elige un rango" formControlName="day_ranges"
                               [clearable]="true" [closeOnSelect]="true" [multiple]="false" [searchable]="false"
                               [items]="range"
                               [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom"
                               bindLabel="name" bindValue="id">
                    </ng-select>
                  </div>
                </app-control-messages>
              </div>
              <div class="col-md-6 pr-md-1">
                <label class="gotham-bold color-lightblue">Empieza</label>
                <app-control-messages class="d-block mb-3" [control]="form.controls.date_start">
                  <div class="form-group box-classic">
                    <div class="position-relative box-calendar">
                      <input type="text"
                             placeholder="Elige un rango" formControlName="date_start"
                             class="form-control" [minDate]="minDate" (bsValueChange)="onValueChange($event)"
                             bsDatepicker [daysDisabled]="[6,0]">
                      <img src="./assets/img/svg/icon-calendar-date.svg" class="img-fluid icon-calendar" alt="">
                    </div>
                  </div>
                </app-control-messages>
              </div>
              <div class="col-md-6 pl-md-1">
                <label class="gotham-bold color-lightblue">Termina</label>
                <app-control-messages class="d-block mb-3" [control]="form.controls.date_end">
                  <div class="form-group box-classic">
                    <div class="position-relative box-calendar">
                      <input type="text"
                             placeholder="Elige un rango" formControlName="date_end"
                             class="form-control" [minDate]="minDate2"
                             bsDatepicker [daysDisabled]="[6,0]">
                      <img src="./assets/img/svg/icon-calendar-date.svg" class="img-fluid icon-calendar" alt="">
                    </div>
                  </div>
                </app-control-messages>
              </div>
            </ng-container>

            <div class="col-md-12">
              <label class="gotham-bold color-lightblue">Oficina</label>
              <app-control-messages class="d-block mb-3" [control]="form.controls.headquarter_id">
                <div class="form-group">
                  <ng-select class="custom select-classic" placeholder="Elige Oficina" formControlName="headquarter_id"
                             [clearable]="true" [closeOnSelect]="true" [multiple]="false" [searchable]="false"
                             [items]="office"
                             [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom"
                             bindLabel="name" bindValue="id">
                  </ng-select>
                </div>
              </app-control-messages>
            </div>
            <div class="col-md-12 mt-5 text-center mb-3 mb-md-0">
              <button class="btn btn-blue gotham-bold ml-3" (click)="onSave()">Guardar</button>
            </div>
          </div>
        </div>


        <div class="content-delete px-2 px-md-5" *ngIf="selectedDate2 !== currentDate && showDay && selectedDate && (listItems && listItems.length >= 1)">
          <h2 class="color-blue gotham-book ft-30 mb-4 mb-sm-5 text-md-right">Eliminar turno</h2>

          <div class="content-center">
            <ng-container *ngFor="let item of listItems">
              <div class="box-delete d-flex align-items-center mb-3">
                <div class="d-flex align-items-center px-3">
                  <div class="mr-3">
                    <img src="./assets/img/svg/delete_red.svg" class="img-fluid" alt="">
                  </div>
                  <div class="">
                    <p class="gotham-bold color-blue mt-2 mb-0"><span class="text-capitalize">{{renderDate( item.date, 'name' )}}</span> {{renderDate( item.date, 'day' )}}</p>
                    <p class="gotham-book color-blue mb-0 line-height"><span class="text-capitalize">{{renderDate( item.date, 'month' )}}</span> {{renderDate( item.date, 'year' )}}</p>
                    <p class="gotham-book color-blue mt-2 mb-2 line-height"><span class="gotham-medium">Sede: </span><span class="text-capitalize"></span>{{item.office}}</p>
                  </div>
                </div>
              </div>
            </ng-container>


            <p class="mt-5 mx-4 text-question color-blue gotham-book line-height">¿Estás seguro que deseas eliminar el turno de esta fecha?</p>
          </div>

          <div class="mt-5 text-center">
            <button class="btn btn-blue gotham-bold ml-3" (click)="onClickDelete()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
