<div class="content" [formGroup]="form">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="gotham-bold ft-20 color-blue">Dar reconocimiento</h4>
    <img src="./assets/img/svg/close-opacity.svg" class="img-fluid cursor-pointer" (click)="bsModalRef.hide()" alt="">
  </div>

  <div class="box cursor-pointer d-flex align-items-center justify-content-between position-relative p-2">
   <div class="">
     <div class="d-flex align-items-center justify-content-start ">
       <div class="position-relative">
         <div class="content-image d-flex justify-content-center align-items-center"><img [src]="user.photo ? user.photo : (user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
       </div>
       <div class="ml-2">
         <h5 class="color-blue gotham-medium ft-12 mb-0">{{user.name}}</h5>
         <h5 class="color-blue gotham-medium ft-12 mb-0">{{user.last_name}}</h5>
       </div>
     </div>
   </div>
    <div class="">
      <a class="cursor-pointer" (click)="onDeselect()"><img src="./assets/img/svg/close-red.svg" class="img-fluid" alt=""></a>
    </div>
  </div>
  <div class="">
    <div class="form-group">
        <div class="box-select position-relative">
          <app-control-messages [control]="form.controls.category_id">
            <ng-select class="custom-ng-select category" formControlName="category_id" [placeholder]="loadingCategories ? 'Cargando...' : 'Seleccionar categoría'"
                       [multiple]="false" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'"
                       [notFoundText]="'No se encontraron resultados'" [items]="categories" [bindLabel]="'title'" [bindValue]="'id'">
            </ng-select>
          </app-control-messages>
        </div>
    </div>
    <div class="form-group">
        <div class="box-select position-relative">
          <app-control-messages [control]="form.controls.event_id">
          <ng-select class="custom-ng-select events" formControlName="event_id" [placeholder]="loadingEvents ? 'Cargando...' : 'Seleccionar evento'"
                     [multiple]="false" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'"
                     [notFoundText]="'No se encontraron resultados'" [items]="events" [bindLabel]="'title'" [bindValue]="'id'">
          </ng-select>
          </app-control-messages>
        </div>
    </div>

    <div class="form-group">
      <app-control-messages [control]="form.controls.message">
      <textarea class="form-control" formControlName="message" placeholder="Escribe un mensaje" id="exampleFormControlTextarea1" rows="3"></textarea>
      </app-control-messages>
    </div>

<div class="">
  <app-control-messages [control]="form.controls.images">
  <div class="content-filer position-relative d-flex justify-content-between align-items-center">
    <span class="ft-16 color-blue gotham-bold position-relative" style="z-index: 9">Añadir imagen</span>
    <button class="btn upload-file gotham-medium d-flex justify-content-end align-items-center px-0" *ngIf="images.length < 3"> <!--  (change)="onFileUpload($event)" -->
      <input class="input" type="file" #fileInputChallenge accept="image/x-png, image/jpeg, image/jpg" multiple (change)="onChangeFiles($event)" >
      <input type="hidden" name="file" formControlName="images" multiple id="uploadFile"/>
      <img src="./assets/img/svg/icon-mas.svg" />
    </button>
  </div>
  </app-control-messages>
  <ng-container *ngIf="showImages && showImages.length > 0">
    <div class="row">
      <div class="col-md-12 mb-1" *ngFor="let item of showImages, let i = index">
        <div class="d-flex align-items-center mb-1">
          <div class="position-relative">
            <div class="image">
              <img [src]="item.resource" class="img-fluid" alt="image">
            </div>
            <a class="delete-image cursor-pointer" (click)="removeImage(i)"><img src="./assets/img/svg/close-image.svg" class="img-fluid" alt=""></a>
          </div>
          <div class="ml-2">
            <p class="gotham-book color-blue ft-14 text-uppercase mb-0 mt-2">{{item.original_name}}</p>
            <p class="gotham-book color-blue-opacity ft-14 text-uppercase mb-0">{{(item.size / 1024).toFixed(2)}} kb</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

    <button class="btn btn-blue gotham-medium ft-16 w-100 mt-5" (click)="onClickSave()" [disabled]="form.invalid">{{loading ? 'Enviando':'Enviar'}}</button>
  </div>
</div>
