@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/ng-select.scss";

::ng-deep {
  .ModalChallengeGive {
    .modal-content {
      zoom: 0.98;
      max-width: 479px;
      min-height: 534px;
      overflow: hidden;
      display: flex;
      /*background: #02215b url(/assets/img/svg/bg-lines-bottom.svg);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }*/
    }
  }

  .box-select {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
    background-color: #fff;
  }

  .custom-ng-select {
    .ng-select-container {
      border: none;
      min-height: 45px;

      &:hover {
        border: none;
        box-shadow: none;
      }
      &.ng-has-value {
        .ng-placeholder{color: $lightblue}
      /*  .ng-placeholder:before {
          content: 'Categoría';
        }
        .ng-placeholder:after {
          content: ' ';
        }*/
        .ng-value {
          margin-top: -6px;
        }
      }
    }
    &.category .ng-has-value {
      .ng-placeholder {
        color: $lightblue;
        white-space: nowrap;
        max-width: 68px;
        overflow: hidden;
      }

      .ng-placeholder:before {
        content: 'Categoría';
      }
    }
    &.events .ng-has-value {
      .ng-placeholder {
        color: $lightblue;
        white-space: nowrap;
        max-width: 50px;
        overflow: hidden;
      }

      .ng-placeholder:before {
        content: 'Evento';
      }
    }


    &.ng-select.ng-select-single .ng-select-container .ng-value-container,
    &.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
      display: block;
      width: 100%;
    }
    .ng-value-container {
      .ng-placeholder {
        font-size: $ft-14;
        font-family: "Gotham-Book", sans-serif;
        color: rgb(0 38 85 / 0.5);
        width: 100%;
        display: block;
      }

      .ng-value {
        .ng-value-label {
          color: $blue;
          font-size: $ft-14;
          font-family: "Gotham-Book", sans-serif;
        }
      }
    }

    &.ng-select-opened > .ng-select-container {
      border-color: transparent;
    }

    .ng-select-bottom {
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      background-color: #fff;
      border-color: transparent;
      font-family: "Gotham-Book", sans-serif;
      font-size: $ft-14;

      .ng-option {
        color: $blue; // rgb(0 38 85 / 0.3);
      }
    }

    &.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
      border-color: transparent transparent $lightblue;
      border-width: 0 6px 9px;
    }

    &.ng-select .ng-arrow-wrapper .ng-arrow {
      border-color: $lightblue transparent transparent;
      border-width: 9px 6px 0;
    }
    .ng-select .ng-select-container .ng-value-container .ng-placeholder {
      color: #999;
      display: block;
      width: 100%;
    }
  }
}

.content {
  padding: 20px 32px;

  .search {
    width: 100%;
    @include min-width-992 {
      width: 305px;
      position: absolute;
      right: 0;
    }
    @include min-width-1200 {
      right: 20px;
    }

    .input-group {
      margin: auto;
      border-radius: 15px;
      border: solid 1.5px transparent;
      @include min-width-768 {
        width: 100%;
        /*height: 39.6px;*/
        margin: 0;
      }
      @include min-width-992 {
        width: 100%;
        margin: 0;
      }
    }

    .form-control {
      background: #f7f8f9;
      box-shadow: none;
      border: none;
      height: 45px;
      // height: calc(1.5em + .65rem + 2px);
    }

    input::placeholder {
      opacity: 0.5;
      font-family: 'Gotham-Book', sans-serif;
      font-size: 15px;
    }

    .form-control:focus {
      border-color: transparent;
      box-shadow: none;
    }

    .input-group-text {
      background: #f7f8f9;
      border: 0 solid transparent;
    }
  }

  .icon-iso {
    position: absolute;
    width: 18px;
    bottom: -8px;
    right: 0;
    left: 0;
    margin: auto;
  }

  textarea {
    font-family: 'Gotham-Book', sans-serif;
    font-size: $ft-14;
    ::placeholder {
      opacity: 0.5;
    }
    color: $blue;
    border-radius: 10px;
    background-color: #f7f8f9;
    border: none;
    resize: none;
    height: 110px;
  }

  .content-filer {
    width: 100%;
    justify-content: flex-start;
    gap: 36px;
    @include max-width-576 {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 0;
    }
    .requirements {
      flex-wrap: nowrap;
      gap: 10px;
      .icon-filer {
        width: 35px;
        height: 35px;
        @include max-width-576 {
          width: 35px;
          height: 35px;
        }
      }
      .text-filer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        line-height: 1;
        h6 {
          font-size: 14px;
          font-weight: 500;
        }
        span {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
    .download-filer {
      width: 35px;
      height: 35px;
      border-radius: 12px;
      background-color: #eaf7f8;
      a {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
    .upload-filer {
      @include max-width-576 {
        width: 100%;
        clear: both;
        margin-top: 15px;
        button {
          width: 100% !important;
        }
      }
      button {
        width: 225.2px;
        height: 50.8px;
        border-radius: 10px;
        box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
        background-color: #fff;
        display: flex;
        gap: 10px;
        border: none;
        align-items: center;
        justify-content: center;
        font-weight: 500;
      }
      .upload-file {
        border: solid 1.5px #35b1b8;
        font-size: 14px;
        font-weight: 500;
        line-height: 0.94;
        text-align: center;
        color: #35b1b8;
        margin: auto;
        overflow: hidden;
        position: relative;
        border: 1px solid #ced4da;
        background-color: #fff;
        display: flex;
        border: none;
        input {
          z-index: 2;
          position: absolute;
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter: "alpha(opacity=0)";
          cursor: pointer;
          _cursor: hand;
          padding: 0;
          width: 100%;
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .uploaded-file {
        border: solid 1.5px #fff;
        text-align: center;
        justify-content: space-around;
        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #899baf;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }

    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
      cursor: pointer;
    }
    input {
      z-index: 2;
      position: absolute;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "alpha(opacity=0)";
      cursor: pointer;
      padding: 0;
      width: 100%;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .btn-blue {
    height: 45px;
  }

  .image {
    width: 99px;
    height: 62px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
  }
  .delete-image {
    position: absolute;
    top: -15px;
    right: -20px;
  }
}
