@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

::ng-deep {
  .ModalSendFeedback {
    .modal-content {
      zoom: 0.98;
      width: 455px;
      height: 408px;
      overflow: hidden;
      display: flex;
    }
  }
  .scrollbar-tab {
    height: calc(100vh - 170px);
  }
  .empty-data {
    margin-top: 30px;
  }
}

.content{
  padding: 30px 30px;
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .box-mentor {
    .img-mentor {
      width: 51px;
      height: 51px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  .btn-close {
    position: absolute;
    right: 0;
    top: 12px;
    z-index: 2;
  }

  .btn-blue{
    width: 160px;
    height: 48px;
    font-size: 1.125rem;
    background: $blue;
    color: #fff;
  }
  textarea.form-control {
    height: 190px;
    border: 2px solid #d6d6d6;
    border-radius: 7px;
    &::placeholder {
      color: $blue;
    }
  }
}
