<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="d-flex justify-content-between align-items-center position-relative">
    <h3 class="gotham-book ft-24 color-blue">Enviar feedback<br><span class="gotham-bold">Sobre su evaluación</span></h3>
    <a class="cursor-pointer btn-close" (click)="onClickClose()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>
  </div>

  <div class="" [formGroup]="form">
    <div class="form-group mt-4">
      <app-control-messages [control]="form.controls.feedback">
        <textarea class="form-control" formControlName="feedback" placeholder="Escribe tu feedback aquí..." id="exampleFormControlTextarea1" rows="3"></textarea>
      </app-control-messages>
    </div>
    <div class="mt-3">
      <button class="btn btn-blue d-block mx-auto {{form.invalid}}" (click)="onclickSuggestedMentor()" [disabled]="form.invalid">{{loading ? 'Enviando' : 'Enviar'}}</button>
    </div>
  </div>
</div>
