<perfect-scrollbar class="scrollbar-vacation" [config]="{suppressScrollX: true}">
  <div class="historial-top mb-4">
    <div class="text-left d-flex" *ngIf="isBoss" (click)="onViewSlopes()">
      <h2 class="color-blue gotham-bold ft-18 m-0">Solicitudes por aprobar</h2>
      <div class="count-pending d-flex justify-content-center align-items-center text-center">
        <span class="gotham-book ft-14">{{pendingCount > 9 ? '9' : pendingCount}}{{pendingCount > 9 ? '+' : ''}}</span>
      </div>
    </div>
    <div class="text-right">
      <h2 class="color-blue gotham-bold ft-26 m-0">Historial</h2>
    </div>
  </div>
  <div class="historial-header">
    <div class="item-header">
      <label class="gotham-bold color-lightblue ft-18">Desde</label>
    </div>
    <div class="item-header">
      <label class="gotham-bold color-lightblue ft-18">Hasta</label>
    </div>
    <div class="item-header">
      <label class="gotham-bold color-lightblue ft-18">Estado</label>
    </div>
  </div>
  <div class="historial-body">
    <div class="preload" *ngIf="preload">
      <div class="box shine" *ngFor="let item of [1,2,3,4,5,6,6,7,8,9]"></div>
    </div>
    <ng-container *ngIf="!preload && listItems && listItems.length">
      <perfect-scrollbar #perfectScrollbar class="scrollbar-historial" [ngClass]="{'scrollMin': scrollMin}" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
        <div class="historial-box" *ngFor="let item of listItems; trackBy: trackBy" (click)="onViewDetail(item)">
          <a class="cursor-pointer btn-white d-flex align-items-center justify-content-center" (click)="onRejectVacation(item)">
            <img src="./assets/img/svg/icon-delete-wr.svg" class="img-fluid" alt="" *ngIf="item.status === 1"></a>
          <div class="box-column"><span class="gotham-book color-blue m-0 ft-16">{{item.start_format}}</span></div>
          <div class="box-column"><span class="gotham-book color-blue m-0 ft-16">{{item.end_format}}</span></div>
          <div class="box-column">
            <ng-template [ngIf]="item.status === 1" [ngIfElse]="elseApprove">
              <button type="button" class="btn btn-pending gotham-medium color-blue">Pendiente</button>
            </ng-template>
            <ng-template #elseApprove>
              <ng-template [ngIf]="item.status === 2" [ngIfElse]="elseNotApprove">
                <img src="./assets/img/svg/icon-check-request.svg" class="img-fluid img-circle-option" alt="">
              </ng-template>
            </ng-template>
            <ng-template #elseNotApprove>
              <img src="./assets/img/svg/icon-delete-request.svg" class="img-fluid img-circle-option" alt="">
            </ng-template>
          </div>
        </div>
        <div class="historial-box" *ngIf="preloadPage">
          <div class="box cursor-pointer shine w-100"></div>
        </div>
      </perfect-scrollbar>
    </ng-container>
  </div>
  <ng-container *ngIf="scrollMin">
    <h3 class="gotham-medium color-blue mb-0 mt-5 ml-3 ft-23">Vacaciones
      <small class="d-block gotham-ligth color-blue m-0 ft-12" *ngIf="viewDetail.status === 3">{{viewDetail.reason}}</small>
    </h3>
    <div class="historial-message mt-3">
      <div class="column date text-center" ngClass={{viewDetail.status_type}}>
        <small class="gotham-medium m-0 ft-15">Desde</small>
        <label class="gotham-book m-0" ngClass={{viewDetail.status_type}}>{{viewDetail.start_day}}</label>
        <span class="gotham-medium color-blue m-0 ft-17">{{viewDetail.start_month}}</span>
      </div>
      <div class="column date text-center" ngClass={{viewDetail.status_type}}>
        <small  class="gotham-medium m-0 ft-15">Hasta</small>
        <label class="gotham-book m-0" ngClass={{viewDetail.status_type}}>{{viewDetail.end_day}}</label>
        <span class="gotham-medium color-blue m-0 ft-17">{{viewDetail.end_month}}</span>
      </div>
      <div class="column last text-center">
        <ng-template [ngIf]="viewDetail.status === 1" [ngIfElse]="elseApprove">
          <label class="gotham-medium color-blue ft-22">Solicitud Pendiente</label>
        </ng-template>
        <ng-template #elseApprove>
          <ng-template [ngIf]="viewDetail.status === 2" [ngIfElse]="elseNotApprove">
            <img src="./assets/img/svg/icon-check-request.svg" class="img-fluid img-circle-option" alt="">
            <label class="gotham-medium color-blue ft-22">¡Solicitud aprobada!</label>
          </ng-template>
        </ng-template>
        <ng-template #elseNotApprove>
          <img src="./assets/img/svg/icon-delete-request.svg" class="img-fluid img-circle-option" alt="">
          <label class="gotham-medium color-blue ft-22">¡Solicitud rechazada!</label>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <div class="text-center p-5" *ngIf="!preload && listItems && !listItems.length">
    <h5 class="text-no-result">No se encontraron resultados</h5>
  </div>
</perfect-scrollbar>
