<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="false">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit.data['créditos por convenio']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">BBVA</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Número de contacto</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="tel:{{ benefit.data['créditos por convenio'][0]['numero de contacto'] }}">{{ benefit.data['créditos por convenio'][0]['numero de contacto'] }}</a>
        </div>
        <div class="col-md-6">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Página web</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="{{ benefit.data['créditos por convenio'][0]['pagina web'] }}" target="_blank">{{ benefit.data['créditos por convenio'][0]['pagina web'] }}</a>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen2" (isOpenChange)="log($event, 2)" *ngIf="benefit.data['créditos por convenio']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Scotiabank</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen2 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Número de contacto</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="tel:{{ benefit.data['créditos por convenio'][1]['numero de contacto'] }}">{{ benefit.data['créditos por convenio'][01]['numero de contacto'] }}</a>
        </div>
        <div class="col-md-6">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Página web</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="{{ benefit.data['créditos por convenio'][1]['pagina web'] }}" target="_blank">{{ benefit.data['créditos por convenio'][1]['pagina web'] }}</a>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen3" (isOpenChange)="log($event, 3)" *ngIf="benefit.data['créditos por convenio']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">BanBif</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen3 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Número de contacto</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="tel:{{ benefit.data['créditos por convenio'][2]['numero de contacto'] }}">{{ benefit.data['créditos por convenio'][2]['numero de contacto'] }}</a>
        </div>
        <div class="col-md-6">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Página web</p>
          <a class="gotham-book color-blue ft-15 mb-0 text-underline" href="{{ benefit.data['créditos por convenio'][2]['pagina web'] }}" target="_blank">{{ benefit.data['créditos por convenio'][2]['pagina web'] }}</a>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
