<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="position-relative">
    <div class="row">
      <div class="col-md-6 content-right border-right">
        <h4 class="gotham-light color-navyblue text-left m-0 ft-23">Agendar</h4>
        <h3 class="gotham-bold color-navyblue text-left m-0 mb-5 ft-27">Reunión</h3>
        <form class="content-form d-block" [formGroup]="formGroup" autocomplete="off" (submit)="onSubmit()">
          <app-control-messages [control]="formGroup.controls.name" class="d-block mb-3">
            <div class="box-select box-select-form box-select-width box-select-gray cont-inputs cont-inputs-personal mb-2">
              <div class="form-group d-flex md-input m-0">
                <input type="text" class="form-control gotham-book shadow-none" formControlName="name" placeholder=" " autocomplete="off" required>
                <label>Asunto</label>
              </div>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.start" class="d-block mb-3">
            <div class="box-select box-select-form box-select-width box-select-border cont-inputs cont-inputs-personal mb-2">
              <div class="form-group d-flex md-input m-0">
                <input type="time" class="form-control input-time shadow-none" formControlName="start" autocomplete="off" min="09:00" max="18:00" required>
                <label>Hora de Inicio</label>
              </div>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.end" class="d-block mb-3">
            <div class="box-select box-select-form box-select-width box-select-border cont-inputs cont-inputs-personal mb-2">
              <div class="form-group d-flex md-input  mb-0">
                <input type="time" class="form-control input-time shadow-none" formControlName="end" autocomplete="off" required>
                <label>Hora de Fin</label>
              </div>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.users" class="d-block mb-3">
            <div class="box-select box-select-dropdown multiple box-select-normal position-relative">
              <label class="m-0 color-lightblue gotham-medium text-type">Participantes</label>
              <ng-select class="custom-ng-select ng-select-academic"
                [clearable]="false" [multiple]="true" [items]="listUsers" (open)="clearListUsers()" [typeahead]="typeAheadListUsers"
                (add)="addListUsers($event)" (remove)="removeListUsers($event)" [minTermLength]=3
                [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom" typeToSearchText="Buscar participantes"
                bindLabel="name" bindValue="id" formControlName="users" [compareWith]="compareFn" [(ngModel)]="listSelectedUsers">
              </ng-select>
            </div>
          </app-control-messages>
        </form>
      </div>
      <div class="col-md-6 content-left">
        <div class="calendar-wrapper">
          <label class="mat-title">{{ selectedDateView }}</label>
          <mat-calendar #calendarSchedule class="mat-schedule"
            [selected]="selectedDate"
            [dateFilter]="myDateFilter"
            [dateClass]="dateClass()"
            (selectedChange)="onSelectedChange($event)"
            (monthSelected)="onMonthSelected($event)">
          </mat-calendar>
        </div>
        <div class="calendar-footer text-right">
          <a class="delete-activity mr-5" (click)="onDelete()" *ngIf="activity">Eliminar reunión</a>
          <button class="btn-navyblue" (click)="onSubmit()">{{ (loading) ? 'Cargando' : (activity) ? 'Actualizar' : 'Agendar' }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
