@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

.content{
  padding: 50px;
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 2;
  }
  .content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include max-width-576 {
      border-right: none !important;
    }
    .content-form {
      .box-select {
        width: 304px;
        @include max-width-576 {
          width: 100%;
        }
      }
    }
  }
  .content-left {
    .calendar-wrapper {
      position: relative;
      height: 420px;
      margin-top: 20px;
      @include max-width-576 {
        height: 360px;
      }
      .mat-title {
        position: absolute;
        left: 30px;
        top: 34px;
        z-index: 1;
        width: 60%;
        height: 30px;
        font-family: 'Gotham-Book', sans-serif;
        font-size: $ft-23;
        font-weight: 600;
        line-height: 1.43;
        text-align: left;
        color: $navyblue;
        text-transform: capitalize;
        @include max-width-576 {
          font-size: 20px;
          left: 15px;
        }
      }
    }
    .calendar-footer {
      .btn-navyblue {
        width: 152.1px;
        height: 44.8px;
      }
      .delete-activity {
        font-family: 'Gotham-Book', sans-serif;
        font-size: 1.0625rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.18;
        letter-spacing: normal;
        color: $greenyblue;
        cursor: pointer;
      }
    }
  }
}
