<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit.data['escolaridad por ejercicio gravable']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Escolaridad por ejercicio gravable</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Código</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['escolaridad por ejercicio gravable']['código'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Apellidos y nombres</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['escolaridad por ejercicio gravable']['apellidos y nombres'] }}</p>
        </div>
        <div class="col-md-12">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto del Bono por resultados anuales</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['escolaridad por ejercicio gravable']['monto asignado por escolaridad'] }}</p>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
