<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="d-flex align-items-center mb-3">
    <div class="bg-lines-user position-relative" [style.background-image]="'url(' + './assets/img/svg/img-lines-profile2.svg' + ')'">
      <div class="image-profile">
        <div class="position-relative">
          <ng-container *ngFor="let user of chatRoom.users">
            <img *ngIf="user.id !== userId && !chatRoom.is_group" src="{{chatRoom.is_group ? './assets/img/svg/image-default.svg' :  (user && user.photo ?  user.photo : './assets/img/svg/image-default.svg')}}" class="img-fluid img-profile" alt="">
          </ng-container>
          <img *ngIf="chatRoom.is_group" src="./assets/img/svg/image-default.svg" class="img-fluid" alt="">
          <img (click)="onClickNewGroup($event, true)" *ngIf="chatRoom.is_group" src="./assets/img/svg/icon-edit.svg" class="img-fluid icon-edit cursor-pointer" alt="">
        </div>
      </div>
    </div>
    <div class="ml-3">
      <h6 class="gotham-medium color-lightblue ft-17 mb-1">Nombre</h6>
      <h5 class="gotham-book color-blue ft-18 mb-0 text-capitalize" *ngIf="chatRoom.is_group">{{chatRoom.name}}</h5>
      <h5 class="gotham-book color-blue ft-18 mb-0 text-capitalize" *ngIf="!chatRoom.is_group && chatRoom.users[0]">{{chatRoom.users[0].name + ' ' + chatRoom.users[0].last_name}}</h5>
    </div>
  </div>

  <div class="chat-info">
    <div class="chat-info-left">
      <h6 class="gotham-medium ft-14 color-blue" *ngIf="!loading && chatRoomFilesTotal">{{chatRoomFilesTotal}} archivos compartidos</h6>
      <div class="preload" *ngIf="loading">
        <div class="shine shine-box" *ngFor="let item of [0,1,2,3,4,5,6,7,8]"></div>
      </div>
      <div *ngIf="!loading && !chatRoomFilesTotal">
        No se encontraron archivos compartidos
      </div>
      <ng-container *ngIf="!loading">
        <perfect-scrollbar class="scrollbar-special scrollbar-files show-info" [config]="" *ngIf="chatRoomFiles && chatRoomFilesTotal">
          <div class="content-file position-relative" *ngFor="let item of chatRoomFiles">
            <a href="{{item.file}}" target="_blank">
              <img [src]="item.file" class="img-fluid preview" alt="" *ngIf="item.icon === 'image'">
              <img src="./assets/img/svg/icon-play.svg" class="img-fluid preview" alt="" *ngIf="item.icon === 'video'">
              <img src="./assets/img/file.png" class="img-fluid" alt="" *ngIf="item.footer">
              <div class="name-file d-flex align-items-center justify-content-center" *ngIf="item.footer">
                <img [src]="'./assets/img/svg/' + item.icon" class="img-fluid mr-1" alt="">
                <p class="gotham-book color-blue ft-10 mb-0">{{item.original_name}}</p>
              </div>
            </a>
          </div>
        </perfect-scrollbar>
      </ng-container>
    </div>
    <div class="chat-info-right">
      <div class="preload-users" *ngIf="loading">
        <div class="listUsers" *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
          <div class="user">
            <div class="shine photo"></div>
            <div class="shine name"></div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!loading">
        <div class="d-flex justify-content-between align-items-center" *ngIf="createdBy">
          <h6 class="gotham-medium ft-14 color-blue">{{ listSetUsers.length + 1 }} integrantes</h6>
          <a (click)="onClickNewGroup($event, false)" *ngIf="createdBy.id === userInfo.id && chatRoom.is_group"><img src="./assets/img/svg/icon-mas.svg" class="img-fluid icon-add" alt=""></a>
        </div>
        <perfect-scrollbar class="scrollbar-special scrollbar-members scrollbar-members-chat" [config]="{suppressScrollX: true}">
          <div class="d-flex align-items-center mb-3" *ngIf="createdBy">
            <div class="img-content">
              <img src="{{createdBy.photo ? createdBy.photo : './assets/img/svg/image-default.svg'}}" class="img-fluid" alt="">
            </div>
            <div class="ml-2">
              <h6 class="gotham-medium color-blue ft-12 mb-0">{{createdBy.id === userInfo.id ? 'Tú' : createdBy.name + ' ' + createdBy.last_name}}</h6>
              <span class="d-block gotham-book ft-10 color-blue" *ngIf="chatRoom.is_group">Admin. del grupo</span>
            </div>
          </div>
          <div class="d-flex align-items-center mb-3" *ngFor="let item of listSetUsers">
            <div class="img-content">
              <img src="{{item.photo ? item.photo : './assets/img/svg/image-default.svg'}}" class="img-fluid" alt="">
            </div>
            <div class="ml-2">
              <h6 class="gotham-medium color-blue ft-12 mb-0">{{item.id === userInfo.id ? 'Tú' : item.name}}</h6>
            </div>
          </div>
        </perfect-scrollbar>
      </ng-container>
    </div>
  </div>
</div>
