@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/shine.scss";

.content {
  padding: 50px;
  @include max-width-576 {
    padding: 20px;
    overflow: hidden;
  }
}
.btn-close {
  position: absolute;
  right: 50px;
}
.bg-lines-user {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 142.2px;
  height: 143px;

  .image-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 143px;

    .img-profile{
      width: 87px;
      height: 88px;
      border-radius: 50%;
    }
    .icon-edit {
      position: absolute;
      bottom: auto;
      z-index: 99;
      display: block;
      left: auto;
      right: -15px;
      margin-right: auto;
      margin-left: auto;
      top: -8px;
    }
  }
}

.chat-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 390px;
  @include max-width-576 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .chat-info-left {
    width: 370px;
    @include max-width-576 {
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden;
    }
    .content-file {
      overflow: hidden;
      border-radius: 10px;
      height: 110px;
      width: 110px;
      border: solid 1px #e7ecf5;
      a {
        display: flex;
        width: 100%;
        height: 100%;
        img.preview {
          margin: auto;
          align-items: center;
        }
      }
      .name-file {
        position: absolute;
        bottom: 0;
        padding: 5px 5px;
        border-top: 1px solid #e7ecf5;
        width: 100%;
        img {
          width: 17px;
          height: 17px;
        }
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
  .chat-info-right {
    width: calc(100% - 370px);
    @include max-width-576 {
      width: 100%;
    }
    .scrollbar-members {
      @include max-width-576 {
        height: 200px;
      }
    }
  }
}


.img-content {
  width: 41px;
  height: 41px;
  overflow: hidden;
  img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
  }
}
.icon-add{
  width: 30px;
  cursor: pointer;
}

.preload {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include max-width-576 {
    display: inline-flex;
    flex-wrap: unset
  }
  .shine-box {
    width: 110px;
    height: 110px;
    border-radius: 7px;
    @include max-width-576 {
      width: 92px;
      height: 92px;
    }
  }
}

.preload-users {
  height: 350px;
  overflow: hidden;
  @include max-width-576 {
    height: 270px;
  }
  .listUsers {
    display: flex;
    flex-wrap: wrap;
    .user {
      margin-bottom: 10px;
      gap: 20px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      .photo {
        width: 41px;
        height: 41px;
        border-radius: 50%;
      }
      .name {
        height: 34px;
        width: calc(100% - 50px);
        border-radius: 7px;
      }
    }
  }
}
