@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/modals.scss";

.content {
  padding: 20px;
  .btn-close{
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 2;

    /* display: flex;
     justify-content: flex-end;
     margin-bottom: 15px;*/
  }
  .modal-header {
    h4 {
      font-size: $ft-30;
    }
  }

  .modal-body {
    .bg_up {
      /* background-size: cover;
       background-position: center;
       background-repeat: no-repeat;*/
      background: #028fbd;
      width: 100%;
      max-height: 85px;
      display: flex;
      align-items: flex-start;
      padding: 20px;

      &.bg_up2 {
        h3 {
          max-width: 100%;
        }
      }

      h3 {
        font-size: $ft-20;
        max-width: 265px;
      }

      .image-user {
        max-width: 120px;
      }
    }

    .text-description {
      width: 265px;
      padding: 0 0 65px;
    }

    .cont-information {
      background: #EBEBEB;
      padding: 20px 20px 0;

      .box {
        padding: 30px;
        max-width: 420px;
        min-height: 200px;
        margin: auto;
        background: #FFFFFF;
        border-radius: 6px;
      }

      .cont-footer {
        background: #1049b2;
        width: 100%;
        min-height: 42px;
        border-radius: 6px 6px 0px 0px;
        padding: 15px;
        margin-top: 15px;
      }
    }

    .btn-blue {
      min-width: 180px;
      min-height: 56px;

      background: $blue;
      border-radius: 10px;
      color: $white;
    }
  }
}
