<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <img [src]="'data:image/png;base64,'+data" *ngIf="data" class="img-fluid" alt=""/>
</div>
