@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/modals.scss";

.content{
  padding: 50px 70px;
}
h5{
  font-size: 27px;
  span{
    font-size: 23px;
    line-height: 1;
  }
}
.form-group{
  height: 50.8px;
  @include min-width-576 {
    width: 396.2px;
  }
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 78, 175, 0.17);
  background-color: $white;
}
.btn-blue{
  width: 255px;
  height: 48px;
  font-size: 1.125rem;
  background: $blue;
  color: #fff;
}
.select-text{
  font-size: 18px;
  @include min-width-576 {
    font-size: 22px;
  }
}
label{
  padding: 0 10px 0 30px;
}
.border-light-blue {
  border: 1.5px solid $lightblue;
}
p{
  line-height: 1;
}
