<div class="content">
   <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h5 class="gotham-medium color-blue mb-0">
        <span class="d-block gotham-book">Eliminar</span> Grupo
      </h5>
    </div>
    <div class="">
      <a class="cursor-pointer" (click)="bsModalRef.hide()">
        <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
      </a>
    </div>
  </div>
  <div class="mt-5 mb-5">
    <p class="gotham-book color-blue ft-18 text-center">¿Estás seguro que deseas eliminar el grupo?</p>
  </div>
  <div class="d-flex justify-content-center">
    <button class="btn btn-blue gotham-book" (click)="onSubmit()">Eliminar</button>
  </div>
</div>
