@import "~assets/scss/variables.scss";

.content-sidebar {
  width: 192px;
  border-radius: 0 30px 30px 0;
  overflow: hidden;
  position: relative;
  .logo {
    margin: 20px 0;
    img {
      max-width: 140px;
      height: 70px;
      margin: auto;
      display: block;
    }
  }
  .list-menu {
    border-radius: 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
    background-color: rgba(53,177,184,0.08);
    padding: 20px 10px 20px 20px;
    // padding: 20px;
    height: calc(100vh - 130px);
    .nav {
      &:not(focus) {
        transition: 0.5s ease;
        border-radius: 0 30px 30px 0
      }
      .nav-link {
        padding: .5rem 0;
        .icon {
          margin-right: 5px;
          width: 54px;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .name {
          font-size: 12px;
          width: 85px;
          margin-left: 2px;
          opacity: 0.5;
        }
        .icon-c {
          opacity: 0.5;
        }
        &:hover ,
        &.active-link {
          .icon-c {
            display: none;
          }
          .icon-cw {
            display: block;
            transition: 1s ease;
          }
          .name{
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }
  }
}

.icon-cw {
  display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .icon {
    img {
      margin-top: 17px;
    }
  }
}
