<div class="content-sidebar">
  <a class="d-block logo cursor-pointer" routerLink="/">
    <img src="./assets/img/svg/logo.svg" class="img-fluid" alt="" width="140" height="60">
  </a>
  <div class="list-menu">
    <perfect-scrollbar class="scrollbar-sidebar" [config]="{suppressScrollX: true}">
      <ul class="nav flex-column">
        <li *ngFor="let item of listMenu" class="nav-item w-100">
          <a class="nav-link img-fluid d-flex align-items-center" [routerLink]="item.link"  routerLinkActive="active-link" *ngIf="item.link">
            <div class="d-flex align-items-center">
              <div class="icon">
                <img class="img-fluid icon-c" [src]="item.icon" [title]="item.name" [alt]="item.name" width="54" height="53">
                <img class="img-fluid icon-cw" [src]="item.icon2" [title]="item.name" [alt]="item.name" width="54" height="53">
              </div>
              <span class="name gotham-medium color-lightblue">{{item.name}}</span>
            </div>
          </a>
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
</div>


