<div class="content-request-approve">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <a class="cursor-pointer btn-close" (click)="onCloseModal()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h4 class="gotham-light color-navyblue text-left m-0 line-height-1 ft-23">Solicitudes por</h4>
      <h3 class="gotham-bold color-navyblue text-left m-0 ft-27">Aprobar</h3>
    </div>
  </div>

  <div class="position-relative">
    <div class="row">
      <div class="col-md-12 mt-3">
        <tabset class="tabs-requests" #staticTabs>
          <tab [active]="entity === 'vacation'" id="vacation">
            <ng-template tabHeading>
              <div class="button-request gotham-medium color-blue d-flex align-items-center">
                <img src="./assets/img/svg/icon-maleta.svg" class="img-fluid mr-2" alt="">
                <p class="m-0">Vacaciones</p>
              </div>
            </ng-template>
            <div class="list-request mt-3">
              <div class="preload" *ngIf="preload">
                <div class="box-shadow shine" *ngFor="let item of [1,2,3,4,5,6,6,7,8,9]"></div>
              </div>
              <ng-container *ngIf="!preload && listItems && listItems.length">
                <perfect-scrollbar class="scrollbar-requests" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
                  <ng-container *ngFor="let item of listItems; trackBy: trackBy">
                    <div class="box d-flex justify-content-center">
                      <div class="column profile">
                        <div class="d-flex align-items-center">
                          <div class="content-img mr-3 ml-2">
                            <img [src]="item.user ? (item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
                          </div>
                          <div class="content-body">
                            <p class="gotham-medium color-blue m-0 ft-16 text-name">{{item.user.name}}<br/>{{item.user.last_name}}</p>
                            <p class="gotham-book color-blue ft-14 text-job mt-1 mb-1">{{item.user.occupation.title}} | {{item.user.area.title}}</p>
                            <p class="gotham-medium color-lightblue m-0 ft-14 text-place d-flex align-items-center">
                              <img src="./assets/img/svg/icon-marker.svg" class="img-fluid mr-1" alt="" height="13.8px" width="11.3px"><span>Sede {{item.user.headquarter.title}}</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="column dates">
                        <div class="date">
                          <p class="gotham-medium color-blue m-0 ft-25 text-center text-day">{{item.start_day}}</p>
                          <span class="d-block gotham-book ft-12 text-center text-month">{{item.start_month}}</span>
                        </div>
                        <div class="date">
                          <p class="gotham-medium color-blue m-0 ft-25 text-center text-day">{{item.end_day}}</p>
                          <span class="d-block gotham-book ft-12 text-center text-month">{{item.end_month}}</span>
                        </div>
                      </div>
                      <div class="column actions">
                        <a class="cursor-pointer btn-white d-flex align-items-center justify-content-center" (click)="onApprove(item)">
                          <img src="./assets/img/svg/icon-check-wg.svg" class="img-fluid" alt=""></a>
                        <a class="cursor-pointer btn-white d-flex align-items-center justify-content-center" (click)="onReject(item)">
                          <img src="./assets/img/svg/icon-delete-wr.svg" class="img-fluid" alt=""></a>
                      </div>
                    </div>
                  </ng-container>
                  <div class="box" *ngIf="preloadPage">
                    <div class="shine w-100"></div>
                  </div>
                </perfect-scrollbar>
              </ng-container>
            </div>
          </tab>
          <tab [active]="entity === 'telecommuting'" id="telecommuting">
            <ng-template tabHeading>
              <div class="button-request gotham-medium color-blue d-flex align-items-center">
                <img src="./assets/img/svg/icon-markerhouse.svg" class="img-fluid mr-2" alt="">
                <p class="m-0">Teletrabajo</p>
              </div>
            </ng-template>
            <div class="list-request mt-3">
              <div class="preload" *ngIf="preload">
                <div class="box-shadow shine" *ngFor="let item of [1,2,3,4,5,6,6,7,8,9]"></div>
              </div>
              <ng-container *ngIf="!preload && listItems && listItems.length">
                <perfect-scrollbar class="scrollbar-requests" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
                  <ng-container *ngFor="let item of listItems; trackBy: trackBy">
                    <div class="box d-flex justify-content-center">
                      <div class="column profile">
                        <div class="d-flex align-items-center">
                          <div class="content-img mr-3 ml-2">
                            <img [src]="item.user ? (item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
                          </div>
                          <div class="content-body">
                            <p class="gotham-medium color-blue m-0 ft-16 text-name">{{item.user.name}}<br/>{{item.user.last_name}}</p>
                            <p class="gotham-book color-blue ft-14 text-job mt-1 mb-1">{{item.user.occupation.title}} | {{item.user.area.title}}</p>
                            <p class="gotham-medium color-lightblue m-0 ft-14 text-place d-flex align-items-center">
                              <img src="./assets/img/svg/icon-marker.svg" class="img-fluid mr-1" alt="" height="13.8px" width="11.3px"><span>Sede {{item.user.headquarter.title}}</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="column dates dating">
                        <ng-container *ngFor="let month of item.months | keyvalue: returnZero">
                          <div class="dating-column">
                            <div class="dating-column-first">
                              <span class="gotham-book color-blue m-0 ft-18">{{listMonths[month.key.split('/')[0] - 1] | titlecase}} {{month.key.split('/')[1]}}</span>
                            </div>
                            <div class="dating-column-last">
                              <ng-container *ngFor="let date of month.value; let i = index; let l = count">
                                <span class="gotham-book ft-16">{{date.day}},</span>
                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div class="column actions">
                        <a class="cursor-pointer btn-white d-flex align-items-center justify-content-center" (click)="onApprove(item)">
                          <img src="./assets/img/svg/icon-check-wg.svg" class="img-fluid" alt=""></a>
                        <a class="cursor-pointer btn-white d-flex align-items-center justify-content-center" (click)="onReject(item)">
                          <img src="./assets/img/svg/icon-delete-wr.svg" class="img-fluid" alt=""></a>
                      </div>
                    </div>
                  </ng-container>
                  <div class="box" *ngIf="preloadPage">
                    <div class="shine w-100"></div>
                  </div>
                </perfect-scrollbar>
              </ng-container>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
