@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/shine.scss";

::ng-deep {
  .ModalRequestApprove {
    .modal-content {
      zoom: 0.98;
      width: 860px;
      height: 602px;
      overflow: hidden;
      display: flex;
      @include max-width-576 {

      }
    }
  }
}

.content-request-approve {
  padding: 50px;
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 2;
  }
  h3, h4 {
    line-height: 1;
  }
  .button-request {
    min-width: 166px;
    height: 51.8px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
    background-color: white;
    padding: 0 20px;
  }
  .list-request {
    .preload {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      height: 375px;
      .box-shadow {
        height: 118px;
        width: 100%;
        border-radius: 7px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        margin-bottom: 15px;
      }
    }
    ::ng-deep .scrollbar-requests {
      height: 375px;
      padding-right: 15px;
    }
    .box{
      width: 100%;
      height: 118px;
      border-radius: 7px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      background-color: #fff;
      margin-bottom: 15px;
      .column {
        align-items: center;
        justify-content: center;
        display: flex;
        &.profile {
          width: calc(100% - 50%);
          justify-content: left;
          .content-img {
            img {
              width: 83px;
              height: 83px;
            }
          }
          .content-body {
            display: flex;
            flex-direction: column;
            .text-name {
              font-weight: 500;
              line-height: 1.13;
            }
            .text-job {
              font-weight: 500;
              line-height: 1.43;
            }
            .text-place {
              font-weight: normal;
              line-height: 1.43;
            }
          }
        }
        &.dates {
          width: calc(100% - 70%);
          gap: 40px;
          &.dating {
            align-items: flex-start;
            flex-direction: column;
            gap: 0;
          }
          .dating-column {
            display: flex;
            flex-direction: column;
            .dating-column-first {
              font-weight: 600;
            }
            .dating-column-last {
              color: #8f99aa;
            }
          }
          .date {
            position: relative;
            &:first-child::after {
              content: url('~/assets/img/svg/arrow-right-blue.svg');
              position: absolute;
              right: -30px;
              top: -20px;
              bottom: 0;
              display: flex;
              align-items: center;
              text-align: center;
            }
            .text-day {
              font-weight: 500;
              line-height: 1.2;
            }
            .text-month {
              font-weight: 600;
              color: #8f99aa;
              text-transform: capitalize;
            }
          }
        }
        &.actions {
          width: calc(100% - 80%);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

// .ortert{
//   h5 {
//     font-size: 27px;
//     line-height: 1;

//     span {
//       font-size: 23px;
//     }
//   }
// }
