<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header">
    <h4 class="gotham-light color-navyblue text-left m-0 ft-23">Elegir</h4>
    <h3 class="gotham-bold color-navyblue text-left m-0 ft-27">Fecha</h3>
  </div>
  <div class="content-body mt-3" [formGroup]="form">
    <perfect-scrollbar class="scrollbar-special scrollbar-editdate" [config]="{suppressScrollX: true}">
      <ng-container *ngFor="let item of schedule">
        <div class="form-group form-check form-check-common d-flex align-items-center pl-0 mb-3 cursor-pointer" [ngClass]="{'border-light-blue': arrIdSchedule.includes(item.id)}">
          <input type="checkbox" name="exampleRadios" class="form-check-input" [id]="item.id" (change)="onChangeValue(item.id, 'agendar')">
          <label class="form-check-label font-style d-flex align-items-center justify-content-between w-100 cursor-pointer" [for]="item.id">
            <div class="m-0">
              <p class="m-0 gotham-book color-blue select-text">{{item.date}} | {{item.start + ' - ' + item.end}}</p>
            </div>
            <span></span>
          </label>
        </div>
      </ng-container>
    </perfect-scrollbar>
  </div>
  <div class="content-footer pt-4">
    <button type="button" class="btn btn-blue gotham-medium" (click)="onClickChoose()">{{loading ? 'Guardando' : 'Elegir'}}</button>
  </div>
</div>
