@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/modals.scss";

.content{
  padding: 50px;
  .btn-close{
    position: absolute;
    right: 50px;
    top: 60px;
    z-index: 2;
  }
  .content-body {
    height: 180px;
    overflow: hidden;
    .form-check-common {
      width: 100%;
      height: 50.8px;
      padding: 10px 30px;
      border-radius: 10px;
      box-shadow: 0 1px 8px 0 rgba(0, 78, 175, 0.17);
      background-color: #fff;
      border: 1.5px solid transparent;
      .label {
        width: 100%;
        height: 22px;
        margin: 1px 0 0;
        font-family: "Gotham-Book", sans-serif;
        font-size: 22px;
        font-weight: normal;
        line-height: 1.41;
        text-align: left;
        color: $navyblue;
      }
    }
    .select-text{
      font-size: 14px;
      @include min-width-576{
        font-size: 15px;
      }
      @include min-width-768 {
        font-size: 22px;
      }
    }
    label{
      padding: 0 10px 0 30px;
    }
    .border-light-blue {
      border: 1.5px solid $lightblue;
    }
  }
  .content-footer {
    display: flex;
    .btn-blue{
      width: 152.1px;
      height: 44.8px;
      font-size: 18px;
      background-color: $navyblue;
      color: #fff;
      margin: auto;
    }
  }
}
