@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/shine.scss";

.chat-box {
  width: 388px;
  height: 403px;
  box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.15);
  background-color: #f7fbfc;
  border-radius: 25px;
  position: absolute;
  bottom: 20px;
  right: 100px;
  z-index: 9;
  @include max-width-576 {
    width: calc(100% - 20px);
    right: 10px;
    left: 10px;
    height: 500px;
    bottom: 100px;
  }
  .chat-box-content {
    .heading {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
      height: 58px;
      padding: 10px 20px;
      margin-bottom: 20px;
      gap: 15px;
      align-items: center;
      justify-content: start;
      img {
        width: 37px;
        height: 37px;
      }
    }
    .preloadChat {
      height: 260px;
      overflow: hidden;
      padding: 20px;
      .line {
        border-radius: 10px!important;
        box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
        width: 100%;
        height: 32px;
        margin-bottom: 20px;
      }
    }
    .listQuestions {
      padding: 10px 20px;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      display: block;
      height: 300px;
      overflow: hidden;
      @include max-width-576 {
        height: 380px;
      }
      &.answer {
        height: 260px;
        @include max-width-576 {
          height: 360px;
        }
      }
      .btn-question {
        width: 100%;
        border-radius: 10px!important;
        box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
        background-color: var(--white);
        color: $blue;
        border-color: #fff;
        margin-bottom: 10px;
        &.answer {
          cursor: text;
          width: 80%;
          background-color: $greenyblue;
          color: #fff;
          float: left;
        }
        &.question-answer {
          float: right;
          width: 80%;
        }
      }
    }
    button {
      width: 200.1px;
      height: 38.8px;
      border-radius: 7px;
      background-color: $navyblue;
      color: #fff;
      margin: auto;
      display: block;
    }
  }
}
