<div class="chat-box">
  <div class="chat-box-content">
    <div class="heading d-flex">
      <img src="./assets/img/svg/icon-chatbox.svg" class="img-fluid" alt="">
      <h1 class="gotham-bold color-blue ft-16 m-0">Asesor en línea</h1>
    </div>
    <p class="gotham-medium ft-14 text-center color-lightblue m-0 cursor-pointer" (click)="getChatAdviserOptions()" *ngIf="!levelAnswer">Elige una pregunta</p>
    <div class="preloadChat" *ngIf="preload">
      <div class="shine line" *ngFor="let item of [1,2,3,4,5,6]"></div>
    </div>
    <div class="listQuestions" btnRadioGroup *ngIf="!preload" [ngClass]="{'answer': levelAnswer}">
      <perfect-scrollbar #chatPS class="scrollbar-special scrollbar-chat-box" [config]="{suppressScrollX: false, suppressScrollY: false}">
        <ng-container *ngFor="let item of listChatAdviserOptions">
          <label class="btn btn-info btn-question ft-13 gotham-book text-left question-answer" btnRadio="1" uncheckable tabindex="0" role="button"
            (click)="getChatAdviserOptionsChild(item)" *ngIf="levelAnswer">
            {{lastQuestion.option}}
          </label>
          <label class="btn btn-info btn-question ft-13 gotham-book text-left" btnRadio="1" uncheckable tabindex="0" role="button"
            (click)="getChatAdviserOptionsChild(item)" [ngClass]="{'question': item.type === 'question', 'answer': item.type === 'answer'}">
            {{item.option}}
          </label>
        </ng-container>
      </perfect-scrollbar>
    </div>
    <button class="btn btn-blue ft-14 gotham-bold" (click)="getChatAdviserOptions()" *ngIf="levelAnswer">Volver a preguntar</button>
  </div>
</div>
