@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/modals.scss";

.content{
  padding:20px;
  @include min-width-768 {
    padding:20px  50px;
  }
  .img-qr{
    width: 100%;
    max-width: 350px;
    @include min-width-768 {
      max-width: 240px;
    }
  }
  .btn-close{
    position: absolute;
    right: 28px;
    top: 25px;
  }
  h3{
    font-size: 27px;
    text-align: center;
    @include min-width-768 {
      font-size: 24px;
    }
  }
  .btn-save{
    width: 150.1px;
    height: 44.8px;
    font-size: 18px;
  }
}
