<app-spinner [start]="loading" *ngIf="loading"></app-spinner>
<div class="content" *ngIf="qr">
  <div class="" id="texto">
    <div class="">
      <h3 class="gotham-bold color-lightblue text-center m-0 mb-3 mb-sm-5">Mi Tarjeta de presentación</h3>
      <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
        <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
      </a>
    </div>
    <img [src]="qr" class="img-fluid d-block m-auto img-qr" alt="">
  </div>

  <div class="text-center mt-3 d-flex align-items-center justify-content-center text-center">
    <h4 class="text-share color-blue gotham-medium">Compartir
      <div class="d-flex justify-content-center align-items-center mt-2">
        <a class="cursor-pointer mr-3" (click)="onClickSharedEmail()"><i class="far fa-envelope color-lightblue"></i></a>
        <a class="cursor-pointer ml-3" [href]="onClickSharedWs()" target="_blank"><i class="fab fa-whatsapp color-lightblue"></i></a>
      </div>
    </h4>
  </div>
  <ng-container *ngIf="sharedWhatsapp">
    <div class="form-group mt-3" [formGroup]="formGroup">
      <label class="color-blue mb-1 gotham-medium">Ingresa el correo a compartir</label>
      <ng-container *ngFor="let item of getArrayEmail(); let i = index;">
        <ng-container formArrayName="emails">
          <ng-container [formGroup]="item">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="gotham-medium color-lightblue">Correo {{i + 1}} </div>
              <div class="gotham-medium color-lightblue d-flex align-items-center">
              <a class="color-lightblue cursor-pointer gotham-medium d-block text-right add-familiar" (click)="onClickEmailAdd()" *ngIf="i === 0">
                <img src="./assets/img/svg/icon-agregar-trans.svg" class="img-fluid mr-2" width="20" alt=""></a>
              <a class="cursor-pointer" (click)="onClickEmailRemove(i)" *ngIf="i >= 1"><img src="./assets/img/svg/icon-delete.svg" width="15" class="img-fluid" alt=""></a></div>
            </div>
            <app-control-messages [control]="item.get('email')">
              <div class="form-group">
                <input type="email" class="form-control background-f8 shadow-none" formControlName="email" placeholder="">
              </div>
            </app-control-messages>
          </ng-container>
        </ng-container>
      </ng-container>
      <button class="btn btn-blue btn-save gotham-medium d-block m-auto text-center" type="button" (click)="onClickSend()" [disabled]="loading">{{ loading ? 'Cargando...' : 'Enviar'}}</button>
    </div>
  </ng-container>
</div>
