@import "~assets/scss/mixins";

::ng-deep {
  .content-acknowledgments {
    .scrollbar-type {
      .ps {
        padding-right: 8px;
      }
    }
  }

  accordion-group.panel {
    width:100%;
    @include min-width-768 {
      width: 340px;
    }
  }
  .panel-open {
    .accordion-toggle {
      span {
        transform: rotate(360deg);
      }
    }
  }
  .accordion-toggle {
    span {
      transform: rotate(180deg);
    }
  }
  .panel-heading {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.content-accordion {
  display: grid;
  grid-template-columns: 1fr;
  @include min-width-768 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  gap: 10px;
  padding-left: 10px;

  .message{
    max-width: 246px;
  }
}
