<div class="content-acknowledgments">
  <div class="detail-heading d-flex mb-4" *ngIf="head">
    <div class="pt-1 pr-2 d-nones d-md-block"><a routerLink="/sistema-de-reconocimientos" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
    <div class="">
      <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Mis Reconocimientos</h2>
      <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
        <span class="color-blue gotham-medium ft-16 line-height mr-1">Visualización de reconocimientos recibidos</span>
      </div>
    </div>
  </div>
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>

  <perfect-scrollbar class="scrollbar-type" [config]="{suppressScrollX: true}">
    <div class="content-accordion">
      <ng-container *ngFor="let item of acknowlegments, let i = index">
        <accordion [isAnimated]="true">
          <accordion-group>
            <div
              class="d-flex justify-content-between d-flex w-100  shadow-none"
              accordion-heading type="button">
              <div class="color-blue gotham-medium">{{'Reconocimiento ' + ( i + 1 )}}</div>
              <span><img src="./assets/img/svg/arrow_top2.svg" class="img-fluid" alt=""></span>
            </div>
            <div class="">
              <div class="mb-3">
                <h5 class="color-lightblue gotham-medium ft-14 mb-0">{{head === false ? 'Enviado a' : 'Enviado por'}}</h5>
                <p class="color-blue gotham-book ft-14 mb-0">{{item.name}}</p>
              </div>
              <div class="mb-3">
                <h5 class="color-lightblue gotham-medium ft-14 mb-0">Fecha</h5>
                <p class="color-blue gotham-book ft-14 mb-0">{{item.date}}</p>
              </div>
              <div class="mb-3">
                <h5 class="color-lightblue gotham-medium ft-14 mb-0">Categoría</h5>
                <p class="color-blue gotham-book ft-14 mb-0">{{item.category}}</p>
              </div>
              <div class="mb-3">
                <h5 class="color-lightblue gotham-medium ft-14 mb-0">Mensaje</h5>
                <p class="color-blue gotham-book ft-14 mb-0 message">{{item.message}}</p>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </ng-container>
    </div>
  </perfect-scrollbar>

</div>
