<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="d-flex justify-content-between align-items-center position-relative">
    <h3 class="gotham-book ft-24 color-blue">Rechazar<br><span class="gotham-bold">Solicitud</span></h3>
    <a class="cursor-pointer btn-close" (click)="onClickClose()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>
  </div>

  <div class="" [formGroup]="form">
    <div class="form-group mt-4">
      <app-control-messages [control]="form.controls.reason_rejection">
        <textarea class="form-control" formControlName="reason_rejection" placeholder="Escribe tu razón aquí..." id="exampleFormControlTextarea1" rows="3"></textarea>
      </app-control-messages>
    </div>
    <div class="mt-3">
      <button class="btn btn-blue d-block mx-auto {{form.invalid}}" (click)="onclickSuggestedMentor()" [disabled]="form.invalid">Sugerir Mentor</button>
    </div>
  </div>
</div>
