@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/tabs.scss";
@import "~assets/scss/shine.scss";

.box {
  .box-content {
    border-radius: 7px;
    box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
    background-color: $white;
    padding: 15px 25px;
    .text-hobbies{
      line-height: 1.25;
    }
    .d-flex {
      @include max-width-576 {
        display: block !important;
        div:first-child {
          margin-bottom: .5rem!important;
        }
      }
      @include max-width-1200 {
        display: block !important;
        div:first-child {
          margin-bottom: .5rem!important;
        }
      }
      div {
        flex: 1 1 0px
      }
    }
  }
}
.line-contact + .line-contact::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  padding: 0.8px;
  background: rgba(53, 177, 184, 0.3);
  margin-bottom: 5px;
}
