<app-spinner [start]="loading" *ngIf="loading"></app-spinner>
<app-infor-general (dataProfile)="showDataProfile($event)">
  <ng-container *ngIf="userProfile">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-12">
        <div class="box pt-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="color-blue gotham-bold m-0 ft-16">Inf. Personal</h5>
            <a class="cursor-pointer" routerLink="/perfil/informacion-personal"><img src="./assets/img/svg/icon-pencil-edit.svg" class="img-fluid" alt=""></a>
          </div>
          <div class="box-content">
            <div class="pt-2 mb-2 d-flex justify-content-between align-items-center">
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">{{userProfile && userProfile.documentType && userProfile.documentType.name ? userProfile.documentType.name : 'Nro. Doc.'}}</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.document && userProfile.document.document ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.document && userProfile.document.document ? userProfile.document.document : 'Añadir...'}}</p>
              </div>
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Nacimiento</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.birth_date ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.birth_date ? userProfile.birth_date.date : 'Añadir...'}}</p>
              </div>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Correo</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.email && userProfile.email.email ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.email && userProfile.email.email ? userProfile.email.email : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2 d-flex justify-content-between align-items-center">
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Celular</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.phone && userProfile.phone.number !== '' ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.phone && userProfile.phone.number !== '' ? userProfile.phone.number : 'Añadir...'}}</p>
              </div>
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Anexo</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.annexed && userProfile.annexed.number !== '' ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.annexed && userProfile.annexed.number !== '' ? userProfile.annexed.number : 'Añadir...'}}</p>
              </div>
            </div>
            <div class="pt-2 mb-2 d-flex justify-content-between align-items-center">
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Departamento</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.ubigeo && userProfile.ubigeo.department ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.ubigeo && userProfile.ubigeo.department ? ( userProfile.ubigeo.department.name | lowercase ) : 'Añadir...'}}</p>
              </div>
              <div>
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Provincia</h5>
                <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.ubigeo && userProfile.ubigeo.province ? 'color-blue' : 'color-brownish-grey'">
                  {{userProfile && userProfile.ubigeo && userProfile.ubigeo.province ? ( userProfile.ubigeo.province.name | lowercase ) : 'Añadir...'}}</p>
              </div>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Distrito</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.ubigeo && userProfile.ubigeo.district ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.ubigeo && userProfile.ubigeo.district ? ( userProfile.ubigeo.district.name | lowercase ) : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Dirección</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.ubigeo && userProfile.ubigeo.address ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.ubigeo && userProfile.ubigeo.address ? ( userProfile.ubigeo.address | lowercase ) : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Estado Civil</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.maritalStatus && userProfile.maritalStatus.name ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.maritalStatus && userProfile.maritalStatus.name ? userProfile.maritalStatus.name : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Hijo(s)</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.children && userProfile.children.number_children ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.children && userProfile.children.number_children ? userProfile.children.number_children : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Hobbies</h5>
              <p class="m-0 gotham-book text-hobbies ft-15" [ngClass]="userProfile && userProfile.hobby && userProfile.hobby.hobbies ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.hobby && userProfile.hobby.hobbies ? ( userProfile.hobby.hobbies | truncate: '104' ) : 'Añadir...'}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12">
        <div class="box pt-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="color-blue gotham-bold m-0 ft-16">Inf. Académica</h5>
            <a class="cursor-pointer" routerLink="/perfil/informacion-academica"><img src="./assets/img/svg/icon-pencil-edit.svg" class="img-fluid" alt=""></a>
          </div>
          <div class="box-content">
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Profesión</h5>
              <ng-container *ngIf="userProfile && userProfile.profession && userProfile.profession.length">
                <ng-container *ngFor="let item of userProfile.profession">
                  <p class="m-0 gotham-book color-blue ft-15">{{item.name}}</p>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!userProfile.profession.length">
                <p class="m-0 gotham-book color-brownish-grey ft-15">Añadir...</p>
              </ng-container>
              <ng-container *ngIf="userProfile && userProfile.other_profession">
                <p class="m-0 gotham-book color-blue ft-15" *ngIf="userProfile.other_profession.profession">{{userProfile.other_profession.profession}}</p>
              </ng-container>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Grado académico</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.academicDegree && userProfile.academicDegree.name ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.academicDegree && userProfile.academicDegree.name ? userProfile.academicDegree.name : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Institución de estudio</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.study_institution && userProfile.study_institution.institution ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.study_institution && userProfile.study_institution.institution ? userProfile.study_institution.institution : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Formación académica</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.academic_training && userProfile.academic_training.academic_training ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.academic_training && userProfile.academic_training.academic_training ? userProfile.academic_training.academic_training : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Resumen profesional, proyectos y logros</h5>
              <p class="m-0 gotham-book ft-15"
                 [ngClass]="userProfile && userProfile.achievements && userProfile.achievements.achievement ? 'color-blue' : 'color-brownish-grey'">{{userProfile && userProfile.achievements && userProfile.achievements.achievement ? userProfile.achievements.achievement : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2" *ngIf="false">
              <h5 class="m-0 gotham-medium color-lightblue ft-16">Competencias validadas</h5>
              <ng-container *ngFor="let item of userProfile.competition">
                <div class="d-flex align-items-start mt-1">
                  <img src="./assets/img/svg/icon-check-lb.svg" class="img-fluid mr-1" alt="">
                  <p class="mb-1 gotham-book color-blue ft-15" style="line-height: 1.2">{{item.name}}</p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="box pt-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="color-blue gotham-bold text-infor m-0 ft-16">Datos familiares</h5>
            <a class="cursor-pointer" routerLink="/perfil/datos-de-contacto" *ngIf="userProfile && userProfile.contacts.length">
              <img src="./assets/img/svg/icon-pencil-edit.svg" class="img-fluid" alt=""></a>
          </div>
          <div class="box-content">
            <ng-container *ngIf="userProfile && userProfile.contacts.length">
              <ng-container *ngFor="let item of userProfile.contacts">
                <div class="line-contact">
                  <div class="pt-2 mb-2 ">
                    <h5 class="m-0 gotham-medium color-lightblue ft-15">Nombres</h5>
                    <p class="m-0 gotham-book color-blue ft-15">{{item.names + ' ' + item.surname}}</p>
                  </div>
                  <div class="pt-2 mb-2">
                    <h5 class="m-0 gotham-medium color-lightblue ft-15">Número de teléfono</h5>
                    <p class="m-0 gotham-book color-blue ft-15">{{item.phone}}</p>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div class="mt-4" *ngIf="userProfile && !userProfile.contacts.length">
              <a routerLink="/perfil/datos-de-contacto" class="color-lightblue gotham-medium"><img src="./assets/img/svg/icon-agregar-trans.svg" class="img-fluid mr-2" alt="">Agregar familiar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12">
        <div class="box pt-4">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="color-blue gotham-bold text-infor m-0 ft-16">Datos físicos</h5>
            <a class="cursor-pointer" routerLink="/perfil/datos-fisicos"><img src="./assets/img/svg/icon-pencil-edit.svg" class="img-fluid" alt=""></a>
          </div>
          <div class="box-content">
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Género</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.gender ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.gender ? ( userProfile.gender === 'M' ? 'Masculino' : 'Femenino' ) : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Estatura</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.physical_data && userProfile.physical_data.height ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.physical_data && userProfile.physical_data.height ? userProfile.physical_data.height + ' cm' : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Peso</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile &&  userProfile.physical_data &&  userProfile.physical_data.weight ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.physical_data && userProfile.physical_data.weight ? userProfile.physical_data.weight + ' kg' : 'Añadir...'}} </p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Imc</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile &&  userProfile.physical_data &&  userProfile.physical_data.imc ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.physical_data && userProfile.physical_data.imc ? userProfile.physical_data.imc : 'Añadir...'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Medicado (a)</h5>
              <p class="m-0 gotham-book ft-15" [ngClass]="userProfile && userProfile.physical_data &&  userProfile.physical_data.medications ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.physical_data && userProfile.physical_data.medications ? 'Sí' : 'No'}}</p>
            </div>
            <div class="pt-2 mb-2">
              <h5 class="m-0 gotham-medium color-lightblue ft-15">Sobre el medicamento</h5>
              <p class="m-0 gotham-book text-hobbies ft-15" [ngClass]="userProfile &&  userProfile.physical_data &&  userProfile.physical_data.medications ? 'color-blue' : 'color-brownish-grey'">
                {{userProfile && userProfile.physical_data && userProfile.physical_data.medications ? ( userProfile.physical_data.medications | truncate: '104' ) : 'Añadir...'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-infor-general>

