<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="gotham-medium ft-24 color-blue">Solicitud</h3>
    <a class="cursor-pointer btn-close" (click)="onClickClose()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>
  </div>
  <div class="">
    <empty-data class="empty-data empty-competences" *ngIf="!requests.preload && requests.items && !requests.items.length"></empty-data>
    <ng-container *ngIf="!requests.preload && requests.items && requests.items.length">
      <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}">
        <ng-container *ngFor="let date of requests.items, let i = index">
          <p class="color-blue-opacity gotham-medium ft-14">{{date.actualName}}</p>
          <ng-container *ngFor="let item of date.mentors, let i = index">
            <div class="d-flex justify-content-between align-items-center w-100 mb-3">
              <div class="box-mentor d-flex align-items-center">
                <div class="avatar img-mentor">
                  <img [src]="item.photo ? (item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" class="img-fluid m-auto" alt="">
                </div>
                <div class="ml-3">
                  <h4 class="color-blue ft-16 gotham-medium">{{item.name}} <br>{{item.last_name}}</h4>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <a class="cursor-pointer mx-2" (click)="onClickAcceptReject(item, 'rechazar')" style="border-radius: 50%;box-shadow: 3px 3px 10px 0 rgb(0 78 175 / 7%);"><img src="./assets/img/svg/icon-delete-wr2.svg" class="img-fluid" alt=""></a>
                <a class="cursor-pointer mx-2" (click)="onClickAcceptReject(item, 'aceptar')" style="border-radius: 50%;box-shadow: 3px 3px 10px 0 rgb(0 78 175 / 7%);"><img src="./assets/img/svg/icon-check-wg2.svg" class="img-fluid" alt=""></a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </perfect-scrollbar>
    </ng-container>
  </div>
</div>
