<div class="content-width">
  <perfect-scrollbar class="scrollbar-benefits" [config]="{suppressScrollX: true}" *ngIf="competence">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-4 responsive-heading">
        <div class="col-box detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-md-block"><a routerLink="/comunidad" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0">{{competence.name}}</h2>
              <h4 class="ft-20 gotham-book color-lightblue m-0">{{competence.category}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 detail-body mt-3">
        <div class="row">
          <div class="col-md-5 content-left border-right">
            <div class="content-filer d-flex align-items-center mt-3 mb-5" *ngIf="competence.requirement">
              <div class="d-flex requirements">
                <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
                <div class="text-filer">
                  <h6 class="mb-0 gotham-medium color-blue line-height">Requisitos</h6>
                  <span class="gotham-book color-gray">{{competence.requirement.size/1000}} KB</span>
                </div>
              </div>
              <div class="download-filer d-flex">
                <a [href]="competence.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
              </div>
            </div>
            <div class="content-mentor">
              <div class="mentor-heading mb-4">
                <h4 class="title gotham-book color-blue ft-19 m-0">Mentor</h4>
                <button class="apply-mentor" (click)="openApplyMentorModal()"><span class="gotham-bold color-lightblue ft-16">Solicitar otro</span><img src="./assets/img/svg/arrow-right-lightblue.svg" class="img-fluid icon-arrow-right" alt=""></button>
              </div>
              <div class="mentor-body mb-5" *ngIf="competence.mentor_requests[0].mentor">
                <img (click)="onDeleteFavoriteUsers($event, competence.mentor_requests[0].mentor)" src="./assets/img/svg/icon-star.svg" class="img-fluid is_favorite" *ngIf="competence.mentor_requests[0].mentor.is_favorite" alt="">
                <img (click)="onFavoriteUsers($event, competence.mentor_requests[0].mentor)" src="./assets/img/svg/icon-star.svg" class="img-fluid is_favorite opacity" *ngIf="!competence.mentor_requests[0].mentor.is_favorite" alt="">
                <div class="avatar d-flex align-items-start justify-content-center mr-3">
                  <img class="item-photo" [src]="competence.mentor_requests[0].mentor ? (competence.mentor_requests[0].mentor.photo ? competence.mentor_requests[0].mentor.photo : (competence.mentor_requests[0].mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
                  <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso2" alt="" *ngIf="competence.mentor_requests[0].mentor.is_mentor">
                </div>
                <div class="body">
                  <h3 class="name gotham-book color-blue ft-19 m-0 mb-1">{{competence.mentor_requests[0].mentor.name}}<br/>{{competence.mentor_requests[0].mentor.last_name}}</h3>
                  <h4 class="ocupation gotham-book color-blue ft-16 m-0">{{competence.mentor_requests[0].mentor.occupation}} | {{competence.mentor_requests[0].mentor.area}}</h4>
                  <div class="headquarter">
                    <img class="mr-1" src="../assets/img/svg/icon-marker.svg" alt="">
                    <span class="gotham-ligth color-blue ft-16">Sede {{competence.mentor_requests[0].mentor.headquarter}}</span>
                  </div>
                </div>
              </div>
              <div class="mentor-schedule d-flex">
                <button class="btn-navyblue m-auto" (click)="openSchedule(competence.mentor_requests[0].mentor)">Agendar Reunión</button>
              </div>
            </div>
          </div>
          <div class="col-md-7 content-right">
            <div class="content-evaluation">
              <div class="evaluation-heading mb-4">
                <h4 class="title gotham-book color-blue ft-19 m-0">Evaluaciones</h4>
                <div class="process">
                  <div class="text">
                    <span class="title gotham-book color-blue ft-16">Resultados:</span>
                    <span class="subtitle gotham-book color-blue ft-14">{{competence.status}}</span>
                  </div>
                  <div class="number gotham-book color-blue ft-30">{{competence.total_evaluated}}/{{competence.total_evaluations}}</div>
                </div>
              </div>
              <div class="evaluation-list" *ngIf="evaluations">
                <perfect-scrollbar class="scrollbar-special scrollbar-benefits" [config]="{suppressScrollX: true}">
                <div class="evaluation-item" *ngFor="let item of evaluations"
                  [ngClass]="{'not-approve': item.status === 'desaprobado', 'approve': item.status === 'aprobado', 'not-evaluate': item.status === null }">
                  <div class="box">
                    <div class="title gotham-book color-blue ft-16">{{item.name}}</div>
                    <div class="date gotham-book color-blue ft-14">
                      <img class="mr-1" src="../assets/img/svg/icon-calendar-date.svg" alt="">
                      <span *ngIf="!item.evaluation_date">Sin evaluar</span>
                      <span *ngIf="item.evaluation_date">Evaluado: {{item.evaluation_date | formatDate}}</span>
                    </div>
                  </div>
                  <div class="feedback" *ngIf="item.feedback">
                    <div class="title gotham-book color-red ft-14">Feedback</div>
                    <div class="description gotham-book color-blue ft-14">{{item.feedback}}</div>
                  </div>
                </div>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
