@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";

.responsive-heading {
  @include max-width-576 {
    left: 20px;
    top: 30px;
  }
}
.detail-heading {
  .icon-back {
    font-size: $ft-24;
  }
  .detail-title {
    margin-left: 5px;
    h4 {
      font-weight: 600;
    }
  }
}
.detail-body {
  padding-left: 47px;
  width: 100%;
  .content-left {
    padding-right: 40px;
    .content-filer {
      width: 100%;
      justify-content: space-between;
      gap: 36px;
      padding-right: 20px;
      @include max-width-576 {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
      }
      .requirements {
        flex-wrap: nowrap;
        gap: 20px;
        .icon-filer {
          width: 48px;
          height: 48px;
        }
        .text-filer {
          display: grid;
          gap: 3px;
          line-height: 1;
          padding: 5px 0;
          h6 {
            font-size: 17px;
            font-weight: 500;
          }
          span {
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
      .download-filer {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background-color: #eaf7f8;
        a {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
    }
    .content-mentor {
      .mentor-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          font-weight: 600;
        }
        .apply-mentor {
          border-radius: 5px;
          border: solid 2px #fff;
          background-color: #fff;
          line-height: 2;
          padding: 0 20px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
        }
      }
      .mentor-body {
        display: flex;
        width: 100%;
        height: 141px;
        margin: 17px 0 0;
        padding: 21px 43px 15.9px 21px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        background-color: #fff;
        position: relative;
        .is_favorite {
          position: absolute;
          width: 20px;
          height: 20px;
          z-index: 2;
          right: 16px;
          top: 16px;
          &.opacity {
            opacity: 0.3;
          }
        }
        .avatar {
          position: relative;
          img {
            width: 95px;
            height: 95px;
            &.icon-iso2 {
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: -8px;
              z-index: 2;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
        .body {
          display: grid;
          padding: 0px 15px 0 25px;
          gap: 0px;
          width: calc(100% - 100px);
          .name {
            line-height: 1.11;
            font-weight: 600;
          }
          .ocupation {
            opacity: 0.5;
            font-weight: 600;
          }
          .headquarter {
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 2px;
            img {
              width: 12px;
            }
          }
        }
      }
    }
  }
  .content-right {
    padding: 0 40px;
    .evaluation-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 30px;
      .title {
        font-weight: 600;
        line-height: 1.42;
      }
      .process {
        display: flex;
        flex-direction: row;
        gap: 30px;
        .text {
          display: flex;
          flex-direction: column;
          .title {
            font-weight: 600;
            line-height: 1.25;
          }
          .subtitle {
            opacity: 0.5;
            font-weight: 600;
            line-height: 1.43;
          }
        }
        .number {
          opacity: 0.3;
          font-weight: 600;
          line-height: 1.4;
        }
      }
    }
    .evaluation-list {
      height: calc(100vh - 315px);
      .evaluation-item {
        width: 100%;
        background-color: #fff;
        position: relative;
        padding: 0 0 15px 0;
        &.not-evaluate:after {
          content: url('~assets/img/svg/icon-check-white.svg');
          display: flex;
          position: absolute;
          z-index: 2;
          left: -8px;
          top: 20.5px;
          bottom: 0;
          width: 40px;
          height: 100%;
        }
        &.not-approve:after {
          content: url('~assets/img/svg/icon-delete-request.svg');
          display: flex;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 20.5px;
          bottom: 0;
          width: 40px;
          height: 100%;
        }
        &.approve:after {
          content: url('~assets/img/svg/icon-check-request.svg');
          display: flex;
          position: absolute;
          z-index: 2;
          left: 0;
          top: 20.5px;
          bottom: 0;
          width: 40px;
          height: 100%;
        }
        .box {
          width: calc(100% - 90px);
          height: 97px;
          border-radius: 10px;
          box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
          background-color: #fff;
          margin-left: 60px;
          padding: 22px 25px;
          .title {
            font-weight: normal;
            line-height: 1.19;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .date {
            font-weight: 500;
            line-height: 1.43;
            display: flex;
            align-items: center;
            gap: 4px;
            span {
              opacity: 0.5;
            }
          }
        }
        .feedback {
          width: calc(100% - 90px);
          min-height: 79px;
          padding: 22px 25px;
          margin-left: 60px;
          border-radius: 10px;
          background-color: #f7f8f9;
          margin-top: 15px;
          .title {
            font-weight: 600;
          }
        }
        &:first-child .box:after {
          content: "";
          background: #e9edf1;
          width: 2px;
          height: calc(100% - 32.5px);
          left: 19px;
          position: absolute;
          bottom: 0;
        }
        &:last-child .box:after {
          content: "";
          background: #e9edf1;
          width: 2px;
          height: calc(97px - 45px);
          left: 19px;
          position: absolute;
          top: 0;
        }
        &:not(:first-child):not(:last-child) .box:after {
          content: "";
          background: #e9edf1;
          width: 2px;
          height: 100%;
          left: 19px;
          position: absolute;
          top: 0;
          bottom: 0;
        }
        &.not-approve,
        &.approve {
          .date span {
            font-weight: bold;
            opacity: 1 !important;
          }
        }
      }
    }
  }
}
