<div class="content" [formGroup]="formGroup">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <h3 class="gotham-book color-navyblue text-left m-0 mt-4 mb-2 ft-23">Sugerir<br><span class="gotham-bold">Mentor</span></h3>
  <div class="">
    <div class="search mt-3">
      <app-control-messages [control]="formGroup.controls.mentor_id" class="d-block mb-3"> <!-- [multiple]="true" -->
        <ng-select class="ng-select-search" placeholder="Participantes"
                   [clearable]="true" [clearSearchOnAdd]="true" [closeOnSelect]="true" [items]="listUsers" (open)="clearListUsers()"
                   (add)="addListUsers($event)" (close)="onClickClose()" [minTermLength]=3 [typeahead]="typeAheadListUsers" formControlName="mentor_id"
                   [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom" placeholder="Buscar colaborador"
                   bindLabel="name" bindValue="id" [compareWith]="compareFn" typeToSearchText="Escribe para buscar">
        </ng-select>
      </app-control-messages>
    </div>
    <div class="mt-4">
      <perfect-scrollbar class="scrollbar-special scrollbar-new-mentor" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledCompetencesDownEnd(tabUsers)">
        <div class="form-group form-check form-check-newgroup d-flex align-items-center mb-2 cursor-pointer" *ngFor="let item of listSetUsers">
          <input *ngIf="!item.is_occupied" type="checkbox" name="exampleRadios" class="form-check-input" [id]="item.id" [checked]="item.checked" (change)="removeListUsers(item)">
          <label class="form-check-label font-style d-flex align-items-center justify-content-between w-100 cursor-pointer" [for]="item.id">
            <div class="d-flex justify-content-start align-items-center" [ngClass]="{'occupied': item.is_occupied}">
              <div class="position-relative">
                <div class="content-img mr-2">
                  <img [src]="item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                </div>
                <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid is_mentor" alt="">
              </div>
              <div class="">
                <p class="m-0 mb-1 gotham-medium color-blue ft-15">{{ item.name }}<br/>{{ item.last_name }}</p>
              </div>
            </div>
            <span class="mr-2" *ngIf="!item.is_occupied"></span>
            <img (click)="onShowOCupied(item)" *ngIf="item.is_occupied" src="./assets/img/svg/icon-mentor-info.svg" class="img-fluid is_occupied" alt="">
          </label>
        </div>
      </perfect-scrollbar>
      <div class="mentor-schedule d-flex">
        <button type="submit" class="btn-navyblue m-auto" (click)="onSubmit()" [disabled]="formGroup.invalid">Sugerir Mentor</button>
      </div>
    </div>
  </div>
</div>
