<div class="content-width content-challenges content-discussion">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <ng-container *ngIf="discussions && discussions[ 0 ]">
    <div class="display-response">
      <a routerLink="/cultura-caja-con-sentido" class="d-block icon-back-responsive"><i class="fas fa-arrow-left color-lightblue"></i></a>
      <div class="">
        <h2 class="color-blue gotham-bold ft-25 mb-0">
          {{discussions[ 0 ]?.title}}</h2>
        <p class="color-lightblue gotham-bold ft-18">{{discussions[ 0 ]?.score_total}} pts
          <img src="./assets/img/svg/icon-information.svg" class="img-fluid icon-information cursor-pointer ml-2"
               (click)="openChallengeValues()" alt=""></p>
      </div>
    </div>
  </ng-container>

  <perfect-scrollbar class="scrollbar-challenge-videos" [config]="{suppressScrollX: true}">
    <div class="container px-md-0">
      <div class="text-center mt-5 pt-5" *ngIf="listDiscussionsResponse && listDiscussionsResponse.data.total === 0">
        <div class="icon-sorry d-flex align-items-center justify-content-center mx-auto">
          <img src="./assets/img/svg/lo-sentimos.svg" class="img-fluid" alt="">
        </div>
        <h5 class="gotham-bold ft-20 color-blue mt-3">Lo sentimos</h5>
        <p class="gotham-book ft-14 color-blue">No cuentas con puntaje en esta actividad</p>
      </div>
      <div class="row" *ngIf="listDiscussionsResponse && listDiscussionsResponse.data.total !== 0">
        <div class="col-md-4 mb-3" *ngFor="let item of listDiscussions,  trackBy: trackByVideoId">
          <div class="box cursor-pointer" (click)="onClickDetail(item)">
            <div class="content-image position-relative">
              <div class="challenge-complete gotham-medium color-white ft-14 text-center" *ngIf="item.status && item.status === 1">Reto cumplido</div>
              <div class="img d-none d-md-block" [style.background-image]="'url(' + item.img + ')'"></div>
              <img [src]="item.img ? item.img : './assets/img/discusion-videos1.png'" class="img-fluid d-block d-md-none" alt="">
            </div>
            <div class="py-2 px-2 position-relative">
              <div class="points gotham-medium color-lightblue ft-14 text-center" *ngIf="item.score && (discussionId === 2 || discussionId === 4)">{{item.score}} ptos</div>
              <div class="d-flex align-items-center py-1" *ngIf="discussionId === 2 || discussionId === 3" [ngClass]="discussionId === 3 ? 'justify-content-between': ''">
                <a *ngIf="discussionId === 2" class="text-decoration-none cursor-pointer gotham-medium ft-12 mr-3" (click)="onClickLiked(item)" [ngClass]="item.like >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                  <img [src]="item.is_like ? './assets/img/svg/icon-heart2.svg' : './assets/img/svg/icon-heartw2.svg'" class="img-fluid" alt="">
                  {{item.like}} {{item.like === 1 ? 'like' : 'likes'}}</a>
                <ng-container *ngIf="discussionId === 2 || discussionId === 3">
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12 color-blue-opacity"> <!-- [ngClass]="item.comment >= 1? 'color-lightblue' : 'color-blue-opacity'" -->
                    <img src="./assets/img/svg/icon-comment.svg" class="img-fluid" alt=""> {{item.comment}} {{item.comment === 1 ? 'comentario' : 'comentarios'}}</a>
                </ng-container>
                <ng-container *ngIf="discussionId === 3">
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12 color-blue-opacity"> {{item.reply_questions ? item.reply_questions : 0}}/{{item.questions}} preguntas</a>
                </ng-container>
              </div>
              <h5 class="color-blue gotham-medium ft-15" *ngIf="discussionId === 2 || discussionId === 3">{{item.title | truncate:'30'}}</h5>
              <ng-container *ngIf="discussionId === 4">
                <h5 class="color-blue gotham-medium ft-15 text-width mb-0">{{item.title | truncate:'30'}}</h5>
                <a class="text-decoration-none cursor-pointer gotham-medium ft-12 color-blue-opacity"> {{item.reply_questions ? item.reply_questions : 0}}/{{item.questions}} preguntas</a>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="d-flex justify-content-end align-items-center" *ngIf="listDiscussionsResponse && listDiscussionsResponse.data.total !== 0">
            <pagination [totalItems]="listDiscussionsResponse.data.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true"
                        [itemsPerPage]="listDiscussionsResponse.data.per_page"
                        (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
