@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.content-discussion {
  .box {
    max-width: 100%; //290px;
    min-height: 243px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
    background: #fff;
    border-radius: 7px;

    .content-image {
      max-width: 100%; //290px;
      //min-height: 158px;
      height: 170px; // 158px;
      overflow: hidden;
      border-radius: 10px 10px 0 0;

      .img {
        width: 100%;
        // max-width: 290px;
        height: 170px; // 158px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

   /* h5 {
      min-height: 35px;
    }*/
    .text-width{
      width: 100%;
      max-width: 265px;
    }
  }

  .points {
    min-width: 64px;
    height: 30px;
    background-color: #35b1b81a;
    line-height: 2;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .challenge-complete {
    min-width: 125px;
    height: 30px;
    background-color: $lightblue;
    line-height: 2;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
    top: 15px;
  }
}
