@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.content-info-physicaldata {
  padding: 0 30px;
  .icon-back {
    width: 37px;
    margin-left: -10px;
  }
  h3 {
    line-height: 16px;
  }
  .btn-save {
    width: 150.1px;
    height: 44.8px;
    @include max-width-1200 {
      display: none !important;
    }
  }
  .btn-save-footer {
    @include max-width-1200 {
      display: inline-block !important;
      .btn-save {
        display: inline-block !important;
      }
    }
  }
  .content-physicaldata {
    gap: 20px;
    @include max-width-576 {
      display: block !important;
      .form-group {
        width: 100% !important;
      }
    }
  }
  .btn-group {
    display: flex;
    gap: 20px;
    .btn-lightblue {
      border-radius: 7px!important;
      border: solid 1px $lightblue;
      font-size: 14px;
      background: transparent;
      color: $lightblue;
      box-shadow: none;
      margin-right: 12px;
      &.active, &:hover, &:focus, &:active, &:active:focus {
        border-color: $lightblue!important;
        background: $lightblue!important;
        color: $white;
        font-family: "Gotham-Medium", sans-serif;
      }
    }
  }

  .text-cm, .text-kg {
    position: absolute;
    bottom: -21px;
    color: #002655;
    font-family: "Gotham-Book", sans-serif;
    font-size: 16px;
  }
  .text-cm {
    left: 38px;
  }  .text-kg {
         left: 54px;
  }
  .form-group-medications {
    .textarea-hobbies{
      width: 100%;
      height: 98px;
      @include min-width-768 {
        width: 325px;
      }
      @include min-width-768 {
        width: 495px;
      }
      border-radius: 7px;
      border: solid 1px #8f99aa;
      background-color: $white;
      font-size: 18px;
      resize: none;
      &:focus{
        box-shadow: 0 0 0 0;
      }
      &::first-letter { text-transform: uppercase }
    }
    .character-counter {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
