<app-infor-general (dataProfile)="showDataProfile($event)" [userProfileUpdate]="userProfile">
  <div class="content-info-physicaldata">
    <div class="d-flex justify-content-between pt-3 mb-4">
      <div class="d-flex">
        <div class=""><a routerLink="/perfil" class="d-block icon-back"><img src="./assets/img/svg/icon-back.svg" class="img-fluid" alt=""></a></div>
        <div class="">
          <h4 class="gotham-book color-blue m-0 ft-30">Editar</h4>
          <h3 class="gotham-bold color-blue m-0 ft-35">Datos Físicos</h3>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <button type="button" class="btn btn-blue btn-save gotham-medium ft-18" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
      </div>
    </div>

    <div class="row justify-content-center mt-3 pb-2 pl-1 pl-sm-0 pr-1 pr-sm-0" [formGroup]="formGroup">
      <div class="col-md-11">
        <div class="d-flex content-physicaldata cont-inputs">
          <app-control-messages [control]="formGroup.controls.height">
            <div class="box-select box-select-width box-select-gray box-select-normal w-100">
              <div class="form-group d-flex md-input mb-0">
                <input type="text" class="form-control shadow-none" formControlName="height" placeholder=" " [dropSpecialCharacters]="false" mask="0.00" maxlength="5" required>
                <label>Estatura <span class="text-cm">cm</span></label>
              </div>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.weight">
            <div class="box-select box-select-width box-select-gray box-select-normal w-100">
              <div class="form-group d-flex md-input mb-0">
                <input type="text" class="form-control shadow-none" formControlName="weight" placeholder=" " maxlength="5"  pattern="^\d{0,10}(\.\d{0,2})?$"  required>
                <label>Peso <span class="text-kg">kg</span></label>
              </div>
            </div>
          </app-control-messages>
        </div>
        <div class="mt-3 d-flex justify-content-between">
          <app-control-messages [control]="formGroup.controls.medications_question">
            <div class=" d-flex justify-content-start align-items-end mb-2">
              <div class="mr-3">
                <p class="m-0 gotham-medium color-blue text-title-name">¿Está tomando algún medicamento?</p>
              </div>
            </div>
            <div class="btn-group" btnRadioGroup formControlName="medications_question" (click)="onClickHaveMedications()">
              <label class="btn btn-primary btn-lightblue btn-children gotham-book" btnRadio="si" tabindex="0" role="button">Sí</label>
              <label class="btn btn-primary btn-lightblue btn-children gotham-book" btnRadio="no" tabindex="0" role="button">No</label>
            </div>
          </app-control-messages>
        </div>
        <div class="mt-3 d-flex justify-content-between animated fadeIn" *ngIf="haveMedications">
          <app-control-messages [control]="formGroup.controls.medications">
            <div class="d-flex justify-content-start align-items-end mb-2">
              <div class="mr-3">
                <p class="m-0 gotham-medium color-blue text-title-name">Cuéntanos sobre el medicamento</p>
              </div>
            </div>
            <div class="form-group form-group-medications m-0 position-relative">
              <textarea class="form-control textarea-hobbies gotham-book color-blue" formControlName="medications" maxlength="255" rows="3"></textarea>
              <span class="character-counter gotham-book color-blue mr-3 mt-2">{{formGroup.get('medications').value ? formGroup.get('medications').value.length : 0}} / 255</span>
            </div>
          </app-control-messages>
        </div>
      </div>
    </div>
    <div class="btn-save-footer col-md-12 mt-4 d-block d-sm-none text-center">
      <div>
        <button type="button" class="btn btn-blue btn-save gotham-medium" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
      </div>
    </div>
  </div>
</app-infor-general>

