@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
.content{
  padding: 50px;
  .btn-close{
    position: absolute;
    right: 28px;
    top: 25px;
  }
  h3{
    font-size: 35px;
  }
  h4{
    font-size: 28px;
  }
  .content-img{
    width: 190px;
    height: 190px;
    padding: 18px;
    background-color: rgba(0, 38, 85, 0.1);
    border-radius: 50%;
    overflow: hidden;
  }
  .message{
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
  }
  .btn-chat{
    width: 178.1px;
    height: 44.8px;
  }
  .img-lines{
    width: 370px;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    //top: 0;
    top: 0;
  }
}
