<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <h3 class="gotham-bold color-lightblue text-center m-0 pt-5">¡Feliz Cumpleaños!</h3>

  <div class="content-img d-flex align-items-center justify-content-center mt-5 mb-4 ml-auto mr-auto">
    <img *ngIf="userProfile && userProfile.gender === 'F'" src="{{userProfile.photo}}" onError="this.src='./assets/img/svg/user-avatar1.svg';" class="img-fluid mr-2" alt="">
    <img *ngIf="userProfile && userProfile.gender === 'M'" src="{{userProfile.photo}}" onError="this.src='./assets/img/svg/user-avatar2.svg';" class="img-fluid mr-2" alt="">
  </div>

  <div class="position-relative pt-4">
    <p class="gotham-medium color-blue mb-5 text-center message">¡Caja Arequipa te desea un feliz cumpleaños y que se cumplan todos tus deseos!</p>
    <img src="./assets/img/svg/img-lines-profile.svg" class="img-fluid img-lines text-center" alt="">
  </div>
</div>
