@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.content-info-academic {
  padding: 0 30px;
  .icon-back {
    width: 37px;
    margin-left: -10px;
  }
  h3 {
    line-height: 16px;
  }
  .btn-save {
    width: 150.1px;
    height: 44.8px;
    @include max-width-1200 {
      display: none !important;
    }
  }
  .btn-save-footer {
    @include max-width-1200 {
      display: inline-block !important;
      .btn-save {
        display: inline-block !important;
      }
    }
  }
  app-control-messages {
    width: 100%;
  }
  .box-select-width {

  }
  .textarea-academic {
    width: 100%;
    height: 80px;
    border-radius: 7px;
    border: solid 1px #8f99aa;
    background-color: $white;
    resize: none;
    font-size: 14px;
    font-family: "Gotham-Book", sans-serif;
  }
  .character-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    @include min-width-768 {
      right: 0;
    }
  }
  .box-lightblue{
    padding: 0 10px;
    height: 36px;
    border-radius: 5px;
    background-color: #d6eff1;
    font-size: 14px;
    font-family: "Gotham-Medium", sans-serif;
    color: $lightblue;
  }
}
