<app-infor-general (dataProfile)="showDataProfile($event)" [userProfileUpdate]="userProfile">
  <div class="content-info-academic">
    <div class="d-flex justify-content-between pt-3 mb-4">
      <div class="d-flex">
        <div class=""><a routerLink="/perfil" class="d-block icon-back"><img src="./assets/img/svg/icon-back.svg" class="img-fluid" alt=""></a></div>
        <div class="">
          <h4 class="gotham-book color-blue m-0 ft-30">Editar información</h4>
          <h3 class="gotham-bold color-blue m-0 ft-35">Académica</h3>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <button type="button" class="btn btn-blue btn-save gotham-medium ft-18" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
      </div>
    </div>
    <perfect-scrollbar class="scrollbar-special scrollbar-personal-data" [config]="{suppressScrollX: true}">
      <div class="row justify-content-center mt-3 pb-5 pl-1 pl-sm-0 pr-1 pr-sm-0" [formGroup]="formGroup">
        <div class="col-md-11">
          <div class="row">
            <div class="col-xl-6 col-md-12">
              <div class="d-flex">
                <app-control-messages [control]="formGroup.controls.profession">
                  <div class="box-select box-select-dropdown multiple box-select-normal position-relative">
                    <label class="m-0 color-lightblue gotham-medium text-type">Profesión</label>
                    <ng-select class="custom-ng-select ng-select-academic" formControlName="profession" placeholder="Seleccionar" (change)="onChangeProfession($event)"
                      [multiple]="true" [clearable]="false" [searchable]="false" [dropdownPosition]="'bottom'"
                      [notFoundText]="'No se encontraron resultados'" [items]="profession" [bindLabel]="'name'" [bindValue]="'id'">
                    </ng-select>
                  </div>
                </app-control-messages>
              </div>
              <div class="d-flex mt-3" *ngIf="otherProfessional">
                <app-control-messages [control]="formGroup.controls.other_profession">
                  <div class="box-select box-select-width box-select-normal box-select-border" *ngIf="otherProfessional">
                    <div class="form-group d-flex md-input mb-0" *ngIf="otherProfessional">
                      <input type="text" class="form-control shadow-none background-f8" formControlName="other_profession" placeholder=" " required>
                      <label>Otros</label>
                    </div>
                  </div>
                </app-control-messages>
              </div>
              <div class="d-flex mt-3">
                <app-control-messages [control]="formGroup.controls.academic_degree">
                  <div class="box-select box-select-dropdown box-select-normal position-relative">
                    <p class="m-0 color-lightblue gotham-medium text-type">Grado Académico</p>
                    <ng-select class="custom-ng-select ng-select-academic" formControlName="academic_degree" placeholder="Seleccionar"
                      [clearable]="false" [searchable]="false" [notFoundText]="'No se encontraron resultados'"
                      [items]="academicDegree" dropdownPosition="bottom" bindLabel="name" bindValue="id">
                    </ng-select>
                  </div>
                </app-control-messages>
              </div>
              <div class="d-flex mt-3">
                <app-control-messages [control]="formGroup.controls.study_institution">
                  <div class="box-select box-select-width box-select-gray box-select-normal">
                    <div class="form-group d-flex md-input mb-0">
                      <input type="text" class="form-control shadow-none background-f8" formControlName="study_institution" placeholder=" ">
                      <label>Institución de estudios</label>
                    </div>
                  </div>
                </app-control-messages>
              </div>
              <div class="d-flex mt-3 mb-3">
                <app-control-messages [control]="formGroup.controls.academic_training">
                  <div class="mr-3">
                    <label class="m-0 gotham-medium color-blue ft-15 mb-2">Formación académica</label>
                  </div>
                  <div class="form-group m-0 position-relative">
                    <textarea class="form-control textarea-academic gotham-book color-blue" formControlName="academic_training" maxlength="255" rows="3"></textarea>
                    <span class="character-counter gotham-book color-blue mr-3 mt-2">{{formGroup.get('academic_training').value ? formGroup.get('academic_training').value.length : 0}} / 255</span>
                  </div>
                </app-control-messages>
              </div>
            </div>
            <div class="col-xl-6 col-md-12">
              <div class="d-flex">
                <app-control-messages [control]="formGroup.controls.achievements">
                  <div class="box-select box-select-width box-select-gray box-select-normal">
                    <div class="form-group d-flex md-input mb-0">
                      <input type="text" class="form-control shadow-none background-f8 input-achie" formControlName="achievements" placeholder=" " appTrimCaja="achievements">
                      <label>Logros</label>
                    </div>
                  </div>
                </app-control-messages>
              </div>
              <div class="d-grid mt-3 mb-3" *ngIf="false">
                <div class="box-select box-select-width box-select-gray box-select-normal w-100">
                  <div class="form-group d-flex md-input mb-0">
                    <tag-input class="input-tag gotham-book" formControlName="skills" (onAdd)="onAdd($event)" [placeholder]="'Añadir habilidades...'" [secondaryPlaceholder]="'Añadir habilidades...'"></tag-input>
                    <label>Habilidades</label>
                  </div>
                </div>
                <div class="d-flex flex-wrap mt-3">
                  <ng-container *ngFor="let item of arraySkills">
                    <div class="box-lightblue d-flex justify-content-center align-items-center mr-3 mb-2">
                      <span class="d-block">{{item}}</span> <img src="./assets/img/svg/icon-close-celeste.svg" (click)="onClickDeleteSkill(item)" class="img-fluid ml-2 cursor-pointer" alt=""></div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btn-save-footer col-md-12 mt-4 d-block d-sm-none text-center">
              <div class="">
                <button type="button" class="btn btn-blue btn-save gotham-medium" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</app-infor-general>

