<div class="content-width content-recognition-system">
  <h2 class="color-blue gotham-bold ft-30 mb-2 mb-sm-0 line-height">Sistema de Reconocimientos</h2>
  <p class="color-blue gotham-book mb-4 mb-sm-5 description">El sistema de reconocimientos es una herramienta que permite fomentar una cadena de reconocimientos entre los colaboradores de Caja Arequipa.</p>

  <div class="box-items">
    <a [routerLink]="item.router" class="item text-decoration-none px-3" *ngFor="let item of items">
      <img [src]="item.icon" class="img-fluid" width="40" alt="icon">
      <h5 class="color-blue gotham-bold ft-16 mb-0">{{item.name}}</h5>
    </a>
  </div>
</div>
