@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/shine.scss";

.content-tickets {
  overflow: hidden;
  min-height: 100%;
  width: calc(100% - 110px);
  @include max-width-576 {
    width: 100%;
  }
  &__filter {
    @include max-width-576 {
      margin-bottom: 15px !important;
    }
    .formGroup {
      flex-wrap: wrap;
      gap: 20px;
      @include max-width-576 {
        justify-content: space-between;
        flex-wrap: nowrap;
        app-control-messages {
          width: 100%;
        }
      }
      .ng-select{
        width: 160px;
        @include max-width-576 {
          width: 100%;
        }
      }
    }
  }
  &__items {
    gap: 20px;
    width: calc(calc(124px * 6) - 20px);
    @include max-width-576 {
      width: 100%;
      padding: 10px;
      gap: 10px;
    }
    .box-tickets {
      // width: 104px;
      height: 145px;
      padding: 0 10px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      background-color: white;
      width: calc(calc(100% / 2) - calc(5px));
      @include min-width-768 {
        width: 130px;
        height: 130px;
      }

      a {
        text-decoration: none;
      }

      &:hover {
        box-shadow: 3px 3px 10px 0 rgb(0 78 175 / 40%);
        cursor: pointer;
      }
    }

  }
  .preload {
    .box-tickets {
      box-shadow: none;
      background-color: #f6f7f8 !important;
    }
  }
}
