<div class="content-width content-tickets position-relative">
  <div class="content-tickets__header mb-3">
    <!--<h2 class="color-blue gotham-bold mb-0 ft-30">Consulta y descarga Boleta de Pago</h2>-->
    <h2 class="color-blue gotham-book mb-0 ft-30">Boletas <span class="gotham-bold">de Pago</span></h2>
  </div>
  <div class="content-tickets__filter mb-5">
    <div class="formGroup d-flex">
      <app-control-messages>
        <div class="box-select box-select-dropdown box-select-normal position-relative">
          <label class="m-0 color-lightblue gotham-medium text-type">Año</label>
         <!-- <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
            [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
            [items]="listOptionsYears" bindLabel="name" bindValue="id" (change)="onSelectYear($event)" [(ngModel)]="selectedYear">
          </ng-select>-->
          <ng-select [(ngModel)]="selectedYear" (change)="onSelectYear($event)" class="custom-ng-select ng-select-academic ng-select-with-option"
                     [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar">
            <ng-option *ngFor="let year of listOptionsYears" [value]="year.id">{{year.name}}</ng-option>
          </ng-select>
        </div>
      </app-control-messages>
      <app-control-messages>
        <div class="box-select box-select-dropdown box-select-normal position-relative">
          <label class="m-0 color-lightblue gotham-medium text-type">Mes</label>
         <!-- <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
            [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
            [items]="listOptionsMonths" bindLabel="name" bindValue="id" (change)="onSelectMonth($event)">
          </ng-select>-->
          <ng-select  (change)="onSelectMonth($event)" class="custom-ng-select ng-select-academic ng-select-with-option"
                     [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar">
            <ng-option *ngFor="let month of listOptionsMonths" [value]="month.id" class="text-capitalize">{{month.name}}</ng-option>
          </ng-select>
        </div>
      </app-control-messages>
    </div>
  </div>

  <div class="content-tickets__items preload d-flex flex-wrap" *ngIf="preload">
    <div class="box-tickets d-flex align-items-center mb-3 shine" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]"></div>
  </div>

  <div class="content-tickets__items d-flex flex-wrap" *ngIf="!preload">
    <div class="box-tickets d-flex align-items-center mb-3" *ngFor="let item of listReceipts">
      <a href="{{ item.uri }}" target="_blank" download>
        <img src="./assets/img/svg/icon-bg-download.svg" class="img-fluid pl-2 mb-2" alt="">
        <p class="color-blue gotham-book ft-16 pl-2 m-0">{{ item.nombre }}</p>
        <span class="color-gray-date d-block gotham-light ft-10 pl-2">{{ item.fecha }}</span>
      </a>
    </div>
  </div>

  <div class="row" *ngIf="false">
    <div class="col-md-12">
      <h2 class="text-calculator gotham-bold m-0">Detalle de boleta de pago</h2>
    </div>
    <div class="col-md-8">
      <tabset class="tabs-calculator">
        <tab heading="Cartera" id="cartera">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Clientes" id="clientes">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="%Retención" id="retencion">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Subtotal" id="subTotal">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="% Mora > 15" id="mora">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="% Contención" id="contencion">
          <div class="content-tab d-flex align-items-center mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="row pt-2 pl-4">
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Mínimo para comisionar</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">36,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Crecimiento del mes</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">45,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Bono por meta</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Excedente</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">9,000</p></div>
                  <div class="col-md-7"><p class="gotham-bold color-lightblue mb-2 p1">Total Final</p></div>
                  <div class="col-md-5"><p class="gotham-book color-blue m-0 p2">320+45</p></div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-between align-items-center monto-total pl-3 pr-3">
        <div class="gotham-bold color-blue text-monto-total">Monto total</div>
        <div class="text-mont gotham-medium color-lightblue">1,282</div>
      </div>
    </div>
  </div>
</div>
