<div class="content-width">
  <perfect-scrollbar class="scrollbar-benefits" [config]="{suppressScrollX: true}" *ngIf="competence">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-4 responsive-heading">
        <div class="col-box detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-md-block"><a routerLink="/comunidad" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0">{{competence.name}}</h2>
              <h4 class="ft-20 gotham-book color-lightblue m-0">{{competence.category}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 detail-body mt-3">
        <div class="row">
          <div class="col-md-5 content-left border-right">
            <div class="content-filer d-flex align-items-center mt-3 mb-5" *ngIf="competence.requirement">
              <div class="d-flex requirements">
                <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
                <div class="text-filer">
                  <h6 class="mb-0 gotham-medium color-blue line-height">Requisitos</h6>
                  <span class="gotham-book color-gray">{{competence.requirement.size / 1000}} KB</span>
                </div>
              </div>
              <div class="download-filer d-flex">
                <a [href]="competence.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
              </div>
            </div>
            <div class="content-mentor">
              <div class="mentor-heading mb-4">
                <h4 class="title gotham-book color-blue ft-19 m-0">Mentor</h4>
              </div>
              <div class="mentor-body mb-5" *ngIf="mentor">
                <div class="position-relative">
                  <div class="avatar mr-3">
                    <img class="item-photo"
                         [src]="mentor? (mentor.photo ? mentor.photo : (mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'"
                         alt="">
                  </div>
                  <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso2" alt="" *ngIf="mentor.is_mentor">
                </div>
                <div class="body">
                  <h3 class="name gotham-book color-blue ft-19 m-0 mb-1">{{mentor.name}}<br/>{{mentor.last_name}}</h3>
                  <h4 class="ocupation gotham-book color-blue ft-16 m-0">{{mentor.occupation}} | {{mentor.area}}</h4>
                  <div class="headquarter">
                    <img class="mr-1" src="../assets/img/svg/icon-marker.svg" alt="">
                    <span class="gotham-ligth color-blue ft-16">Sede {{mentor.headquarter}}</span>
                  </div>
                </div>
              </div>
              <div class="mentor-schedule d-flex">
                <button class="btn-navyblue m-auto" (click)="openSchedule(mentor)">Agendar Reunión</button>
              </div>
            </div>
          </div>
          <div class="col-md-7 content-right">
            <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
            <div class="content-evaluation">
              <div class="evaluation-heading mb-4">
                <h4 class="title gotham-book color-blue ft-19 m-0">Evaluaciones</h4>
                <div class="process" *ngIf="results">
                  <div class="text">
                    <span class="title gotham-book color-blue ft-16">Resultados:</span>
                    <span class="subtitle gotham-book color-blue ft-14">{{results.status}}</span>
                  </div>
                  <div class="number gotham-book color-blue ft-30">{{results.total_evaluated}}/{{results.total_evaluations}}</div>
                </div>
              </div>
              <div class="evaluation-list" *ngIf="evaluations">
                <perfect-scrollbar class="scrollbar-special scrollbar-benefits" [config]="{suppressScrollX: true}">
                  <div class="evaluation-item" *ngFor="let item of evaluations"
                       [ngClass]="{'not-approve': item.status === 'desaprobado', 'approve': item.status === 'aprobado', 'not-evaluate': item.status === null }">
                    <div class="box">
                      <div class="title gotham-book color-blue ft-16">{{item.name}}</div>
                      <div class="date gotham-book color-blue ft-14">
                        <img class="mr-1" src="../assets/img/svg/icon-calendar-date.svg" alt="">
                        <div class="d-flex justify-content-between align-items-center w-100" *ngIf="!item.evaluation_date">
                          <div>Sin evaluar</div>
                          <div class="d-flex justify-content-between align-items-center">
                            <a class="cursor-pointer mx-2" (click)="onClickAcceptReject(item, 'rechazar')" style="border-radius: 50%;box-shadow: 3px 3px 10px 0 rgb(0 78 175 / 7%);"><img src="./assets/img/svg/icon-delete-wr2.svg" class="img-fluid" alt=""></a>
                            <a class="cursor-pointer mx-2" (click)="onClickAcceptReject(item, 'aceptar')" style="border-radius: 50%;box-shadow: 3px 3px 10px 0 rgb(0 78 175 / 7%);"><img src="./assets/img/svg/icon-check-wg2.svg" class="img-fluid" alt=""></a>
                          </div>
                        </div>
                        <span *ngIf="item.evaluation_date">Evaluado: {{item.evaluation_date | formatDate}}</span>
                      </div>
                    </div>
                    <div class="feedback" *ngIf="item.feedback">
                      <div class="title gotham-book color-red ft-14">Feedback</div>
                      <div class="description gotham-book color-blue ft-14">{{item.feedback}}</div>
                    </div>
                  </div>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
