@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/shine.scss";

.img-content {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 25px;
}

.text-comment {
  width: 390px;
}

p {
  line-height: 1.4;
}
.cont-delete {
  width: 18px;
  height: 20px;
}
