<ng-container *ngIf="item">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <div class="img-content mr-2"><img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
      <div class="">
        <h5 class="color-blue gotham-medium ft-12 mb-0">{{item.user.name + ' ' + item.user.last_name}}</h5>
        <p class="color-blue-opacity gotham-medium mb-0 ft-12">{{item.created_at | formatDate: 'year'}}</p>
      </div>
    </div>
    <div class="cont-delete cursor-pointer" *ngIf="userId === item.user.id" (click)="onClickDelete(item.id)"><img src="./assets/img/svg/icon-deletee.svg" class="img-fluid" alt=""></div>
  </div>
  <div class="mt-2">
    <p class="color-blue gotham-book ft-14">{{item.comment}}</p>
  </div>
</ng-container>
