<div class="display-response">
  <a (click)="onClickBack()" class="cursor-pointer d-block d-md-none icon-back-responsive"><i class="fas fa-arrow-left color-lightblue ft-16"></i></a>
  <h4 class="gotham-bold color-lightblue ft-16 mb-0">
    Pregunta {{stepquestion}}/{{totalQuestions}}
  </h4>
</div>

<div class="" [formGroup]="form">
  <ng-container *ngIf="questions">
    <ng-container *ngIf="(questions.intent !== 3 && !questions.reply.is_correct ? index + 1 : index) === stepquestion">
      <ng-container *ngIf="questions.intent !== 3 && !questions.reply.is_correct">
        <h5 class="color-blue gotham-medium ft-18 mb-2">{{questions.title}}</h5>
        <div class="position-relative" btnRadioGroup>
          <div class="overlay" *ngIf="isCorrect"></div>
          <label class="btn btn-primary w-100" [id]="item.id" (click)="onClickSelect(item)" *ngFor="let item of questions.item"
                 [btnRadio]="item.id" tabindex="0" role="button">{{item.title}}</label>
        </div>

        <div class="">
          <p class="color-green gotham-medium ft-14 text-center my-3" *ngIf="isCorrect && isCorrect.is_correct">¡Respuesta correcta!</p>
          <p class="color-red gotham-medium ft-14 text-center my-3" *ngIf="isCorrect && !isCorrect.is_correct">¡Respuesta incorrecta!</p>
          <div class="w-100 d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-blue btn-check gotham-medium color-blue" *ngIf="!isCorrect"
                    [disabled]="form.invalid" (click)="onClickVerify()">{{loading ? 'Comprobando' : 'Comprobar'}}</button>
            <ng-container *ngIf="!(stepquestion === totalQuestions) || (!(stepquestion === totalQuestions) && isCorrect && isCorrect.intent === 3)">
              <button class="btn btn-check {{isCorrect ? isCorrect && isCorrect.is_correct ? 'btn-green' : 'btn-red' : 'btn-green'}} gotham-medium color-white"
                      *ngIf="(isCorrect && isCorrect.is_correct) || isCorrect && isCorrect.intent === 3"
                      (click)="onClickNext(index)">Continuar
              </button>
            </ng-container>
            <ng-container *ngIf="isCorrect && isCorrect.intent !== 3">
              <button class="btn btn-check btn-red gotham-medium color-white"
                      *ngIf="isCorrect && !isCorrect.is_correct" (click)="onClickTryAgain(questions.item)">Volver a intentar
              </button>
            </ng-container>
            <ng-container *ngIf="((stepquestion) === totalQuestions) && isCorrect && isCorrect.progress">
              <button class="btn btn-check {{isCorrect && isCorrect.is_correct ? 'btn-green' : 'btn-red'}} gotham-medium color-white" (click)="onClickFinalize()">{{loading ? 'Finalizando reto' : 'Finalizar reto'}}
              </button>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


<!--
  <div class="position-relative" btnRadioGroup>
    <div class="overlay" *ngIf="reply && reply.reply_items && reply.reply_items[0] || this.options && this.options.intent === 3"></div>
    <label class="btn btn-primary w-100 {{renderReply(item)}}" [id]="item.id" (click)="onClickSelect(item)" *ngFor="let item of options"
           [btnRadio]="item.id" tabindex="0" role="button">{{item.title}}</label>
  </div>

  -->
