@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeCategorie {
    .modal-content {
      zoom: 0.98;
      width: 371px;
      min-height: 494px;
      overflow: hidden;
      display: flex;
      background: #02215b url('~assets/img/svg/bg-lines-bottom.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }
    }
  }
}

.content{
  padding: 20px 32px;
  .content-body {
    .content-description {
      font-weight: normal;
      line-height: 1.5;
    }
  }
  .content-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn-understand {
      width: 169.1px;
      color: #fff;
      padding: 9px 42.1px 9px 43px;
      border-radius: 7px;
      &.turquoise { background-color: #35B1B8;}
      &.coral { background-color: #f27065;}
      &.lightgreen { background-color: #8dc646;}
      &.orange { background-color: #faaa40;}
      &.red { background-color: #e04247;}
      &.lightblue { background-color: #31a5ed;}
      &.blue { background-color: #007cc9;}
      &.green { background-color: #23a455;}
    }
    .btn-close{
      position: absolute;
      bottom: 32px;
    }
  }
}
