<div class="content" *ngIf="challengeCategorie">
 <!-- <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>-->
  <div class="content-header text-center">
    <img src="./assets/img/svg/challenge-categorie.svg" class="img-fluid icon-reached m-auto" alt="">
    <h4 class="gotham-bold color-white text-center m-0 mt-3 ft-20">{{challengeCategorie.title}}</h4>
  </div>
  <div class="content-body">
    <div class="content-description text-center gotham-book color-white ft-14 mt-2">{{challengeCategorie.detail}}</div>
  </div>
  <div class="content-footer d-flex flex-wrap mt-2 pt-5">
    <button class="btn btn-understand gotham-medium ft-14 {{color}}" (click)="onClickRouter()">Entendido</button>
    <a class="cursor-pointer gotham-medium ft-12 color-white text-decoration-none mt-3" (click)="onClickNoModal()">No volver a mostrar</a>
   <!-- <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>-->
  </div>
</div>
