<div class="content">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h5 class="gotham-medium color-blue mb-0">
        <span class="d-block gotham-book">Eliminar</span> Contrato
      </h5>
    </div>
    <div class="">
      <a class="cursor-pointer" (click)="bsModalRef.hide()">
        <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
      </a>
    </div>
  </div>
  <div class="mt-5 mb-5">
    <p class="gotham-book color-blue text-center">¿Estás seguro que deseas<br>eliminar el contrato?</p>
  </div>
  <div class="w-100 d-block mx-auto text-center">
    <button type="button" class="btn btn-blue gotham-medium">Eliminar</button>
  </div>
</div>
