@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
.content{
  padding: 50px 30px;
  @include min-width-768 {
    padding: 50px 78px;
  }
}
h5{
  font-size: $ft-27;
  span{
    font-size: $ft-23;
    line-height: 1;
  }
}
 p{
   font-size: $ft-18;
   line-height: 1;
 }
.btn-blue {
  width: 228.1px;
  height: 44.8px;
  border-radius: 7px;
  font-size: $ft-18;
}
