<div class="">
  <div class="detail-heading d-flex">
    <div class="pt-1 pr-2 d-nones d-md-block"><a routerLink="/sistema-de-reconocimientos" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
    <div class="">
      <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Tutorial</h2>
      <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
        <span class="color-blue gotham-book ft-16 line-height mr-1">Video donde se explica la funcionalidad de la aplicación.</span>
      </div>

      <video class="width-video video" controls>
        <source [src]="getUrlVideo()" type="video/mp4">
        <source [src]="getUrlVideo()" type="video/ogg">
      </video>
    </div>
  </div>
</div>
