<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="mb-4">
    <h4 class="gotham-book ft-23 color-blue mb-0 line-height">Archivos</h4>
    <h3 class="gotham-medium ft-27 color-blue mb-0 line-height">Compartidos</h3>
  </div>
  <p class="gotham-bold color-blue ft-14 mb-2" *ngIf="!loading && chatRoomFilesTotal">{{chatRoomFilesTotal}} archivos compartidos</p>
  <div class="preload" *ngIf="loading">
    <div class="shine shine-box" *ngFor="let item of [0,1,2,3,4,5,6,7,8]"></div>
  </div>
  <div *ngIf="!loading && !chatRoomFilesTotal">
    No se encontraron archivos compartidos
  </div>
  <perfect-scrollbar class="scrollbar-special scrollbar-files" [config]="{suppressScrollX: true}" *ngIf="chatRoomFiles && chatRoomFilesTotal">
    <div class="content-file position-relative" *ngFor="let item of chatRoomFiles">
      <a href="{{item.file}}" target="_blank">
        <img [src]="item.file" class="img-fluid preview" alt="" *ngIf="item.icon === 'image'">
        <img src="./assets/img/svg/icon-play.svg" class="img-fluid preview" alt="" *ngIf="item.icon === 'video'">
        <img src="./assets/img/file.png" class="img-fluid" alt="" *ngIf="item.footer">
        <div class="name-file d-flex align-items-center justify-content-center" *ngIf="item.footer">
          <img [src]="'./assets/img/svg/' + item.icon" class="img-fluid mr-1" alt="">
          <p class="gotham-book color-blue ft-10 mb-0">{{item.original_name}}</p>
        </div>
      </a>
    </div>
  </perfect-scrollbar>
</div>
