@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/shine.scss";

.content {
  padding: 50px;
  @include max-width-576 {
    padding: 40px;
  }
}
.btn-close {
  position: absolute;
  right: 50px;
}
.scrollbar-files {
  @include max-width-576 {
    height: 320px;
  }
}
.content-file {
  overflow: hidden;
  border-radius: 10px;
  height: 110px;
  width: 110px;
  border: solid 1px #e7ecf5;
  @include max-width-576 {
    width: 92px;
    height: 92px;
  }
  a {
    display: flex;
    width: 100%;
    height: 100%;
    img.preview {
      margin: auto;
      align-items: center;
    }
  }
  .name-file {
    position: absolute;
    bottom: 0;
    padding: 5px 5px;
    border-top: 1px solid #e7ecf5;
    width: 100%;
    img {
      width: 17px;
      height: 17px;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

.preload {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .shine-box {
    width: 110px;
    height: 110px;
    @include max-width-576 {
      width: 98px;
      height: 98px;
    }
  }
}
