<div class="mt-4">
  <accordion class="mb-4" [isAnimated]="true" [closeOthers]="false">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit.data['datos actuales']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Datos actuales</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Categoría Actual</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['datos actuales']['categoría actual'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Cantidad de Operaciones Actual</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['datos actuales']['cantidad de operaciones actual'] }}</p>
        </div>
        <div class="col-md-12">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto de desembolso actual</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['datos actuales']['monto desembolso actual'] }}</p>
        </div>
      </div>
    </accordion-group>
    <accordion-group class="box" [isOpen]="isOpen2" (isOpenChange)="log($event, 2)" *ngIf="benefit.data['siguiente categoría']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Siguiente Categoría</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen2 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Categoría</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['siguiente categoría']['categoría'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Cantidad de Operaciones</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['siguiente categoría']['cantidad de operaciones'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto de desembolso</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['siguiente categoría']['monto de desembolso'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto faltante para acceder a esta categoría</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['siguiente categoría']['monto faltante para acceder a esta categoría'] }}</p>
        </div>
        <div class="col-md-12 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Cantidad de operaciones faltantes para acceder a esta categoría</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['siguiente categoría']['cantidad de operaciones faltantes para acceder a esta categoría'] }}</p>
        </div>
      </div>
    </accordion-group>
    <accordion-group class="box" [isOpen]="isOpen3" (isOpenChange)="log($event, 3)" *ngIf="benefit.data['fecha de categorización']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Fecha de categorización</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen3 ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-12">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Fecha de categorización</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data['fecha de categorización'] }}</p>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
