@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/tabs.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

* {
  box-sizing: border-box;
}

.img-content {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 25px;
}

.btn-write {
  min-width: 285px;
  @include min-width-768 {
    min-width: 350px;
  }
  height: 40px;
  // margin: 23.8px 27.3px 6.2px 12.9px;
  // padding: 16.2px 200.9px 14.8px 12.1px;
  // opacity: 0.1;
  border-radius: 15px;
  border: solid 1.5px #00265580;
  color: $bluegray;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &.btn-write2 {
    min-width: 470px;
  }
}

.write-message {
  width: 275px;
  @include min-width-768 {
    width: 470px;
  }
  height: 40px;
  border-radius: 15px;
  border: solid 1.5px #00265580;
  color: $blue;

  &::placeholder {
    color: $bluegray;
  }
}

.display-response {
  display: flex;
  @include min-width-768 {
    display: block;
  }
  .icon-back-responsive {
    margin-right: 10px;
  }
}
.icon-back-responsive {
  @include min-width-768 {
    position: absolute;
    left: 20px;
    top: 28px;
  }
  font-size: $ft-24;
}

.content-challenges {
  .scrollbar-challenges .ps .ps-content {
    padding-left: 10px;
  }
}

.btn-send {
  position: absolute;
  top: 12px;
  right: 10px;
}

.content-message-experience {
  height: calc(100vh - 280px);
  zoom: 0.9;
}

/*.detail-experience {
  position: absolute;
  top: 0;
  background: #fff;
  height: 100%;
  @include min-width-768 {
    position: relative;
    top: 0;
    background: transparent;
    height: initial;
  }
}*/
