<div class="content-width content-challenges">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <ng-container *ngIf="sharExperience && sharExperience[0]">
    <div class="display-response">
      <a routerLink="/cultura-caja-con-sentido" class="d-block icon-back-responsive"><i class="fas fa-arrow-left color-lightblue"></i></a>
      <div class="">
        <h2 class="color-blue gotham-bold ft-25 mb-0">
          Compartir experiencias</h2>
        <p class="color-lightblue gotham-bold ft-18">{{sharExperience[ 0 ]?.score_total}} pts
          <img src="./assets/img/svg/icon-information.svg" class="img-fluid icon-information cursor-pointer ml-2"
               (click)="openChallengeValues()" alt=""></p>
      </div>
    </div>
  </ng-container>
  <perfect-scrollbar class="scrollbar-challenges" [config]="{suppressScrollX: true}">
    <tabset class="tabs-challenge" #staticTabs>
      <tab heading="Experiencias" (selectTab)="onSelect('general')">
        <div class="container mt-3">
          <div class="row"> <!-- *ngIf="experiencesResponse && experiencesResponse.data.total !== 0" -->
            <div class="col-md-5 px-0" [ngClass]="{'d-none d-md-block' : experienceDetail}">
              <div class="d-flex align-items-center px-2 mb-2">
                <div class="img-content mr-2">
                  <img src="./assets/img/chat1.png" class="img-fluid" alt="">
                </div>
                <div class="">
                  <button class="btn btn-write text-left" (click)="openChallengeCreatePublication('general')">Publica una experiencia</button>
                </div>
              </div>
              <ng-container *ngFor="let item of experiences; trackBy: trackByExperiencesId">
                <app-experience [item]="item" (showdetail)="onShowDetail($event, item.id)" [active]="active"></app-experience> <!-- (click)="onClickDetail(item.id)" -->
              </ng-container>
              <div class="d-flex justify-content-end align-items-center pr-3 mt-3" *ngIf="experiencesResponse && experiencesResponse.data.total !== 0">
                <pagination [totalItems]="experiencesResponse.data.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true" [itemsPerPage]="experiencesResponse.data.per_page"
                            (pageChanged)="pageChanged($event, 'general')"></pagination>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center mt-5 pt-5" *ngIf="experiencesResponse && experiencesResponse.data.total === 0">
                <div class="icon-sorry d-flex align-items-center justify-content-center mx-auto">
                  <img src="./assets/img/svg/lo-sentimos.svg" class="img-fluid" alt="">
                </div>
                <h5 class="gotham-bold ft-20 color-blue mt-3">Lo sentimos</h5>
                <p class="gotham-book ft-14 color-blue">No cuentas con puntaje en esta actividad</p>
              </div>
              <ng-container *ngIf="experiencesResponse && experiencesResponse.data.total !== 0">
                <ng-container *ngIf="!experienceDetail">
                  <div class="content-message-experience d-none d-md-flex align-items-center justify-content-center">
                    <div class="">
                      <h5 class="color-blue gotham-bold ft-20 text-center mb-2">Lee las experiencias</h5>
                      <p class="color-blue gotham-book ft-14 text-center">Selecciona una publicación de tus compañeros para interactuar</p>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="experienceDetail">
                <div class="d-flex align-items-start d-md-block">
                  <a (click)="onClickDetailNull()" class="d-block d-md-none icon-back-responsive mr-2"><i class="fas fa-arrow-left color-lightblue"></i></a>
                  <div class="d-flex align-items-center">
                    <div class="img-content mr-2"><img [src]="experienceDetail.user.photo ? experienceDetail.user.photo : (experienceDetail.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'"
                                                       class="img-fluid" alt=""></div>
                    <div class="">
                      <h5 class="color-blue gotham-medium ft-12 mb-0">{{experienceDetail.user.name + ' ' + experienceDetail.user.last_name}}</h5>
                      <p class="color-blue-opacity gotham-medium mb-0 ft-12">Publicado el {{experienceDetail?.created_at}}</p>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <h5 class="color-blue gotham-medium ft-16">{{experienceDetail.title}}</h5>
                  <p class="color-blue gotham-book ft-14">{{experienceDetail.detail}}</p>
                </div>
                <div class="d-flex align-items-center">
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12 mr-3"
                     (click)="onClickLiked(experienceDetail, $event)" [ngClass]="experienceDetail.like >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                    <img [src]="experienceDetail.is_like ? './assets/img/svg/icon-heart2.svg' : './assets/img/svg/icon-heartw2.svg'" class="img-fluid" alt=""> {{experienceDetail.like}} {{experienceDetail.like === 1 ? 'like' : 'likes'}}</a>
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12" [ngClass]="experienceDetail.comment >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                    <img src="./assets/img/svg/icon-comment.svg" class="img-fluid" alt=""> {{experienceDetail.comment}} {{experienceDetail.comment === 1 ? 'comentario' : 'comentarios'}}</a>
                </div>
                <hr>
                <div class="" [formGroup]="form">
                  <h5 class="color-blue gotham-medium ft-14">Comentarios ({{experienceDetail.comment}})</h5>
                  <div class="d-flex align-items-center mb-3">
                    <div class="img-content mr-2">
                      <img [src]="experienceDetail.user.photo ? experienceDetail.user.photo : (experienceDetail.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                    </div>
                    <div class="position-relative">
                      <div class="form-group mb-0">
                        <input type="text" class="form-control write-message" formControlName="comments" placeholder="Escribe un mensaje…" (keyup.enter)="sendMessage()">
                      </div>
                      <img src="./assets/img/svg/icon-send.svg" class="img-fluid cursor-pointer btn-send" alt="" (click)="sendMessage()">
                    </div>
                  </div>
                  <ng-container *ngFor="let item of experienceDetail.comments">
                    <app-comments [expId]="experienceDetail.id" [userId]="user ? user.id : ''" [item]="item"></app-comments>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Mis experiencias {{experiencesOwnResponse ? '(' + experiencesOwn.length + ')' : ''}}" (selectTab)="onSelect('own')">
        <div class="container mt-3">
          <div class="row"> <!-- *ngIf="experiencesOwnResponse &&  experiencesOwnResponse.data.total !== 0" -->
            <div class="col-md-5 px-0" [ngClass]="{'d-none d-md-block' : experienceDetail}">
              <div class="d-flex align-items-center px-2 mb-2">
                <div class="img-content mr-2">
                  <img src="./assets/img/chat1.png" class="img-fluid" alt="">
                </div>
                <div class="">
                  <button class="btn btn-write text-left" (click)="openChallengeCreatePublication('own')">Publica una experiencia</button>
                </div>
              </div>
              <ng-container *ngFor="let item of experiencesOwn; trackBy: trackByExperiencesId">
                <app-experience [item]="item" [own]="true" (showdetail)="onShowDetail($event, item.id)" [active]="active"></app-experience> <!-- (click)="onClickDetail(item.id)" -->
              </ng-container>
              <div class="d-flex justify-content-end align-items-center pr-3 mt-3" *ngIf="experiencesOwnResponse && experiencesOwnResponse.data.total !== 0">
                <pagination [totalItems]="experiencesOwnResponse.data.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true" [itemsPerPage]="experiencesOwnResponse.data.per_page"
                            (pageChanged)="pageChanged($event, 'own')"></pagination>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center mt-5 pt-5" *ngIf="experiencesOwnResponse && experiencesOwnResponse.data.total === 0">
                <div class="icon-sorry d-flex align-items-center justify-content-center mx-auto">
                  <img src="./assets/img/svg/lo-sentimos.svg" class="img-fluid" alt="">
                </div>
                <h5 class="gotham-bold ft-20 color-blue mt-3">Lo sentimos</h5>
                <p class="gotham-book ft-14 color-blue">No cuentas con puntaje en esta actividad</p>
              </div>
              <ng-container *ngIf="experiencesOwnResponse && experiencesOwnResponse.data.total !== 0">
                <ng-container *ngIf="!experienceDetail">
                  <div class="content-message-experience d-flex align-items-center justify-content-center">
                    <div class="">
                      <h5 class="color-blue gotham-bold ft-20 text-center mb-2">Lee tus experiencias</h5>
                      <p class="color-blue gotham-book ft-14 text-center">Selecciona una publicación tuya para interactuar</p>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="experienceDetail">
                <div class="d-flex align-items-start d-md-block">
                  <a (click)="onClickDetailNull()" class="d-block d-md-none icon-back-responsive mr-2"><i class="fas fa-arrow-left color-lightblue"></i></a>
                  <div class="d-flex align-items-center">
                    <div class="img-content mr-2"><img [src]="experienceDetail.user.photo ? experienceDetail.user.photo : (experienceDetail.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'"
                                                       class="img-fluid" alt=""></div>
                    <div class="">
                      <h5 class="color-blue gotham-medium ft-12 mb-0">{{experienceDetail.user.name + ' ' + experienceDetail.user.last_name}}</h5>
                      <p class="color-blue-opacity gotham-medium mb-0 ft-12">Publicado el {{experienceDetail?.created_at}}</p>
                    </div>
                  </div>
                </div>


                <div class="mt-3">
                  <h5 class="color-blue gotham-medium ft-16">{{experienceDetail.title}}</h5>
                  <p class="color-blue gotham-book ft-14">{{experienceDetail.detail}}</p>
                </div>
                <div class="d-flex align-items-center">
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12 mr-3" (click)="onClickLiked(experienceDetail, $event)" [ngClass]="experienceDetail.like >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                    <img [src]="experienceDetail.is_like ? './assets/img/svg/icon-heart2.svg' : './assets/img/svg/icon-heartw2.svg'" class="img-fluid" alt=""> {{experienceDetail.like}} {{experienceDetail.like === 1 ? 'like' : 'likes'}}</a>
                  <a class="text-decoration-none cursor-pointer gotham-medium ft-12" [ngClass]="experienceDetail.comment >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
                    <img src="./assets/img/svg/icon-comment.svg" class="img-fluid" alt=""> {{experienceDetail.comment}} {{experienceDetail.comment === 1 ? 'comentario' : 'comentarios'}}</a>
                </div>
                <hr>
                <div class="" [formGroup]="form">
                  <h5 class="color-blue gotham-medium ft-14">Comentarios ({{experienceDetail.comment}})</h5>
                  <div class="d-flex align-items-center mb-3">
                    <div class="img-content mr-2">
                      <img [src]="experienceDetail.user.photo ? experienceDetail.user.photo : (experienceDetail.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                    </div>
                    <div class="position-relative">
                      <div class="form-group mb-0">
                        <input type="text" class="form-control write-message" formControlName="comments" placeholder="Escribe un mensaje…" (keyup.enter)="sendMessage()">
                      </div>
                      <img src="./assets/img/svg/icon-send.svg" class="img-fluid cursor-pointer btn-send" alt="" (click)="sendMessage()">
                    </div>
                  </div>
                  <ng-container *ngFor="let item of experienceDetail.comments">
                    <app-comments [expId]="experienceDetail.id" [item]="item"></app-comments>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </perfect-scrollbar>
</div>
