@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.content-info-personal {
  padding: 0 30px;
  .icon-back {
    width: 37px;
    margin-left: -10px;
  }
  h3 {
    line-height: 16px;
  }
  .btn-save {
    width: 150.1px;
    height: 44.8px;
    @include max-width-1200 {
      display: none !important;
    }
  }
  .btn-save-footer {
    @include max-width-1200 {
      display: inline-block !important;
      .btn-save {
        display: inline-block !important;
      }
    }
  }
  .d-flex.form-controls {
    gap: 20px;
    &:nth-child(1) {
      width: calc(calc(100% + 20px) / 2);
    }
    @include max-width-576 {
      display: block !important;
      .box-select-width {
        width: 100%;
      }
    }
    @include max-width-1200 {
      display: block !important;
      .box-select-width {
        width: 100%;
      }
    }
  }
  .box-select-width {

  }
  .btn-group {
    display: flex;
    gap: 20px;
    @include max-width-576 {
      display: block !important;
      .btn-marital-status {
        width: 100% !important;
      }
      .btn-children {
        margin-right: 20px;
      }
    }
    .btn-lightblue {
      border-radius: 7px !important;
      border: solid 1px $lightblue;
      font-size: 14px;
      background: transparent;
      color: $lightblue;
      box-shadow: none;
      &.active, &:focus, &:active, &:active:focus {
        border-color: $lightblue !important;
        background: $lightblue !important;
        color: $white;
      }
    }
    .btn-marital-status {
      width: 25%;
      height: 34px;
    }
    .btn-children {
      width: 81px;
      height: 33px;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: none!important;
    }
  }
  .box-title {
    width: 130px;
  }
  .childrenQuestion {
    margin-left: 60px;
    @include max-width-576 {
      margin-left: 0px;
    }
    @include max-width-1200 {
      margin-left: 0px;
    }
    .box-select {
      min-height: 32px;
      padding-top: 12px;
    }
    .input_increment {
      padding-top: 3px;
      .text-value {
        width: 95px;
        text-align: center;
      }
      .value-button {
        img{
          width: 26px;
          height: 26px;
        }
      }
    }
  }
  .form-group-hobby {
    width: 100%;
    .textarea-hobbies {
      width:100%;
      height: 98px;
      border-radius: 7px;
      border: solid 1px #8f99aa;
      background-color: $white;
      font-size: 18px;
      resize: none;
      &:focus {
        box-shadow: 0 0 0 0;
      }
      &::first-letter { text-transform: uppercase }
    }
    .character-counter {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .ubigeo {
    gap: 20px;
    app-control-messages {
      width: calc(100% / 3);
    }
  }
  .address {
    .box-select {
      .form-group {
        width: 100%;
      }
    }
    .map-bg {
      width: 100%;
      border-radius: 7px;
      overflow: hidden;
      agm-map {
        height: 30vh;
      }
    }
  }
}

