<app-infor-general (dataProfile)="showDataProfile($event)" [userProfileUpdate]="userProfile">
  <div class="content-info-personal">
    <div class="d-flex justify-content-between pt-3 mb-4">
      <div class="d-flex">
        <div class=""><a routerLink="/perfil" class="d-block icon-back"><img src="./assets/img/svg/icon-back.svg" class="img-fluid" alt=""></a></div>
        <div class="">
          <h4 class="gotham-book color-blue m-0 ft-30">Editar información</h4>
          <h3 class="gotham-bold color-blue m-0 ft-35">Personal</h3>
        </div>
      </div>
      <div class="d-none d-sm-block">
        <button type="button" class="btn btn-blue btn-save gotham-medium ft-18" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
      </div>
    </div>

    <perfect-scrollbar class="scrollbar-special scrollbar-personal-data" [config]="{suppressScrollX: true}">
      <div class="row justify-content-center mt-3 pb-5 pl-1 pl-sm-0 pr-1 pr-sm-0" [formGroup]="formGroup">
        <div class="col-md-11">
          <div class="d-flex justify-content-between form-controls">
            <app-control-messages [control]="formGroup.controls.document">
              <div class="box-select box-select-form box-select-width d-flex justify-content-between align-items-center cont-inputs cont-inputs-personal mb-2">
                <div class="form-group d-flex md-input mb-0">
                  <input type="text" class="form-control gotham-book shadow-none" placeholder=" " formControlName="document" onlyNumbers required>
                  <label>{{typeOfDocument}}</label>
                </div>
                <div class="cont-config">
                  <ng-select class="custom-ng-select" formControlName="document_private" [items]="privacyConfig" [clearable]="false" [searchable]="false" dropdownPosition="bottom" bindLabel="name" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                      <img [src]="item.icon" class="img-fluid"/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </app-control-messages>
            <div></div>
          </div>

          <div class="d-flex justify-content-between form-controls">
            <app-control-messages [control]="formGroup.controls.phone">
              <div class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center  cont-inputs cont-inputs-personal mb-2">
                <div class="form-group d-flex md-input mb-0">
                  <input type="text" class="form-control gotham-book shadow-none" placeholder=" " minlength="9" maxlength="9" formControlName="phone" onlyNumbers required>
                  <label>Celular</label>
                </div>
                <div class="cont-config">
                  <ng-select class="custom-ng-select" formControlName="phone_private" [items]="privacyConfig" [clearable]="false" [searchable]="false" dropdownPosition="bottom" bindLabel="name" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                      <img [src]="item.icon" class="img-fluid"/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </app-control-messages>
            <app-control-messages [control]="formGroup.controls.annexed">
              <div class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center  cont-inputs cont-inputs-personal mb-2">
                <div class="form-group d-flex md-input mb-0">
                  <input type="text" class="form-control gotham-book shadow-none" placeholder=" " formControlName="annexed" onlyNumbers required>
                  <label>Anexo</label>
                </div>
                <div class="cont-config">
                  <ng-select class="custom-ng-select" formControlName="annexed_private" [items]="privacyConfig" [clearable]="false" dropdownPosition="bottom" [searchable]="false" bindLabel="name" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                      <img [src]="item.icon" class="img-fluid"/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </app-control-messages>
          </div>

          <div class="mt-3" *ngIf="maritalStatus">
            <app-control-messages [control]="formGroup.controls.marital_status">
              <div class="box-select box-select-normal d-flex   mb-2">
                <div class="box-title">
                  <p class="m-0 gotham-medium color-blue text-title-name ft-16">Estado Civil</p>
                </div>
                <div class="cont-config">
                  <ng-select class="custom-ng-select" formControlName="marital_status_private" [items]="privacyConfig" [clearable]="false" dropdownPosition="bottom" [searchable]="false" bindLabel="name" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                      <img [src]="item.icon" class="img-fluid"/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="btn-group" btnRadioGroup formControlName="marital_status">
                <label class="btn btn-primary btn-lightblue btn-marital-status gotham-book text-capitalize" [btnRadio]="item.id" tabindex="0" role="button" *ngFor="let item of maritalStatus">{{item.name}}</label>
              </div>
            </app-control-messages>
          </div>

          <div class="d-flex mt-3 form-controls">
            <app-control-messages [control]="formGroup.controls.children_question">
              <div class="box-select  box-select-normal d-flex   mb-2">
                <div class="box-title">
                  <p class="m-0 gotham-medium color-blue text-title-name">¿Tienes hijos?</p>
                </div>
                <div class="cont-config">
                  <ng-select class="custom-ng-select" formControlName="children_private" [items]="privacyConfig" [clearable]="false" [searchable]="false" dropdownPosition="bottom" bindLabel="name" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                      <img [src]="item.icon" class="img-fluid"/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="btn-group" btnRadioGroup formControlName="children_question" (click)="onClickHaveChildren()">
                <label class="btn btn-primary btn-lightblue btn-children gotham-book" btnRadio="si" tabindex="0" role="button">Sí</label>
                <label class="btn btn-primary btn-lightblue btn-children gotham-book" btnRadio="no" tabindex="0" role="button">No</label>
              </div>
            </app-control-messages>

            <div class="childrenQuestion" *ngIf="childrenQuestion">
              <div class="animated fadeIn">
                <div class="box-select box-select-normal mb-2">
                  <p class="m-0 gotham-medium color-blue text-title-name">Cantidad de hijos</p>
                </div>
                <div class="input_increment d-flex align-items-center">
                  <div class="value-button button-decrease cursor-pointer" id="decrease" (click)="decreaseValue()"
                        value="Decrease Value">
                    <img src="./assets/img/svg/icon-menos.svg" class="img-fluid" alt="">
                  </div>
                  <label id="number" class="m-0 text-value">{{ ChildrenCounts }}</label>
                  <div class="value-button cursor-pointer button-increase" id="increase" (click)="increaseValue()"
                        value="Increase Value">
                    <img src="./assets/img/svg/icon-mas.svg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="box-select box-select-normal d-flex mb-2">
              <div class="box-title">
                <p class="m-0 gotham-medium color-blue text-title-name">Hobbies</p>
              </div>
              <div class="cont-config">
                <ng-select class="custom-ng-select" formControlName="hobby_private" [items]="privacyConfig" [clearable]="false" dropdownPosition="bottom" [searchable]="false" bindLabel="name" bindValue="id">
                  <ng-template ng-label-tmp let-item="item">
                    <img [src]="item.icon" class="img-fluid"/>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="form-group form-group-hobby m-0 position-relative">
              <textarea class="form-control textarea-hobbies gotham-book color-blue" formControlName="hobby" maxlength="255" rows="3" appTrimCaja="hobby"></textarea>
              <span class="character-counter gotham-book color-blue mr-3 mt-2">{{formGroup.get( 'hobby' ).value ? formGroup.get( 'hobby' ).value.length : 0}} / 255</span>
            </div>
          </div>

          <div class="mt-3 ubigeo d-flex">
            <app-control-messages [control]="formGroup.controls.department_id">
              <div class="box-select box-select-dropdown box-select-normal position-relative">
                <label class="m-0 color-lightblue gotham-medium text-type">Departamento*</label>
                <ng-select class="custom-ng-select ng-select-academic" formControlName="department_id" placeholder="Seleccionar" (change)="onChangeUbigeo($event, 'department')"
                  [multiple]="false" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'"
                  [notFoundText]="'No se encontraron resultados'" [items]="departments" [bindLabel]="'name'" [bindValue]="'id'">
                </ng-select>
              </div>
            </app-control-messages>
            <app-control-messages [control]="formGroup.controls.province_id">
              <div class="box-select box-select-dropdown box-select-normal position-relative" [ngClass]="formGroup.controls.province_id.disabled ? 'box-select-width-disabled' : ''">
                <label class="m-0 color-lightblue gotham-medium text-type">Provincia*</label>
                <ng-select class="custom-ng-select ng-select-academic ng-select-ubigeo" formControlName="province_id" placeholder="Seleccionar" (change)="onChangeUbigeo($event, 'province')"
                  [multiple]="false" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'"
                  [notFoundText]="'No se encontraron resultados'" [items]="provinces" [bindLabel]="'name'" [bindValue]="'id'">
                </ng-select>
              </div>
            </app-control-messages>
            <app-control-messages [control]="formGroup.controls.district_id">
              <div class="box-select box-select-dropdown box-select-normal position-relative" [ngClass]="formGroup.controls.district_id.disabled ? 'box-select-width-disabled' : ''">
                <label class="m-0 color-lightblue gotham-medium text-type">Distrito*</label>
                <ng-select class="custom-ng-select ng-select-academic ng-select-ubigeo" formControlName="district_id" placeholder="Seleccionar" (change)="onChangeUbigeo($event, 'district')"
                  [multiple]="false" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'"
                  [notFoundText]="'No se encontraron resultados'" [items]="districts" [bindLabel]="'name'" [bindValue]="'id'">
                </ng-select>
              </div>
            </app-control-messages>
          </div>

          <div class="mt-3 address">
            <div class="mr-3 mb-1">
              <p class="m-0 gotham-medium color-blue text-title-name">Dirección</p>
            </div>
            <app-control-messages [control]="formGroup.controls.address">
              <div class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center  cont-inputs cont-inputs-personal mb-2">
                <div class="form-group d-flex md-input mb-0">
                  <input ngx-google-places-autocomplete [options]="googlePlaceOptions" formControlName="address" (onAddressChange)="searchAddress($event)"
                    type="text" placeholder="Dirección" appTrimCaja="address"
                    class="form-control gotham-book shadow-none" placeholder=" ">
                  <label>Dirección</label>
                </div>
              </div>
            </app-control-messages>
            <div class="map-bg" *ngIf="coords">
              <agm-map [zoom]="14" [latitude]="coords[0]" [longitude]="coords[1]">
                <agm-marker [latitude]="coords[0]" [longitude]="coords[1]" [iconUrl]="'./assets/img/svg/map-marker.svg'"></agm-marker>
              </agm-map>
            </div>
            <p class="m-0 mt-1 gotham-book color-blue text-title-name-address ft-17">Tu dirección y los campos privados no son visibles para los colaboradores</p>
          </div>

          <div class="btn-save-footer col-md-12 mt-4 d-block d-sm-none text-center">
            <div class="">
              <button type="button" class="btn btn-blue btn-save gotham-medium" (click)="onClickSave()">{{ globals.loadingVisible ? 'Cargando...' : 'Guardar'}}</button>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</app-infor-general>

