@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";

.responsive-heading {
  @include max-width-576 {
    left: 20px;
    top: 30px;
  }
}
.detail-heading {
  .icon-back {
    font-size: $ft-24;
  }
  .detail-title {
    margin-left: 5px;
    .detail-date {
      gap: 20px;
    }
  }
}
.avatar {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 105px;
    height: 105px;
    /*&.icon-iso2 {
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: -8px;
      z-index: 2;
      left: 0;
      right: 0;
      margin: auto;
    }*/
  }
}
.detail-body {
  margin-left: 45px;
  width: 100%;
  display: flex;
  gap: 45px;
  @include max-width-576 {
    margin-left: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .detail-column{
    width: calc(100% / 3);
    @include max-width-576 {
      width: 100%;
    }
    .box-user {
      .bg-lines-user {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 175.4px;
        height: 175.7px;
        .image-profile {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 175.7px;
          img {
           /* width: 109px;
            height: 109px;*/
            &.icon-iso2 {
              width: 32px;
              height: 32px;
              position: absolute;
              bottom: -18px;
              z-index: 2;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
      .text-infor-user {
        .text-name {
          font-weight: 500;
          line-height: 1.2;
        }
        .text-job {
          font-weight: 500;
        }
        .text-site span {
          font-size: 14px;
        }
        .icon-star {
          position: absolute;
          z-index: 99;
          right: -20px;
          bottom: 4px;
          margin: auto 0;
        }
        .btn-blue {
          width: 148.1px;
          height: 38.8px;
          font-size: 18px;
        }
      }
    }
    .box {
      width: 100%;
      .box-content {
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
        background-color: $white;
        padding: 15px 25px;
        .box-lightblue {
          min-width: 112px;
          padding: 0 10px;
          height: 36px;
          border-radius: 5px;
          background-color: #d6eff1;
          font-size: 14px;
          font-family: "Gotham-Medium", sans-serif;
          color: $lightblue;
        }
      }
    }
  }
}
