<div class="content-width" *ngIf="showData | async">
  <perfect-scrollbar class="scrollbar-benefits" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-3 responsive-heading">
        <div class="col-box detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-md-block"><a routerLink="/comunidad" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Comunidad</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-body mt-3">
        <div class="detail-column d-flex justify-content-center">
          <div class="box-user">
            <div class="bg-lines-user position-relative m-auto" [style.background-image]="'url(' + './assets/img/svg/img-lines-profile2.svg' + ')'">
              <div class="image-profile">
                <div class="position-relative">
                  <div class="avatar">
                    <img
                      [src]="detail && detail.profile_info ? (detail.profile_info.photo ? detail.profile_info.photo : (detail.profile_info.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'"
                      class="img-fluid" alt="">
                  </div>
                  <img src="./assets/img/svg/icon-iso2.svg" *ngIf="detail && detail.profile_info.is_mentor" class="img-fluid icon-iso2" alt="">
                </div>
              </div>
            </div>
            <div class="text-infor-user text-center">
              <div class="position-relative">
                <h5 class="text-name gotham-medium color-blue ft-20 mb-0">{{detail && detail.profile_info.name}}<br/>{{detail && detail.profile_info.last_name}}</h5>
                <img src="./assets/img/svg/icon-star.svg" class="img-fluid icon-star" alt="">
              </div>
              <p class="text-job gotham-medium color-blue ft-16 mb-1">{{detail && detail.profile_info.occupation}} | {{detail && detail.profile_info.area}}</p>
              <p class="text-site gotham-book color-blue mb-1">
                <img src="./assets/img/svg/icon-marker.svg" class="img-fluid mr-2" alt="">
                <span class="gotham-light color-blue ft-14">{{detail && detail.profile_info.headquarter}}</span>
              </p>
              <button class="btn btn-blue gotham-medium mt-4" (click)="openChat()">Chatear</button>
            </div>
          </div>
        </div>
        <div class="detail-column" *ngIf="detail && detail.profile_info">
          <div class="box">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h6 class="color-blue gotham-bold text-infor m-0">Inf. Personal</h6>
            </div>
            <div class="box-content">
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.document">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Nro. Doc.</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.document}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.birth_date">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Nacimiento</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.birth_date}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.gender">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Género</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{( detail.profile_info.gender === 'M' ) ? 'Masculino' : 'Femenino'}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.email">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Correo</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.email}}</p>
              </div>
              <div class="p-0 pt-2 mb-2" *ngIf="detail.profile_info.phone">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Celular</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.phone}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.marital_status">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Estado Civil</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.marital_status}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.children">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Hijos</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.children}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.profile_info.hobby">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Hobbies</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.profile_info.hobby}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-column" *ngIf="detail && detail.academic_info">
          <div class="box">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h6 class="color-blue gotham-bold text-infor m-0">Inf. Académica</h6>
            </div>
            <div class="box-content">
              <div class="pt-2 mb-2" *ngIf="detail.academic_info.profession">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Profesión</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.academic_info.profession}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.academic_info.academic_degree">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Grado académico</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.academic_info.academic_degree}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.academic_info.study_institution">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Institución de estudio</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.academic_info.study_institution}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.academic_info.academic_training">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Formación académica</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.academic_info.academic_training}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="detail.academic_info.achievements">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Logros</h5>
                <p class="m-0 gotham-book color-blue ft-15">{{detail.academic_info.achievements}}</p>
              </div>
              <div class="pt-2 mb-2" *ngIf="false">
                <h5 class="m-0 gotham-medium color-lightblue ft-15">Habilidades</h5>
                <div class="d-flex flex-wrap mt-1">
                  <div class="box-lightblue d-flex justify-content-center align-items-center mr-3 mb-2">
                    <span class="d-block">Habilidad</span>
                  </div>
                  <div class="box-lightblue d-flex justify-content-center align-items-center mr-3 mb-2">
                    <span class="d-block">Habilidad 2</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
