<div class="content-width content-challenges">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <perfect-scrollbar class="scrollbar-challenges" *ngIf="progress" [config]="{suppressScrollX: true}">
    <h2 class="color-blue gotham-bold ft-30">Cultura - Caja con Sentido</h2>
    <div class="challenge-body mt-4">
      <div class="content-left">
        <div class="my-progress">
          <div class="points" *ngIf="progress">
            <div class="progress--circle progress--{{progress[ 'percentage' ]}}">
              <div class="progress__content">
            <!--    <div class="progress__number gotham-medium ft-35">{{progress[ 'percentage' ]}}%</div>-->
                <div class="progress__description gotham-medium ft-20">{{progress[ 'points' ]}}</div> <!-- /{{progress[ 'total' ]}} -->
                <div class="progress__description gotham-medium ft-16">pts</div> <!-- /{{progress[ 'total' ]}} -->
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeine__points">
              <div class="heading d-flex mt-4">
                <h3 class="left gotham-bold m-0 ft-18">Mi progreso</h3>
                <div class="right d-flex">
                  <span class="number gotham-bold m-0 ft-18">{{progress[ 'total_certificates' ]}}</span>
                  <img src="./assets/img/svg/icon-star.svg" class="img-fluid icon-star" alt="">
                </div>
              </div>
              <ul class="list-items mt-5">
                <li class="item" *ngFor="let item of myProgress, let i = index" [ngClass]="{'reached': (progress[ 'points' ] >= item.score)}">
                  <div class="d-flex content">
                    <div class="d-flex left cont-achievement">
                      <img [src]="item.icon" class="img-fluid icon-achievement" [ngClass]="{'opacity-icon': (progress[ 'points' ] < item.score)}" [width]="30" alt="">
                    </div>
                    <div class="d-flex middle">
                      <h4 class="gotham-bold m-0 ft-14">{{item.title}}</h4>
                      <p class="gotham-book m-0 ft-12">{{item.summary}}</p>
                    </div>
                    <div class="d-flex right">
                      <img src="./assets/img/svg/icon-information.svg" class="img-fluid icon-information cursor-pointer" alt="" (click)="openChallengeInfo(item)">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="list-box">
          <ng-container *ngFor="let item of categories">
            <a (click)="openChallengeCategorie(item, renderColor(item.id)['color'])" class="box text-decoration-none cursor-pointer">
              <div class="box__top d-flex">
                <div class="box-arrow">
                  <img [src]="renderColor(item.id)['image']" class="img-fluid icon-arrow" alt="">
                </div>
                <div class="box-detail d-flex">
                  <span class="number gotham-medium ft-18  {{item?.score_total >= 1 ? renderColor(item.id)['color'] : 'is-zero'}}">{{item?.score_total}}</span>
                  <span class="label gotham-medium color-blue ft-12 {{item?.score_total === 0 ? 'is-zero' : ''}}">Puntos</span>
                </div>
              </div>
              <div class="box__bottom">
                <h4 class="gotham-medium color-blue ft-15">{{item.title}}</h4>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- <div class="content">
      <h5 class="color-lightblue gotham-medium ft-18 mb-3">Económicos</h5>
      <div class="preload mb-4" *ngIf="preload">
        <div class="s-item" *ngFor="let item of [0,1,2,3]">
          <div class="shine s-item-content w-100 h-100"></div>
        </div>
      </div>
      <div class="listBenefits mb-4" *ngIf="!preload">
        <ng-container *ngFor="let item of listBenefits">
          <div class="benefits-item" *ngIf="item.group === 'economic'">
            <div class="box cursor-pointer" (click)="onClickDetail(item)" >
              <div class="image-back" [defaultImage]="defaultImage" [lazyLoad]="item.image"></div>
              <h6 class="gotham-medium color-blue ft-15 mb-0">{{item.name}}</h6>
            </div>
          </div>
        </ng-container>
      </div>
      <h5 class="color-lightblue gotham-medium ft-18 mb-3">Más beneficios</h5>
      <div class="preload mb-4" *ngIf="preload">
        <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11]">
          <div class="shine s-item-content w-100 h-100"></div>
        </div>
      </div>
      <div class="listBenefits mb-4" *ngIf="!preload">
        <ng-container *ngFor="let item of listBenefits">
          <div class="benefits-item" *ngIf="item.group !== 'economic'">
            <div class="box cursor-pointer" (click)="onClickDetail(item)" >
              <div class="image-back" [defaultImage]="defaultImage" [lazyLoad]="item.image"></div>
              <h6 class="gotham-medium color-blue ft-15 mb-0">{{item.name}}</h6>
            </div>
          </div>
        </ng-container>
      </div>
    </div> -->
  </perfect-scrollbar>
</div>
