@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

$spacing: 1rem;
$themeColor: $greenyblue;
$backColor: #dff3f5;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

/** {
  box-sizing: border-box;
}*/

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress--circle.progress--#{$i * $step}:after {
    @if $i < $half {
      $nextDeg: -90deg + ($increment * $i);
      background-image: linear-gradient(-90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextDeg, $themeColor 50%, $backColor 50%, $backColor);
    } @else {
      $nextDeg: 90deg + ($increment * ($i - $half));
      background-image: linear-gradient($nextDeg, $themeColor 50%, transparent 50%, transparent), linear-gradient(90deg, $themeColor 50%, $backColor 50%, $backColor);
    }
  }
}

.content-challenges {
  .scrollbar-challenges .ps .ps-content {
    padding-left: 10px;
    padding-right: 10px;
    @include min-width-768 {
      padding-right: 0;
    }
  }

  .challenge-body {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    .content-left {
      .my-progress {
        width: 100%;
        @include min-width-768 {
          width: 371px;
        }
        min-height: 494px;
        border-radius: 15px;
        box-shadow: 0 0 10px 0 rgba(0, 78, 175, 0.11);
        position: relative;
        background-image: url('~assets/img/svg/bg-lines-top.svg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 70%;
        justify-content: center;
        padding: 0 30px;
        @include max-width-576 {
          background-size: 70%;
        }

        .points {
          text-align: center;

          .progress--circle {
            position: relative;
            display: inline-block;
            margin: $spacing;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background-color: $backColor;

            &:before {
              content: '';
              position: absolute;
              top: 5px;
              left: 5px;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background-color: white;
            }

            &:after {
              content: '';
              display: inline-block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background-color: $themeColor;
            }
          }

          .progress__content {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .progress__number {
              line-height: 1;
              color: $greenyblue;
            }

            .progress__description {
              font-weight: 500;
              line-height: 1;
              color: $navyblue;
            }
          }
        }

        .timeline {
          .timeine__points {
            .heading {
              justify-content: space-between;

              .left {
                line-height: 0.89;
                text-align: left;
                color: $greenyblue;
              }

              .right {
                line-height: 1.33;
                gap: 8px;
                color: $greenyblue;
              }
            }

            ul.list-items {
              margin: 0;
              padding: 0;

              li.item {
                margin-bottom: 0;
                list-style: none;
                position: relative;
                height: 75px;

                &:after {
                  content: "";
                  background: url('~assets/img/svg/line-timeline.svg') no-repeat;
                  display: block;
                  position: absolute;
                  z-index: 2;
                  left: 60px;
                  top: 0;
                  width: 10px;
                  height: 75px;
                  opacity: 0.3;
                }

                &.reached:after {
                  opacity: 1;
                }

                .opacity-icon {
                  opacity: 0.5;
                }

                .content {
                  height: 75px;
                  justify-content: space-between;
                  align-items: center;

                  .right {
                    justify-content: center;
                    align-items: flex-end;
                    margin-left: 10px;
                    padding-bottom: 15px;
                  }

                  .middle {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 180px;
                    margin-left: 30px;
                    text-align: left;
                    justify-content: flex-end;
                    padding-bottom: 5px;

                    h4 {
                      color: $greenyblue;
                      line-height: 1.14;
                    }

                    p {
                      color: $navyblue;
                      line-height: 1.25;
                    }
                  }

                  .left {
                    justify-content: center;
                    align-items: center; //flex-end;
                    padding-bottom: 5px;
                    width: 100%;
                    max-width: 58px;
                    // border: 1px solid;
                  }
                }
              }
            }
          }
        }
      }
    }

    .content-right {
      width: calc(170px * 3);
      padding: 0 10px;

      .list-box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 2) - 15px), 3fr));
        @include min-width-768 {
          grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
        }
        gap: 0 15px;

        .box {
          width: 152px;
          @include min-width-768 {
          width: 158px;
          }
          height: 158px;
          padding: 30px 12px;
          border-radius: 10px;
          box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
          background-color: #fff;
          margin-bottom: 15px;
          display: grid;
          gap: 20px;

          .box__top {
            gap: 8px;
            justify-content: start;

            .box-detail {
              flex-direction: column;
              gap: 2px;
              justify-content: center;

              span {
                line-height: 1;

                &.turquoise {
                  color: #35B1B8;
                }

                &.coral {
                  color: #f27065;
                }

                &.lightgreen {
                  color: #8dc646;
                }

                &.orange {
                  color: #faaa40;
                }

                &.red {
                  color: #e04247;
                }

                &.lightblue {
                  color: #31a5ed;
                }

                &.blue {
                  color: #007cc9;
                }

                &.green {
                  color: #23a455;
                }

                &.is-zero {
                  opacity: 0.3;
                }
              }

              .label {
                opacity: 0.3;
              }
            }
          }

          .box__bottom {
            h3 {
              font-weight: 600;
              line-height: 1;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.display-response {
  display: flex;
  @include min-width-768 {
    display: block;
  }
  .icon-back-responsive {
    margin-right: 10px;
  }
}
.icon-back-responsive {
  @include min-width-768 {
    position: absolute;
    left: 20px;
    top: 28px;
  }
  font-size: $ft-24;
}
