<div class="content-width content-recognition-system">
  <ng-container [ngSwitch]="type">
    <app-tutorial *ngSwitchCase="'tutorial'"></app-tutorial>
    <app-my-acknowledgments *ngSwitchCase="'mis-reconocimientos'"></app-my-acknowledgments>
    <app-send-acknowledgments *ngSwitchCase="'enviar-reconocimientos'"></app-send-acknowledgments>
    <app-bazaar *ngSwitchCase="'bazar'"></app-bazaar>
    <app-summary-bazaar *ngSwitchCase="'resumen'"></app-summary-bazaar>
  </ng-container>
</div>
