@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/perfect-scrollbar.scss";

.content{
  padding: 50px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .btn-close{
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 2;
  }
  .content-header {
    .meeting-photo {
      width: 95px;
      height: 95px;
      margin: auto;
      margin-top: 30px;
      position: relative;
      .item-photo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .is_mentor {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .meeting-title {
      width: 190px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 50px;
      h3 {
        line-height: 1.09;
        font-weight: 600;
      }
    }
  }
  .content-body {
    height: 340px;
    overflow: hidden;
    .meeting-component {
      h3 {
        font-size: $ft-15;
        font-weight: 600;
        line-height: 1.4;
        text-align: left;
        color: $greenyblue;
      }
      h4 {
        font-size: $ft-17;
        font-weight: normal;
        line-height: 1.35;
        text-align: left;
        color: $navyblue;
      }
      ::ng-deep .scrollbar-meeting {
        height: 190px;
      }
    }
    .meeting-list {
      flex-wrap: wrap;
      gap: 50px;
    }
  }
  .content-footer {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 35px;
  }
}
