<div class="content" *ngIf="activity">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header">
    <div class="meeting-title mb-4" *ngIf="!current">
      <h4 class="gotham-medium color-navyblue text-left m-0 ft-23">Reunión</h4>
    </div>
    <div class="meeting-title mb-4" *ngIf="current">
      <h4 class="gotham-light color-navyblue text-left m-0 ft-23">La reunión fue</h4>
      <h3 class="gotham-bold color-navyblue text-left m-0 ft-27">Agendada</h3>
    </div>
  </div>
  <div class="content-body">
    <div class="meeting-component mb-3">
      <h3 class="gotham-book color-lightblue text-leftr m-0">Asunto</h3>
      <h4 class="gotham-book color-blue text-left m-0">{{ activity.name }}</h4>
    </div>
    <div class="d-flex meeting-list mb-3">
      <div class="meeting-component">
        <h3 class="gotham-book color-lightblue text-left m-0">Hora de inicio</h3>
        <h4 class="gotham-book color-blue text-left m-0">{{ (start) || (activity.start) }}</h4>
        <!--<h4 class="gotham-book color-blue text-left m-0">{{ activity.start }}</h4>-->
      </div>
      <div class="meeting-component">
        <h3 class="gotham-book color-lightblue text-left m-0">Hora de fin</h3>
        <h4 class="gotham-book color-blue text-left m-0">{{ end || activity.end }}</h4>
        <!--<h4 class="gotham-book color-blue text-left m-0">{{ activity.end }}</h4>-->
      </div>
    </div>
    <div class="meeting-component mb-3">
      <h3 class="gotham-book color-lightblue text-left m-0">Participantes</h3>
      <perfect-scrollbar class="scrollbar-meeting" [config]="{suppressScrollX: true}">
        <h4 class="gotham-book color-blue text-left mb-1" *ngFor="let user of activity.users">{{user.name}}, {{user.last_name}}</h4>
      </perfect-scrollbar>
    </div>
  </div>
  <div class="content-footer pt-4">
    <button class="btn btn-navyblue gotham-medium d-block m-auto" (click)="bsModalRef.hide()">Aceptar</button>
  </div>
</div>

<div class="content" *ngIf="mentor">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header">
    <div class="meeting-photo mb-4">
      <img class="item-photo mr-3" [src]="mentor ? (mentor.photo ? mentor.photo : (mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
      <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid is_mentor" *ngIf="mentor.is_mentor" alt="">
    </div>
    <div class="meeting-title">
      <h3 class="gotham-book color-navyblue text-center m-0 ft-22">La solicitud fue agendada</h3>
    </div>
  </div>
  <div class="content-body">
    <div class="meeting-component mb-3">
      <h3 class="gotham-book color-lightblue text-leftr m-0">Asunto</h3>
      <h4 class="gotham-book color-blue text-left m-0">{{ mentor.activity && mentor.activity.name }}</h4>
    </div>
    <div class="d-flex meeting-list mb-3">
      <div class="meeting-component">
        <h3 class="gotham-book color-lightblue text-left m-0">Hora de inicio</h3>
        <h4 class="gotham-book color-blue text-left m-0">{{ mentor.activity && mentor.activity.start }}</h4>
      </div>
      <div class="meeting-component">
        <h3 class="gotham-book color-lightblue text-left m-0">Hora de fin</h3>
        <h4 class="gotham-book color-blue text-left m-0">{{ mentor.activity && mentor.activity.end }}</h4>
      </div>
    </div>
  </div>
  <div class="content-footer pt-4">
    <button class="btn btn-navyblue gotham-medium d-block m-auto" (click)="bsModalRef.hide()">Aceptar</button>
  </div>
</div>
