@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeChoose {
    .modal-content {
      zoom: 0.98;
      width: 371px;
      min-height: 494px;
      overflow: hidden;
      display: flex;
      /*background: #02215b url(/assets/img/svg/bg-lines-bottom.svg);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }*/
    }
  }
}

.content {
  padding: 20px 32px;

  .search {
    width: 100%;
    .input-group {
      margin: auto;
      border-radius: 15px;
      border: solid 1.5px transparent;
      @include min-width-768 {
        width: 100%;
        /*height: 39.6px;*/
        margin: 0;
      }
      @include min-width-992 {
        width: 100%;
        margin: 0;
      }
    }

    .form-control {
      background: #f7f8f9;
      box-shadow: none;
      border: none;
      height: 45px;
      // height: calc(1.5em + .65rem + 2px);
    }

    input::placeholder {
      opacity: 0.5;
      font-family: 'Gotham-Book', sans-serif;
      font-size: 15px;
    }

    .form-control:focus {
      border-color: transparent;
      box-shadow: none;
    }

    .input-group-text {
      background: #f7f8f9;
      border: 0 solid transparent;
    }
  }

  .content-image {
    width: 51px;
    height: 51px;
    border-radius: 25px;
    overflow: hidden;
  }

  .icon-iso {
    position: absolute;
    width: 18px;
    bottom: -8px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
