<div class="content">
  <app-spinner [start]="tabUsers?.preload" *ngIf="tabUsers?.preload">
  </app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="gotham-bold ft-20 color-blue">Elegir colaborador</h4>
    <img src="./assets/img/svg/close-opacity.svg" class="img-fluid cursor-pointer" (click)="bsModalRef.hide()" alt="">
  </div>
  <ng-container></ng-container>
  <div class="search my-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Colaborador a reconocer" [formControl]="queryField" (ngModelChange)="onSearchUsers($event)">
      <div class="input-group-append">
        <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
      </div>
    </div>
  </div>
  <perfect-scrollbar class="scrollbar-challenge-choose" [config]="{suppressScrollX: true}">
    <div class="box cursor-pointer d-flex align-items-center justify-content-start position-relative p-2"
         *ngFor="let item of tabUsers.listUser, let i = index" (click)="openModalChallengeGiveKnowledge(item)">
      <div class="position-relative">
      <div class="content-image d-flex justify-content-center align-items-center"><img [src]="item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
        <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso" *ngIf="item.is_mentor" alt="">
      </div>
      <div class="ml-2">
        <h5 class="color-blue gotham-medium ft-15 mb-0">{{item.name}}</h5>
        <h5 class="color-blue gotham-medium ft-15 mb-0">{{item.last_name}}</h5>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="d-flex justify-content-end align-items-center">
    <pagination *ngIf="tabUsersResponse" [totalItems]="tabUsersResponse.data.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true"
                [itemsPerPage]="tabUsersResponse.data.per_page"
                (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
