<div class="content-width content-news">
  <h2 class="color-blue gotham-medium ft-30">Actualidad</h2>
  <div class="position-relative">
    <div class="search d-none d-lg-block">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" [formControl]="queryField" (ngModelChange)="onSearchActivities($event)">
        <div class="input-group-append">
          <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
        </div>
      </div>
    </div>
    <tabset class="tabs-news">
      <tab heading="Eventos y Capacitaciones" id="tab1" (selectTab)="onSelect('activity')">
        <ng-container *ngIf="newnessType === 'activity'">
          <div class="search d-lg-none mt-3 mb-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar" [formControl]="queryField" (ngModelChange)="onSearchActivities($event)">
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
              </div>
            </div>
          </div>
          <ng-container>
            <div class="preload mt-4 mb-4" *ngIf="preload">
              <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
                <div class="shine s-item-content w-100 h-100"></div>
              </div>
            </div>
          </ng-container>
          <div class="listActivities mt-4 mb-4" *ngIf="!preload && listActivities.length">
            <p class="gotham-book color-blue ft-16 d-none d-md-block">Conoce los ultimos eventos y capacitaciones que Caja Arequipa tiene para tí y agéndalas</p>
            <perfect-scrollbar class="scrollbar-special scrollbar-tab" *ngIf="listActivities.length" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd('activities')">
              <ng-container *ngFor="let item of listActivities, let i = index">
                <div class="activity-item">
                  <div class="box cursor-pointer" (click)="onClickRouterLink(item, 'actividades')">
                    <div class="content-image-new cursor-pointer">
                      <div class="content-new-img position-relative" *ngIf="item.activity_image && item.activity_image[0]"
                        [defaultImage]="defaultImage" [lazyLoad]="item.activity_image[0].image">
                      </div>
                    </div>
                    <div class="content">
                      <div class="content-top d-flex align-items-center">
                        <div class="d-flex mr-3">
                          <a *ngIf="item.is_reaccionable" class="text-like d-flex align-items-center mb-1 cursor-pointer text-decoration-none mr-3" (click)="onClickLiked(item, $event)">
                            <img [src]="item.my_reaction_id !== null ? './assets/img/svg/icon-heart.svg':'./assets/img/svg/icon-heartw.svg'" class="img-fluid mr-1" alt="">
                            <span class="gotham-bold">{{item.reactions}} {{item.reactions === 1 ? 'like' : 'likes'}}</span>
                          </a>
                          <p *ngIf="item.is_comentable" class="text-count d-flex align-items-center mb-1"><i class="far fa-comment-dots color-lightblue mr-1"></i><span class="gotham-bold"> {{item.comments}} {{item.comments === 1 ? 'comentario' : 'comentarios'}}</span></p>
                        </div>
                        <span class="text-date color-blue gotham-book d-block">{{item.created_at | formatDate:'year'}}</span>
                      </div>
                      <h5 class="content-title color-blue gotham-book m-0 mt-1">{{item.title}}</h5>
                      <div class="content-description gotham-book mt-1 mb-1" [innerHTML]="item.description | safeHtml | truncate :'270'"></div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="activity-item" *ngIf="preloadPage">
                <div class="box cursor-pointer shine w-100"></div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="text-center p-5" *ngIf="!preload && !listActivities.length">
            <h5 class="text-no-result">No se encontraron resultados</h5>
          </div>
        </ng-container>
      </tab>

      <tab heading="Noticias" (selectTab)="onSelect('news')">
        <ng-container *ngIf="newnessType === 'news'">
          <div class="search d-lg-none mt-3 mb-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar" [formControl]="queryField" (ngModelChange)="onSearchActivities($event)">
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
              </div>
            </div>
          </div>
          <ng-container>
            <div class="preload mt-4 mb-4" *ngIf="preload">
              <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8]">
                <div class="shine s-item-content w-100 h-100"></div>
              </div>
            </div>
          </ng-container>
          <div class="listActivities mt-4 mb-4" *ngIf="!preload && listNews.length">
            <p class="gotham-book color-blue ft-16 d-none d-md-block">Conoce las ultimas noticias que Caja Arequipa tiene para tí y agéndalas</p>
            <perfect-scrollbar class="scrollbar-special scrollbar-tab" *ngIf="listNews.length" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd('news')">
              <ng-container *ngFor="let item of listNews, let i = index">
                <div class="activity-item">
                  <div class="box cursor-pointer" (click)="onClickRouterLink(item, 'noticias')">
                    <div class="content-image-new cursor-pointer">
                      <div class="content-new-img position-relative" *ngIf="item.news_image && item.news_image[0]"
                        [defaultImage]="defaultImage" [lazyLoad]="item.news_image[0].image">
                      </div>
                    </div>
                    <div class="content">
                      <div class="content-top d-flex align-items-center">
                        <div class="d-flex mr-3">
                          <a *ngIf="item.is_reaccionable" class="text-like d-flex align-items-center mb-1 cursor-pointer text-decoration-none mr-3" (click)="onClickLiked(item, $event)">
                            <img [src]="item.my_reaction_id !== null ? './assets/img/svg/icon-heart.svg':'./assets/img/svg/icon-heartw.svg'" class="img-fluid mr-1" alt="">
                            <span class="gotham-bold">{{item.reactions}} {{item.reactions === 1 ? 'like' : 'likes'}}</span>
                          </a>
                          <p *ngIf="item.is_comentable" class="text-count d-flex align-items-center mb-1"><i class="far fa-comment-dots color-lightblue mr-1"></i><span class="gotham-bold"> {{item.comments}} {{item.comments === 1 ? 'comentario' : 'comentarios'}}</span></p>
                        </div>
                        <span class="text-date color-blue gotham-book d-block">{{item.created_at | formatDate}}</span>
                      </div>
                      <h5 class="content-title color-blue gotham-book m-0 mt-1">{{item.title}}</h5>
                      <div class="content-description gotham-book mt-1 mb-1" [innerHTML]="item.description | safeHtml | truncate :'270'"></div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="activity-item" *ngIf="preloadPage">
                <div class="box cursor-pointer shine w-100"></div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="text-center p-5" *ngIf="!preload && !listNews.length">
            <h5 class="text-no-result">No se encontraron resultados</h5>
          </div>
        </ng-container>
      </tab>
    </tabset>
  </div>
</div>
