@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";
// @import "~assets/scss/tabs.scss";

.content-news {
  .listActivities {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 270px);
    margin-left: -0.45rem;
    margin-right: -0.45rem;
    @include max-width-576 {
      padding-bottom: 30px !important;
    }
    .scrollbar-tab {
      @include max-width-576 {
        padding-right: 0;
      }
    }
    .activity-item {
      width: calc(100% / 3);
      padding: .45rem;
      margin-bottom: 5px;
      @include max-width-576 {
        width: calc(100% / 1);
      }
    }
    .box {
      max-width: 100%;
      height: 265px;
      box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 7px;
      overflow: hidden;
      .content-image-new {
        width: 100%;
        height: 170px;
        .content-new-img {
          width: 100%;
          height: 170px;
          background-size: 102%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .content {
        padding: 8.3px 13.7px 13.2px 10px;
        .content-top {
          justify-content: space-between;
          .text-like {
            font-size: $ft-11;
            font-weight: 500;
            line-height: 1.36;
            text-align: left;
            color: $greenyblue;
          }
          .text-count {
            font-size: $ft-11;
            font-weight: 500;
            line-height: 1.36;
            text-align: left;
            color: $navyblue;
            span {
              opacity: 0.5;
            }
          }
          .text-date {
            opacity: 0.5;
            font-size: $ft-10;
            font-weight: 500;
            line-height: 2;
            text-align: right;
            color: $navyblue;
          }
        }
        .content-title {
          font-size: $ft-15;
          font-weight: 600;
          line-height: 1.4;
          text-align: left;
        }
        .content-description, .content-description > * {
          font-size: $ft-11;
          opacity: 0.5;
          font-weight: normal;
          line-height: 1.18;
          text-align: left;
          color: $navyblue;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          height: 25px;
          margin-top: 2px !important;
          text-transform: lowercase;
          i {
            font-style: normal;
          }
          strong {
            font-weight: normal;
          }
        }
      }
    }
  }

  .preload {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin-left: -0.45rem;
    margin-right: -0.45rem;
    .s-item {
      height: 265px;
      width: calc(calc(100% / 3) - 0.45rem);
      padding: .45rem;
      @include max-width-576 {
        width: calc(100%);
      }
    }
  }

  .search {
    width: 100%;
    @include min-width-992 {
      width: 305px;
      position: absolute;
      right: 0;
    }
    @include min-width-1200 {
      right: 20px;
    }
    .input-group {
      margin: auto;
      border-radius: 7px;
      border: solid 1.5px #e9edf1;
      @include min-width-768 {
        width: 240px;
        height: 39.6px;
        margin: 0;
      }
      @include min-width-992 {
        width: 305px;
        margin: 0;
      }
    }
    .form-control {
      background: #f7f8f9;
      @include min-width-768 {
        height: calc(1.5em + .65rem + 2px);
        background: transparent;
      }
      box-shadow: none;
      border: none;
      height: calc(1.5em + 1rem + 2px);
    }
    input::placeholder {
      opacity: 0.5;
      font-family: 'Gotham-Book', sans-serif;
      letter-spacing: 1px;
      font-size: 15px;
    }
    .form-control:focus {
      border-color: transparent;
      box-shadow: none;
    }
    .input-group-text {
      background: #f7f8f9;
      @include min-width-768 {
        background: transparent;
      }
      border: 0 solid transparent;
    }
  }

  .tabs-news {
    .nav-tabs {
      border-bottom: 0;
      .nav-item:first-child {
        width: 65%;
        @include min-width-768 {
          width: initial;
        }
      }
      .nav-item:nth-child(2){
        width: 35%;
        @include min-width-768 {
          width: initial;
        }
      }
      .nav-item {
        // width: 50%;
        text-align: center;
        @include min-width-768 {
          padding-right: 20px;
          width: initial;
          text-align: left;
        }
        span {
          font-family: 'Gotham-Medium', sans-serif;
          font-size: $ft-13;
          font-weight: 500;
          text-align: center;
          line-height: 1.4;
          color: $blue;
          @include min-width-768 {
            font-size: $ft-20;
            text-align: left;
          }
        }
        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem 0;
          opacity: 0.3;
          &:hover {
            border-color: transparent;
          }
          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }
  }
}
