<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)" *ngIf="benefit.data['remuneración computable']">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Renumeración computable al mes de</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Código</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'código' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Apellidos y nombres</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'apellidos_nombres' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Fecha de ingreso</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'fecha de ingreso' ] }}</p>
        </div>
        <ng-container *ngFor="let item of benefit.data['remuneración computable']['ingresos']">
          <div class="col-md-6 mb-3">
            <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">{{item.title}}</p>
            <p class="gotham-book color-blue ft-15 mb-0">{{item.value}}</p> <!-- S/.  -->
          </div>
        </ng-container>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Periodo del servicio a liquidar</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'periodo del servicio a liquidar' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Tiempo no computable</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'tiempo no computable' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Tiempo efectivo a liquidar</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'tiempo efectivo a liquidar' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Dozavos</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'dozavos' ] }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Treintavos</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'treintavos' ] }}</p>
        </div>
        <div class="col-md-6">
          <p class="title gotham-medium color-lightblue ft-15 mb-0 line-height">Total a depositar</p>
          <p class="gotham-book color-blue ft-15 mb-0">{{ benefit.data[ 'remuneración computable' ][ 'total a depositar' ] }}</p>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
