<div class="content-width content-calendar" *ngIf="showData | async">
  <perfect-scrollbar class="" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-md-6 content-left border-right">
        <div class="calendar-header">
          <h2 class="color-blue gotham-bold ft-30 mb-4 mb-sm-4">Mi Agenda</h2>
        </div>
        <div class="calendar-select">
          <div class="box-select box-select-dropdown box-select-normal position-relative">
            <p class="m-0 color-lightblue gotham-medium text-type">Sedes</p>
            <ng-select class="custom-ng-select ng-select-academic ng-select-with-option" placeholder="Seleccionar"
              [clearable]="false" [searchable]="true" [notFoundText]="'No se encontraron resultados'" [(ngModel)]="SelectlistHeadquarter"
              [items]="listHeadquarters" dropdownPosition="bottom" bindLabel="title" bindValue="id" (change)="setHeadquarter($event);">
            </ng-select>
          </div>
          <div class="box-select box-select-dropdown box-select-normal position-relative">
            <p class="m-0 color-lightblue gotham-medium text-type">Actividades</p> <!-- [(ngModel)]="SelectlistActivities" -->
            <ng-select class="custom-ng-select ng-select-academic ng-select-with-option ng-select-activities" placeholder="Seleccionar"
              [clearable]="false" [searchable]="false" [notFoundText]="'No se encontraron resultados'"
              [items]="listActivities" dropdownPosition="bottom" bindLabel="name" bindValue="id" (change)="setActivity($event);">
            </ng-select>
          </div>
        </div>
        <div class="calendar-wrapper mt-4 mb-4">
          <label class="mat-title">{{ selectedDateView }}</label>
          <mat-calendar #calendar
            [selected]="selectedDate"
            [dateFilter]="myDateFilter"
            [dateClass]="listItems ? dateClass() : null"
            (selectedChange)="onSelectedChange($event)"
            (monthSelected)="onMonthSelected($event)">
          </mat-calendar>
        </div>
        <div class="calendar-footer">
          <button class="btn-navyblue" (click)="openSchedule()">Agendar</button>
        </div>
      </div>
      <div class="col-md-6 content-right">
        <div class="calendar-activities">
          <h2 class="color-blue gotham-bold ft-30 mb-4 mb-sm-4">{{ this.selectedActivityName }}</h2>
          <h5 class="current-date ft-19">{{ this.datepipe.transform(this.selectedDate, 'dd/MM/yyyy') }}</h5>
          <ng-container>
            <div class="preload mt-4 mb-4" *ngIf="preload">
              <div class="shine s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8]"></div>
            </div>
          </ng-container>
          <perfect-scrollbar class="scrollbar-calendar mt-5" *ngIf="!preload && listItemsTotal">
            <div class="results">
              <div class="item media" *ngFor="let item of listItems">
                <a (click)="openActivity(item)">

                <ng-template [ngIf]="item.type === 'cumpleaños'" [ngIfElse]="else2">
                  <img class="item-photo mr-3" [src]="item.user ? (item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
                </ng-template>
                <ng-template #else2>
                  <ng-template [ngIf]="item.type === 'Evento'" [ngIfElse]="else3">
                    <img class="item-photo mr-3 image-loaded" default="./assets/img/svg/image-default.svg" [src]="item.activity ? '1'+item.activity.activity_image[0].image : './assets/img/svg/image-default.svg'" alt="">
                  </ng-template>
                </ng-template>
                <ng-template #else3>
                  <img class="item-photo mr-3" [src]="'./assets/img/svg/image-default.svg'" alt="">
                </ng-template>

                <div class="item-body">
                    <h2 class="item-activity mt-0 mb-0 text-capitalize">{{ item.type }}</h2>
                    <h2 class="item-title mt-0 mb-0" >{{ item.title }}</h2>

                    <ng-template [ngIf]="item.type === 'cumpleaños'" [ngIfElse]="elsebody2">
                      <div class="item-description">{{item.user.occupation && item.user.occupation.title}} | {{item.user.area && item.user.area.title}}</div>
                    </ng-template>
                    <ng-template #elsebody2>
                      <ng-template [ngIf]="item.type === 'Evento'" [ngIfElse]="elsebody3">
                        <div class="item-description">{{item.start}} - {{item.end}}</div>
                      </ng-template>
                    </ng-template>
                    <ng-template #elsebody3>
                      <ng-template [ngIf]="item.type === 'reunión'" [ngIfElse]="elsebody4">
                        <div class="item-description">{{item.start}} - {{item.end}}</div>
                      </ng-template>
                    </ng-template>
                    <ng-template #elsebody4>
                      <div class="item-description">Analista de créditos avanzado | Zonal Arequipa Sur | Zonal Arequipa Sur | Zonal Arequipa Sur</div>
                    </ng-template>

                    <div class="item-footer">
                      <img *ngIf="item.type !== 'reunión'" src="./assets/img/svg/icon-marker.svg" alt="">
                      <ng-template [ngIf]="item.type === 'cumpleaños'" [ngIfElse]="elsefooter2">
                        <span>Agencia {{item.user.headquarter && item.user.headquarter.title}}</span>
                      </ng-template>
                      <ng-template #elsefooter2>
                        <ng-template [ngIf]="item.type === 'Evento'" [ngIfElse]="elsefooter3">
                          <span>{{item.sub_title}}</span>
                      </ng-template>
                      </ng-template>
                      <ng-template #elsefooter3>
                        <ng-template [ngIf]="item.type === 'reunión'" [ngIfElse]="elsefooter4">
                          <span>{{item.user.name + ' ' + item.user.last_name}}</span><!-- con alguien -->
                        </ng-template>
                      </ng-template>
                      <ng-template #elsefooter4>
                        <span>En algun lugar</span>
                      </ng-template>
                    </div>
                </div>
                </a>
              </div>
            </div>
          </perfect-scrollbar>
          <div class="text-center p-5" *ngIf="!preload && !listItemsTotal">
            <h5 class="text-no-result">No se encontraron resultados</h5>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
