<div class="content">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <h4 class="gotham-medium color-lightblue">{{type === 'person' ? 'Seleccionar Colaborador' : 'Seleccionar grupo de Colaboradores'}}</h4>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="form-group w-100 mb-0">
      <div class="position-relative">
        <label class="m-0 color-lightblue gotham-medium text-type">Colaborador a reconocer</label>
        <!--  <ng-select class="custom ng-select select-classic-border" placeholder="Seleccionar"
                     [multiple]="true" [maxlength]="1" [clearable]="false" [searchable]="true" [dropdownPosition]="'bottom'" [closeOnSelect]="true"
                     [notFoundText]="'No se encontraron resultados'" [items]="users" [bindLabel]="'name'" [bindValue]="'id'"
                     [(ngModel)]="selectedPeople">
          </ng-select>-->


        <ng-select class="custom ng-select select-classic-border select-classic-border-modal" (change)="onSelectItems($event)"
                   [items]="users" [multiple]="true" [bindLabel]="type === 'person' ? 'username' : 'groupname'" [bindValue]="type === 'person' ? 'username' : 'groupname'" (search)="onSearch($event)"
                   placeholder="Seleccionar" [clearable]="false" [notFoundText]="'No se encontraron resultados'"
                   [(ngModel)]="ngModelselectedPeople" [typeahead]="typeAheadListUsers" typeToSearchText="Escribe para buscar">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items | slice:0:2">
              <span class="ng-value-label">{{type === 'person' ? item.username : item.groupname}}</span>
              <!--<span class="ng-value-label">{{item.email}}</span>-->
              <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
            <div class="ng-value" *ngIf="items.length > 2">
              <span class="ng-value-label">{{items.length - 2}} más...</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="d-flex flex-wrap">
      <div class="item-option gotham-book color-lightblue mr-3 mb-3" *ngFor="let item of selectedPeople">{{type === 'person' ? item.username : item.groupname}}
        <span class="ng-value-icon cursor-pointer right ml-3" (click)="clearItem(item)">×</span></div>
      <!--<img src="./assets/img/svg/equis.svg" class="img-fluid " alt="">-->
    </div>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <button class="btn btn-lineal-lightblue gotham-medium" (click)="bsModalRef.hide()">Cancelar</button>
    <button class="btn btn-blue gotham-medium ml-3" (click)="onClickSave()">Aceptar</button>
  </div>
</div>
