@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalPersonGroup {
    .ng-select.select-classic-border .ng-select-container {
      min-height: 55px;
      height: auto;
    }

    .ng-select.select-classic-border .ng-select-container .ng-value-container .ng-placeholder {
      top: 27px;
    }

    .ng-select.select-classic-border .ng-select-container.ng-has-value .ng-value-container {
      padding-top: 10px;
    }
    .ng-select.select-classic-border .ng-select-container.ng-has-value {
      padding-top: 20px;
    }
  }
}

.content {
  padding: 50px;

  h4 {
    font-size: $ft-30;
  }

  .text-type {
    position: absolute;
    z-index: 1035;
    top: 6px;
    left: 10px;
  }

  .btn-lightblue {
    min-width: 180px;
    min-height: 53px;

    background: $lightblue;
    color: $white;
    border-radius: 10px;
  }

  .btn-lineal-lightblue {
    width: 180px;
    height: 56px;

    color: $lightblue;
    border: 2px solid $lightblue;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .btn-blue {
    width: 180px;
    height: 56px;
    color: $white;
    background: #002655;
    border-radius: 10px;
  }
}


.item-option {
  width: auto;
  min-height: 36px;
  background: #D6EFF1;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
