@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/tabs.scss";

::ng-deep .scrollbar-telecommuting {
  height: calc(100vh - 132px);
  .preload {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    .box {
      height: 80px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
      margin-bottom: 15px;
    }
  }
}
.historial-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 45px;
  @include max-width-576 {
    margin-right: 0;
  }
  .text-left {
    gap: 15px;
    align-items: center;
    cursor: pointer;
    .count-pending {
      width: 33px;
      height: 33px;
      object-fit: contain;
      border-radius: 50%;
      background-color: #a1d049;
      span {
        font-weight: 500;
        line-height: 1.43;
        color: #fff;
      }
    }
  }
  .text-right {

  }
}
.historial-header {
  display: flex;
  justify-content: space-between;
  margin: 15px 8px 15px 0;
  padding-right: 15px;
  @include max-width-576 {
    padding-right: 0;
    margin: 0 15px;
  }
  .item-header {
    width: calc(100% / 3);
    text-align: center;
    &.dating {
      display: flex;
      align-items: flex-start;
    }
  }
}
.historial-body {
  ::ng-deep .scrollbar-historial {
    height: calc(100vh - 280px);
    padding-right: 15px;
    @include max-width-576 {
      padding-right: 0;
    }
    &.scrollMin {
      height: calc(100vh - 525px);
    }
  }
  .historial-box {
    min-height: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
    margin: 15px 8px 15px 0;
    @include max-width-576 {
      margin: 15px 8px 15px 8px;
      padding: 6px;
    }
    .btn-white {
      position: absolute;
      right: -12px;
      top: -12px;
      width: 42px;
      height: 42px;
      z-index: 1;
    }
    .box-column {
      width: calc(100% / 3);
      text-align: center;
      &.dating {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(calc(100% / 3) * 2);
        .dating-column {
          display: flex;
          flex-direction: row;
          width: 100%;
          .dating-column-first {
            width: 50%;
            text-align: left;
          }
          .dating-column-last {
            width: 50%;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
.historial-message-title {
  @include max-width-576 {
    text-align: center;
  }
}
.historial-message {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  @include max-width-576 {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    position: relative;
    @include max-width-576 {
      width: 100% !important;
    }
    &.date {
      width: calc(calc(100% / 3) * 2);
      height: 155px;
      overflow: auto;
      .dating-column {
        margin-bottom: 10px;
        text-align: left;
        @include max-width-576 {
          text-align: center;
        }
        .dating-column-last {
          font-size: 37px;
          line-height: 1.38;
          color: $greenyblue;
          display: flex;
          flex-wrap: wrap;
          @include max-width-576 {
            justify-content: center;
          }
        }
      }
      small {
        font-weight: 500;
        line-height: 1.47;
        color: #8f99aa;
      }
      label {
        font-size: 53px;
        font-weight: normal;
        line-height: 1;
        &.pending {
          color: $greenyblue;
        }
        &.approve {
          color: #8dc646;
        }
        &.not_approve {
          color: #d12228;
        }
      }
      span {
        font-weight: 500;
        line-height: 1.29;
        text-transform: capitalize;
      }
    }
    &.last {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &.dating {
        padding-top: 15px;
        justify-content: flex-start;
        @include max-width-576 {
          justify-content: center;
        }
      }
      label {
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
      }
    }
  }
}
