<div class="content" *ngIf="competence">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="position-relative">
    <h3 class="category-name gotham-book color-navyblue text-left m-0 ft-27">{{competence.name}}</h3>
    <h4 class="category-category gotham-book color-lightblue text-left m-0 ft-20">{{competence.category}}</h4>
    <div class="content-filer d-flex align-items-center" *ngIf="competence.requirement">
      <div class="d-flex requirements">
        <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
        <div class="text-filer">
          <h6 class="mb-0 gotham-medium color-blue line-height">Requisitos</h6>
          <span class="gotham-book color-gray">{{competence.requirement.size/1000}} KB</span>
        </div>
      </div>
      <div class="download-filer d-flex">
        <a [href]="competence.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
      </div>
    </div>
    <div class="content-mentor" *ngIf="competence.mentor_requests[0].status === 'Pendiente'">
      <div class="mentor-heading mb-4">
        <h4 class="title gotham-book color-blue ft-19 m-0">Mentor</h4>
        <button class="apply-mentor" (click)="openApplyMentorModal()"><span class="gotham-bold color-lightblue ft-16">Solicitar otro</span><img src="./assets/img/svg/arrow-right-lightblue.svg" class="img-fluid icon-arrow-right" alt=""></button>
      </div>
      <div class="mentor-status opacity mb-4">
        <h4 class="title gotham-book color-blue ft-19 m-0 text-center">Solicitud en proceso</h4>
      </div>
      <div class="mentor-body opacity mb-5" *ngIf="competence.mentor_requests[0].mentor">
        <div class="avatar">
          <img class="item-photo" [src]="competence.mentor_requests[0].mentor ? (competence.mentor_requests[0].mentor.photo ? competence.mentor_requests[0].mentor.photo : (competence.mentor_requests[0].mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
          <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso2" alt="" *ngIf="competence.mentor_requests[0].mentor.is_mentor">
        </div>
        <div class="body">
          <h3 class="name gotham-book color-blue ft-19 m-0 mb-1">{{competence.mentor_requests[0].mentor.name}}<br/>{{competence.mentor_requests[0].mentor.last_name}}</h3>
          <h4 class="ocupation gotham-book color-blue ft-15 m-0">{{competence.mentor_requests[0].mentor.occupation}} | {{competence.mentor_requests[0].mentor.area}}</h4>
          <div class="headquarter">
            <img class="mr-1" src="../assets/img/svg/icon-marker.svg" alt="">
            <span class="gotham-ligth color-blue ft-15">Sede {{competence.mentor_requests[0].mentor.headquarter}}</span>
          </div>
        </div>
      </div>
      <div class="mentor-schedule d-flex">
        <button class="btn-navyblue m-auto" (click)="delMentorRequest()">Cancelar participación</button>
      </div>
    </div>
    <div class="content-mentor" *ngIf="competence.mentor_requests[0].status === 'Rechazado'">
      <div class="mentor-heading mb-4">
        <h4 class="title gotham-book color-blue ft-19 m-0">Mentor</h4>
      </div>
      <div class="mentor-body reject mb-5" *ngIf="competence.mentor_requests[0].mentor">
        <div class="avatar reject">
          <img class="item-photo" [src]="competence.mentor_requests[0].mentor ? (competence.mentor_requests[0].mentor.photo ? competence.mentor_requests[0].mentor.photo : (competence.mentor_requests[0].mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
          <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso2" alt="" *ngIf="competence.mentor_requests[0].mentor.is_mentor">
        </div>
        <div class="body reject">
          <div class="reason_rejection gotham-book color-blue ft-16">{{competence.mentor_requests[0].reason_rejection}}</div>
        </div>
      </div>
    </div>
    <div class="text-center m-auto gotham-book color-blue ft-15" *ngIf="competence.mentor_requests[0].status === 'Rechazado'">El mentor no puede atender tu solicitud. Ha sugerido a:</div>
    <div class="content-mentor" *ngIf="competence.mentor_requests[0].status === 'Rechazado'">
      <div class="mentor-body mb-5" *ngIf="competence.mentor_requests[0].suggested_mentor">
        <div class="avatar for-approve">
          <img class="item-photo" [src]="competence.mentor_requests[0].suggested_mentor ? (competence.mentor_requests[0].suggested_mentor.photo ? competence.mentor_requests[0].suggested_mentor.photo : (competence.mentor_requests[0].suggested_mentor.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg') : './assets/img/svg/image-default.svg'" alt="">
          <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid icon-iso2" alt="" *ngIf="competence.mentor_requests[0].suggested_mentor.is_mentor">
        </div>
        <div class="body for-approve">
          <h3 class="name gotham-book color-blue ft-15 m-0 mb-1">{{competence.mentor_requests[0].suggested_mentor.name}}<br/>{{competence.mentor_requests[0].suggested_mentor.last_name}}</h3>
          <div class="d-flex justify-content-between">
            <img (click)="postMentorAcceptSuggest()" class="cursor-pointer" src="../assets/img/svg/icon-check-wg.svg" alt="">
            <img (click)="openApplyMentorModal()" class="cursor-pointer" src="../assets/img/svg/icon-delete-wr.svg" alt="">
          </div>
        </div>
      </div>
      <div class="mentor-schedule d-flex">
        <button class="btn-navyblue m-auto" (click)="delMentorRequest()">Cancelar participación</button>
      </div>
    </div>
  </div>
</div>
