@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

::ng-deep {
  .ModalApplyStatus {
    visibility: visible;
    &.hide {
      visibility: hidden;
    }
    .modal-content {
      zoom: 0.98;
      width: 399px;
      min-height: 557px;
      overflow: hidden;
      display: flex;
    }
  }
}

.content{
  padding: 50px;
  &.hide-modal {
    display: none;
  }
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 2;
  }
  .category-name, .category-category {
    font-weight: 600;
  }
  .content-filer {
    width: 100%;
    justify-content: space-between;
    gap: 36px;
    margin-top: 30px;
    @include max-width-576 {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 0;
    }
    .requirements {
      flex-wrap: nowrap;
      gap: 20px;
      .icon-filer {
        width: 48px;
        height: 48px;
      }
      .text-filer {
        display: grid;
        gap: 3px;
        line-height: 1;
        padding: 5px 0;
        h6 {
          font-size: 17px;
          font-weight: 500;
        }
        span {
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
    .download-filer {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      background-color: #eaf7f8;
      a {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
  .content-mentor {
    margin-top: 40px;
    .mentor-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-weight: 600;
      }
      .apply-mentor {
        border-radius: 5px;
        border: solid 2px #fff;
        background-color: #fff;
        line-height: 2;
        padding: 0 20px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }
    }
    .mentor-status {
      &.opacity {
        opacity: 0.3;
      }
    }
    .mentor-body {
      display: flex;
      width: 100%;
      position: relative;
      &.reject {
        padding: 21px 43px 15.9px 21px;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      }
      &.opacity {
        opacity: 0.3;
      }
      .avatar {
        position: relative;
        height: 69px;
        &.reject, &.for-approve {
          height: 51px;
          img {
            width: 51px;
            height: 51px;
          }
        }
        img {
          width: 69px;
          height: 69px;
          &.icon-iso2 {
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: -12px;
            z-index: 2;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
      .body {
        display: grid;
        padding: 0px 15px 0 25px;
        gap: 0px;
        &.reject {
          display: flex;
          align-items: center;
        }
        &.for-approve {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
        .reason_rejection {
          line-height: 1.25;
        }
        .name {
          line-height: 1.11;
          font-weight: 600;
        }
        .ocupation {
          opacity: 0.5;
          font-weight: 600;
        }
        .headquarter {
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 2px;
          img {
            width: 12px;
          }
        }
      }
    }
  }
}
