@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/shine.scss";

.box {
  width: 400px; // 430px;
  min-height: 120px;
  overflow: hidden;
  /* border-radius: 10px;
   box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.15);*/
  border-radius: 0;
  border-bottom: solid 1px #0227541a;

  &.active {
    border-radius: 10px !important;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.15);
  }

  &.active2 {
    margin-bottom: 10px;
  }

  .points {
    min-width: 64px;
    height: 30px;
    background-color: #35b1b81a;
    text-align: center;
    line-height: 2;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    color: $lightblue;
  }

  .img-content {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 25px;
  }

  .text-comment {
    width: 330px;
    @include min-width-768 {
      width: 390px;
    }
  }

  p {
    line-height: 1;
  }
}
