<div class="box d-flex align-items-center px-2 position-relative" [id]="item.id" [ngClass]="(own ? 'active active2' : '' ) || (active?.value && (item.id === active?.id) ? 'active': '')">
  <div class="points gotham-medium" *ngIf="own">{{item.score}} pts</div>
  <div class="">
    <div class="d-flex align-items-center cursor-pointer " (click)="onClickDetail()">
      <div class="img-content mr-2"><img [src]="item.user.photo ? item.user.photo : (item.user.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
      <div class="">
        <h5 class="color-blue gotham-medium ft-12 mb-0">{{item.user.name + ' ' + item.user.last_name}}</h5>
        <p class="color-blue-opacity gotham-medium mb-0 ft-12">{{item.created_at | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
    <p class="color-blue gotham-medium ft-14 my-2 text-comment cursor-pointer" (click)="onClickDetail()">{{item.title | truncate: '60'}}</p>
    <div class="d-flex align-items-center">
      <a class="text-decoration-none cursor-pointer gotham-medium ft-12 mr-3" [ngClass]="item.like >= 1 ? 'color-lightblue' : 'color-blue-opacity'">
        <img [src]="item.is_like ? './assets/img/svg/icon-heart2.svg' : './assets/img/svg/icon-heartw2.svg'" class="img-fluid cursor-pointer" (click)="onClickLiked(item, $event)" alt=""> {{item.like}} {{item.like === 1 ? 'like' : 'likes'}}</a>
      <a class="text-decoration-none gotham-medium ft-12 cursor-pointer" [ngClass]="item.comment >= 1 ? 'color-lightblue' : 'color-blue-opacity'" (click)="onClickDetail()">
        <img src="./assets/img/svg/icon-comment.svg" class="img-fluid" alt=""> {{item.comment}} {{item.comment === 1 ? 'comentario' : 'comentarios'}}</a>
    </div>
  </div>
</div>
