<div class="content-width content-challenges" *ngIf="knowledge">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="display-response"  [ngClass]="{'d-none d-md-block' : knowledgeDetail}">
    <a routerLink="/cultura-caja-con-sentido" class="d-block icon-back-responsive"><i class="fas fa-arrow-left color-lightblue"></i></a>
    <div class="">
      <h2 class="color-blue gotham-bold ft-25 mb-0">
        {{knowledge[ 0 ]?.title}}</h2>
      <p class="color-lightblue gotham-bold ft-18">{{knowledge[ 0 ]?.score_total}} pts
        <img src="./assets/img/svg/icon-information.svg" class="img-fluid icon-information cursor-pointer ml-2"
             (click)="openChallengeValues()" alt=""></p>
    </div>
  </div>

  <perfect-scrollbar class="scrollbar-challenge-knowledge" [config]="{suppressScrollX: true}">
    <div class="text-center mt-4 pt-4" *ngIf="listKnowledgeResponse && listKnowledgeResponse.total === 0">
      <div class="icon-sorry d-flex align-items-center justify-content-center mx-auto">
        <img src="./assets/img/svg/lo-sentimos.svg" class="img-fluid" alt="">
      </div>
      <h5 class="gotham-bold ft-20 color-blue mt-3">Lo sentimos</h5>
      <p class="gotham-book ft-14 color-blue">No cuentas con puntaje en esta actividad</p>
      <div *ngIf="receivegiveId === 6">
        <button class="btn btn-blue gotham-medium ft-16" (click)="openModalChallengeChooseKnowledge()">Dar reconocimiento</button>
      </div>
    </div>
    <div class="container px-md-0 mt-md-3" *ngIf="listKnowledgeResponse && listKnowledgeResponse.total !== 0">
      <div class="row">
        <div class="col-md-5" [ngClass]="{'d-none d-md-block' : knowledgeDetail}">
          <div class="mb-4" *ngIf="receivegiveId === 6">
            <button class="btn btn-blue gotham-medium ft-16" (click)="openModalChallengeChooseKnowledge()">Dar reconocimiento</button>
          </div>
          <ng-container *ngFor="let item of listKnowledge,  trackBy: trackById">
            <app-card-knowledge (showdetail)="onShowDetail($event, item.id)" [item]="item" [active]="active"></app-card-knowledge>
          </ng-container>
          <div class="col-md-12">
            <div class="d-flex justify-content-end align-items-center" *ngIf="listKnowledgeResponse && listKnowledgeResponse.total !== 0">
              <pagination [totalItems]="listKnowledgeResponse.total" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [boundaryLinks]="true"
                          [itemsPerPage]="listKnowledgeResponse.per_page"
                          (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
        <div class="col-md-7">

          <div class="text-center mt-5 pt-5 d-none d-md-block" *ngIf="!knowledgeDetail">
            <h4 class="color-blue gotham-bold ft-20">Reconocimientos</h4>
            <p class="gotham-book ft-14 color-blue">Selecciona un colaborador para ver el detalle</p>
          </div>
          <ng-container *ngIf="knowledgeDetail">
            <div class="display-response">
              <a (click)="onClickBack()" class="cursor-pointer d-block d-md-none icon-back-responsive2"><i class="fas fa-arrow-left color-lightblue ft-16"></i></a>
              <h5 class="gotham-medium ft-20 color-blue">{{receivegiveId === 5 ? 'Reconocimiento de:' : 'Reconociste a:'}}</h5>
            </div>
            <div class="d-flex align-items-center cursor-pointer">
              <div class="img-content mr-2" *ngIf="receivegiveId === 6"><img
                [src]="knowledgeDetail?.for?.photo ? knowledgeDetail.for?.photo : (knowledgeDetail?.for?.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid"
                alt=""></div>
              <div class="img-content mr-2" *ngIf="receivegiveId === 5"><img
                [src]="knowledgeDetail?.of?.photo ? knowledgeDetail.of?.photo : (knowledgeDetail?.of?.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid"
                alt=""></div>
              <div class="">
                <h5 class="color-blue gotham-medium ft-12 mb-0" *ngIf="receivegiveId === 5">{{knowledgeDetail?.of?.name + ' ' + knowledgeDetail?.of?.last_name}}</h5>
                <h5 class="color-blue gotham-medium ft-12 mb-0" *ngIf="receivegiveId === 6">{{knowledgeDetail?.for?.name + ' ' + knowledgeDetail?.for?.last_name}}</h5>
                <p class="color-blue-opacity gotham-medium mb-0 ft-12">Enviado el {{knowledgeDetail?.date | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div class="box box2 position-relative py-3 px-3 mt-5">
              <div class="points gotham-medium ft-16" *ngIf="knowledgeDetail.score">{{knowledgeDetail.score}} pts</div>
              <div class="mb-2">
                <h5 class="gotham-medium color-lightblue ft-14 mb-0">Categoría</h5>
                <p class="color-blue gotham-book ft-14">{{knowledgeDetail.category}}</p>
              </div>
              <div class="mb-2">
                <h5 class="gotham-medium color-lightblue ft-14 mb-0">Evento</h5>
                <p class="color-blue gotham-book ft-14">{{knowledgeDetail.event}}</p>
              </div>
              <div class="mb-2">
                <h5 class="gotham-medium color-lightblue ft-14 mb-0">Mensaje</h5>
                <p class="color-blue gotham-book ft-14">{{knowledgeDetail.message}}</p>
              </div>
              <div class="">
                <div class="content-imgs">
                  <ng-container *ngFor="let item of knowledgeDetail.img">
                    <img [src]="item.image" class="img-fluid mb-2" style="border-radius: 7px" alt="">
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
