@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/tabs.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.display-response {
  display: flex;
  @include min-width-768 {
    display: block;
  }
  .icon-back-responsive {
    margin-right: 10px;
  }
  .icon-back-responsive2 {
    margin-right: 10px;
  }
}
.icon-back-responsive {
  @include min-width-768 {
    position: absolute;
    left: 20px;
    top: 28px;
  }
  font-size: $ft-24;
}

.box {
  max-width: 472.1px;
  min-height: 442px;
  border-radius: 10px;
  box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
  background-color: #fff;
  margin-top: 0 !important;
  @include min-width-768 {
    margin-top: 13px !important;
  }
  &.box2 {
    margin-top: 10px !important;
  }
}
.points {
  min-width: 65px;
  height: 30px;
  background-color: #35b1b81a;
  text-align: center;
  line-height: 2;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  color: $lightblue;
}
.icon-sorry{
  background: rgb(53 177 184 / 0.1);
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.btn-blue{
  width: 327px;
  height: 38.8px;
  border-radius: 7px;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
