<div id="notfound">
  <div class="notfound">
    <div class="notfound-404"></div>
    <h1>{{code}}</h1>
    <h2>Solicitud Prohibida</h2>
    <p>No tiene permiso para acceder a este módulo del sistema.</p>
  </div>
</div>
