@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.display-response {
  display: flex;
  @include min-width-768 {
    display: block;
  }
  .icon-back-responsive {
    margin-right: 10px;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
}

.btn-select {
  color: #002655;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
  background-color: #fff;
  border-color: transparent;
  font-family: "Gotham-Book", sans-serif;

  &.active, &:focus {
    border-color: transparent;
    color: #002655;
    background: transparent;
    font-family: "Gotham-Book", sans-serif;
  }

  &.selected {
    border-color: $lightblue;
    color: $lightblue;
    background: transparent;
    font-family: "Gotham-Medium", sans-serif;
  }

  &:hover {
    border-color: $lightblue;
    color: $lightblue;
    background: #fff;
    font-family: "Gotham-Medium", sans-serif;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
  }

 /* &:not(.selected),
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active, .show > &.dropdown-toggle {
    border-color: transparent;
    color: #002655;
    background: #fff;
    font-family: "Gotham-Book", sans-serif;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);

  }*/

  &.is-correct {
    border-color: #8ec44f !important;
    color: #8ec44f !important;
    background: #fff !important;
    font-family: "Gotham-Medium", sans-serif;
  }

  &.is-incorrect {
    border-color: $red !important;
    color: $red !important;
    background: #fff !important;
    font-family: "Gotham-Medium", sans-serif;
  }

}

.btn-blue {
  min-width: 169.1px;
  min-height: 38.8px;
  border-radius: 10px;
}
.btn-check {
  width: 261.8px;
  height: 45px;
  border-radius: 10px;
  /*border-radius: 10px;
  background-color: #f7f8f9;*/
}
.btn-green {
  background: $green;
  border-color: $green;
  border-radius: 10px;
  &:hover {
    background: #fff;
    color: $green;
  }
}
.btn-red {
  background: $red;
  border-color: $red;
  border-radius: 10px;
  &:hover {
    background: #fff;
    color: $red;
  }
}
