<div class="content-width">
  <perfect-scrollbar class="scrollbar-benefits" [config]="{suppressScrollX: true}" *ngIf="benefits">
    <div class="row">
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 responsive-heading">
        <div class="position-relative">
          <a routerLink="/beneficios" class="d-block icon-back-responsive"><i class="fas fa-arrow-left color-white"></i></a>
          <div class="back-image" [defaultImage]="defaultImage" [lazyLoad]="benefits.image"></div>
        </div>
      </div>
      <div class="col-lg-12 p-0 pl-md-3 pr-md-3 mb-3">
        <div class="col-box detail">
          <div class="d-flex detail-heading">
            <div class="pt-1 pr-1 d-none d-md-block"><a routerLink="/beneficios" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
            <div class="detail-title">
              <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">{{benefits.name}}</h2>
              <div class="d-flex align-items-center flex-wrap flex-md-nowrap detail-date">
                <span class="color-lightblue gotham-medium ft-16 line-height mr-1" *ngIf="benefits && benefits.subtitle">{{ benefits.subtitle }}</span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-md-nowrap mt-3 detail-body">
            <div class="detail-left d-flex flex-wrap">
              <div class="back-image d-none d-xl-block" [defaultImage]="defaultImage" [lazyLoad]="benefits.image"></div>
              <div class="content-filer d-flex align-items-center mb-4">
                <div class="d-flex requirements" *ngIf="benefits.requirement">
                  <img src="./assets/img/svg/icon-filer.svg" class="img-fluid icon-filer" alt="">
                  <div class="text-filer">
                    <h6 class="mb-0 gotham-medium color-blue line-height">{{ benefits.type === 'fifth_category_income_tax' ? 'Declaración Jurada' : 'Requisitos' }} </h6>
                    <span class="gotham-book color-gray">{{benefits.requirement.size/1000}} KB</span>
                  </div>
                </div>
                <div class="download-filer d-flex" *ngIf="benefits.requirement">
                  <a [href]="benefits.requirement.file" target="_blank" download><img src="./assets/img/svg/icon-download.svg" class="img-fluid m-auto" alt=""></a>
                </div>
                <div class="upload-filer" *ngIf="benefits.is_uploadible">
                  <button class="btn upload-file gotham-medium" *ngIf="!benefits.benefit_user.benefit_document">
                    <input class="input" type="file" (change)="onFileUpload($event)" #fileInputBenefit accept="application/msword, application/pdf">
                    <input type="hidden" name="file" formControlName="file" id="uploadFile"/>
                    <span class="ft-16 color-lightblue gotham-bold">Subir documento</span>
                    <img src="./assets/img/svg/icon-upload.svg" />
                  </button>
                  <button class="btn uploaded-file gotham-medium" *ngIf="benefits.benefit_user.benefit_document">
                    <a class="ft-14 gotham-medium" target="_blank" href="{{benefits.benefit_user.benefit_document.file}}" download>documento.pdf</a>
                    <img src="./assets/img/svg/icon-delete-red.svg" (click)="onDeleteFile()" />
                  </button>
                </div>
              </div>
            </div>

            <div class="detail-right content-information pl-md-5 pr-md-5">
              <div class="">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="color-blue gotham-medium"><img src="./assets/img/svg/icon-calendar-date.svg" class="img-fluid mr-2" alt=""><span class="text-date">Fecha: {{benefits.benefit_user.data.fecha}}</span></div>
                </div>
                <p class="gotham-light color-blue ft-14 mt-1 mb-0">{{benefits.description}}</p>
                <div class="mt-4">
                  <div class="" *ngIf="benefits.is_solicitable">
                    <button class="btn btn-able gotham-medium ft-18" *ngIf="benefits.benefit_user.is_attended">Solicitud atentida</button>
                    <button class="btn btn-able gotham-medium ft-18" (click)="cancelBenefit()" *ngIf="!benefits.benefit_user.is_attended && benefits.benefit_user.solicited">Cancelar solicitud</button>
                    <button class="btn btn-able gotham-medium ft-18" (click)="applyBenefit()" *ngIf="!benefits.benefit_user.is_attended && !benefits.benefit_user.solicited">{{benefits.type === "cts_availability" ? "Habilitar disponibilidad de CTS" : "Acceder a beneficio"}}</button>
                  </div>
                </div>
                <div>
                  <ng-container *ngIf="benefits && benefits.type" [ngSwitch]="benefits.type">
                    <app-gratification *ngSwitchCase="'gratification_parties'" [benefit]="benefits.benefit_user"></app-gratification>
                    <app-compensation *ngSwitchCase="'cts'" [benefit]="benefits.benefit_user"></app-compensation>
                    <app-partition *ngSwitchCase="'profit_sharing'" [benefit]="benefits.benefit_user"></app-partition>
                    <app-canasta *ngSwitchCase="'basket'" [benefit]="benefits.benefit_user"></app-canasta>
                    <app-scholarship *ngSwitchCase="'scholarship'" [benefit]="benefits.benefit_user"></app-scholarship>
                    <app-cts *ngSwitchCase="'cts_availability'" [benefit]="benefits"></app-cts>
                    <app-process *ngSwitchCase="'leveling_process'" [benefit]="benefits.benefit_user"></app-process>
                    <app-tax *ngSwitchCase="'fifth_category_income_tax'" [benefit]="benefits.benefit_user"></app-tax>
                    <app-bond *ngSwitchCase="'annual_results_bonus'" [benefit]="benefits.benefit_user"></app-bond>
                    <app-agreement *ngSwitchCase="'credit_by_agreement'" [benefit]="benefits.benefit_user"></app-agreement>
                    <app-uniform *ngSwitchCase="'uniform_and_epp'" [benefit]="benefits"></app-uniform>
                    <app-life *ngSwitchCase="'life_insurance'" [benefit]="benefits"></app-life>
                    <app-category-promotion *ngSwitchCase="'category_promotion'" [benefit]="benefits"></app-category-promotion>
                    <app-other *ngSwitchCase="'other'" [benefit]="benefits"></app-other>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
