@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";

.responsive-heading {
  display: none;
  .icon-back-responsive {
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: $ft-24;
  }
  @include max-width-576 {
    display: block;
    .back-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
      width: 100%;
      height: 250px;
    }
  }
}
.detail {
  @include max-width-576 {
    border-radius: 45px !important;
    margin-top: -25px !important;
  }
}
.detail-heading {
  .icon-back {
    font-size: $ft-24;
  }
  .detail-title {
    margin-left: 5px;
    .detail-date {
      gap: 20px;
    }
  }
}

.detail-body {
  margin-left: 30px;
  @include max-width-576 {
    margin-left: 0;
  }
  .detail-left {
    width: 450px;
    flex-direction: column;
    gap: 20px;
    @include max-width-576 {
      width: 100%;
    }
    .back-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10px;
      width: 100%;
      height: 246px;
      @include max-width-576 {
        display: none;
      }
    }
    .content-filer {
      width: 100%;
      justify-content: flex-start;
      gap: 36px;
      @include max-width-576 {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 0;
      }
      .requirements {
        flex-wrap: nowrap;
        gap: 10px;
        .icon-filer {
          width: 35px;
          height: 35px;
          @include max-width-576 {
            width: 35px;
            height: 35px;
          }
        }
        .text-filer {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          gap: 5px;
          line-height: 1;
          h6 {
            font-size: 14px;
            font-weight: 500;
          }
          span {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
      .download-filer {
        width: 35px;
        height: 35px;
        border-radius: 12px;
        background-color: #eaf7f8;
        a {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
      .upload-filer {
        @include max-width-576 {
          width: 100%;
          clear: both;
          margin-top: 15px;
          button {
            width: 100% !important;
          }
        }
        button {
          width: 225.2px;
          height: 50.8px;
          border-radius: 10px;
          box-shadow: 0 8px 15px 0 rgba(0, 78, 175, 0.07);
          background-color: #fff;
          display: flex;
          gap: 10px;
          border: none;
          align-items: center;
          justify-content: center;
          font-weight: 500;
        }
        .upload-file {
          border: solid 1.5px #35b1b8;
          font-size: 14px;
          font-weight: 500;
          line-height: 0.94;
          text-align: center;
          color: #35b1b8;
          margin: auto;
          overflow: hidden;
          position: relative;
          border: 1px solid #ced4da;
          background-color: #fff;
          display: flex;
          border: none;
          input {
            z-index: 2;
            position: absolute;
            opacity: 0;
            filter: alpha(opacity=0);
            -ms-filter: "alpha(opacity=0)";
            cursor: pointer;
            _cursor: hand;
            padding: 0;
            width: 100%;
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .uploaded-file {
          border: solid 1.5px #fff;
          text-align: center;
          justify-content: space-around;
          a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #899baf;
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }
  .detail-right {
    width: calc(100% - 450px);
    @include max-width-576 {
      width: 100%;
    }
    &.content-information {
      .text-date {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $navyblue;
      }
      .text-date-right {
        font-size: 12px;
        font-weight: 500;
        opacity: 0.3;
      }
    }
    .btn-able {
      width: 316.1px;
      height: 44.8px;
      border-radius: 7px;
      border: solid 1px $greenyblue;
      color: $greenyblue;
      padding: 10px 15px;
      @include max-width-576 {
        width: 100%;
      }
    }
  }
}
.text-title {
  font-size: $ft-20;
  @include min-width-768 {
    font-size: $ft-30;
  }
}
.col-box {
  background: #fff;
  border-radius: 12px;
  margin-top: -10px;
  padding: 15px;
  @include min-width-768 {
    background: transparent;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
  }
}

p.tax-message {
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: $navyblue;
}
.box-porcent {
  width: 440px;
  height: 54px;

  background: #F7F8F9;
  border-radius: 10px;
}
