@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeValues {
    .modal-content {
      zoom: 0.98;
      width: 371px;
      min-height: 547px;
      overflow: hidden;
      display: flex;
      background: #02215b url('~assets/img/svg/bg-lines-bottom.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }
    }
    .swiper-button-next, .swiper-button-prev {
      top: 16%;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      content: url("~assets/img/svg/valor-arrow-right.svg");
    }
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      content: url("~assets/img/svg/valor-arrow-left.svg");
    }
  }
}

.content {
  padding: 40px 32px;
  min-height: 547px;

  .box {min-height: 507px;}
  .content-img {
    width: 179.5px;
    height: 132.1px;
  }
  p{ line-height: 1.4}

  .btn-lightblue{
    background: $lightblue;
    width: 169.1px;
    height: 38.8px;
    border-radius: 7px;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.swiper-slide {
  /*height: 530px;
  @media screen and (min-width: 992px) {
    height: auto;
  }*/
}
