<div class="content">
  <div class="swiper-container gallery-thumbs" *ngIf="values">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of values, let i=index">
        <div class="box">
          <div class="content-img d-block mx-auto mb-3">
            <img [src]="renderValues(item.num).image" class="img-fluid swiper-lazy" alt="">
          </div>
          <div class="text-center">
            <h5 class="ft-16 gotham-bold" [style.Color]="renderValues(item.num).color">Nuestros valores:</h5>
            <h3 class="color-white gotham-bold ft-20">{{item.title}}</h3>
            <p class="color-white gotham-book ft-14 mt-3">{{item.detail}}</p>
          </div>
          <button class="btn btn-lightblue d-block mx-auto gotham-medium" (click)="bsModalRef.hide()">Entendido</button>
        </div>

      </div>
    </div>

    <!-- If we need pagination -->
    <!--<div class="swiper-pagination"></div>-->
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</div>
