<div class="content">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="content-header d-flex justify-content-between">
    <div class="meeting-title mb-4">
      <h4 class="gotham-medium color-navyblue text-left m-0 ft-23">Emergencia</h4>
    </div>
    <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>
  </div>
  <div class="content-body" *ngIf="types">
    <div class="">
      <img src="./assets/img/svg/icon-sos.svg" class="img-fluid icon-sos d-block mx-auto" alt="">
    </div>

    <div class="d-block mx-auto text-center my-4" [formGroup]="form">
      <div class="btn-group" btnRadioGroup formControlName="emergency_type_id">
        <label class="btn btn-primary gotham-medium" [btnRadio]="item.id" *ngFor="let item of types, let i = index"
               [uncheckable]="true" tabindex="0" role="button">{{item.name}}</label>
      </div>
    </div>

    <button class="btn btn-blue gotham-medium" (click)="onClickSos()" [disabled]="form.invalid">Confirmar</button>
  </div>
</div>
