@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/perfect-scrollbar.scss";


::ng-deep {
  .content {
    .btn-group, .btn-group-vertical {
      flex-wrap: wrap;
    }

    .btn-primary {
      color: #002655;
      border-radius: 10px!important;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
      background-color: #fff;
      border-color: transparent;
      font-family: "Gotham-Book", sans-serif;
      display: block!important;
      width: 100%;

      &.active {
        border-color: $lightblue;
        color: $lightblue;
        background: transparent;
        font-family: "Gotham-Medium", sans-serif;
      }
      &:hover, &:focus {
        border-color: $lightblue;
        color: $lightblue;
        background: #fff;
        font-family: "Gotham-Medium", sans-serif;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);
      }
      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show>&.dropdown-toggle {
        border-color: $lightblue;
        color: $lightblue;
        background: transparent;
        font-family: "Gotham-Medium", sans-serif;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.1);

      }
    }
  }
}
.content {
  padding: 20px;

  .icon-sos {
    max-width: 100px;
  }

  .btn-blue{
    display: block;
    width: 260px;
    height: 38.8px;
    border-radius: 7px;
    margin: auto;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
