@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .scrollbar-defaultImage {
    max-width: 100%;
    max-height: 100%;
    padding-right: 0;
    @include min-width-576 {
      padding-right: 0;
    }
    @include min-width-768 {
      height: 210px;
      padding-right: 0
    }
    .ps{
      padding-right: 22px;
    }
  }
  .ModalConstancy {
    /*   .modal-content {
         zoom: 0.98;
         width: 506px;
         max-height: 544px;
         overflow: hidden;
         display: flex;
         @include max-width-576 {

         }
       }*/
  }
}

.content {
  //max-height: 544px;
  padding: 15px 60px;

  .btn-lightblue {
    min-width: 180px;
    min-height: 53px;

    background: $lightblue;
    color: $white;
    border-radius: 10px;
  }

  .btn-lineal-lightblue {
    width: 180px;
    height: 56px;

    color: $lightblue;
    border: 2px solid $lightblue;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .btn-blue {
    width: 180px;
    height: 56px;
    color: $white;
    background: #002655;
    border-radius: 10px;
  }
}

.box-images {
  display: grid;
  grid-template-columns: 1fr;
  @include min-width-768 {
    grid-template-columns: 1fr 1fr 1fr; //  1fr;
  }
  gap: 10px;

  .image {
    /* width: 170px;
     height: 92px;*/
    width: 100%;
    height: 135px;
    // border: 2px solid;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.active {
      border: 2px solid $lightblue;
    }
  }
}
