<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <h4 class="gotham-medium color-lightblue text-left m-0 my-4 ft-30 line-height">Imágenes predeterminadas</h4>
  <p class="gotham-book color-blue text-left m-0 my-4 ft-20 line-height" *ngIf="!eventId">No haz seleccionado un evento aún ...</p>

  <perfect-scrollbar class="scrollbar-defaultImage" [config]="{suppressScrollX: true}">
    <div class="box-images"> <!-- [defaultImage]="defaultImage" [lazyLoad]="item.image"  -->
      <div class="image cursor-pointer" [ngClass]="{'active' : activeImage === item}"
           (click)="onClickSelect(item)"  [style.background-image]="'url(' + item.imagen + ')'" *ngFor="let item of images"></div>
    </div>
  </perfect-scrollbar>
  <div class="d-flex justify-content-end align-items-center mt-5">
    <button class="btn btn-lineal-lightblue gotham-medium" (click)="bsModalRef.hide()">Cancelar</button>
    <button class="btn btn-blue gotham-medium ml-3" [disabled]="!activeImage" (click)="onClickSave()">Aceptar</button>
  </div>
</div>
