<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <h5 class="gotham-medium color-blue mb-0">
        <span class="d-block gotham-book">{{title}}</span> Contrato
      </h5>
    </div>
    <a class="cursor-pointer" (click)="bsModalRef.hide()">
      <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
    </a>
  </div>
  <form class="content-form d-block" [formGroup]="formGroup" autocomplete="off" (submit)="onSubmit()">
    <app-control-messages [control]="formGroup.controls.file">
      <div class="box-select box-select-form box-select-width box-select-shadow d-flex justify-content-between align-items-center cont-inputs cont-inputs-personal mt-4 mb-4">
        <div class="form-group form-file d-flex md-input mb-0">
          <input class="input" type="file" placeholder=" " (change)="onFileChange($event)" #fileInput accept="application/pdf">
          <input type="hidden" name="file" formControlName="file" id="uploadFile"/>
          <label class="color-blue-opacity">{{filename}}</label>
        </div>
        <div class="cont-config">
          <div class="input-group-append cursor-pointer">
            <span class="input-group-text"><img src="./assets/img/svg/icon-pdf.svg" class="img-fluid" alt="" style="width: 20px;"></span>
          </div>
        </div>
      </div>
    </app-control-messages>
    <app-control-messages [control]="formGroup.controls.date_start">
      <div class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center cont-inputs cont-inputs-personal mt-4 mb-4">
        <div class="form-group d-flex md-input mb-0">
          <input type="text" class="form-control cursor-pointer" formControlName="date_start" placeholder=" " #ds="bsDatepicker" bsDatepicker required>
          <label>Inicio de contrato</label>
        </div>
        <div class="cont-config">
          <div class="input-group-append cursor-pointer" (click)="ds.toggle()" [attr.aria-expanded]="ds.isOpen">
            <span class="input-group-text"><img src="./assets/img/svg/icon-calendar3.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
    </app-control-messages>
    <app-control-messages [control]="formGroup.controls.date_end">
      <div class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center cont-inputs cont-inputs-personal mt-4 mb-4">
        <div class="form-group d-flex md-input mb-0">
          <input type="text" class="form-control cursor-pointer" formControlName="date_end" placeholder=" " #de="bsDatepicker" bsDatepicker>
          <label>Fin de contrato (opcional)</label>
        </div>
        <div class="cont-config">
          <div class="input-group-append cursor-pointer" (click)="de.toggle()" [attr.aria-expanded]="de.isOpen">
            <span class="input-group-text"><img src="./assets/img/svg/icon-calendar3.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
    </app-control-messages>
    <div class="form-group form-check form-check-contract d-flex align-items-center mt-4 mb-4 cursor-pointer">
      <input type="checkbox" name="exampleRadios" formControlName="trialperiod" class="form-check-input" id="periodo_prueba">
      <label class="form-check-label font-style d-flex align-items-center w-100 cursor-pointer" for="periodo_prueba">
        <span></span>
        <div class="m-0">
          <p class="m-0 gotham-medium color-blue-opacity">Periodo de prueba</p>
        </div>
      </label>
    </div>
    <app-control-messages [control]="formGroup.controls.date_trial">
      <div *ngIf="formGroup.get('trialperiod').value" class="box-select box-select-form box-select-width box-select-gray d-flex justify-content-between align-items-center cont-inputs cont-inputs-personal mt-4 mb-4">
        <div class="form-group d-flex md-input mb-0">
          <input type="text" class="form-control cursor-pointer" formControlName="date_trial" placeholder=" " #dp="bsDatepicker" bsDatepicker required>
          <label>Fin periodo prueba</label>
        </div>
        <div class="cont-config">
          <div class="input-group-append cursor-pointer" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
            <span class="input-group-text"><img src="./assets/img/svg/icon-calendar3.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
    </app-control-messages>
    <div class="w-100 d-block mx-auto text-center mt-4 mb-4">
      <button type="submit" class="btn btn-blue btn-upload gotham-medium">Adjuntar</button>
    </div>
  </form>
</div>
