@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/modals.scss";
@import "~assets/scss/calendar.scss";

::ng-deep {
  .ModalNewContract {
    .modal-content {
      zoom: 0.98;
      width: 503px;
      min-height: 478px;
      overflow: hidden;
      display: flex;
      @include max-width-576 {

      }
    }
  }
}

.content{
  padding: 50px;
  @include max-width-576 {
    padding: 30px;
  }
  h5{
    font-size: $ft-27;
    span{
      font-size: $ft-23;
      line-height: 1;
    }
  }
  .btn-upload {
    width: 228.1px;
    height: 44.8px;
    border-radius: 7px;
  }
}
