@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/calendar.scss";
@import "~assets/scss/shine.scss";

.content-general {
  .content-left {
    .calendar-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      img {
        width: 38px;
      }
    }
    .calendar-filters {
      .label-apply {
        @include max-width-576 {
          display: none;
        }
      }
      .btn-filter {
        width: 166px;
        height: 51.8px;
        border-radius: 15px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        background-color: #fff;
        border: 1px solid $white;
        opacity: 0.4;
        &:hover, &.active{
          opacity: 1;
          color: $blue;
          border: 1px solid $lightblue;
        }
      }
    }
    .calendar-wrapper {
      width: calc(230px * 2);
      position: relative;
      @include max-width-576 {
        width: 100%;
      }
      .mat-title {
        position: absolute;
        left: 30px;
        top: 34px;
        z-index: 1;
        width: 60%;
        height: 30px;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 23px;
        font-weight: 600;
        line-height: 1.43;
        text-align: left;
        color: $navyblue;
        text-transform: capitalize;
        @include max-width-576 {
          font-size: 20px;
          left: 15px;
        }
      }
    }
    .calendar-footer {
      @include max-width-576 {
        display: flex;
        justify-content: center;
        margin: 30px 0;
      }
    }
  }
  .content-right {
    padding-left: 40px;
    padding-right: 35px;
    height: calc(100vh - 150px);
    @include max-width-576 {
      padding-left: 15px;
      padding-right: 15px;
    }
    .text-information {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
