<div class="content-width content-general">
  <perfect-scrollbar class="" [config]="{suppressScrollX: true}">
    <div class="row">
      <div class="col-md-6 content-left border-right">
        <div class="calendar-header">
          <h2 class="color-blue gotham-bold ft-26 mb-4 mb-sm-4">Solicitud de vacaciones y teletrabajo</h2>
        </div>
        <div class="calendar-filters d-flex align-items-center mt-3 mb-3">
          <div class="mr-3 label-apply"><label class="gotham-book color-blue m-0 ft-23">Solicitar</label></div>
          <div class="mr-2">
            <a class="btn-filter cursor-pointer d-flex align-items-center justify-content-center text-decoration-none color-blue gotham-medium"
               routerLink="/consulta-solicita-vacaciones/vacaciones" routerLinkActive="active" (click)="setCurrentOption('vacation')">
              <img src="./assets/img/svg/icon-maleta.svg" class="img-fluid mr-2" alt=""><span>Vacaciones</span></a>
          </div>
          <div class="mr-2">
            <a class="btn-filter cursor-pointer d-flex align-items-center justify-content-center text-decoration-none color-blue gotham-medium"
               routerLink="/consulta-solicita-vacaciones/teletrabajo" routerLinkActive="active" (click)="setCurrentOption('telecommuting')">
              <img src="./assets/img/svg/icon-markerhouse.svg" class="img-fluid mr-2" alt=""><span>Teletrabajo</span></a>
          </div>
        </div>
        <div class="calendar-wrapper mt-4 mb-4">
          <label class="mat-title">{{ selectedDateView }}</label>
          <mat-calendar class="outroCalendar" #calendar
            [dateFilter]="myDateFilter"
            (_userSelection)="(!childComponentItem) ? onSelectedChange($event) : null"
            (monthSelected)="onMonthSelected($event)"
            [dateClass]="dateClass()">
          </mat-calendar>
        </div>
        <div class="calendar-footer">
          <button class="btn-navyblue" *ngIf="currentOption === 'vacation'" (click)="onApplyVacation()">{{!childComponentItem ? 'Solicitar' : childComponentItem.status === 3 ? 'Volver a solicitar' : 'Empezar'}}</button>
          <button class="btn-navyblue" *ngIf="currentOption === 'telecommuting'" (click)="onApplyTelecommuting()">{{!childComponentItem ? 'Solicitar' : childComponentItem.status === 3 ? 'Volver a solicitar' : 'Empezar'}}</button>
        </div>
      </div>
      <div class="col-md-6 content-right">
        <ng-content></ng-content>
        <router-outlet #myRouterOutlet (activate)="onActivate($event)"></router-outlet>
        <div class="text-information text-center p-5" *ngIf="!isActive">
          <h5 class="text-no-result">Selecciona vacaciones o teletrabajo</h5>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
