@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";

.content-community {
  .content-filters {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    @include max-width-576 {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .box-select, .search {
      width: calc(100% / 4);
      @include max-width-576 {
        width: 100%;
      }
    }
    .search {
      .input-group {
        margin: auto;
        border-radius: 7px;
        border: solid 1.5px #e9edf1;
        height: 55px;
      }
      .form-control {
        background: transparent;
        box-shadow: none;
        border: none;
        height: calc(2.9em + 2px);
      }
      input::placeholder {
        opacity: 0.5;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 15px;
      }
      .form-control:focus {
        border-color: transparent;
        box-shadow: none;
      }
      .input-group-text {
        background: transparent;
        border: 0 solid transparent;
      }
    }
    .other-participating {
      position: absolute;
      z-index: 2;
      right: 0;
      display: flex;
      gap: 10px;
      bottom: -56px;
      .btn-white {
        border-radius: 5px;
        border: solid 2px #fff;
        background-color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        padding: 4px 20px 0px 20px;
        font-weight: 600;
        line-height: 1.38;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-decoration: none;
      }
      .btn-lightblue {
        border-radius: 5px;
        border: solid 2px $greenyblue;
        background-color: #fff;
        font-weight: bold;
        line-height: 2;
        padding: 4px 20px 0px 20px;
      }
    }
  }
  ::ng-deep empty-data.empty-users #empty-data {
    height: calc(100vh - 350px);
    @include max-width-576 {
      height: 350px;
    }
  }
  ::ng-deep empty-data.empty-competences #empty-data {
    height: calc(100vh - 410px);
    @include max-width-576 {
      height: 350px;
    }
  }
  .list-users {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 395px);
    ::ng-deep .scrollbar-tab {
      padding-right: 15px;
      .ps .ps-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
        gap: 0 15px;
        @include max-width-576 {
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
      }
    }
    .user-item {
      width: 100%;
      margin-bottom: 15px;
      .box {
        max-width: 100%;
        height: 118px;
        box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 10px 8px 8px;
        position: relative;
        &.shine {
          background-color: #f6f7f8;
        }
        .is_favorite {
          position: absolute;
          width: 20px;
          height: 20px;
          z-index: 2;
          right: 16px;
          top: 16px;
          &.opacity {
            opacity: 0.3;
          }
        }
        .content-image {
          width: 83px;
          height: 83px;
          position: relative;
          img {
            width: 83px;
            height: 83px;
            border-radius: 50%;
            &.is_mentor {
              width: 24px;
              height: 24px;
              position: absolute;
              bottom: -10px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
        .content-body {
          width: calc(100% - 110px);
          .name {
            font-weight: 500;
            line-height: 1.13;
            text-align: left;
          }
          .occupation {
            font-weight: 500;
            line-height: 1.43;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .footer {
            span {
              font-weight: normal;
              line-height: 1.43;
              text-align: left;
              color: $greenyblue;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }

  .box-mentor {
    width: 327px;
    height: 118px;
    margin: 10px 0;
    padding: 19px 27px 16px 16px;
    border-radius: 7px;
    box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
    background-color: var(--white);
    .img-mentor {
      width: 72px;
      height: 72px;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      // align-items: center;
    }
    .text-data {
      width: 180px;
    }
  }
  .preload {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 555px;
    .s-item {
      height: 118px;
      width: calc(calc(100% / 3) - 0.45rem);
      margin-bottom: 15px;
      @include max-width-576 {
        width: calc(100%);
      }
    }
  }
  .list-competences2 {
    ::ng-deep .scrollbar-tab {
      .ps .ps-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 4) - 15px), 4fr))!important;
        gap: 0 15px;
      }
      .box-detail {
        gap: 0
      }
    }
  }
  .list-competences {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 215px); // 430
    ::ng-deep .scrollbar-tab {
      padding-right: 15px;
      .ps .ps-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 6) - 15px), 6fr));
        gap: 0 15px;
        @include max-width-576 {
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
      }
    }
    .box {
      width: 158px;
      height: 158px;
      padding: 13px 13px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      background-color: #fff;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      gap: 13px;
      cursor: pointer;
      .box__top {
        gap: 8px;
        justify-content: start;
        .box-arrow {
          width: 37px;
          height: 37px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          line-height: 0.8;
          justify-content: center;
          align-items: center;
          &.O {
            background: $lightolivegreen;
          }
          &.G {
            background: $greenyblue;
          }
          &.M {
            background: $lightred;
          }
          &.C {
            background: $orange;
          }
        }
        .box-detail {
          flex-direction: column;
          gap: 2px;
          justify-content: center;
          .number {
            line-height: 1.36;
          }
          .label {
            font-weight: 500;
            line-height: 1.36;
            color: #8f99aa;
          }
        }
      }
      .box__bottom {
        h3 {
          font-weight: 600;
          line-height: 1;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 30px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .box__footer {
        h4 {
          font-weight: 500;
          line-height: 1.33;
          color: #8f99aa;
          margin: 0;
        }
        h3 {
          font-weight: normal;
          line-height: 1.36;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .shine {
        border-radius: 10px;
      }
    }
  }
  .preload-competences {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 6) - 15px), 6fr));
    gap: 0;
    height: 515;
    .s-item {
      width: 158px;
      height: 158px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      margin-bottom: 15px;
      .shine {
        border-radius: 10px;
      }
      @include max-width-576 {
        width: calc(100%);
      }
    }
  }

  ::ng-deep .scrollbar-special .ps .ps-content .tabs-community {
    position: relative;
    .tab-content {
      position: relative;
    }
    .nav-tabs {
      border-bottom: 0;
      .nav-item {
        width: 50%;
        text-align: center;
        @include min-width-768 {
          padding-right: 20px;
          width: initial;
          text-align: left;
        }
        span {
          font-family: 'Gotham-Medium', sans-serif;
          font-size: $ft-20;
          font-weight: 500;
          text-align: center;
          line-height: 1.4;
          color: $blue;
          @include min-width-768 {
            text-align: left;
          }
        }
        .nav-link {
          border: 0;
          padding: 0.5rem 0 0.2rem 0;
          opacity: 0.3;
          &:hover {
            border-color: transparent;
          }
          &.active {
            color: #495057;
            background-color: #fff;
            opacity: 1;
            border-color: transparent;
            border-bottom: 3px solid $lightblue;
          }
        }
      }
    }
  }


    ::ng-deep .content-mentoring {
      .nav-item.tabs-mentoring { display: none }
    }
  .btn-mentoring {
    border-radius: 13px;
    border: solid 1px $lightblue;
    background-color:  rgba(red($lightblue), green($lightblue), blue($lightblue), 0.08);
    color: $lightblue;
    padding: 6px 22px;
    &.active {
      background-color: $lightblue;
      color: #ffffff;
      }
  }
}

// .btn-complete {
//   width: 141px;
//   height: 36px;
//   border: 2px solid $lightblue;
//   border-radius: 8px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }



// .content-image-new {
//   max-width: 305px;
//   height: 131px;
// }

// .content-new-img {
//   max-width: 305px;
//   height: 131px;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center; // -114px;
// }

// .box-select-width {
//   //max-width: 326.1px;
//   width: 100%;
//   min-width: 100%;
//   @include min-width-768 {
//     width: 203.1px;
//     min-width: 203.1px;
//   }
//   min-height: 52.8px;
//   border-radius: 7px;
//   //padding: 1px 10px 1px 30px;
//   border: 2px solid $lightblue;

//   display: flex;
//   flex-direction: column;
//   //padding-top: 2px;
//   .text-type {
//     position: absolute;
//     top: 3px;
//   }

//   .text-name {
//     font-size: 15px;
//     line-height: 1;
//   }

//   .text-dni {
//     font-size: 15px;
//   }

//   .mrgtop-negative5 {
//     margin-top: -5px;
//   }
// }

// .box-select-width-community, .box-select-width-community2 {
//   //max-width: 326.1px;
//   width: 100%;
//   min-width: 100%;
//   margin-bottom: 10px;
//   @include min-width-768 {
//     width: 235.1px;
//     min-width: 235.1px;
//   }
//   min-height: 52.8px;
//   border-radius: 7px;
//   //padding: 1px 10px 1px 30px;
//   border: 2px solid $lightblue;

//   display: flex;
//   flex-direction: column;
// }

// .box-min {
//   width: 158px !important;
//   max-width: 158px !important;
//   height: 158px !important;
//   padding: 12px 2px;

//   .content {
//     width: 158px !important;
//     max-width: 158px !important;
//   }

//   .back-letter {
//     width: 37px;
//     height: 37px;
//     border-radius: 25px;
//     color: $white;
//   }
// }


