<div class="content-width content-community">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <perfect-scrollbar class="scrollbar-special" [config]="{suppressScrollX: true}">
    <h2 class="color-blue gotham-bold ft-30">Comunidad</h2>
    <div class="position-relative">
      <tabset class="tabs-community">
        <tab heading="Colaboradores">
          <p class="color-blue gotham-book text-know-the-latest mt-3 mb-3">Conoce y chatea con los colaboradores de todas las sedes de Caja Arequipa</p>
          <ng-container>
            <div class="content-filters d-flex">
              <div class="box-select box-select-dropdown box-select-normal position-relative">
                <label class="m-0 color-lightblue gotham-medium text-type">Sede</label>
                <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
                           [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
                           [items]="listHeadquarters" bindLabel="title" bindValue="id" (change)="onSelectHeadquarter($event)" [(ngModel)]="selectedHeadquarter">
                </ng-select>
              </div>
              <div class="box-select box-select-dropdown box-select-normal position-relative">
                <label class="m-0 color-lightblue gotham-medium text-type">Área</label>
                <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
                           [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
                           [items]="listAreas" bindLabel="title" bindValue="id" (change)="onSelectArea($event)" [(ngModel)]="selectedArea">
                </ng-select>
              </div>
              <div class="box-select box-select-dropdown box-select-normal position-relative">
                <label class="m-0 color-lightblue gotham-medium text-type">Área</label>
                <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
                           [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
                           [items]="listOccupations" bindLabel="title" bindValue="id" (change)="onSelectOccupation($event)" [(ngModel)]="selectedOccupation">
                </ng-select>
              </div>
              <div class="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar colaborador" [formControl]="queryField" (ngModelChange)="onSearchUsers($event)">
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container>
            <div class="preload mt-4 mb-4" *ngIf="tabUsers.preload">
              <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <div class="shine s-item-content w-100 h-100"></div>
              </div>
            </div>
          </ng-container>
          <empty-data class="empty-data empty-users" *ngIf="!tabUsers.preload && tabUsers.listUser && !tabUsers.listUser.length"></empty-data>
          <div class="list-users mt-4 mb-4" *ngIf="!tabUsers.preload && tabUsers.listUser && tabUsers.listUser.length">
            <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
              <ng-container *ngFor="let item of tabUsers.listUser, let i = index">
                <div class="user-item">
                  <div class="box cursor-pointer" (click)="onClickDetail(item)">
                    <img (click)="onDeleteFavoriteUsers($event, item)" src="./assets/img/svg/icon-star.svg" class="img-fluid is_favorite" *ngIf="item.is_favorite" alt="">
                    <img (click)="onFavoriteUsers($event, item)" src="./assets/img/svg/icon-star.svg" class="img-fluid is_favorite opacity" *ngIf="!item.is_favorite" alt="">
                    <div class="content-image mr-3">
                      <img [src]="item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt="">
                      <img src="./assets/img/svg/icon-iso2.svg" class="img-fluid is_mentor" *ngIf="item.is_mentor" alt="">
                    </div>
                    <div class="content-body">
                      <div class="name gotham-medium color-blue ft-16">{{item.name}}<br/>{{item.last_name}}</div>
                      <div class="occupation gotham-light color-blue ft-14 mt-1">{{item.occupation && item.occupation.title}} | {{item.area && item.area.title}}</div>
                      <div class="footer d-flex mt-1">
                        <img class="mr-1" src="../assets/img/svg/icon-marker.svg" alt="">
                        <span class="gotham-medium ft-14">Agencia {{item.headquarter && item.headquarter.title}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="user-item" *ngIf="tabUsers.preloadPage">
                <div class="box shine"></div>
              </div>
            </perfect-scrollbar>
          </div>
        </tab>

        <tab heading="Mentorias">
          <div class="content-mentoring">
            <div class="mt-3">
              <button type="button" class="btn-mentoring ft-19 gotham-medium mr-2" [ngClass]="{'active' : tabActive === 0}" (click)="selectTab(0)">Mis mentorias</button>
              <button type="button" class="btn-mentoring ft-19 gotham-medium" [ngClass]="{'active' : tabActive === 1}" (click)="selectTab(1)">Mis competencias</button>
            </div>

            <div class="">
              <tabset #staticTabs>
                <tab heading="Mis mentorias" customClass="tabs-mentoring">

                  <div class="containerr">
                    <div class="row">
                      <div class="col-md-8">
                        <ng-container>
                          <div class="preload-competences mt-4 mb-4" *ngIf="false">
                            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
                              <div class="shine s-item-content w-100 h-100"></div>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container>
                          <empty-data class="empty-data empty-competences" *ngIf="!tabCompetenceMentoring.preload && tabCompetenceMentoring.items && !tabCompetenceMentoring.items.length"></empty-data>
                          <div class="list-competences list-competences2 mt-4" *ngIf="!tabCompetenceMentoring.preload && tabCompetenceMentoring.items && tabCompetenceMentoring.items.length">
                            <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledCompetencesDownEnd(tabCompetenceMentoring, 'mentoring')">
                              <ng-container *ngFor="let item of tabCompetenceMentoring.items, let i = index">
                                <div class="box" (click)="onClickGetMentees(item)"><!-- onClickApplyCompetenceStatus -->
                                  <div class="box__top d-flex">
                                    <div class="box-arrow gotham-bold ft-20 {{item.category[0]}}">
                                      {{item.category[ 0 ]}}
                                    </div>
                                    <div class="box-detail d-flex">
                                      <span class="number gotham-bold color-blue ft-14 is-zero">{{item.active_mentees}}</span>
                                      <span class="label gotham-book ft-14">{{item.active_mentees === 1 ? 'Mentorado' : 'Mentorados'}}</span>
                                    </div>
                                  </div>
                                  <div class="box__bottom">
                                    <h3 class="gotham-book color-blue ft-16">{{item.name}}</h3>
                                  </div>
                                  <div class="box__footer">
                                    <!-- <h4 class="gotham-book ft-12">Categoría</h4>-->
                                    <h3 class="gotham-book color-blue ft-14">{{item.awaiting_requests + ' ' + ( item.awaiting_requests === 1 ? 'solicitud' : 'solicitudes' )}}</h3>
                                  </div>
                                </div>
                              </ng-container>
                              <div class="box p-0" *ngIf="tabCompetenceOld.preloadPage">
                                <div class="shine w-100 h-100"></div>
                              </div>
                            </perfect-scrollbar>
                          </div>
                        </ng-container>
                      </div>
                      <div class="col-md-4">
                        <div class="d-flex justify-content-between align-items-center" *ngIf="requestMentees">
                          <h4 class="color-blue gotham-medium ft-19 mb-0">Mentorados</h4>
                          <a (click)="onClickRequest(requestMentees.id)" class="color-blue gotham-medium cursor-pointer ft-13 mb-0">
                          Solicitudes <span style="min-width: 15px;height: 15px;background: #a1d049;border-radius: 50%;padding: 3px 7px;color: white;">{{requestMentees.awaiting_requests}}</span>
                          </a>
                        </div>
                        <empty-data class="empty-data empty-competences" *ngIf="!tabCompetenceMentees.preload && tabCompetenceMentees.items && !tabCompetenceMentees.items.length"></empty-data>
                        <ng-container *ngIf="!tabCompetenceMentees.preload && tabCompetenceMentees.items && tabCompetenceMentees.items.length">
                          <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}">
                            <ng-container *ngFor="let item of tabCompetenceMentees.items, let i = index">
                              <div class="box-mentor d-flex align-items-center cursor-pointer" (click)="onClickMenteesDetail(item)" >
                                <div class="img-mentor"><img [src]="item.photo ? item.photo : (item.gender === 'M') ? './assets/img/svg/user-avatar2.svg' : './assets/img/svg/user-avatar1.svg'" class="img-fluid" alt=""></div>
                                <div class="ml-3 text-data">
                                  <h4 class="color-blue ft-16 gotham-medium">{{item.name}} <br>{{item.last_name}}</h4>
                                  <h5 class="color-blue-opacity gotham-medium ft-14">{{item.occupation}} | {{item.area}}</h5>
                                </div>
                              </div>
                            </ng-container>
                          </perfect-scrollbar>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <!--    <app-mentoring></app-mentoring>-->
                </tab>
                <tab heading="Mis competencias" customClass="tabs-mentoring">
                  <p class="color-blue gotham-book text-know-the-latest mt-3 mb-3">Participa en diferentes competencias y evoluciona como profesional con la ayuda de un mentor que te evaluará</p>
                  <ng-container>
                    <div class="content-filters mb-3 d-flex">
                      <div class="box-select box-select-dropdown box-select-normal position-relative">
                        <label class="m-0 color-lightblue gotham-medium text-type">Tipos de competencia</label>
                        <ng-select class="custom-ng-select ng-select-academic ng-select-with-option"
                                   [clearable]="false" [searchable]="false" dropdownPosition="bottom" placeholder="seleccionar"
                                   [items]="listCategories" bindLabel="name" bindValue="id" (change)="onSelectCategory($event)" [(ngModel)]="selectedCategory">
                        </ng-select>
                      </div>
                      <div class="other-participating">
                        <a role="button" [href]="myPerformance.file" target="_blank" *ngIf="myPerformance" class="btn-white color-blue gotham-book ft-16" download><span>Descargar desempeño</span><img src="./assets/img/svg/icon-download.svg"
                                                                                                                                                                                                        class="img-fluid icon-download" alt=""
                                                                                                                                                                                                        [title]="myPerformance.original_name"></a>
                        <a routerLink="/comunidad/completados" class="btn-lightblue color-lightblue gotham-book ft-16 text-center">Completados</a>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container>
                    <tabset class="tabs-community">
                      <tab heading="Participando">
                        <ng-container>
                          <div class="preload-competences mt-4 mb-4" *ngIf="tabCompetenceOld.preload">
                            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
                              <div class="shine s-item-content w-100 h-100"></div>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container>
                          <empty-data class="empty-data empty-competences" *ngIf="!tabCompetenceOld.preload && tabCompetenceOld.items && !tabCompetenceOld.items.length"></empty-data>
                          <div class="list-competences mt-4" *ngIf="!tabCompetenceOld.preload && tabCompetenceOld.items && tabCompetenceOld.items.length">
                            <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledCompetencesDownEnd(tabCompetenceOld)">
                              <ng-container *ngFor="let item of tabCompetenceOld.items, let i = index">
                                <div class="box" (click)="onClickCompetence(item)"><!-- onClickApplyCompetenceStatus -->
                                  <div class="box__top d-flex">
                                    <div class="box-arrow gotham-bold ft-20 {{item.category[0]}}">
                                      {{item.category[ 0 ]}}
                                    </div>
                                    <div class="box-detail d-flex">
                                      <span class="number gotham-bold color-blue ft-14 is-zero">{{item.total_evaluated}}/{{item.total_evaluations}}</span>
                                      <span class="label gotham-book ft-14">{{item.status}}</span>
                                    </div>
                                  </div>
                                  <div class="box__bottom">
                                    <h3 class="gotham-book color-blue ft-16">{{item.name}}</h3>
                                  </div>
                                  <div class="box__footer">
                                    <h4 class="gotham-book ft-12">Categoría</h4>
                                    <h3 class="gotham-book color-blue ft-14">{{item.category}}</h3>
                                  </div>
                                </div>
                              </ng-container>
                              <div class="box p-0" *ngIf="tabCompetenceOld.preloadPage">
                                <div class="shine w-100 h-100"></div>
                              </div>
                            </perfect-scrollbar>
                          </div>
                        </ng-container>
                      </tab>
                      <tab heading="Nuevas">
                        <ng-container>
                          <div class="preload-competences mt-4 mb-4" *ngIf="tabCompetenceNew.preload">
                            <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]">
                              <div class="shine s-item-content w-100 h-100"></div>
                            </div>
                          </div>
                        </ng-container>
                        <ng-container>
                          <empty-data class="empty-data empty-competences" *ngIf="!tabCompetenceNew.preload && tabCompetenceNew.items && !tabCompetenceNew.items.length"></empty-data>
                          <div class="list-competences mt-4" *ngIf="!tabCompetenceNew.preload && tabCompetenceNew.items && tabCompetenceNew.items.length">
                            <perfect-scrollbar class="scrollbar-special scrollbar-tab" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledCompetencesDownEnd(tabCompetenceNew)">
                              <ng-container *ngFor="let item of tabCompetenceNew.items, let i = index">
                                <div class="box" (click)="onClickApplyCompetence(item)">
                                  <div class="box__top d-flex">
                                    <div class="box-arrow gotham-bold ft-20 {{item.category[0]}}">
                                      {{item.category[ 0 ]}}
                                    </div>
                                  </div>
                                  <div class="box__bottom">
                                    <h3 class="gotham-book color-blue ft-16">{{item.name}}</h3>
                                  </div>
                                  <div class="box__footer">
                                    <h4 class="gotham-book ft-12">Categoría</h4>
                                    <h3 class="gotham-book color-blue ft-14">{{item.category}}</h3>
                                  </div>
                                </div>
                              </ng-container>
                              <div class="box p-0" *ngIf="tabCompetenceNew.preloadPage">
                                <div class="shine w-100 h-100"></div>
                              </div>
                            </perfect-scrollbar>
                          </div>
                        </ng-container>
                      </tab>
                    </tabset>
                  </ng-container>
                </tab>
              </tabset>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </perfect-scrollbar>
</div>
