<div class="content">
  <app-spinner [start]="loading" *ngIf="loading"></app-spinner>
  <div class="">
    <div class="d-flex justify-content-between align-items-center">
      <div class="">
        <h5 class="gotham-medium color-blue mb-0">
          <span class="d-block gotham-book">{{chatRoom ? 'Editar' : 'Nuevo'}}</span>{{ is_group ? 'Grupo' : 'Chat'}}
        </h5>
      </div>
      <div class="">
        <a class="cursor-pointer" (click)="bsModalRef.hide()">
          <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
        </a>
      </div>
    </div>
    <div class="mt-3 mb-5">
      <form class="content-form d-block m-auto" [formGroup]="formGroup" autocomplete="off" (submit)="onSubmit()">
        <ng-container *ngIf="this.picture === 'picture'">
          <div class="mb-3">
            <div class="content-filer position-relative d-flex justify-content-between align-items-center">
              <span class="ft-16 color-blue gotham-bold position-relative" style="z-index: 9">Editar imagen</span>
              <button class="btn upload-file gotham-medium d-flex justify-content-end align-items-center px-0"> <!--  (change)="onFileUpload($event)" -->
                <input class="input" type="file" #fileInputPhotoChat accept="image/x-png, image/jpeg, image/jpg" (change)="onChangeFiles($event)">
                <input type="hidden" name="file" formControlName="photo" id="uploadFile"/>
                <img src="./assets/img/svg/icon-mas.svg"/>
              </button>
            </div>
           <div class="row">
             <div class="col-md-4">
               <img [src]="chatRoom && chatRoom.photo ? chatRoom.photo : './assets/img/svg/image-default.svg'" class="img-fluid" alt="">
             </div>
             <div class="col-md-6">
              <div class="content-photo">
                <img *ngIf="photo" [src]="photo.resource" class="img-fluid" alt="">
              </div>
             </div>
           </div>
          </div>
        </ng-container>
        <div class="form-name" *ngIf="is_group">
          <app-control-messages [control]="formGroup.controls.name" class="d-block mb-3">
            <div class="form-group d-flex md-input mb-0">
              <input type="text" class="form-control shadow-none ft-17" placeholder=" " autocomplete="off" formControlName="name" required>
              <label class="gotham-normal">Nombre</label>
            </div>
          </app-control-messages>
        </div>
        <div class="search mt-3">
          <ng-select class="ng-select-search" placeholder="Participantes"
                     [clearable]="true" [clearSearchOnAdd]="true" [closeOnSelect]="true" [multiple]="true" [items]="listUsers" (open)="clearListUsers()"
                     (add)="addListUsers($event)" [minTermLength]=3 [typeahead]="typeAheadListUsers"
                     [notFoundText]="'No se encontraron resultados'" dropdownPosition="bottom" placeholder="Buscar colaborador"
                     bindLabel="name" bindValue="id" [compareWith]="compareFn" typeToSearchText="Escribe para buscar">
          </ng-select>
        </div>
        <div class="mt-4">
          <perfect-scrollbar class="scrollbar-special scrollbar-new-group" [config]="{suppressScrollX: true}">
            <div class="form-group form-check form-check-newgroup d-flex align-items-center pl-0 mb-3 cursor-pointer" *ngFor="let item of listSetUsers">
              <input type="checkbox" name="exampleRadios" class="form-check-input" id="{{item.id}}" checked (change)="removeListUsers(item.id)" *ngIf="is_group">
              <label class="form-check-label font-style d-flex align-items-center justify-content-start w-100 cursor-pointer" for="{{item.id}}" (click)="newChat(item.id)">
                <span class="mr-2"></span>
                <div class="d-flex justify-content-start align-items-center">
                  <div class="content-img mr-2"><img src="{{item.photo ? item.photo : './assets/img/svg/image-default.svg'}}" class="img-fluid" alt=""></div>
                  <div class="">
                    <p class="m-0 mb-1 gotham-medium color-blue ft-15">{{ item.name }}</p>
                  </div>
                </div>
              </label>
            </div>
          </perfect-scrollbar>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center" *ngIf="is_group">
      <button class="btn btn-blue gotham-medium" *ngIf="!edit" (click)="onSubmit()">{{ chatRoom ? 'Editar grupo' : 'Crear grupo'}}</button>
    </div>
  </div>
</div>
