@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/modals.scss";

.content{
  padding: 50px;
  @include max-width-576 {
    padding: 40px;
    overflow: hidden;
  }
  .upload-file {
    border: solid 1.5px #35b1b8;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.94;
    text-align: center;
    color: #35b1b8;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ced4da;
    background-color: #fff;
    display: flex;
    border: none;
    input {
      z-index: 2;
      position: absolute;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "alpha(opacity=0)";
      cursor: pointer;
      _cursor: hand;
      padding: 0;
      width: 100%;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .form-name {
    width: 100%;
    .form-group{
      height: 65px;
      border-radius: 8px;
      background-color: #f8f8f8;
      .form-control {
        margin-top: 5px;
        background: transparent;
        box-shadow: none;
        border: none;
        color: $navyblue!important;
      }
      label{
        font-size: $ft-17 !important;
        left: 30px !important;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.18;
        letter-spacing: normal;
        text-align: left;
        color: $greenyblue;
      }
      input:placeholder-shown + label {
        top: 33px !important;
      }
      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: 20px !important;
      }
    }
  }
  .search {
    width: 100%;
    .ng-select-search {
      border: solid 1.5px #e9edf1;
      border-radius: 8px;
      height: 39.6px;
      width: 100%;
    }
    input::placeholder {
      opacity: 0.5;
      font-family: 'Gotham-Book', sans-serif;
      font-size: 15px;
    }
    .input-group-text {
      background: transparent;
      border: 0 solid transparent;
    }
  }
}

// #dc3545
::ng-deep .control-message-error .invalid-feedback {
  display: none !important;
}
.content-photo {

}
h5{
  font-size: 27px;
  span{
    font-size: 23px;
    line-height: 1;
  }
}

.btn-blue{
  width: 228px;
  height: 44px;
  font-size: 1.125rem;
  background: $blue;
  color: #fff;
  &:focus {
    box-shadow: none;
  }
}
.select-text{
  font-size: 18px;
  @include min-width-576 {
    font-size: 22px;
  }
}
.border-light-blue {
  border: 1.5px solid $lightblue;
}
p{
  line-height: 1;
}



.content-img {
  width: 51px;
  height: 51px;
  overflow: hidden;
  img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
  }
}
input {
  color: #002655;
}

.ng-select-search ::ng-deep {
  .ng-select-container {
    border: none;
    height: 100%;
    padding: 0px 17px;
    .ng-placeholder {
      top: 9px !important;
    }
    .ng-clear-wrapper,
    .ng-value-container .ng-value {
      display: none !important;
    }
    .ng-input > input {
      width: calc(100% - 25px) !important;
    }
    .ng-arrow  {
      background: url("~assets/img/svg/icon-lupa.svg") center no-repeat;
      width: 16px !important;
      height: 16px !important;
      background-size: cover;
      border-color: transparent !important;
      border-width: 0 !important;
      top: 2px !important;
    }
  }
  .ng-dropdown-panel {
    border: solid 1.5px #e9edf1;
  }
}
.ng-select-search.ng-select-opened ::ng-deep .ng-arrow {
  top: 2px !important;
}
