<div class="content-width content-documents">
 <!-- <http-error [code]="403" *ngIf="forbidden"></http-error>-->
  <perfect-scrollbar class="scrollbar-special scrollbar-content" [config]="{suppressScrollX: true}"> <!-- *ngIf="!forbidden" -->
    <div class="content-header mb-4">
      <h2 class="color-blue gotham-medium text-title ft-30">Políticas y Reglamentos de RRHH</h2>
      <div class="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar documento" [formControl]="queryField" (ngModelChange)="searchDocuments($event)">
          <div class="input-group-append">
              <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
    </div>
    <ng-container>
      <div class="preload mt-4" *ngIf="preload">
        <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27]">
          <div class="shine s-item-content w-100 h-100"></div>
        </div>
      </div>
    </ng-container>
    <div class="list-documents mt-4" *ngIf="!preload && listDocuments && listDocuments.length">
      <perfect-scrollbar class="scrollbar-special scrollbar-documents" [config]="{suppressScrollX: true}" (psYReachEnd)="onScrolledDownEnd()">
        <ng-container *ngFor="let item of listDocuments let i = index">
          <div class="box">
            <a [href]="item.file" target="_blank" download="">
            <img class="item-photo mr-3" src="./assets/img/svg/icon-document.svg" alt="">
            <div class="item-body">
              <div class="left">
                <h2 class="item-title gotham-medium ft-18 mt-0 mb-0" [title]="item.name">{{ item.name | truncate: '15' }}</h2>
                <h2 class="item-date gotham-medium ft-16 mt-0 mb-0">{{ datepipe.transform(item.updated_at, 'dd/MM/yy') }}</h2>
              </div>
              <div class="right">
                <img class="item-photo mr-3" src="./assets/img/svg/icon-bg-download.svg" alt="">
              </div>
            </div>
            </a>
          </div>
        </ng-container>
        <div class="box shine" *ngIf="preloadPage"></div>
      </perfect-scrollbar>
    </div>
  </perfect-scrollbar>
</div>
