@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";

.content-documents {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-width-576 {
      flex-direction: column;
      align-items: self-start;
      gap: 15px;
    }

    .search {
      width: 100%;
      @include min-width-992 {
        width: 305px;
        position: absolute;
        right: 0;
      }
      @include min-width-1200 {
        right: 20px;
      }

      .input-group {
        margin: auto;
        border-radius: 7px;
        border: solid 1.5px #e9edf1;
        @include min-width-768 {
          width: 240px;
          height: 39.6px;
          margin: 0;
        }
        @include min-width-992 {
          width: 305px;
          margin: 0;
        }
      }

      .form-control {
        background: #f7f8f9;
        @include min-width-768 {
          height: calc(1.5em + .65rem + 2px);
          background: transparent;
        }
        box-shadow: none;
        border: none;
        height: calc(1.5em + 1 + 2px);
      }

      input::placeholder {
        opacity: 0.5;
        font-family: 'Gotham-Book', sans-serif;
        font-size: 15px;
      }

      .form-control:focus {
        border-color: transparent;
        box-shadow: none;
      }

      .input-group-text {
        background: #f7f8f9;
        @include min-width-768 {
          background: transparent;
        }
        border: 0 solid transparent;
      }
    }
  }

  .list-documents {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 220px);

    ::ng-deep .scrollbar-documents {
      padding-right: 15px;
      @include max-width-576 {
        padding-right: 0;
      }

      .ps .ps-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
        gap: 0 15px;
        padding: 0 5px;
        @include max-width-576 {
          grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
          padding: 0;
        }
      }
    }

    .box {
      border-radius: 10px;
      border: solid 1.5px transparent;
      margin-bottom: 15px;
      @include max-width-576 {
        border: solid 1.5px transparent !important;
      }

      &:hover {
        border: solid 1.5px $greenyblue;
      }

      a {
        position: relative;
        display: flex;
        width: 100%;
        padding: 6px 12px;
        @include max-width-576 {
          padding: 6px 0;
        }

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }

      .item-photo {
        width: 40px;
        height: 40px;
        @include min-width-768 {
          width: 45px;
          height: 45px;
        }
      }

      .item-body {
        display: flex;
        padding: 6px 0;
        width: 100%;
        justify-content: space-between;

        .left {
          display: flex;
          flex-direction: column;

          .item-title {
            font-weight: 500;
            text-align: left;
            color: $blue;
          }

          .item-date {
            font-weight: normal;
            text-align: left;
            color: #b9c1c7;
          }
        }

        .right {
          height: 100%;
          width: 40px;

          img:not(.item-photo) {
            width: 19.7px;
            height: 24px;
            margin: auto;
            right: 0;
            position: absolute;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .preload {
    height: 730px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 3) - 15px), 3fr));
    gap: 0 15px;
    padding: 0;
    @include max-width-576 {
      grid-template-columns: repeat(auto-fill, minmax(calc(calc(100% / 1)), 1fr));
    }

    .s-item {
      border-radius: 10px;
      margin-bottom: 15px;
      height: 78px;

      .shine {
        border-radius: 10px;
      }

      @include max-width-576 {
        width: 100%;
      }
    }
  }
}
