<div class="">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <div class="detail-heading d-flex">
    <div class="pt-1 pr-2 d-nones d-md-block"><a routerLink="/sistema-de-reconocimientos" class="d-block icon-back"><i class="fas fa-arrow-left color-lightblue"></i></a></div>
    <div class="">
      <h2 class="ft-30 gotham-bold color-blue m-0 mb-2">Bazar</h2>
      <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
        <span class="color-blue gotham-book ft-16 line-height mr-1">Visualiza los puntos acumulados y los obsequios que puedes canjear.</span>
      </div>
    </div>
  </div>

  <div *ngIf="products && products.length === 0" class="container px-4">
    <h5 class="color-blue gotham-medium ft-18 my-4">Tu bolsa esta vacía</h5>

  </div>
  <div *ngIf="products && products.length >= 1" class="container px-4">
    <h5 class="color-blue gotham-medium ft-18 my-4">Productos canjeados</h5>
    <div class="row">
      <div class="col-md-8">
        <perfect-scrollbar class="scrollbar-bazar pb-4" [config]="{suppressScrollX: true}">
          <div class="ml-1 box-gift box-gift2 mb-4" *ngFor="let item of products, let i = index">
            <div class="">
              <div class="image image2"
                   [style.background-image]="'url(' + item.image + ')'"></div>
              <!--  [defaultImage]="defaultImage" [lazyLoad]="item.image" -->
            </div>
            <div class="content w-100 px-3 d-flex flex-column justify-content-between flex-wrap">
              <div class="">
                <h5 class="color-blue gotham-medium ft-18 mb-0 pt-3 mb-3">{{item.title}}</h5>
                <p class="color-lightblue gotham-medium mb-2 line-height ft-14">Puntos:
                  <span class="color-blue"> {{item.points}} puntos</span></p>
                <p class="color-lightblue gotham-medium mb-2 line-height ft-14">Cantidad: <span class="color-blue">{{item.counter}}</span></p>
              </div>
              <div class="">
                <a (click)="clearItem(item, item.index)" class="cursor-pointer d-flex align-items-center justify-content-end color-blue-opacity gotham-medium text-decoration-none ft-14"><img src="./assets/img/svg/icon-eliminarg.svg" class="img-fluid mr-2" alt="">Eliminar</a>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
      <div class="col-md-4">
        <div class="box-summary text-center d-flex flex-column align-items-center justify-content-center">
          <img src="./assets/img/svg/icon-canje.svg" class="img-fluid" width="97" alt="">
          <h5 class="color-blue gotham-medium my-3 ft-18">Resumen de tus canjes</h5>
          <div class="mb-3">
            <p class="gotham-medium mb-0 ft-14 color-lightblue">Mis puntos: <span class="color-blue">{{points}} puntos</span></p>
            <p class="gotham-medium mb-0 ft-14 color-lightblue">Total: <span class="color-blue">{{total}} puntos</span></p>
            <p class="gotham-medium mb-0 ft-14 color-lightblue"> Saldo: <span class="color-blue">{{points - total}} puntos</span></p>
          </div>
          <button class="btn btn-blue gotham-medium mt-1" (click)="redeemPoints()">Canjear puntos</button>
        </div>
      </div>
    </div>
  </div>

</div>
