/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-bootstrap/datepicker/bs-datepicker.css';
@import "~swiper/css/swiper.min.css";

// @import "~assets/scss/resets.scss";
// @import "~assets/scss/variables.scss";
// @import "~assets/scss/fonts.scss";
// @import "~assets/scss/buttons.scss";
// @import "~assets/scss/tabs.scss";
// @import "~assets/scss/carousel.scss";
// @import "~assets/scss/modals.scss";
// @import "~assets/scss/ng-select.scss";
// @import "~assets/scss/checkbox-radio.scss";
// @import "~assets/scss/md-input.scss";
@import "~assets/scss/animations.scss";
// @import "~assets/scss/sweet-alert.scss";
// @import "~assets/scss/common.scss";
// @import "~assets/scss/accordion.scss";
// @import "~assets/scss/mixins.scss";
// @import "~assets/scss/perfect-scrollbar.scss";



html, body { height: 100%; overflow: hidden !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
