<div class="content">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header text-center">
    <div class="cont-img"><img [src]="challengeItem?.icon" class="img-fluid icon-reached m-auto" alt=""></div>
    <h4 class="gotham-bold color-white text-center m-0 mt-4 ft-20">Certificado</h4>
    <h3 class="gotham-bold color-lightblue text-center m-0 mb-4 ft-20">{{challengeItem?.title}}</h3>
  </div>
  <div class="content-body">
    <div class="content-description text-center gotham-book color-white ft-12">{{challengeItem?.detail}}</div>
  </div>
  <div class="content-footer d-flex flex-wrap">
    <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
      <img src="./assets/img/svg/close-progress.svg" class="img-fluid" alt="">
    </a>
  </div>
</div>
