@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalChallengeInfo {
    .modal-content {
      zoom: 0.98;
      width: 371px;
      height: 494px;
      overflow: hidden;
      display: flex;
      background: #02215b url('~assets/img/svg/bg-lines-bottom.svg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 80%;
      @include max-width-576 {
        background-size: 70%;
      }
    }
  }
}

.content{
  padding: 12px 32px;
  .content-body {
    .content-description {
      font-weight: normal;
      line-height: 1.83;
    }
  }
  .cont-img {
    height: 108px;
    overflow: hidden;
    display: block;
    margin: auto;
    .icon-reached {
      max-height: 107px;
    }
  }
  .content-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn-close{
      position: absolute;
      bottom: 32px;
    }
  }
}
