<div class="popup-notifications">
  <app-spinner [start]="loading" *ngIf="loading">
  </app-spinner>
  <ng-container *ngIf="notifications">
    <perfect-scrollbar class="scrollbar-special scrollbar-notifications-popup" [config]="{suppressScrollX: true}">
      <ng-container *ngFor="let item of notifications, let i = index">
        <ng-container > <!-- *ngIf="i <= 4" -->
          <a class="box cursor-pointer position-relative" (click)="onClickNotification(item)">
            <div class="box-left">
              <i class="fas fa-circle ft-12" [ngClass]="item.read_at !== null ? 'color-transparent' : 'color-lightolivegreen'"></i>
            </div>
            <div class="box-right">
              <h5 class="m-0 color-blue gotham-bold ft-17">{{item.data.title}}</h5>
              <p class="d-block m-0 gotham-book color-blue ft-16">{{item.data.message}}</p>
              <span class="d-block gotham-medium ft-13">{{item.updated_at | formatDate}} - {{item.updated_at | formatHour}}h</span>
            </div>
          </a>
        </ng-container>
      </ng-container>
    </perfect-scrollbar>
    <div class="d-flex justify-content-center">
      <a class="color-lightblue gotham-medium text-center text-view-all cursor-pointer" (click)="onClickAll()">Ver todo</a>
    </div>
  </ng-container>
</div>
