@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";

.popup-notifications {
  padding: 30px 10px 10px;
  position: absolute;
  z-index: 9;
  width: 371px;
  height: 435px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 16px;
  right: 145px;
  top: 80px;
  overflow: hidden;
  &::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 3px;
    right: 36px;
    box-sizing: border-box;
    border: 15px solid transparent;
    border-color: #fff #fff transparent transparent;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 3px -3px 2px -3px rgba(0, 0, 0, 0.16);
  }
  ::ng-deep .scrollbar-notifications-popup {
    height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .box {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
      border: solid 1px #707070;
    }
    .box-left {
      width: 14px;
    }
    .box-right {
      width: calc(100% - 14px);
      p{
        line-height: 1.25;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span{
        font-weight: 500;
        color: #c2cdd6;
      }
    }
  }
  .text-view-all {
    padding: 10px 0;
    text-decoration: none;
    &:hover{
      color: $lightblue
    }
  }
}

