<div class="content-width content-benefits">
  <perfect-scrollbar class="scrollbar-benefits" [config]="{suppressScrollX: true}">
    <h2 class="color-blue gotham-bold ft-30">Beneficios</h2>
    <p class="color-blue gotham-book ft-18">Consulta tus beneficios y mantente siempre informado</p>
    <div class="content">
      <h5 class="color-lightblue gotham-medium ft-18 mb-3">Económicos</h5>
      <div class="preload mb-4" *ngIf="preload">
        <div class="s-item" *ngFor="let item of [0,1,2,3]">
          <div class="shine s-item-content w-100 h-100"></div>
        </div>
      </div>
      <div class="listBenefits mb-4" *ngIf="!preload">
        <ng-container *ngFor="let item of listBenefits">
          <div class="benefits-item" *ngIf="item.group === 'economic'">
            <div class="box cursor-pointer" (click)="onClickDetail(item)" >
              <div class="image-back" [defaultImage]="defaultImage" [lazyLoad]="item.image"></div>
              <h6 class="gotham-medium color-blue ft-15 mb-0">{{item.name}}</h6>
            </div>
          </div>
        </ng-container>
      </div>
      <h5 class="color-lightblue gotham-medium ft-18 mb-3">Más beneficios</h5>
      <div class="preload mb-4" *ngIf="preload">
        <div class="s-item" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11]">
          <div class="shine s-item-content w-100 h-100"></div>
        </div>
      </div>
      <div class="listBenefits mb-4" *ngIf="!preload">
        <ng-container *ngFor="let item of listBenefits">
          <div class="benefits-item" *ngIf="item.group !== 'economic'">
            <div class="box cursor-pointer" (click)="onClickDetail(item)" >
              <div class="image-back" [defaultImage]="defaultImage" [lazyLoad]="item.image"></div>
              <h6 class="gotham-medium color-blue ft-15 mb-0">{{item.name}}</h6>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </perfect-scrollbar>
</div>
