@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";

.content-benefits {
  .listBenefits {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    .benefits-item {
      min-width: 230px;
      margin-bottom: 15px;
      width: calc((100% / 4) - 18px);
      @include max-width-576 {
        width: 100%;
      }
    }
    .box {
      width: 100%;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(0, 78, 175, 0.07);
      background-color: #fff;
      overflow: hidden;
      display: block;
      flex-direction: row;
      @include max-width-576 {
        height: 210px;
      }
      .image-back {
        width: 100%;
        min-height: 125px;
        max-height: 150px;
        background-size: 105%;
        background-position: center;
        background-repeat: no-repeat;
        @include max-width-576 {
          height: 150px;
        }
      }

      h6 {
        width: 100%;
        max-width: 100%;
        height: 60px;
        padding: 15px;
        margin: 0;
        display: block;
        overflow: hidden;
        display: -webkit-box;
        background: #fff;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @include max-width-576 {
          margin-top: -5px;
          border-radius: 10px;
        }
      }
    }
  }

  .preload {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    height: auto;
    .s-item {
      height: 182px;
      min-width: 230px;
      width: calc((100% / 4) - 18px);
      @include max-width-576 {
        width: 100%;
      }
    }
  }
}
