<div class="row" *ngIf="alert">
    <div class="col-md-12">
      <span [innerHtml]="alert.msg" class="alert-message gotham-book">abc</span>
<!--        <alert [type]="alert.type" [dismissible]="!dismissible" (onClosed)="onClosedAlert()">-->
<!--            &lt;!&ndash; <strong [innerHtml]="alert.title + ', '"></strong> &ndash;&gt;-->
<!--            <span [innerHtml]="alert.msg"></span>-->
<!--        </alert>-->
    </div>
</div>
