<section class="container-fluid p-0">
  <div class="row content-login d-flex justify-content-center align-items-center m-0">
    <div class="col-md-6 content-login-left"></div>
    <div class="col-md-6 content-login-right content">
      <form class="content-form d-block m-auto" [formGroup]="formGroup" (ngSubmit)="onClickLogin()" autocomplete="off" role="presentation">
        <img src="./assets/img/svg/icon-iso.svg" class="img-iso img-fluid" alt="Caja Arequipa" width="45" height="45">
        <div class="mt-4 mb-5">
          <h4 class="text-welcome color-blue gotham-book ft-30">Bienvenido</h4>
          <h3 class="text-login color-blue gotham-bold ft-35">Iniciar sesión</h3>
        </div>
        <div class="">
          <app-control-messages [control]="formGroup.controls.worker_code" class="d-block mb-3">
            <div class="form-group d-flex md-input mb-0">
              <input id="workerCode" type="text" class="form-control shadow-none" formControlName="worker_code" maxlength="11" autocomplete="new-password" placeholder=" " required>
              <label for="workerCode">Código de trabajador</label>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.username" class="d-block mb-3">
            <div class="form-group d-flex md-input mb-0">
              <input id="username" type="text" class="form-control shadow-none" formControlName="username" autocomplete="new-password" placeholder=" " required>
              <label for="username">Usuario</label>
            </div>
          </app-control-messages>
          <app-control-messages [control]="formGroup.controls.password" class="d-block mb-3">
            <div class="form-group append-none d-flex md-input mb-0">
              <input id="password" [type]="isTextFieldType ? 'text' : 'password'" class="form-control shadow-none" formControlName="password" autocomplete="new-password" placeholder=" " required>
              <label for="password">Contraseña</label>
              <div class="input-group-append">
                <span class="input-group-text">
                  <img [src]="isTextFieldType ? './assets/img/svg/icon-bloq-ojo.svg' : './assets/img/svg/icon-ojo.svg'" class="img-fluid cursor-pointer" (click)="isTextFieldType = !isTextFieldType" height="24" width="24" alt="ver contraseña">
                </span>
              </div>
            </div>
          </app-control-messages>
          <div class="">
            <app-alert-message [alert]="messageError"></app-alert-message>
          </div>
          <div class="content-captcha d-block ml-auto mr-auto mt-5 mb-5">
            <div class="mt-3 mb-4">
              <app-control-messages [control]="formGroup.controls.recaptcha" class="recaptcha">
                <ngx-recaptcha2 #captchaElem class="d-flex justify-content-center align-items-center"
                                [siteKey]="siteKey" (expire)="handleExpire()" (success)="handleSuccess($event)" [useGlobalDomain]="false"
                                size="normal" hl="es" theme="light" type="image" formControlName="recaptcha">
                </ngx-recaptcha2>
              </app-control-messages>
            </div>
          </div>
          <div class="">
            <button type="submit" class="btn btn-blue btn-login d-block m-auto gotham-medium" [disabled]="loading">{{ loading ? 'Cargando...' : 'Ingresar'}}</button>
          </div>

          <div class="content-btns h-auto mt-5 ">
            <a href="https://play.google.com/store/apps/details?id=com.cmac.caja360" target="_blank"class="cursor-pointer "><img src="./assets/img/play-store.png" class="img-fluid" alt=""></a>
            <a href="itms-services://?action=download-manifest&url=https://wscaja360.cajaarequipa.pe:4443/manifest.plist" target="_blank" class="cursor-pointer ml-3"><img src="./assets/img/app-store.png" class="img-fluid" alt=""></a>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>
