@import "~assets/scss/mixins.scss";
@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/buttons.scss";


::ng-deep {
  body {
    overflow: auto !important;
  }
}

.content-login {
  background-color: #f1f1f3;
  // overflow: hidden;
  min-height: 100%; // calc(100vh);
  @include min-width-992 {
    min-height: 100vh; // calc(100vh);
  }
  .content-login-left {
    display: none;
    @include min-width-992 {
      display: block;
      background: url('~assets/img/imagen-login.jpg') no-repeat center;
      background-size: cover;
     // width: 708px;
      width: calc(100vw - 708px);
      height: 100vh;
      position: fixed;
      left: 0;
    }
  }
  .content-login-right {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 50px 0 30px 0;
    // min-height: 100vh;
    @include min-width-992 {
      height: 100vh;
      width: calc(100% - 708px);
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
    }
    .content-form {
      width: 100%;
      max-width: 324px;
      h4.text-welcome {
        line-height: 0.2;
      }
      .form-group {
        width: 324px;
      }
      .content-captcha {
        max-width: 300px;
      }
      .btn-login{
        width: 170.1px;
        height: 40.8px;
        line-height: 1.9;
      }
    }
  }
}
