<div class="open-content">
  <div class="display-response">
    <a (click)="onClickBack()" class="cursor-pointer d-block d-md-none icon-back-responsive"><i class="fas fa-arrow-left color-lightblue ft-16"></i></a>
    <h4 class="gotham-bold color-lightblue ft-16 mb-0">
      Pregunta {{stepquestion + 1}}/{{totalQuestions}}
    </h4>
  </div>
  <div class="" [formGroup]="form">
    <ng-container *ngIf="questions">
      <ng-container *ngIf="(questions.reply.detail === null) && index === stepquestion">
        <h5 class="color-blue gotham-medium ft-18 mb-2">{{questions.title}}</h5>
        <div class="position-relative">
          <div class="form-group">
            <input type="hidden" formControlName="question_id" [value]="form.get('question_id').setValue(questions.id)">
            <textarea class="form-control" placeholder="Explica tu respuesta..." formControlName="detail" rows="3"></textarea>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-3">
          <button class="btn btn-blue btn-check gotham-medium color-blue" *ngIf="index +1  < totalQuestions"
                  [disabled]="form.invalid" (click)="onClickVerify(index, 'next')">{{loading ? 'Enviando' : 'Siguiente'}}</button>
          <button class="btn btn-blue btn-check gotham-medium color-blue" *ngIf="index +1 === totalQuestions"
                  [disabled]="form.invalid" (click)="onClickVerify(index,'finalize')">{{loading ? 'Enviando' : 'Enviar'}}</button>
        </div>
      </ng-container>
    </ng-container>

  </div>
</div>
