@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
.display-response {
  display: flex;
  @include min-width-768 {
    display: block;
  }
  .icon-back-responsive {
    margin-right: 10px;
  }
}
.open-content {
  width: 100%;
  max-width: 400.7px;
  textarea {
    resize: none;
    height: 155px;
    border-radius: 10px;
    background-color: #f7f8f9;
    border-color: #f7f8f9;
    &:focus {
      box-shadow: none;
      border-color: #f7f8f9;
    }
    &::placeholder {
      font-family: "Gotham-Book", sans-serif;
    }
  }

  .btn-blue {
    min-width: 169.1px;
    min-height: 38.8px;
    border-radius: 10px;
  }
}

