<div class="content" *ngIf="activity">
  <a class="cursor-pointer btn-close" (click)="bsModalRef.hide()">
    <img src="./assets/img/svg/icon-close.svg" class="img-fluid" alt="">
  </a>
  <div class="content-header">
    <h3 class="gotham-bold color-lightblue text-center m-0 ft-35">¡Cumpleaños!</h3>
  </div>
  <div class="content-body">
    <div class="content-img d-flex align-items-center justify-content-center mt-4 mb-4 ml-auto mr-auto">
      <img [src]="activity.user.photo ? activity.user.photo : (activity.user.gender === 'F') ? './assets/img/svg/user-avatar1.svg' : './assets/img/svg/user-avatar2.svg'" class="img-fluid" alt="">
    </div>
  </div>
  <div class="content-footer d-flex flex-wrap">
    <h4 class="gotham-medium color-blue text-center m-0 ft-28">{{activity.user.name + ' ' + activity.user.last_name}}</h4>
    <div class="gotham-bold color-lightblue ft-18 text-center">{{activity.user.occupation && activity.user.occupation.title}} | {{activity.user.area && activity.user.area.title}}</div>
    <div class="item-footer mb-5 text-center">
      <img src="../assets/img/svg/icon-marker.svg" class="mr-2" alt="">
      <span class="gotham-book color-blue ft-16">Agencia {{activity.user.headquarter && activity.user.headquarter.title}}</span>
    </div>
    <button class="btn btn-navyblue gotham-medium d-block m-auto" (click)="onClickChat()">Ir al chat</button>
  </div>
</div>
