@import "~assets/scss/variables.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/modals.scss";

::ng-deep {
  .ModalBirthday {
    .modal-content {
      zoom: 0.98;
      width: 508px;
      height: 581px;
      overflow: hidden;
      display: flex;
      background-image: url('~assets/img/svg/img-lines-profile.svg');
      background-repeat: no-repeat;
      background-position: 50% 150%;
      background-size: 55%;
      justify-content: center;
      @include max-width-576 {
        background-size: 70%;
      }
    }
  }
}

.content{
  padding: 50px;
  .btn-close{
    position: absolute;
    right: 50px;
    top: 60px;
    z-index: 2;
  }
  .content-body {
    .content-img{
      width: 144px;
      height: 144px;
      padding: 18px;
      background-color: rgba(0, 38, 85, 0.1);
      border-radius: 50%;
      img {
        width: 126px;
        height: 126px;
        border-radius: 50%;
      }
    }
  }
  .content-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      width: 178.1px;
      height: 44.8px;
    }
    .img-lines{
      width: 370px;
      position: absolute;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      top: -80px;
      bottom: 0px;
    }
  }
}
