@import "~assets/scss/variables.scss";
@import "~assets/scss/fonts.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/buttons.scss";
@import "~assets/scss/perfect-scrollbar.scss";
@import "~assets/scss/ng-select.scss";
@import "~assets/scss/checkbox-radio.scss";
@import "~assets/scss/md-input.scss";
@import "~assets/scss/common.scss";
@import "~assets/scss/shine.scss";
@import "~assets/scss/sweet-alert.scss";
@import "~assets/scss/accordion.scss";
@import "~assets/scss/tabs.scss";

.content-chat {
  padding: 10px;
  padding: 10px;
  min-height: 100%;
  overflow: hidden;
  .content-chat-left {
    max-width: 370px;
    @include max-width-576 {
      width: 100%;
      max-width: 100%;
    }
    .chat-left-header {
      width: 317px;
      @include max-width-576 {
        width: 100%;
      }
    }
  }
  .content-chat-right {
    width: calc(100% - 370px);
    max-width: calc(100% - 370px);
    @include max-width-576 {
      width: 100%;
      max-width: 100%;
    }
  }
  .box-chat {
    padding: 15px 10px 10px;
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
    .content-img {
      width: 51px;
      height: 51px;
      img {
        // width: 51px;
        width: 100%;
        height: 51px;
        border-radius: 50%;
      }
    }
    .content-body {
      width: calc(100% - 60px);
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .left {
        justify-content: flex-start;
        width: calc(100% - 60px);
      }
      .right {
        justify-content: flex-end;
        width: 60px;
      }
      h5 {
        width: 100%;
        span:first-child {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
      div.message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        .unread {
          font-weight: bold;
        }
      }
      .content-hour {
        width: 100%;
        justify-content: flex-end;
        text-align: right;
      }
      .content-left {
        width: 100%;
        gap: 5px;
        height: 22px;
        justify-content: flex-end;
        .unreadMessage {
          background-color: $greenyblue;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          color: #Fff;
          text-align: center;
          align-items: center;
          line-height: 24px;
        }
        .btn-ellipsis {
          display: none;
        }
        &:hover .btn-ellipsis {
          display: block;
        }
      }
    }
  }
  .box-chat:nth-child(n + 1) {
    border-bottom: 1px solid #e9edf1;
  }

  .box-chat:last-child {
    border-bottom: 0 solid;
  }
  .noFocusChat {
    width: 100%;
    height: calc(100vh - 215px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include max-width-576 {
      display: none;
    }
  }
  .chatRoom {
    .content-img img {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      cursor: pointer;
    }
    .chatRoom-name {
      line-height: 27px;
      cursor: pointer;
      width: calc(100% - 100px);
    }
  }
  .chatRoom.hidden {
    visibility: hidden;
    height: 0 !important;
    overflow: hidden;
  }
}

.btn-blue {
  width: 160.1px;
  height: 33.8px;
  border-radius: 7px;
  color: white;
  background-color: $blue;
}

.search {
  .input-group {
    width: 317px;
    height: 39.6px;
    border-radius: 7px;
    border: solid 1.5px #e9edf1;
    @include max-width-576 {
      width: 100%;
    }
  }

  .form-control {
    border: none;
    height: auto;
    background: transparent;
    font-family: "Gotham-Book", sans-serif;

    &:focus {
      box-shadow: none;
    }
  }

  .input-group-text {
    background: transparent;
    border: none;
  }
}

.chatData {
  .icon-back {
    width: 21px;
    height: 25px;
  }

  h2 {
    font-size: 1.125rem;
    width: 135px;
    @include min-width-768 {
      font-size: 1.875rem;
      width: inherit;
    }
  }
}

.chats-responsive-false {
  display: none;
  @include min-width-1200 {
    display: initial;
  }

}

.dropdown-toggle::after {
  border: none;
}

.dropdown-menu {
  width: 205px;
  font-family: 'Gotham-Book', sans-serif;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 3px 6px 0 rgba(11, 47, 92, 0.36);
  padding: 0;
  background-color: #fff;
  border: none;
  right: 6px !important;
  left: auto !important;
  li {
    border-bottom: 1px solid #e2e2e2;
    &:last-child {
      border-bottom: 1px solid transparent
    }
    a {
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(0, 38, 85, 0.1);
}

.today {
  width: 87.1px;
  height: 29.9px;
  border-radius: 10px;
  background-color: rgba(red($lightblue), green($lightblue), blue($lightblue), 0.2);

  font-family: 'Gotham-Bold', sans-serif;
  font-size: 13px;
  text-align: center;
  color: $lightblue;
}

.chatRoomMessage {
  .chatScrollButton {
    width: 36px;
    height: 36px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 18px;
    bottom: 5px;
    border-radius: 50%;
    &.hidden {
      visibility: hidden;
    }
    .messagesUnread {
      background: $greenyblue;
      position: absolute;
      border-radius: 50%;
      top: -10px;
      right: -10px;
      color: #fff;
      font-size: 10px;
      padding: 4px 3px;
      width: 22px;
      height: 22px;
      text-align: center;
    }
  }
  .message-transmitter,
  .message-receiver {
    max-width: 65%;
    margin: auto;
    padding: 0 4px;
    .content {
      min-height: 43.1px;
      height: auto;
      box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
      font-family: Roboto;
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
      word-break:break-all;
    }
  }

  .message-transmitter {
    float: left;
    margin-left: 0;
    .item-message {
      margin-left: 10px;
      .btn-ellipsis {
        visibility: hidden;
        width: 20px;
        button {
          display: flex;
          margin-top: 10px;
          justify-content: flex-end;
          width: 20px;
        }
        .dropdown-option-message {
          width: 87.1px;
          min-width: 87.1px;
          max-height: 66.9px;
          left: 20px !important;
          top: 0 !important;
        }
      }
      &:hover .btn-ellipsis {
        visibility: visible;
      }
      .content {
        background-color: $lightblue;
        color: #fff;
        border-radius: 0 15px 15px 15px;
        text-align: left;
        justify-content: flex-start;
      }
    }
  }

  .message-receiver {
    float: right;
    margin-right: 0;
    .item-message {
      flex-direction: row-reverse;
      margin-right: 10px;
      .btn-ellipsis {
        visibility: hidden;
        width: 20px;
        button {
          display: flex;
          margin-top: 10px;
          justify-content: flex-end;
          width: 20px;
        }
        .dropdown-option-message {
          width: 87.1px;
          min-width: 87.1px;
          max-height: 66.9px;
          right: 16px !important;
          top: 0 !important;
        }
      }
      &:hover .btn-ellipsis {
        visibility: visible;
      }
      .content {
        background-color: #fff;
        color: $blue;
        border-radius: 15px 0 15px 15px;
        text-align: right;
        justify-content: flex-end;
      }
      .content {
        font-family: "Gotham-Book", sans-serif!important;
      }
    }
  }

  .message-transmitter,
  .message-receiver {
    .content {
      font-family: "Gotham-Book", sans-serif!important;
    }
    .content.chat_file {
      display: grid;
      a {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        div {
          word-break: break-all;
          width: 100%;
          color: $blue;
          padding-top: 5px;
          font-family: Roboto;
        }
        img {
          &.documents {
            width: 27.8px;
            height: 27.8px;
          }
          &.media {
            max-width: 267px;
            max-height: 165px;
            border-radius: 5px;
            margin-bottom: 5px;
          }
        }
        .video {
          max-width: 267px;
          max-height: 165px;
          border-radius: 5px;
          position: relative;
          margin-bottom: 5px;
          video {
            max-width: 267px;
            max-height: 165px
          }
          img {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  .message-receiver {
    .content.chat_file {
      background-color: #fff;
      a {
        flex-direction: row-reverse;
      }
    }
  }
}

.content-message {
  gap: 20px;
  .form-message  {
    display: flex;
    width: 100%;
    gap: 10px;
    .form-control {
      height: 47.8px;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .input-group-text {
      background: transparent;
      border: none;
      padding: 0;
      .file-button {
        margin: auto;
        overflow: hidden;
        position: relative;
        border: 1px solid #ced4da;
        background-color: #fff;
        display: flex;
        border: none;

        input {
          z-index: 2;
          position: absolute;
          opacity: 0;
          filter: alpha(opacity=0);
          -ms-filter: "alpha(opacity=0)";
          cursor: pointer;
          _cursor: hand;
          padding: 0;
          max-width: 21px;
          width: 100%;
          max-height: 31px;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    .write-message {
      width: 100%;
      height: 50.8px;
      border-radius: 15px;
      border: solid 1.5px $lightblue;
      background-color: #fff;
      overflow: hidden;
    }
  }
  .btn-send {
    width: 51px;
    height: 51px;
    border-radius: 6px;
    background-color: $lightblue;

    img {
      margin-left: -6px;
    }
  }
}


/*******************************************/

.preload {
  overflow: hidden;
  height: calc(100vh - 270px);
  .item {
    margin-top: 20px;
    padding-bottom: 15px;
    &:nth-child(n + 1) {
      border-bottom: 1px solid #e9edf1;
    }
    .profile {
      width: 51px;
      height: 51px;
      border-radius: 50%;
    }
    .body {
      width: calc(100% - 70px);
      padding-top: 5px;
      .line-h {
        width: 100%;
        height: 16px;
        border-radius: 5px;
      }
      .line-p {
        width: 100%;
        height: 11px;
        border-radius: 5px;
      }
    }
  }
}

.preloadChat {
  overflow: hidden;
  margin-top: 14px;
  @include max-width-576 {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    .icon {
      width: 37px;
      height: 37px;
      border-radius: 50%;
    }
    .name {
      width: 193px;
      height: 27px;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 590px;
    .user {
      .line {
        margin: 10px 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 78, 175, 0.07);
        height: 47px;
        width: 400px;
        clear: both;
        &.left {
          border-radius: 0 15px 15px 15px;
          float: left;
        }
        &.right {
          border-radius: 15px 0 15px 15px;
          float: right;
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    .icon {
      width: 51px;
      height: 51px;
      border-radius: 6px;
    }
    .box {
      width: calc(100% - 55px);
      height: 51px;
    }
  }
}
