<div class="content-chat">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4 content-chat-left" [ngClass]="chatResponse ? 'chats-responsive-false' : ''">
      <div class="chat-left-header d-flex justify-content-between align-items-center mb-3">
        <h2 class="color-blue gotham-bold text-title mt-2 mb-3 mt-sm-0 mb-sm-1">Chat</h2>
        <div class="btn-group" dropdown>
          <button id="dropdown-new-chat" dropdownToggle type="button" class="btn btn-reset dropdown-toggle p-0" aria-controls="dropdown-basic">
            <img src="./assets/img/svg/icon-chat-new.svg" class="img-fluid" alt="">
          </button>
          <ul class="dropdown-new-chat" *dropdownMenu class="dropdown-menu center" role="menu" aria-labelledby="button-basic">
            <ng-container>
              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickNewGroup(false)">Nuevo Chat</a></li>
              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickNewGroup(true)">Nuevo Grupo</a></li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="search">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar" [formControl]="queryField" (ngModelChange)="getSearchChats($event)">
          <div class="input-group-append">
            <span class="input-group-text cursor-pointer"><img src="./assets/img/svg/icon-lupa.svg" class="img-fluid" alt=""></span>
          </div>
        </div>
      </div>
      <div class="preload" *ngIf="preload">
        <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
          <div class="item d-flex">
            <div class="shine profile mr-2"></div>
            <div class="body">
              <div class="shine line-h"></div>
              <div class="shine line-p"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="preload" *ngIf="!listChatRoomsTotal && !preload">
        <p class="gotham-book color-blue text-center mt-4">no hay resultados</p>
      </div>
      <perfect-scrollbar #roomsPs class="scrollbar-special scrollbar-chat-sidebar" (psYReachEnd)="onScrolledDownRooms()" [config]="{suppressScrollX: true}" *ngIf="listChatRoomsTotal && !preload"
                         [scrollIndicators]="true">
        <ng-container *ngFor="let item of listChatRooms">
          <div class="box-chat cursor-pointer" (click)="onClickChat(item)" id="{{item.id}}">
            <div class="d-flex align-items-center">
              <div class="content-img mr-2">
                <ng-container *ngFor="let user of item.users">
                  <img *ngIf="user.id !== userId && !item.is_group" src="{{item.is_group ? './assets/img/svg/image-default.svg' :  (user && user.photo ?  user.photo : './assets/img/svg/image-default.svg')}}" class="img-fluid" alt="">
                </ng-container>
                <img *ngIf="item.is_group" [src]="item.photo ? item.photo : './assets/img/svg/image-default.svg'" class="img-fluid" alt="">
              </div>
              <div class="content-body">
                <div class="d-flex flex-wrap left">
                  <h5 class="gotham-medium color-blue ft-18 mb-0 d-flex justify-content-between align-items-center" title="{{item.name}}">
                    <ng-container *ngIf="item.is_group"><span>{{item.name}}</span></ng-container>
                    <ng-container *ngIf="!item.is_group">
                      <ng-container *ngFor="let user of item.users">
                        <span *ngIf="user.id !== this.userInfo.id">{{user.name}} {{user.last_name}}</span>
                      </ng-container>
                    </ng-container>
                  </h5>
                  <div class="gotham-book ft-14 color-black mb-0 message" *ngIf="item.messages.length">
                    <span *ngIf="item.messages[item.messages.length - 1].message && item.messages[item.messages.length - 1].created_by.id === this.userInfo.id; else second" [ngClass]="{'unread': item.unread_messages}">
                      tú: {{item.messages[ item.messages.length - 1 ].message | truncate: '25'}}
                    </span>
                    <ng-template #second>
                      <span *ngIf="item.messages[item.messages.length - 1].message && item.messages[item.messages.length - 1].created_by.id !== this.userInfo.id; else third" [ngClass]="{'unread': item.unread_messages}">
                        {{item.messages[ item.messages.length - 1 ].created_by.name}} {{item.messages[ item.messages.length - 1 ].created_by.last_name}}: {{item.messages[ item.messages.length - 1 ].message | truncate: '25'}}
                      </span>
                    </ng-template>
                    <ng-template #third>
                      <span *ngIf="item.messages[item.messages.length - 1].chat_file && item.messages[item.messages.length - 1].created_by.id === this.userInfo.id; else fourth" [ngClass]="{'unread': item.unread_messages}">
                        tú: archivo adjunto
                      </span>
                    </ng-template>
                    <ng-template #fourth>
                      <span *ngIf="item.messages[item.messages.length - 1].chat_file && item.messages[item.messages.length - 1].created_by.id !== this.userInfo.id" [ngClass]="{'unread': item.unread_messages}">
                        {{item.messages[ item.messages.length - 1 ].created_by.name}} {{item.messages[ item.messages.length - 1 ].created_by.last_name}}: archivo adjunto
                      </span>
                    </ng-template>
                  </div>
                  <div class="gotham-book ft-14 color-black mb-0 message" *ngIf="!item.messages.length">
                    <span *ngIf="item.messages.length === 0 && item.created_by.id === this.userInfo.id">
                      {{item.is_group ? 'Creaste el grupo ' + item.name : 'Comienza la conversación' }}
                    </span>
                    <span *ngIf="item.messages.length === 0 && item.created_by.id !== this.userInfo.id">
                      {{item.created_by.name}} {{item.created_by.last_name}}! te añadió
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-wrap right">
                  <div class="ft-12 color-gray2 content-hour">{{ item.static_date | timeAgo }}</div>
                  <div class="d-flex content-left">
                    <div class="unreadMessage" *ngIf="item.unread_messages">{{item.unread_messages}}</div>
                    <div class="btn-group btn-ellipsis" dropdown (click)="$event.stopPropagation();">
                      <button id="dropdown-new-chat" dropdownToggle type="button" class="btn btn-reset dropdown-toggle p-0" aria-controls="dropdown-basic">
                        <img src="./assets/img/svg/btn-ellipsis.svg" class="img-fluid" alt="">
                      </button>
                      <ul *dropdownMenu class="dropdown-menu center" role="menu" aria-labelledby="button-basic">
                        <ng-container>
                         <!-- <li role="menuitem"><a class="dropdown-item cursor-pointer">Silenciar</a></li>-->
                          <li role="menuitem"><a (click)="onClickDeleteChat()" class="dropdown-item cursor-pointer">Borrar conversación</a></li>
                         <!-- <li role="menuitem"><a class="dropdown-item cursor-pointer">Reportar cuenta</a></li>-->
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </perfect-scrollbar>
    </div>
    <div class="col-12 col-xl-8 animated fadeIn content-chat-right" [ngClass]="chatResponse ? 'chat-responsive' : ''">
      <div class="noFocusChat" [hidden]="chatRoom" *ngIf="!preloadChat">
        <h3 class="gotham-bold color-blue">Mantén contacto, inicia un chat</h3>
        <p class="gotham-book color-blue">Selecciona alguien con quién quieras empezar a chatear o crea un grupo</p>
      </div>

      <div class="preloadChat" *ngIf="preloadChat">
        <div class="header">
          <div class="shine icon"></div>
          <div class="shine name"></div>
        </div>
        <div class="body">
          <div class="user" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]; let odd=odd; let even=even;">
            <div class="shine line" [ngClass]="{ right: odd, left: even }"></div>
            <div class="shine line" [ngClass]="{ right: odd, left: even }" *ngIf="item === 2"></div>
            <div class="shine line" [ngClass]="{ right: odd, left: even }" *ngIf="item === 5"></div>
          </div>
        </div>
        <div class="footer">
          <div class="shine box"></div>
          <div class="shine icon"></div>
        </div>
      </div>

      <div class="chatRoom" *ngIf="chatRoom" [ngClass]="{'hidden': !chatRoom}">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex align-items-center w-100">
            <div class="d-block d-xl-none icon-back mr-3 cursor-pointer" (click)="onClickBack()">
              <img src="./assets/img/svg/icon-back.svg" class="img-fluid" alt="">
            </div>
            <div class="content-img mr-3" (click)="onClickInfoGroup()">
              <ng-container *ngFor="let user of chatRoom.users">
                <img *ngIf="user.id !== userId && !chatRoom.is_group" src="{{chatRoom.is_group ? './assets/img/svg/image-default.svg' :  (user && user.photo ?  user.photo : './assets/img/svg/image-default.svg')}}" class="img-fluid" alt="">
              </ng-container>
              <img *ngIf="chatRoom.is_group" src="./assets/img/svg/image-default.svg" class="img-fluid" alt="">
            </div>
            <h2 class="chatRoom-name gotham-bold color-blue ft-30" (click)="onClickInfoGroup()">
              <ng-container *ngIf="chatRoom.is_group">{{chatRoom.name}}</ng-container>
              <ng-container *ngIf="!chatRoom.is_group">
                <ng-container *ngFor="let user of chatRoom.users">
                  <span *ngIf="user.id !== userInfo.id">{{user.name}} {{user.last_name}}</span>
                </ng-container>
              </ng-container>
            </h2>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-reset dropdown-toggle p-0" aria-controls="dropdown-basic">
              <img src="./assets/img/svg/icon-viewmore.svg" class="img-fluid" alt="">
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <ng-container *ngIf="!chatRoom.is_group && (chatRoom.created_by.id !== userInfo.id)">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickSharedFiles()">Ver archivos compartidos</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickDeleteChat()">Borrar conversación</a></li>
              </ng-container>
              <ng-container *ngIf="!chatRoom.is_group && (chatRoom.created_by.id === userInfo.id)">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickSharedFiles()">Ver archivos compartidos</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickDeleteChat()">Borrar conversación</a></li>
              </ng-container>
              <ng-container *ngIf="chatRoom.is_group && (chatRoom.created_by.id !== userInfo.id)">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickSharedFiles()">Ver archivos compartidos</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickLeaveGroup()">Salir del grupo</a></li>
              </ng-container>
              <ng-container *ngIf="chatRoom.is_group && (chatRoom.created_by.id === userInfo.id)">
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickSharedFiles()">Ver archivos compartidos</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickDeleteGroup()">Eliminar grupo</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickNewGroup(true, chatRoom)">Editar grupo</a></li>
                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onClickLeaveGroup()">Salir del grupo</a></li>
              </ng-container>
            </ul>
          </div>
        </div>

        <!-- <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
          <div class="today d-flex justify-content-center align-items-center">Hoy</div>
        </div> -->

        <div class="d-flex flex-column">
          <div class="chatRoomMessage" id="chatRoomMessage">
            <perfect-scrollbar #chatPS class="scrollbar-special scrollbar-chat" (psYReachStart)="onScrolledUp()" (psYReachEnd)="onScrolledDown()" [config]="{suppressScrollX: false, suppressScrollY: false}"
                               [scrollIndicators]="true" (psScrollY)="onScrollEvent($event)">
            <!--  <p>hoy</p>-->
              <ng-container *ngFor="let chat of chatRoomMessage">
                <p class="mb-0 text-center today d-flex align-items-center justify-content-center mx-auto">{{chat.actualName}}</p>
                <ng-container *ngFor="let item of chat.messages">
                  <div [ngClass]="{'justify-content-start message-transmitter' : item.created_by.id !== this.userInfo.id, 'justify-content-end message-receiver' : item.created_by.id === this.userInfo.id}">
                    <p class="ft-12 color-blue-opacity gotham-medium mb-1" [ngClass]="{'text-left' : item.created_by.id !== this.userInfo.id, 'text-right' : item.created_by.id === this.userInfo.id}" *ngIf="chatRoom.is_group">
                      {{item.created_by.name}}
                    </p>
                    <div class="d-flex align-items-center mb-4">

                      <div class="item-message gotham-book d-flex" *ngIf="item.message && !item.chat_file">
                        <div class="content gotham-book" [innerHtml]="item.message | urlify" id="message-{{item.id}}"></div>
                        <div class="btn-group btn-ellipsis" dropdown (click)="$event.stopPropagation();">
                          <button id="dropdown-option-message" dropdownToggle type="button" class="btn btn-reset dropdown-toggle p-0" aria-controls="dropdown-basic">
                            <img src="./assets/img/svg/icon-option-message.svg" class="img-fluid" alt="">
                          </button>
                          <ul *dropdownMenu class="dropdown-menu center dropdown-option-message" role="menu" aria-labelledby="button-basic">
                            <ng-container>
                              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="deleteMessage(item)" *ngIf="item.created_by.id === this.userInfo.id">Eliminar</a></li>
                              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="copyMessage(item)">Copiar</a></li>
                            </ng-container>
                          </ul>
                        </div>
                      </div>

                      <div class="item-message d-flex" *ngIf="item.chat_file">
                        <div class="content chat_file">
                          <a href="{{item.chat_file.file}}" target="_blank">
                            <img [src]="item.chat_file.file" *ngIf="item.chat_file.icon === 'image'" class="media">
                            <div *ngIf="item.chat_file.icon === 'video'" class="video">
                              <video [src]="item.chat_file.file">
                                Your browser does not support the video tag.
                              </video>
                              <img [src]="'./assets/img/svg/icon-play.svg'">
                            </div>
                            <img [src]="'./assets/img/svg/' + item.chat_file.icon" *ngIf="item.chat_file.footer" class="documents">
                            <div class="ft-15" *ngIf="item.chat_file.icon !== 'image' && item.chat_file.icon !== 'video'">{{item.chat_file.original_name}}</div>
                          </a>
                          <div class="content gotham-book" *ngIf="item.message" [innerHtml]="item.message | urlify"></div>
                        </div>
                        <div class="btn-group btn-ellipsis" dropdown *ngIf="item.created_by.id === this.userInfo.id">
                          <button id="dropdown-option-message" dropdownToggle type="button" class="btn btn-reset dropdown-toggle p-0" aria-controls="dropdown-basic">
                            <img src="./assets/img/svg/icon-option-message.svg" class="img-fluid" alt="">
                          </button>
                          <ul *dropdownMenu class="dropdown-menu center dropdown-option-message" role="menu" aria-labelledby="button-basic">
                            <ng-container>
                              <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="deleteMessage(item)">Eliminar</a></li>
                            </ng-container>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="chatScrollButton d-flex hidden" id="chatScrollButton" (click)="chatScrollBottom()">
                <img src="./assets/img/svg/arrow-btm.svg" class="m-auto"/>
                <div class="messagesUnread" *ngIf="chatMessagesUnread">{{chatMessagesUnread}}</div>
              </div>
            </perfect-scrollbar>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-3 content-message">
            <form class="form-message" [formGroup]="formGroupMessage" autocomplete="off" (submit)="onSendMessage()">
              <div class="input-group-text">
                <div class="file-button">
                  <input class="input" type="file" (change)="onFileChange($event)" #fileInputMessage>
                  <input type="hidden" name="file" formControlName="file" id="uploadFile"/>
                  <img src="./assets/img/svg/icon-file-chat.svg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="input-group write-message">
                <input type="text" class="form-control" placeholder="Escribe un mensaje…" formControlName="message">
              </div>
              <a class="cursor-pointer btn-send d-flex justify-content-center align-content-center ml-2 ml-md-0" (click)="onSendMessage()">
                <img src="./assets/img/svg/icon-send-white.svg" class="img-fluid" alt="">
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
