@import "~assets/scss/variables.scss";

#empty-data {
  position: relative;
}

#empty-data .empty-data {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.empty-data {
  max-width: 560px;
  width: 100%;
  line-height: 1.1;
}

.empty-data h2 {
  opacity: 0.3;
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #002655;
}
