<div class="mt-4">
  <accordion [isAnimated]="true" [closeOthers]="false">
    <accordion-group class="box" [isOpen]="isOpen" (isOpenChange)="log($event, 1)">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Datos del colaborador</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Código</p>
          <p class="gotham-book color-blue ft-15 mb-0">75847555</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Apellidos y nombres</p>
          <p class="gotham-book color-blue ft-15 mb-0">Hinojo Nuñez, Nancy Veronica</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Cargo Actual</p>
          <p class="gotham-book color-blue ft-15 mb-0">Analista de créditos avanzado experto</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Agencia</p>
          <p class="gotham-book color-blue ft-15 mb-0">Agencia La Merced</p>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen2" (isOpenChange)="log($event, 2)">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Avance</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-12 mb-3">
          <div class="box-porcent gotham-book color-blue d-flex align-items-center justify-content-center ft-16">Avance al 31.08.2021</div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto desembolsado S/</p>
          <p class="gotham-book color-blue ft-15 mb-0">220,998.90</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Número de Operaciones</p>
          <p class="gotham-book color-blue ft-15 mb-0">20</p>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen3" (isOpenChange)="log($event, 3)">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Meta</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto desembolsado S/</p>
          <p class="gotham-book color-blue ft-15 mb-0">220,998.90</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Número de Operaciones</p>
          <p class="gotham-book color-blue ft-15 mb-0">20</p>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen4" (isOpenChange)="log($event, 4)">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Faltante</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Monto desembolsado S/</p>
          <p class="gotham-book color-blue ft-15 mb-0">220,998.90</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Número de Operaciones</p>
          <p class="gotham-book color-blue ft-15 mb-0">20</p>
        </div>
      </div>
    </accordion-group>

    <accordion-group class="box" [isOpen]="isOpen5" (isOpenChange)="log($event, 5)">
      <button class="btn btn-block clearfix px-0" accordion-heading type="button">
        <div class="pull-left float-left"><h6 class="gotham-bold color-blue ft-16 mb-0">Criterios a considerar</h6></div>
        <span class="float-right pull-right"><img [src]="isOpen ? './assets/img/svg/arrow_top.svg' : './assets/img/svg/arrow_bottom.svg'" class="img-fluid" alt=""></span>
      </button>
      <div class="row mt-2 mb-2">
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Resultados (Monto y Número)</p>
          <p class="gotham-book color-blue ft-15 mb-0">Cumple en monto y/o en número</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Nivel de Riesgo</p>
          <p class="gotham-book color-blue ft-15 mb-0">Sin nivel de riesgo</p>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Días de Suspensión</p>
          <p class="gotham-book color-blue ft-15 mb-0">0</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Calificación Crediticia</p>
          <p class="gotham-book color-blue ft-15 mb-0">Normal</p>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Resultado del Avance</p>
          <p class="gotham-book color-blue ft-15 mb-0">NO cumple con los parámetros</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Cargo Propuesto</p>
          <p class="gotham-book color-blue ft-15 mb-0">Analista de créditos avanzado superior</p>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <p class="gotham-medium color-lightblue ft-15 mb-0 line-height">Resultado Final</p>
          <p class="gotham-book color-blue ft-15 mb-0">Ninguno</p>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>
